/*----------------------------------

	Theme Name: Mexin
	----------------------
	
/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc 
	#Bootstrap */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
		:focus { outline:0; }
        

/* #Basic Styles
================================================== */

	body {
		background: #f4f7f8 url(../images/bdbg1.png);
		font: 14px/22px 'Helvetica', 'Arial', 'sans-serif';
		color: #65707b;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		overflow-x: hidden;
}


/* #Typography
================================================== */

	h1, h2, h3, h4, h5, h6 { color: #333; font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';  font-weight: 300; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 49px; line-height: 51px; margin-bottom: 20px; letter-spacing: -0.06em; }
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 20px; letter-spacing: -0.04em; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 14px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 12px; }
	h5 { font-size: 17px; line-height: 24px; margin-bottom: 10px; }
	h6 { font-size: 14px; line-height: 21px; }
	h2 { letter-spacing: -0.03em; }
	.subheader { color: #849098; }
	h1.slight, h2.slight, h3.slight, h4.slight, h5.slight, h6.slight, p.slight, .blox.dark h4.tagline-thin.slight { color: #a2a5a7; }
	h1.slight-dark, h2.slight-dark, h3.slight-dark, h4.slight-dark, h5.slight-dark, h6.slight-dark, p.slight-dark { color: #525558; }
	h1.extr { font-size:56px; font-weight:100; }
	h1.tagline-bold { font-size:36px; font-weight:800; line-height:1.24; }
	h3.magic, h4.magic, h5.magic, h6.magic, p.magic { color: #81898f; font-weight: 500; }
	h4.tagline-thin { font-size:23px; line-height:32px; color:#464d52; font-weight:300; }
	h4.tagline-thin.slight { color: #858e93;}
	h4.slight { font-weight:300;}
	h5.title-bold { font-size:14px; font-weight:600; letter-spacing:1.6px; text-transform:uppercase; }
	h5.helvetic5 { font-family:Helvetica, Arial, sans-serif; font-size: 18px; line-height: 24px; margin-bottom:14px; }
	h1 strong { font-weight:900; letter-spacing: -0.05em; }
	h3 strong, h4 strong, h5 strong, h6 strong { font-weight:500; }
	h3 strong, h4 strong { letter-spacing: -0.02em; }
	h1.maxtitle { font-size:56px; line-height:60px; font-weight:100;}
	#wrap .slog-wrap-resp { max-width:1120px; margin-left:auto; margin-right:auto; position:relative; float:none;}
	.slog-tx1 { max-width:940px;}
	.slog-tx2 { max-width:762px;}
	.slog-tx3 { max-width:610px;}
	.slog-tx4 { max-width:400px;}
	.slog-tx5 { max-width:220px;}
	.slog-tx6 { max-width:482px;}
	.slog-tx1.aligncenter, .slog-tx2.aligncenter, .slog-tx3.aligncenter, .slog-tx4.aligncenter, .slog-tx5.aligncenter, 
	.aligncenter .slog-tx1, .aligncenter .slog-tx2, .aligncenter .slog-tx3, .aligncenter .slog-tx4, .aligncenter .slog-tx5 { margin-left:auto; margin-right:auto; text-align:center;}

	p { color:#666e74; margin: 0; font-family: Helvetica, Arial; letter-spacing: 0.25px; }
	.container div p, .container article p, .container figure p { margin-bottom:20px; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #818a92; }
	p.magic { font-size: 19px; line-height: 25px; margin: 0; }
	p.slog { font-size: 16px; line-height:26px; color: #6d6f71; }

	em { font-style: italic; }
	strong { font-weight: bold; }
	p strong { font-size:15px; }
	small { font-size: 70%; color: #6b6b6b; line-height:1.3; }
	p small { font-size:11px; color:#8d9499; }
	i:hover { cursor:default;}
	a i:hover { cursor:pointer;}
	
/* Dropcaps */
    .dropcap1, .dropcap2, .dropcap3 { text-transform:uppercase; line-height:1; float: left; font-size: 44px; margin: 0 8px 0 0; font-family: Times, serif, Arial; }
	.dropcap2, .dropcap3 {	background: #4a4a4a; color: #fff; display: block; padding:10px; border-radius:5px; margin-top: -2px; }
	.dropcap3 { background: #0093d0; }
	
/* Text Highlights */	
	.highlight1 { padding:2px 5px; background:#85bc36; color:#fff; vertical-align:baseline; }
	.highlight2 { padding:2px 5px; background:#f4f4f4; color:#666; vertical-align:baseline; }
	.highlight3 { padding:14px 7px; background:#fff; vertical-align:baseline; display:block; border-radius:3px; margin:7px 3px; }
	.highlight4 { background-color:#fffdcc; vertical-align:baseline; padding:1px 3px;}
	
/*	Blockquotes  */
	blockquote, blockquote p, q { font-size: 15px; line-height: 24px; color: #6a747d; font-family:"Roboto Slab";  }
	blockquote { position:relative; margin: 0 0 21px; padding: 18px 10px 14px 60px; /*background: url(../images/b-qot1.png) no-repeat 12px 9px;*/}
	blockquote:before { position:absolute; left:12px; top:26px; content:'\201C'; font-size:62px; color:#bbb; font-weight:bold; font-family: Georgia, Times, serif; }
	blockquote cite { display: block; font-style: italic;  font-size: 12px; color: #777f87; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
	blockquote small { font-size:13px; font-style: italic;}
	blockquote img { max-width:100%; width:auto; display:inline; }

	hr { border: solid #e5e5e5; border-width: 1px 0 0; clear: both; margin: 14px 0 35px; height: 0; width: auto; }
	hr.boldbx { border-width: 4px 0 0; border-color:#efefef; }
	.container hr { margin-right: 10px; margin-left: 10px;}
	.container [class*="col-"] hr  { margin-right: 0px; margin-left: 0px;}
	
	pre, code { background:#f3f3f3; padding:5px 10px; font-family:"Courier New", Courier, monospace; font-size:12px; white-space:pre-wrap; }
		
	::selection { background: #e4744f; color: #fff; }
	::-moz-selection { background: #e4744f; color: #fff; }


/* #Links
================================================== */

	a, a:visited { color: #0093d0; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #ff9900; }
	p a, p a:visited { line-height: inherit; }
	a:active { outline:none; opacity: 0.75; }


/* #Lists
================================================== */

	ul, ol { margin-bottom: 21px; margin-left: 3px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.disc { margin-left: 20px; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 14px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 18px; }
	ul.check li, li.check { background:url(../images/li-check.png) no-repeat left 4px; }
	ul.plus li, li.plus { background:url(../images/li-plus.png) no-repeat left 4px; }
	ul.minus li, li.minus { background:url(../images/li-minus.png) no-repeat left 3px; }
	ul.star li, li.star { background:url(../images/li-star.png) no-repeat left 4px; }
	ul.arrow li, li.arrow { background:url(../images/li-arrow.png) no-repeat left 4px; }
	ul.arrow2 li, li.arrow2 { background:url(../images/li-arrow2.png) no-repeat left 4px; }
	ul.square li, li.square { background:url(../images/li-square.png) no-repeat left 4px; }
	ul.circle li, li.circle { background:url(../images/li-circle.png) no-repeat left 5px; }
	ul.cross li, li.cross { background:url(../images/li-cross.png) no-repeat left 3px; }
	ul.check li, li.check, ul.plus li, li.plus, ul.minus li, li.minus, ul.star li, li.star,
	ul.arrow li, li.arrow, ul.arrow2 li, li.arrow2, ul.square li, li.square,
	ul.circle li, li.circle, ul.cross li, li.cross { padding:0 0 1px 16px; list-style:none; } 
	    

/* #Images
================================================== */

	img {
		max-width: 100%;
		height: auto; }
		
	img.full-width {
		width: 100%;
		height: auto; }
	p img { margin-bottom:14px;}


/* #Buttons
================================================== */

	.button,
	button, a.price-send,
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button.green,
	button.green, 
	input[type="submit"].green,
	input[type="reset"].green,
	input[type="button"].green  {
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  border:0 none;
	  color: #fff;
	  display: inline-block;
	  font-size: 14px;
	  text-transform:capitalize;
	  font-weight: 400;
	  font-family: Helvetica, Arial, sans-serif;
	  text-decoration: none;
	  text-shadow: 0 -1px rgba(0, 0, 0, .29);
	  cursor: pointer;
	  margin-bottom: 21px;
	  line-height: 1;
	  padding: 15px 40px;
	  background: #8fbe32;
	  -webkit-transition: background 0.18s ease;
	  -moz-transition: background 0.18s ease;
	  -o-transition: background 0.18s ease;
	  transition: background 0.18s ease;
	}

	.button:hover,
	button:hover, a.price-send:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover,
	.button.green:hover,
	button.green:hover, 
	input[type="submit"].green:hover,
	input[type="reset"].green:hover,
	input[type="button"].green:hover  {
		background: #9ecd40;
		-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;
	    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;
	    box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;
	}


	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; 
		}
		
	 .button.large,
	button.large,
	input[type="submit"].large,
	input[type="reset"].large,
	input[type="button"].large {
		padding: 20px 60px;
		font-size:15px;
	}
		 
		 
	 .button.small,
	button.small,
	input[type="submit"].small,
	input[type="reset"].small,
	input[type="button"].small {
		padding: 10px 30px;
		font-size: 12px;
    }
		 
		 
	 .button.blue,
	button.blue,
	input[type="submit"].blue,
	input[type="reset"].blue,
	input[type="button"].blue {
	  background: #128abc;   
		 }
		 
	 .button.blue:hover,
	button.blue:hover, 
	input[type="submit"].blue:hover,
	input[type="reset"].blue:hover,
	input[type="button"].blue:hover {
		background: #32a6d6;
		}
		 
	 .button.red,
	button.red,
	input[type="submit"].red,
	input[type="reset"].red,
	input[type="button"].red {

	  background: #e53f51;   
		 }
		 
	  .button.red:hover,
	button.red:hover, 
	input[type="submit"].red:hover,
	input[type="reset"].red:hover,
	input[type="button"].red:hover {
		background: #eb5162;
		}
		 
	 .button.gray,
	button.gray,
	input[type="submit"].gray,
	input[type="reset"].gray,
	input[type="button"].gray {
	  color:#656f79;
	  text-shadow: 0 -1px #fff;
	  background: #f3f4f5;    
		 }
		 
		 		 
	  .button.gray:hover,
	button.gray:hover, 
	input[type="submit"].gray:hover,
	input[type="reset"].gray:hover,
	input[type="button"].gray:hover {
		background: #f6f7f7;
		}
				 
	 .button.cherry,
	button.cherry,
	input[type="submit"].cherry,
	input[type="reset"].cherry,
	input[type="button"].cherry {
	  background: #93516a;   
		 }
		 
	 .button.cherry:hover,
	button.cherry:hover, 
	input[type="submit"].cherry:hover,
	input[type="reset"].cherry:hover,
	input[type="button"].cherry:hover {
		background: #a45d78;
		}
						 
	 .button.orchid,
	button.orchid,
	input[type="submit"].orchid,
	input[type="reset"].orchid,
	input[type="button"].orchid {
	  background: #9661ab; 	  	  
		 }
		 
	 .button.orchid:hover,
	button.orchid:hover, 
	input[type="submit"].orchid:hover,
	input[type="reset"].orchid:hover,
	input[type="button"].orchid:hover {
		background: #a06ab5;
		}
								 
	 .button.pink,
	button.pink,
	input[type="submit"].pink,
	input[type="reset"].pink,
	input[type="button"].pink {
	  background: #e64883; 	  
		 }
		 
	 .button.pink:hover,
	button.pink:hover, 
	input[type="submit"].pink:hover,
	input[type="reset"].pink:hover,
	input[type="button"].pink:hover {
		background: #ea598f;
		}
										 
	 .button.orange,
	button.orange,
	input[type="submit"].orange,
	input[type="reset"].orange,
	input[type="button"].orange {
	  background: #f98805; 	  
		 }
		 
	 .button.orange:hover,
	button.orange:hover, 
	input[type="submit"].orange:hover,
	input[type="reset"].orange:hover,
	input[type="button"].orange:hover {
		background: #eb9634;
		}		
												 
	 .button.teal,
	button.teal,
	input[type="submit"].teal,
	input[type="reset"].teal,
	input[type="button"].teal {
	  background: #1fa79e; 
		 }
		 
	 .button.teal:hover,
	button.teal:hover, 
	input[type="submit"].teal:hover,
	input[type="reset"].teal:hover,
	input[type="button"].teal:hover {
		background: #34b7ae;
		}
		
														 
	 .button.skyblue,
	button.skyblue,
	input[type="submit"].skyblue,
	input[type="reset"].skyblue,
	input[type="button"].skyblue {
	  background: #03acdc; 	  
		 }
		 
	 .button.skyblue:hover,
	button.skyblue:hover, 
	input[type="submit"].skyblue:hover,
	input[type="reset"].skyblue:hover,
	input[type="button"].skyblue:hover {
		background: #1db7e3;
		}
				
														 
	 .button.jade,
	button.jade,
	input[type="submit"].jade,
	input[type="reset"].jade,
	input[type="button"].jade {
	  background: #0aad80;   
		 }
		 
	 .button.jade:hover,
	button.jade:hover, 
	input[type="submit"].jade:hover,
	input[type="reset"].jade:hover,
	input[type="button"].jade:hover {
		background: #19bc8f;
		}


		
	a.button, .button.blue, .button.red, .button.cherry, .button.orchid, .button.pink, .button.orange, .button.teal {
		 color: #fff;
		 }
		
	  .button:active,
	button:active, a.price-send:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		color: #c1d7dc;
		opacity: 0.94;
		 }
		 
		 
	/* Bordered Buttons */		 
		.button.bordered-bot,
	button.bordered-bot,
	input[type="submit"].bordered-bot,
	input[type="reset"].bordered-bot,
	input[type="button"].bordered-bot {
		background:none !important;
		border:2px solid #dedede;
		color:#363f46;
		text-shadow:none;
		letter-spacing:2px;
		text-transform:uppercase;
		}
		
	    .button.bordered-bot:hover,
	button.bordered-bot:hover,
	input[type="submit"].bordered-bot:hover,
	input[type="reset"].bordered-bot:hover,
	input[type="button"].bordered-bot:hover {
		border-color:#363f46;
		color:#363f46;
		}
		
	 .button.blue.bordered-bot,
	button.blue.bordered-bot,
	input[type="submit"].blue.bordered-bot,
	input[type="reset"].blue.bordered-bot,
	input[type="button"].blue.bordered-bot {
	  border-color: #128abc;
	  color: #128abc;   
		 }
		 
		 
	 .button.red.bordered-bot,
	button.red.bordered-bot,
	input[type="submit"].red.bordered-bot,
	input[type="reset"].red.bordered-bot,
	input[type="button"].red.bordered-bot {

	  border-color: #e53f51;
	  color: #e53f51;   
		 }
		 
				 
	 .button.cherry.bordered-bot,
	button.cherry.bordered-bot,
	input[type="submit"].cherry.bordered-bot,
	input[type="reset"].cherry.bordered-bot,
	input[type="button"].cherry.bordered-bot {
	  border-color: #93516a;
	  color: #93516a;   
		 }

						 
	 .button.orchid.bordered-bot,
	button.orchid.bordered-bot,
	input[type="submit"].orchid.bordered-bot,
	input[type="reset"].orchid.bordered-bot,
	input[type="button"].orchid.bordered-bot {
	  border-color: #9661ab;
	  color: #9661ab; 	  	  
		 }
		 
								 
	 .button.pink.bordered-bot,
	button.pink.bordered-bot,
	input[type="submit"].pink.bordered-bot,
	input[type="reset"].pink.bordered-bot,
	input[type="button"].pink.bordered-bot {
	  border-color: #e64883;
	  color: #e64883; 	  
		 }
		 
										 
	 .button.orange.bordered-bot,
	button.orange.bordered-bot,
	input[type="submit"].orange.bordered-bot,
	input[type="reset"].orange.bordered-bot,
	input[type="button"].orange.bordered-bot {
	  border-color: #f98805;
	  color: #f98805; 	  
		 }
		 		
												 
	 .button.teal.bordered-bot,
	button.teal.bordered-bot,
	input[type="submit"].teal.bordered-bot,
	input[type="reset"].teal.bordered-bot,
	input[type="button"].teal.bordered-bot {
	  border-color: #1fa79e;
	  color: #1fa79e; 
		 }
		
														 
	 .button.skyblue.bordered-bot,
	button.skyblue.bordered-bot,
	input[type="submit"].skyblue.bordered-bot,
	input[type="reset"].skyblue.bordered-bot,
	input[type="button"].skyblue.bordered-bot {
	  border-color: #03acdc;
	  color: #03acdc; 	  
		 }
				
														 
	 .button.jade.bordered-bot,
	button.jade.bordered-bot,
	input[type="submit"].jade.bordered-bot,
	input[type="reset"].jade.bordered-bot,
	input[type="button"].jade.bordered-bot {
	  border-color: #0aad80;
	  color: #0aad80;   
		 }
		 
		 
		.button.green.bordered-bot,
	button.green.bordered-bot,
	input[type="submit"].green.bordered-bot,
	input[type="reset"].green.bordered-bot,
	input[type="button"].green.bordered-bot {
	  border-color: #8fbe32;
	  color: #8fbe32;   
		 }
		 
		 
		 
	/* Buttons icon */
	.button i,
	button i,
	input[type="submit"] i,
	input[type="reset"] i,
	input[type="button"] i {
	    color: inherit;
	    font-size:16px; 
	    vertical-align:baseline;
	    line-height:1;
	    display:inline;
	    margin-right:4px;   
	}
		 
	.button i.fa-none { margin:0; display:none;}

		 

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #e5e5e5;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		border-radius: 1px;
		color: #888;
		margin: 0;
		width: 210px;
		max-width: 100%;
		min-height: 21px;
		display: block;
		margin-bottom: 20px;
		background: #fdfdfd;
	} 
	select {
		padding: 5px ;
		outline:0 none; }

	input[type="text"]:hover,
	input[type="password"]:hover,
	input[type="email"]:hover,
	textarea:hover {
		border-color: #c1dfed;
	    -moz-box-shadow: 0 0 1px rgba(0,0,0,.1);
		-webkit-box-shadow: 0 0 1px rgba(0,0,0,.1);
		box-shadow:  0 0 1px rgba(0,0,0,.1); 
		
 }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
		background: #fff;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }

	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */

	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 7px !important; }
	.add-bottom { margin-bottom: 21px !important; }	
	
/* #New2015
================================================== */	
	.blog-single-post h2{margin-top:30px}
	address {font-style: italic; 	margin: 0 0 1.6em;}
	abbr[title] {border-bottom: 1px dotted #eaeaea;border-bottom: 1px dotted rgba(51, 51, 51, 0.1);cursor: help;}
	mark,ins {background-color: #fff9c0;	text-decoration: none;}
	sup,sub {font-size: 75%;	height: 0;	line-height: 0;	position: relative;	vertical-align: baseline;}
	sup {bottom: 1ex;}
	sub {top: .5ex;}
	small {font-size: 75%;}
	big {font-size: 125%;}
	dl {	margin-bottom: 1.6em;}
	dt {	font-weight: bold;}
	dd {margin-bottom: 1.6em;}
	table,th,td {	border: 1px solid #eaeaea;	border: 1px solid rgba(51, 51, 51, 0.1);}
	table {border-collapse: separate;border-spacing: 0;border-width: 1px 0 0 1px;margin: 0 0 1.6em;	table-layout: fixed; width: 100%;}
	caption,th,td {font-weight: normal;text-align: left;}
	th {	border-width: 0 1px 1px 0;font-weight: 700;}
	td {	border-width: 0 1px 1px 0;}
	th, td {	padding: 0.4em;}
	del {opacity: 0.8;}
	
/*  --------------- */