/*----------------------------------

	Theme Name: Mexin
	----------------------
			
	/* #Blog Styles
	================================================== */

	
	/* Sidebar
	------------------- */
	.sidebar, .rgt-cntt { min-height:160px;}
	.col-md-3.sidebar, .vc_col-sm-4.sidebar { padding:20px 0 30px;}
	.sidebar.leftside { margin-left:0;}
	@media only screen and (min-width: 961px) {	
	.cntt-w, .vc_col-sm-8.cntt-w { width: 760px;}
	.col-md-3.sidebar, .vc_col-sm-4.sidebar { width:300px; margin-left:25px; border-left: 1px solid #e5e5e5;}
	.woocommerce .col-md-3.sidebar, .woocommerce .vc_col-sm-4.sidebar { border: none; }
	.vc_col-sm-4.sidebar .wpb_widgetised_column { margin-bottom:0; }
	.col-md-6.cntt-w { width:435px; margin-left:-8px; margin-right:-8px;}	
	.col-md-3.sidebar.leftside { margin-left:15px; margin-right:25px; border-right: 1px solid #e5e5e5; border-left: none;}
	}	
	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	.col-md-9.cntt-w, .vc_col-sm-8.cntt-w { width: 614px;}
	.col-md-3.sidebar, .vc_col-sm-4.sidebar { margin-left:10px;}
	.col-md-6.cntt-w { width:398px;}
	.col-md-3.sidebar.leftside { margin-left:10px; width:200px; margin-right:15px;}
	}
		
	
	
	/*.widget h4.subtitle { border:none; color:#54606b; margin-bottom:14px; font-size:12px; letter-spacing:2px; }*/
	.sidebar p, .sidebar li, .widget li { font-size:13px; line-height:21px; font-weight:400; letter-spacing:0.5px; color:#797979;}
	.sidebar input[type="text"].search-side, .widget input[type="text"].search-side  { width:100%; padding-left:15px; border:2px solid #e3e3e3; background-color:#fff; font-size:12px; height:40px; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box; }
	input[type="text"].search-side, input[type="text"].header-saerch { background:#fcfcfc url(../images/find-ico1.png) no-repeat right;}
	input[type="text"].header-saerch  { float:right; margin:10px 0 0 0; background-color:#f5f5f5; border-width:0px; border-radius:0; padding:5px 28px 5px 18px; min-width:200px; width:200px; min-height:50px; -webkit-transition: width 0.22s ease; -moz-transition: width 0.22s ease; -o-transition: width 0.22s ease; transition: width 0.22s ease;}
	input[type="text"].header-saerch:focus { width:250px; background-color:#fff; }
	
	#main-content-pin, #main-timeline { max-width:100%; background:#f3f3f3; padding-top:15px;}
	#main-timeline { background:#fbfbfb; }
	#pin-content, #tline-content { width:auto; margin:0 auto; position:relative; overflow: hidden; }
	#tline-content { background:url(../images/tline-cnt-bg1.png) repeat-y center center; width:890px; margin:0 auto; }
	#tline-content p { margin-bottom:32px; }
	
	/* Masonry Style
	------------------- */
	.pin-box, .tline-box { width:292px; width:210px\9; padding:12px; display:block; background:#fff; margin:10px; float:left; border:1px solid #efefef\9; box-shadow:0 1px 3px rgba(0,0,0,0.33); -webkit-box-shadow:0 1px 5px rgba(0,0,0,0.23);}
	.pin-box { border-radius:1px; box-shadow:none; overflow:hidden; padding:0; box-sizing: border-box; padding-bottom:20px;}
	.pin-box  .img-item, .pin-box  iframe {margin-bottom:0; }
	.img-item img { margin-bottom:-6px;}
	
	.pin-box h4, .tline-box h4 { font-size:19px; font-weight:600; margin-top:18px; margin-bottom:10px;}
	.pin-box h4 { font-size:21px; margin-bottom:5px; font-weight:700; margin-top:12px; letter-spacing:-1px; text-transform:none;}
	.pin-box h4 a, .tline-box h4 a { color:#2e373d; display:inline-block;}
	.pin-box h4 a:hover, .tline-box h4 a:hover { color:#ff6c6d;}
	.pin-ecxt h6.blog-date, .pin-ecxt h6.blog-author, .tline-ecxt h6.blog-author { font-size:11px; letter-spacing:1px; font-weight:400; text-transform:uppercase; }
	.pin-ecxt2 h6.blog-date, .pin-ecxt h6.blog-author, .pin-ecxt h6.blog-cat, .blog-cat-tline, .blog-cat-tline a {  margin-bottom:8px; margin-top:25px; font-size:13px; font-weight:400; color:#a1a1a1; position:relative;}
	.pin-ecxt2 h6.blog-date { font-size:11px; color:#ababab; text-transform:uppercase;}
	.pin-ecxt, .tline-ecxt { border-bottom:1px solid #efefef; padding:0 12px 18px; margin:0;  margin-bottom:10px; }
	.pin-ecxt { padding:0 20px 2px 24px; }
	.pin-ecxt p { font-size:13px; line-height:1.6; padding-top:10px; margin-bottom:10px; color:#8e8e8e;}
	.pin-ecxt2 { padding-top:12px; text-align:center;}
	.pin-ecxt a.readmore { display:none;}
	.container .pin-ecxt2 p, .pin-ecxt2 p small { font-size:11px; font-weight:600; margin:0; color:#a1a1a1;}
	.pin-ecxt2 p { line-height:20px; }
	.pin-ecxt2 p small { color:#a2a2a2; display:block; }
	.pin-ecxt2 img, .tline-author-box img { width:45px; height:45px; margin:0; margin-top:4px; border-radius:50%;}
	.pin-ecxt2 .col1-3 { width:33.331%; float:left; height:72px; line-height:72px; border-right:1px solid #eee; position:relative}
	.pin-ecxt2 .col1-3 img { margin-top:-30px;}
	.pin-ecxt2 .col1-3 p { margin-top:-22px;}
	.pin-ecxt2 .col1-3:last-child { border:none;}
	.pin-ecxt2 .col1-3 i, .postmetadata .comments-number-x i { margin:12px 0; color:#a6adae; border:1px solid #e2e2e2; padding:11px; border-radius:50%; font-size:16px;}
	.pin-ecxt2 .col1-3 span, .comments-number-x span { display:block; position:absolute; top:24px; left:50%; margin-left:15px; padding:0 7px; 
	height:18px; line-height:18px; font-size:11px; text-align:center; border-radius:25px; background:#ff6c6d; color:#fff;}
	.comments-number-x span { top:4px;}
	.postmetadata .comments-number-x i{ border-color:#d7d7d7;}
	.portfolio-pin  .pin-box h4 { margin-bottom:18px;}
	.portfolio-pin  .pin-box { text-align:center;}
	.portfolio-pin  .pin-box .pin-ecxt { padding-top:20px;}
	.portfolio-pin .blog-cat-tline a { padding:4px 11px; border-radius:15px; background:#f1f1f1;}
	.portfolio-pin .blog-cat-tline a:hover { background:#f6f6f6;}
	
	
	
	/* Timeline Style
	------------------- */
	.tline-box  { width:380px; min-height:640px; padding:10px; padding-bottom:40px; margin-top:21px; border-radius:3px; position:relative; border:1px solid #d7dce7; box-shadow:0 1px 3px -2px rgba(0,0,0,0.3); -webkit-box-shadow:0 1px 6px -3px rgba(0,0,0,0.3); -webkit-box-sizing: content-box;  -moz-box-sizing: content-box; box-sizing: content-box; }
	.tline-box * { max-width:100% !important;}
	.tline-row-l, .tline-row-r { background:url(../images/tmln-ro-r1.png) no-repeat right 12%; width:46px; height:17px; margin-right:-44px; display:block; position:absolute; right:0; top:16px;}
	.tline-row-r { background:url(../images/tmln-ro-l1.png) no-repeat left 12%; left:0; margin:0; margin-left:-43px; }
	.tline-box.rgtline { float:right;  margin-top:53px; right:0; clear: right; }
	
	.tline-box  iframe, .tline-box  img { width:100%; max-width:100%; background:#fff; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box; border-bottom:2px solid #e5e5e5;}
	.tline-box  iframe { height:302px; }
	.blog-cat-tline { margin-top:10px;}
	.blog-cat-tline a { color:#616660;}
	.blog-cat-tline a:hover { text-decoration:underline;}
	
	.tline-box:hover  { box-shadow:0 1px 6px -2px rgba(141,161,199,0.9); -webkit-box-shadow:0 1px 11px -3px rgba(141,161,199,0.9); }
	.tline-topdate { width:162px; height:38px; position:relative; display:block; clear:both; zoom:1; padding:4px; border:2px solid #e5e5e5; background:#fff; font-size:16px; text-align:center; font-weight:bold; line-height:26px; color:#aaa;  margin:0 auto 7px; border-radius:2px;  text-shadow: 0 1px 1px #fff;}
	.tline-topdate.enddte { bottom:0; margin-bottom:0; }
	
	
	/* Posts
	------------------- */
	.blog-post, .blog-single-post { margin-bottom: 5px; position:relative; }
	.blog-single-post { background:#fff; padding:0; border:none;}
	.blog-post.blgtyp2 { padding-bottom: 12px; border-bottom: 4px solid #efefef; margin-bottom: 30px;}
	.blog-post.blgtyp2 .col-md-8.omega.alpha { position:static;}
	.blog-post.format-quote { border-bottom:1px solid #e1e1e1; border-top:1px solid #e1e1e1; padding-top:20px; margin-bottom:40px;}
	.blog-post.format-quote blockquote { margin-bottom:0; padding-bottom:15px;}
	.blog-post.format-quote blockquote p { margin-bottom:0;}
	.blog-post.blgtyp2.format-quote { border-top:none; padding-top:0;}
	.postmetadata { margin-bottom:16px; display: block;}
	h6.blog-date { font-size:13px; font-weight:300;}
	.blog-post h6.blog-date, .blog-single-post h6.blog-date  { display:inline-block; padding-bottom:10px; position:absolute; right:0; top:0;}
	.blog-post.blgtyp2 h6.blog-date, .col-md-6.cntt-w h6.blog-date { position: static; float:right;}
	.blog-single-post h6.blog-date { position:static; float:right; margin-top:-50px; padding-right:5px;}
	.col-md-4 .blog-post h6.blog-date { padding-top:18px; margin-top:12px; line-height:1.2; padding-bottom:0;}
	h6.blog-date span { font-weight:600;}
	.blog-post .au-avatar, .blog-single-post .au-avatar { width:50px; height:50px; float:left; margin-right:10px; margin-top:-5px;}
	.blog-post .au-avatar img, .blog-single-post .au-avatar img { background:#fff; border-radius:50%;}

	.blog-post.blgtyp2 .blog-date-sec { padding:4px;  padding-bottom:12px; color:#444; text-align:center; border-bottom:9px solid #efefef; }
	.blog-post.blgtyp2 .blog-date-sec h3 {  line-height:1.4; margin:0; font-size:30px; font-weight:400; letter-spacing:-0.07em; }
	.blog-post.blgtyp2 .blog-date-sec span { display:block; font-size:13px; text-transform:uppercase; }



	.blog-post h3, .blog-post h5, .blog-single-post h3, .blog-single-post h1 {  font-weight:400; line-height:1.3;   font-family:"Roboto Slab";}
	.blog-post h5 { margin-top:-8px;}
	.blog-post h3 a, .blog-post h5 a { color: #444; -webkit-transition: color 0.18s ease; -moz-transition: color 0.18s ease; -o-transition: color 0.18s ease; transition: color 0.18s ease; }
	.blog-post h3 a:hover, .blog-post h5 a:hover  { color:#f1592a; }
	.blog-post h6 { display:inline; margin-right:6px;}
	.blog-single-post h1 { font-size:44px; line-height:54px; font-weight:400;}
	.postshow1 h1 { margin-top:25px; margin-bottom:30px; color:#1f2123; font-size:51px; font-weight:800; line-height:1.2; text-transform:none; letter-spacing:-3px;}
	.blog-single-post p, .blog-single-post div, .blog-single-post .post img, .blog-single-post p img { max-width:100%;}
	.blog-single-post .postmetadata { margin-bottom:30px;}
	.blog-post.sticky { background:#f9f9f9; padding:25px 20px 5px; margin-bottom:40px; border:1px solid #e1e1e1;}
	
	/* Post Show 1 */
	.postshow1 { position:relative; width:100%; min-height:768px; background-repeat:no-repeat; background-position:center top; background-size:cover;}
	.postshow-overlay { position: absolute; width: 100%; bottom: 0; height: 100%; background-color: rgba(36, 36, 36, 0.4);}
	.postshow1 h1.post-title-ps1 { position:absolute; bottom:30px; color:#fff; max-width:760px; text-shadow: 0 0px 3px rgba(0,0,0,0.17);}
	.postshow1-hd .postmetadata { margin-top: -22px; margin-bottom: 60px; background: transparent;} 
	.postshow1-hd .blog-single-post .au-avatar { width: 68px; height: 68px; float: left; margin-right: 10px; margin-top: -35px; margin-bottom: 20px;}
	.postshow1-hd .blog-single-post .au-avatar img { border: 3px solid #fff;}
	.postshow1-hd .postmetadata .blog-author, .postshow1-hd .postmetadata .blog-cat { display:inline; font-size:14px;}
	.postshow1-hd .blog-single-post h6.blog-date { position: static; float: right; margin-top: -121px; font-size: 14px; color: #fff; background: rgba(0,0,0,0.7); padding: 4px 11px;}
	.postshow1-hd input[type="text"].header-saerch { background-color: rgba(255,255,255,0.7);}
	.postshow1-hd input[type="text"].header-saerch:focus { background-color: #fff;}
	
	/* Post Show 2 */
	.post-trait-w { position:relative;}
	.postshow2-hd .post-trait-w h1 { position:absolute; bottom:10px; padding:5px 25px; color:#fff; text-shadow: 0 0px 3px rgba(0,0,0,0.29); font-size:36px; letter-spacing:-1.8px;}
	.postshow2-hd .postmetadata { margin-bottom:35px;}
	
	@media only screen and (max-width: 960px) {
	.postshow1 { min-height:520px;}
	.postshow1 h1.post-title-ps1 { font-size:38px; letter-spacing:-1px;}
	.postshow1-hd .postmetadata { margin-top:-12px;}
	}
	@media only screen and (max-width: 767px) {
	.postshow1 { min-height:480px;}
	.postshow1 h1.post-title-ps1 { font-size:36px;}
	.postshow2-hd .post-trait-w h1 { font-size:27px; letter-spacing:-1px;}
	}
	@media only screen and (max-width: 479px) {
	.postshow1 { min-height:430px;}
	.postshow1 h1.post-title-ps1 { font-size:33px;}
	.postshow2-hd .post-trait-w h1 { font-size:21px;}
	}
	
	
	
	
	.blog-post .col-md-6, .col-md-4 .blog-post { margin-top:10px; margin-bottom:20px;}
	.blog-post .col-md-6 h3, .col-md-4 .blog-post h3 { font-size: 33px; text-transform:none; letter-spacing:-2px; line-height:1.1; margin:4px 0;}
	.blog-post .col-md-6 p, .col-md-4 .blog-post p { font-size:14px; font-weight:400; line-height:1.4;}
	.blog-post .col-md-6 .postmetadata.tp2sec { padding:4px 10px; float:right; margin-right:8px; position:relative;}
	.blog-post.format-quote .postmetadata.tp2sec { display:none;}
	.blog-post .col-md-6 h6.blog-date { padding-bottom:0; margin-bottom:8px;}
	.blog-single-post p { font-size:17px; line-height:1.62; letter-spacing:0; font-family:'Lora', 'Open Sans', sans-serif;}
	.blog-single-post blockquote p, .blog-post blockquote p { font-size:21px;}
	
	.latest-f-blog .blog-post h4 { font-size: 24px; font-weight:300; margin-bottom:14px;}
	.blog-post a, .blog-line a { color: #1f2123; -webkit-transition: color 0.18s ease; -moz-transition: color 0.18s ease; -o-transition: color 0.18s ease; transition: color 0.18s ease; }
	.blog-post a:hover, .blog-author span, .blog-line p a:hover { color: #ff6c6d; }
	.blog-line p, .blog-line p a, .blog-post p.blog-author, .blog-post p.blog-author a { text-align: left; font-size: 11px; text-transform:uppercase; line-height: 1.6; color: #888; margin-bottom: 10px; letter-spacing: 1px; font-weight:400;  }
	.blog-post p.blog-cat a, .blog-line p.blog-cat a { color:#ff6c6d; margin-bottom:7px; letter-spacing:0.3px; font-size:14px; }
	
	.blog-post p strong, .blog-line p strong { font-weight:400;}
	.blog-post img, .blog-post iframe, .blog-single-post img, .blog-single-post iframe { width: 100%; border-bottom: 1px solid #e6e6e6; margin-bottom:18px; }
	.blog-post img { background:#fff;}
	.blog-post .wpb_gallery.wpb_content_element, .blog-single-post .wpb_gallery.wpb_content_element, .blog-single-post .fluid-width-video-wrapper { margin-bottom:18px;}
	.blog-post .post img, .blog-post .post iframe, .blog-single-post .post img, .blog-single-post.post iframe { width:auto; border:inherit;}
	.search-results .blog-post img { width:auto;}
	.blog-post .flex-control-nav li { margin-bottom: 0;}
	.blog-post .flexslider img, .blog-single-post .flexslider img { margin-bottom:0px;}
	
	.blog-q { border-left: 1px solid #d8d8d8; padding-left: 12px; }
	.blog-q em { color: #a5adae; }
	p.blog-inpic img { float:left; border:1px solid #c9c9c9; background:#f9f9f9; width:280px; max-width:100%; padding:6px; margin:0 14px 14px 0;}
	
	.date-sp-wrap { max-width: 100px; margin: 0 10px; float: left; }
	.blog-date-sp, .blog-com-sp { height: 40px; padding: 6px; padding-bottom: 20px; width: 90px; float: right; border-top-left-radius: 6px; color: #fff; background: #636e75 url(../images/blg-date-botpic1.png) no-repeat bottom right; font-weight: bold; font-family: Arial, sans-serif; }
	.blog-date-sp h3 { width: 30px; float: left; margin: 1px 5px; color: #0093d0; }
	.blog-date-sp span { float: right; margin: 4px; color: #a2aab0; font-size: 12px; line-height: 1.2; margin-right: 15px;}
	.blog-com-sp { background: none; color: #95a2aa; padding: 0 6px 8px; margin-top: -12px; text-align: center; font-size: 12px; height: 16px; border-radius: 0px; border-bottom-left-radius: 11px; }
	.blog-com-sp a { color: #95a2aa; }
	.pin-box .blog-date-sp, .pin-box .blog-com-sp, .tline-box .blog-date-sp, .tline-box .blog-com-sp { position: absolute; bottom: 20px; margin: -12px; margin-top: 7px; width: 50%; border: 0; border-radius: 0; background: #ebebeb; padding: 0; }
	.pin-box .blog-com-sp, .tline-box .blog-com-sp { float: left; height: 40px; padding: 12px 23px 0 0; }
	.pin-box .blog-date-sp h3, .tline-box .blog-date-sp h3 { margin-left: 12px; margin-top:3px; text-shadow: 0 0 1px rgba(0,0,0,0.1); font-weight:300; font-family:"Roboto", Arial; }
	.tline-box .blog-date-sp, .tline-box .blog-com-sp { width: 49%; margin: -10px; margin-bottom: 0; }
	.tline-box .blog-date-sp { right: 10px;}

	h6.blog-date, h6.blog-cat  { color:#69ba45;} 
	h6.blog-author { color:#a0a0a0; font-weight:400; }
	h6.blog-date a, h6.blog-cat a, h6.blog-author a { color:inherit;} 
	h6.blog-date a:hover, h6.blog-cat a:hover, h6.blog-author a:hover { text-decoration:underline;}
	.blog-single-post h6.blog-author { letter-spacing:0.2em; }
	
	.blog-post.blgtyp2 h6.blog-views, .blog-post.blgtyp2 .comments-number-x2 { float: right; margin-top: -30px; }
	.blog-post.blgtyp2 .comments-number-x2 { padding:0; border:none; margin-right:65px;}
	.postmetadata h6.blog-views i, .blog-post.blgtyp2 .comments-number-x2 i { color:#bbb; padding:6px; background:#fff; border-radius:20px; border:1px solid #e1e1e1;}
	.postmetadata h6.blog-views span, .blog-post.blgtyp2 .comments-number-x2 span { font-size:11px; letter-spacing:1px; padding:2px 6px; margin-left:-5px; background:#f58b7a; color:#fff; border-radius:10px;}
	.blog-post.blgtyp2 .comments-number-x2 span { margin-left:-8px;}
	h6.blog-comments { color: #aaa;}
	h6.blog-date a:hover, h6.blog-cat a:hover, h6.blog-author a:hover { text-decoration:underline;}
	
	.tline-box h6.blog-cat { font-size: 13px; background: #f2f2f2; color: #666666; padding-left: 7px; display:none; }
	.blog-post .flex-direction-nav a, .tline-box .flex-direction-nav a { padding:16px 8px; margin-top:-28px; top:50%;}
	.blog-post .flex-control-paging li a, .tline-box  .flex-control-paging li a  { width:12px; height:12px;}
	.blog-post .flex-control-nav, .tline-box .flex-control-nav { bottom:15px; right:24px;}
	.blog-post .flex-control-nav li, .tline-box .flex-control-nav li { margin:0 3px;}
	.blog-post .flexslider .slides > li, .tline-box .flexslider .slides > li { margin-bottom:0;}
	.blog-post .flexslider img, .tline-box .flexslider img { margin-bottom:0;}
	.blog-post .mejs-container { margin-bottom:16px;}
	.blog-post .fluid-width-video-wrapper { margin-bottom:18px;}
	.blog-post.blgtyp2 .fluid-width-video-wrapper, .pin-box .fluid-width-video-wrapper, .tline-box .fluid-width-video-wrapper { margin-bottom:18px; padding-top:210px !important;}
	.tline-box .fluid-width-video-wrapper, .tline-box .wpb_gallery_slides { margin-bottom:-15px;}
		

	.next-prev-posts { border-top:1px solid #e9e9e9; padding:12px 0; margin-top:10px;}
	.next-prev-posts a { padding: 3px 8px; border: 3px solid #ddd; font-size: 11px; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; }
	.next-prev-posts a.next-post { float:right;}
	.post-tags { background:none; padding:16px; margin-top:20px;}
	.post-tags a { color: #444; font-size: 11px; text-transform: uppercase; letter-spacing: 1.5px; font-weight: 400; padding: 4px 7px; border: 1px solid #ddd; border-radius:2px; background:#fff; margin: 1px 3px;}
	.post-tags a:hover { text-decoration:underline;}
	.about-author-sec {padding:10px 0 20px; margin:10px; min-height:100px; text-align:left;}
	.blog-single-post .post .about-author-sec img { float:left; display:inline-block; width:90px; height:auto; border-radius:50%; border:none; margin-bottom:5px; margin-right:10px; margin-top:-5px;}
	.about-author-sec h5 { font-weight:400; font-size:18px; line-height:1.2; color:#333;}
	.about-author-sec p { font-size:14px; font-weight:400; color:#a3a3a3; line-height:1.7; text-align:left;  font-family: 'Open Sans',  Helvetica, Arial, sans-serif;}
	
	/* About Author */
	.about-author-sec {padding:10px 0 20px; margin:15px; min-height:100px; text-align:left;}
	.archive.author .about-author-sec { background:#fff; padding:30px; border:2px solid #eee; min-height:150px; box-shadow:0 2px 3px rgba(0,0,0,0.018);}
	.archive.author .about-author-sec img { float:left; margin-right:30px;}
	.blog-single-post .post .about-author-sec img { float:left; display:inline-block; width:90px; height:auto; border-radius:50%; border:none; margin-bottom:5px; margin-right:10px; margin-top:-5px;}
	.about-author-sec h5 { font-weight:400; font-size:18px; line-height:1.2; color:#333;}
	.about-author-sec p { font-size:14px; font-weight:400; color:#8e8e8e; line-height:1.7; text-align:left;  font-family: 'Open Sans',  Helvetica, Arial, sans-serif;}
	.archive.author #headline { display:none;}
	
	.blog-date-sec { color: #444; padding: 4px; padding-bottom: 12px; text-align: center; border-bottom: 9px solid #efefef;}
	.blog-date-sec h3 {  line-height:1.4; margin:0; font-size:30px; font-weight:400; letter-spacing:-0.07em; }
	.blog-date-sec span { display:block; font-size:13px; text-transform:uppercase; }
	.col-md-1 .blog-date-sec { border:none;}
	.col-md-1 .blog-date-sec h3 { font-size:27px; font-weight:800; letter-spacing:-1px;}
	.blog-line { margin-bottom: 15px; padding-bottom:15px; border-bottom:1px solid #e5e5e5; }
	.blog-line img { float: right; width: 140px; height: 110px; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease; }
	.img-hover { position: relative; max-width: 100%; float: right; margin-left: 15px; }
	.img-hover:before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; -webkit-box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8); -moz-box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8); box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8); opacity: 1; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease; }
	.blog-line:hover .img-hover:before { -webkit-box-shadow: inset 0 0 0 5px ; -moz-box-shadow: inset 0 0 0 5px ; box-shadow: inset 0 0 0 5px ; color:#ff6c6d;}
	.blog-line h4 { font-size: 17px; letter-spacing: 0; font-weight: 600; margin-bottom: 10px; line-height:1.4; }
	.blog-line:hover h4 a { color: #ff6c6d; }
	
	
	/* Post Sharing Socials */	
	.blog-single-post .post-sharing {margin-top:35px; margin-bottom:10px; padding-top:35px; border-top:1px solid #e1e1e1;}
	.blog-single-post .post-sharing span { font-size:15px; font-weight:700; color:#484848; padding-right:10px; line-height:1.5;}
	.blog-single-post .blog-social {display: table; }
	.blog-single-post .blog-social a{ border: 1px solid #e1e1e1; padding: 9px 14px; border-right: none; font-size: 18px; text-align: center;}
	.blog-single-post .blog-social a:last-child { border-right: 1px solid #e1e1e1;}
	#wrap .blog-single-post .blog-social a:hover{color:#fff;}
	.blog-single-post .blog-social a.twitter:hover { background: #00acee; }
	.blog-single-post .blog-social a.google:hover { background: #c3391c; }
	.blog-single-post .blog-social a.linkedin:hover { background: #0073b2; }
	.blog-single-post .blog-social a.facebook:hover { background: #3b5996; }
	.blog-single-post .blog-social a.email:hover { background: #a66262; }
	.blog-single-post .blog-social a.twitter{ color: #00acee; }
	.blog-single-post .blog-social a.google { color: #c3391c; }
	.blog-single-post .blog-social a.linkedin { color: #0073b2; }
	.blog-single-post .blog-social a.facebook { color: #3b5996; }
	.blog-single-post .blog-social a.email { color: #a66262; }
	
	
		
	/* Category Box */	
	.latest-cat { padding: 14px 16px 0; border:1px solid #e7e7e7;}
	.latest-cat .blog-post  { margin-bottom:20px; padding:0; background:none; border:none; }
	.latest-cat .lc-main { margin-bottom:4px}
	.latest-cat .lc-main  h4 { font-size: 21px; letter-spacing: -1px; font-weight: 700; margin-bottom: 6px; line-height: 1.3;}
	.latest-cat .blog-author, .latest-cat .blog-author * { font-size: 12px; letter-spacing:0; text-transform:none;}
	.latest-cat .blog-author strong { font-weight:800;}
	.latest-cat .lc-main .blog-detail { font-size: 13px; color: #8e8e8e; font-weight: 400; line-height: 1.5; font-family:'Open Sans', Arial, Helvetica, sans-serif; margin-bottom:8px;}
	.latest-cat .blog-post p.blog-author { font-size: 13px; color: #717171; font-weight: 600; text-transform:none; letter-spacing:0; line-height: 1.5; font-family:'Open Sans', Arial, Helvetica, sans-serif;}
	.latest-cat .blog-post p.blog-author a { text-transform:none; letter-spacing:0; font-size:13px; color:#ff6c6d; font-weight: 600;}
	.latest-cat .blog-post p.blog-author a:hover { text-decoration:underline;}
	.latest-cat .lc-main a.readmore { display:none;}
	.latest-cat .lc-items { background:#f5f5f5; padding: 14px 16px 0; margin:0 -16px -15px; border-top:3px solid #e9e9e9;}
	.latest-cat .lc-items h4 { font-size:14px; font-weight:600; letter-spacing:-0.6px;}
	.latest-cat .lc-items img { width: 100px; height: auto;}
	.latest-cat .blog-post img { margin-bottom:10px; padding:0;}
	.latest-cat .lc-items article { overflow: hidden;}
	.latest-cat .lc-items article:last-child{ border-bottom: 0;}
	
	
	a.readmore { position:relative;  margin:4px 0 3px 1px;  -webkit-transition: all 0.17s ease-in-out; -moz-transition: all 0.17s ease-in-out; -ms-transition: all 0.17s ease-in-out; -o-transition: all 0.17s ease-in-out; transition: all 0.17s ease-in-out;  background:#0093d0; padding:6px 32px 6px 22px; border-radius:2px; color:#fff; box-shadow: 0 0 0 0; font-size:12px; text-transform:capitalize; }
	a.readmore:after, a.magicmore:after, #nav li.submenux:after, a.addtocart:before, a.select-options:before  { position:absolute; right:10px; top:9px; font-family: 'FontAwesome'; font-size:11px; color:#fff; content: "\f061"; speak: none; font-style: normal; font-weight: normal; text-transform: none; line-height: 1;	-webkit-font-smoothing: antialiased; }
	a.readmore:hover { background-color:#363f46; color: #fff; }
	a.readmore:active { background-color:#fafafa; color:#999; }
	.wpb_gallery_slides .flex-caption a.readmore { background: none; }
	
	a.magicmore, a.addtocart, a.select-options { position:relative;  padding:3px 12px 2px 0; color:#0093d0; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -ms-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease; }
	a.magicmore:hover { color:#ffa02f; background-position: 100% 69%; }
	a.magicmore:after { content: "\f054"; color:inherit; top:8px; right:1px; font-size:8px; }
	a.magicmore:hover:after { border-color:#2e3435;}
	a.addtocart, a.select-options { padding: 4px 2px 2px 18px; color: #7f7f7f; float: right; display: inline-block; font-size: 12px; font-weight: bold; }
	a.select-options { float: left; }
	a.addtocart:hover, a.select-options:hover { color: #0ab1f0; cursor: pointer; }
	a.addtocart:before, a.select-options:before { content: "\f07a"; color: inherit; top: 8px; left: 1px; font-size: 13px; }
	a.select-options:before { content: "\f1de"; }
	.row.magic { padding-left: 40px; }
	.columns.magic { padding-left: 20px; }
	.magic-link { text-align:center; }
	.alignright .magic-link { text-align:right;}
	.alignleft .magic-link { text-align:left;}
	.magic-link a { display: inline-block; font-size: 11px; font-weight:600; letter-spacing:3px; width: auto; text-align: center; color: #fff; border-radius: 25px; padding: 6px 32px 5px; background: #FF6C6D; transition: background 0.16s ease;  }
	.magic-link a.get { padding: 7px 26px 7px 20px; background-color: #7ebd22; border-radius: 5px; text-shadow: 1px 1px 0 #649b19; text-transform: uppercase; }
	.magic-link a.get.shadow1 { box-shadow: 0px 0px 5px #fff inset, 0 2px 3px -1px #74ad20; -webkit-box-shadow: 0px 0px 7px #fff inset, 0 2px 5px -1px #74ad20; }
	.magic-link a:hover { background-color: #444; }
	
	
	/* COMMENT */
	
	.comments-wrap { padding:0;}
	.commentbox { min-height:156px;  border-radius:6px; text-align:left; margin:12px 0; }
	#commentform { padding-top:12px; border-top:1px solid #e9e9e9; }
	#commentform label { font-size:14px; font-weight:400; display:inline;}
	#commentform .required { margin-left:3px;}
	/* comments list */
	ol.commentlist { padding: 0; margin-left:0;}
	.commentlist li { list-style: none;	margin: 0;	padding: 18px 0 0 0;border-top: 1px solid #c1c1c1; overflow:hidden; }
	.commentlist li a:link, .commentlist li a:visited { color: #0ab1f0; }
	.commentlist li .comment-info {	margin: 0; padding: 0; overflow:hidden; min-height:96px; padding-left:123px; padding-top:14px; }
	.commentlist li .comment-info img {	float: left; margin: 3px 30px 3px -120px; width:90px; height:90px; border-radius:45px; background: #eee;	display: inline; }
	.commentlist li .comment-info cite { display: inline; font-size:16px; line-height:17px;	text-transform:capitalize;	margin: 0;	padding: 5px 6px 5px 0px; color:#555; font-style: normal; font-weight: bold; margin-bottom:0; }
	.commentlist li .comment-info cite .comment-data {	font-size: 11px; font-weight: normal; float:right; display: inline; padding-right:10px;}
	.commentlist li .comment-text {	clear: both;	margin: 0; margin-top:-76px;	padding: 0 20px 25px 123px; }
	.commentlist li .comment-text p {	margin:  5px 0 20px 0;	padding: 0; line-height:1.8;}
	.commentlist li .comment-text .reply a { padding: 4px 14px; border:1px solid #e1e1e1; border-radius:22px; background-color: #fff; font-size: 11px; text-transform:uppercase; letter-spacing:1px; color: #a3a3a3;}
	.commentlist li .comment-text .reply a:hover { background-color:#0ab1f0; border-color:#0ab1f0; color: #fff; }
	.commentlist li ul.children { margin:0; padding: 0; }
	.commentlist li ul.children li.depth-2, .commentlist li ul.children li.depth-3 { margin-left: 40px; border-color:#e3e3e3; }
	.commentlist li .comment-text ol li, .commentlist li .comment-text ul li { border:none;  padding:5px 0;}
	.commentlist li .comment-text ol, .commentlist li .comment-text ol li { list-style:decimal; overflow:visible; }
	.commentbox h3 { margin-top:80px; font-size:21px; font-weight:400;}
	p.comment-notes { color:#a3a3a3; font-size:13px;}
	.comment-form-comment textarea { width:98%; }
	.form-allowed-tags { font-size:11px; padding:6px; background:#f3f3f3; }
	
	@media only screen and (min-width: 768px) {
	p.comment-form-author, p.comment-form-email, p.comment-form-url { width:31%; float:left; margin-right:2.31%; margin-bottom:0;}
	p.comment-form-comment { clear:both; margin-top:4px;}
	}
	@media only screen and (max-width: 767px) {
	.commentlist li .comment-info { padding-left:50px; padding-top:20px; }
	.commentlist li .comment-info img { width:40px; height:40px; border-radius:20px; margin-top:-2px; margin-right:10px; margin-left:-50px;}
	.commentlist li .comment-text { padding-left:50px; }
	.commentlist li .comment-info cite .comment-data { position:relative; top:-23px; right:-8px; display:inline;}
	.commentlist li .comment-info cite { font-size:14px; font-family:Arial, Helvetica, sans-serif;}
	.commentlist li .comment-text p { font-size:13px; padding-top:15px; line-height:1.3;}
	.blog-post .col-md-1.alpha { padding-left:10px;}
	.blog-single-post h6.blog-date { float:none; margin-top:0;}
	.blog-post.blgtyp2 .blog-date-sec { border:0 none; margin:0; text-align:left; border-bottom:1px solid #e5e5e5; background:#fdfdfd;}
	.blog-post.blgtyp2 .blog-date-sec span, .blog-post.blgtyp2 .blog-date-sec h3  { display:inline; margin:0 10px;}
	
	}
	@media only screen and (max-width: 479px) {
	.commentlist li .comment-info cite .comment-data { top:-41px;}
	}
	@media only screen and (min-width: 768px) and (max-width: 960px) {
	.blog-post .col-md-2 { width:20%;}
	.blog-post .col-md-10 { width:80%;}
	.blog-post .col-md-2 .blog-date-sec { width:auto;}
	.blog-post .col-md-1 { width:10%;}
	.blog-post .col-md-5 { width:45%;}
	.blog-post .col-md-6 { width:45%;}
	.blog-post .col-md-1, .blog-post .col-md-2, .blog-post .col-md-5, .blog-post .col-md-6, .blog-post .col-md-10 { float:left;}	
	}
	@media only screen and (max-width: 960px) {	
	.blog-post.blgtyp2 .col-md-4.omega { padding-left:0;}
	}
	@media only screen and (min-width: 1200px) {	
	.blog-post.blgtyp2 .blog-date-sec h3 { font-size:36px;}	
	}
	
	
/* -------- end ----------- */