/*----------------------------------

	Theme Name: Mexin
	----------------------
		
	/* #Full width Sections + Parallax Stylesheet
	================================================== */
	
	.blox {clear:both; padding: 45px 0 43px; background:#f1f8fc; text-shadow: 1px 1px 0 #fff; position:relative; }
	.blox.wpb_column { clear:none; margin-bottom:0;}
	.blox.nopad { padding:0; margin:0;}
	.blox.dark { background:#384852; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.73); }
	.blox.dark .nonetextshadow *{ text-shadow:none;}
	.blox.gray { background:#f0f0f0; }
	.blox.gray2 { background:#fbfbfb; padding-top:75px; margin-top:-35px; }
	.blox.redbox { background:#ffc5cb;}
	.blox.greenbox { background:#dbebb9;}
	.blox.yellowbox { background:#f7c218;}
	.dark.redbox { background:#de3059;}
	.dark.bluebox { background:#128abc;}
	.dark.blackbox { background:#25272a; margin-top:-1px;}
	.blox hr { border-color: rgba(255, 255, 255, 0.2); }
	.dark.greenbox { background:#5aa300; }
	.dark.yellowbox { background:#fdb012;}
	.blox.dark * { color:#fff; }
	.blox.dark input { color:#777; }
	.blox.dark a { color:#07add4; }
	.blox.dark a.magicmore { color:#00aeef;}
	.blox.dark a.magicmore:after { border-color:#00aeef;}
	.blox.dark a:hover { color:#ff9900;}
	.blox.dark a.button, .blox.dark a.button:hover { color:#fff; }	
	.blox.dark a.button.gray { background:#fff; color:#737373; border-radius:5px;}
	.blox.dark .magic-link a { color:#fff; }
	.blox.dark p { color:rgba(255, 255, 255, 0.9); }
	.blox.dark small { color:rgba(255, 255, 255, 0.8); }
	.bloxcirc { width:70px; height:70px; border-radius:35px; background:#e53f51 url(../images/ico-bulb1.png) no-repeat center center; position:relative; margin:-78px auto 21px; display:block; }
	.bloxcirc.portx { width:50px; height:50px; border-radius:25px;  margin:-58px auto 21px; background-color:#0093d0;  }
	.bloxcirc.bell-bg { background:#e53f51 url(../images/ico-bell1.png) no-repeat center center; }
	.bloxcirc.flash-bg { background:#e53f51 url(../images/ico-flash1.png) no-repeat center center; }
	.bloxcirc.eye-bg { background:#e53f51 url(../images/ico-eye1.png) no-repeat center center; }
	.bloxcirc.calendar-bg { background:#e53f51 url(../images/ico-calendar1.png) no-repeat center center; }
	.bloxcirc.video-bg { background:#e53f51 url(../images/ico-video1.png) no-repeat center center; }
	.bloxcirc.clock-bg { background:#e53f51 url(../images/ico-clock1.png) no-repeat center center; }
	#wrap > section.about.blox.dark { padding-bottom:0;}
	img.about-img-bot { margin-bottom:0; max-width:100%;}
	.blox.promoblox { background:#00c5ad; padding:60px 0 50px; margin:0; text-shadow:none;}
	.blox.promoblox a.button { background:transparent; padding:16px 26px; border:2px solid #fff; font-weight:400; float:right; margin-left:20px; vertical-align:middle; letter-spacing:3px; text-shadow:none; box-shadow:none; text-transform:uppercase; 	-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease; } 
	.blox.promoblox a.button:hover { background:#fff; color:#000;}
	.dark.bluebox { background:#128abc;}
	.blox.dark.bot-blox { padding:14px 0; clear:both; background: #303740 url(../images/pattern-bg2.png); border-top:5px solid #242e38; margin:0; }
	.dark.bot-blox .magic-link { margin:0; float:right; }
	*+html .blox.dark.bot-blox { margin-bottom:-21px; }
	
	.blox h1.extr {font-size:63px; font-size:57px\9; font-weight:lighter; line-height:80px; letter-spacing:-4px;}
	.blox h1.extr span, .blox.dark h1.extr span { color:#fc4f4f; }
	.extrabgsec { padding:20px; background:rgba(255,255,255,0.6);}

	.blox.dark .mex-title { border-bottom: 4px solid rgba(255, 255, 255, 0.27);} 
	
	.blox.parallax-sec { padding: 0; background-position: center bottom; background-repeat:no-repeat; background-attachment:fixed; min-height: 300px; margin: 0 auto;  width: 100%;  max-width: 1920px; background-size:cover}
	.parallax-sec article { position: relative; }
	.parallax-sec .blox, .parallax-sec .blox.dark { background:none; }
	.blox .slogan { padding-top: 5%; }
	.blox .vc_col-sm-6.slogan { padding-top: 0; }
	.slogan h1 { font-size:67px; line-height:80px; font-weight:100; }
	.slogan  span, .blox.dark .slogan  span { color:#fc4f4f;}
	
	/* #Max Overlay
	================================================== */
	.max-overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-repeat: repeat;}
	.max-pat,.max-pat2 ,.max-alpha, .max-alpha2 {position: relative;}
	.max-pat .max-overlay{background-image: url(../images/pattern.png)}
	.max-pat2 .max-overlay{background-image: url(../images/pattern2.png)}
	.max-alpha .max-overlay{background-color:rgba(33, 65, 83, 0.5)}
	.max-alpha2 .max-overlay{background-color:rgba(8, 22, 31, 0.8)}
	.blox .container {position: relative;}
	
	/* #Max Blox
	================================================== */
	.max.blox{ position: relative; background: #f8f8f8; padding-top: 50px;padding-bottom: 15px;}
	.max.blox:after{content: '';position: absolute;left: 50%;bottom: -22px;margin-left: -29px;z-index: 1;border-radius: 100%;width: 50px;height: 50px;background: #f8f8f8;}
	.max.blox.dark,.max.blox.dark:after{background: #384852 url(../images/pattern2.png);}
	
	
	
	/* #Video Background
	================================================== */
	
	.video-sec { position: relative; overflow: hidden; padding: 0!important }
	.video-item { position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: 0; overflow: hidden }
	.video-sec .pattern-bg { background-image: url(../images/pattern.png); opacity: 0.5; width: 100%; height: 100%; z-index: 1; padding: 45px 0 43px; clear: both; background-repeat: repeat; position: absolute;}
	.video-sec .dark-content, .video-sec .light-content { text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.23); padding: 45px 0 43px; z-index: 2; width: 100%; height: 100%; position:relative; }
	.video-sec .dark-content * { color: #fff; }
	.video-sec .light-content { text-shadow:none; }
	.video-sec .slight { color: #292929; }
	.video-sec .mejs-container {position: absolute; z-index:0;}
	.video-sec .max-video {position:relative;}


	/* #Media Queries
	================================================== */

	@media only screen and (max-width: 960px) { 
	.parallax-sec, .video-sec  { height:auto !important; background-attachment:scroll; background-repeat:repeat-y !important;  }
	.homedark { height:auto !important; background-size:cover; }
	.slogan h1 { font-size:41px; line-height:53px;}
	.aboutdark .slogan { position:relative; right:auto; margin:0 auto; padding:3%;}
	}
	
	@media only screen and (max-width: 767px) { 
	.blox.dark, .blox.gray { height:auto !important;}
	.blox.half-white { background-image:none !important; background:#fff !important;}
	}