/* dynamic generated css*/
#wrap .container {max-width:1080px;}

#wrap p { font-family: Open Sans;}
#wrap h1, #wrap h2, #wrap h3, #wrap h4, #wrap h5, #wrap h6 { font-family: Open Sans;}
body { font-family: Open Sans;}
#wrap #nav a { font-family: Open Sans;}
#footer { background-color:#ffffff; }
.footbot { background-color:#ffffff; }

/* == TextColors
---------------- */
.colorskin-custom .icon-box3:hover i,.colorskin-custom #nav ul li a:hover, .colorskin-custom #nav li.current ul li a:hover, .colorskin-custom .nav-wrap2 #nav ul li a:hover, .colorskin-custom .nav-wrap2.darknavi #nav ul li a:hover, .colorskin-custom #nav ul li.current > a, .colorskin-custom #nav ul li:hover > a,.colorskin-custom nav.primary .portfolioFilters a.selected, .colorskin-custom nav.primary ul li a:active,.colorskin-custom .zoomex2 a:hover i,.colorskin-custom .pin-box h4 a:hover, .colorskin-custom .tline-box h4 a:hover,.colorskin-custom .blog-post a:hover, .colorskin-custom .blog-author span, .colorskin-custom .blog-line p a:hover,.colorskin-custom a.readmore:hover,.colorskin-custom .jcarousel-next:hover, .colorskin-custom .jcarousel-next:active, .colorskin-custom .jcarousel-prev:hover, .colorskin-custom .jcarousel-prev:active,.colorskin-custom .latestposts-two .blog-line p.blog-cat a,.colorskin-custom .latestposts-two .blog-line:hover .img-hover:before,.colorskin-custom .latestposts-two .blog-line:hover h4 a,.colorskin-custom a.readmore:hover:after,
.colorskin-custom #nav li.current > a, .colorskin-custom #nav a:hover, .colorskin-custom #nav li:hover > a, .colorskin-custom a.magicmore, .colorskin-custom a.addtocart, .colorskin-custom a.select-options, .colorskin-custom .top-links a:hover, .colorskin-custom .recent-works-items p a, .colorskin-custom .latestposts-one .latest-title a:hover, .colorskin-custom .latestposts-three h3.latest-b2-title a:hover, .colorskin-custom .latestposts-three h6.latest-b2-cat a, .colorskin-custom .latestposts-four h3.latest-b2-title a:hover, .colorskin-custom .latestposts-five h6.latest-b2-cat a, .colorskin-custom .latestposts-six .latest-content p.latest-date, .colorskin-custom .latestposts-six .latest-title a:hover
{color: }


/* == Backgrounds
----------------- */
.colorskin-custom .icon-box4:hover i, .colorskin-custom .icon-box5:hover i, .colorskin-custom .icon-box7:hover i, .colorskin-custom .icon-box8:hover i, .colorskin-custom .icon-box11:hover i, .colorskin-custom .icon-box13 a.magicmore:hover, .colorskin-custom #nav > li.current:after, .colorskin-custom #footer .side-list li:hover img, .colorskin-custom .toggle-top-area .side-list li:hover img, .colorskin-custom #footer .tagcloud a:hover, .colorskin-custom .toggle-top-area .tagcloud a:hover, .colorskin-custom .side-list li:hover img, .colorskin-custom .widget_shopping_cart .sidebar-line, .colorskin-custom .widget_shopping_cart_content p.buttons a.button, .colorskin-custom .single .woo-template span.onsale, .colorskin-custom .woocommerce ul.products li.product .onsale, .colorskin-custom .our-process-item:hover i, .colorskin-custom .woocommerce a.button.alt, .colorskin-custom .woocommerce button.button.alt, .colorskin-custom .woocommerce input.button.alt, .colorskin-custom .woocommerce #respond input#submit.alt, .colorskin-custom .postmetadata h6.blog-views span, .colorskin-custom .blog-post.blgtyp2 .comments-number-x2 span, .colorskin-custom .pin-ecxt2 .col1-3 span, .colorskin-custom .comments-number-x span,
.colorskin-custom #header.sm-rgt-mn #menu-icon span.mn-ext1,.colorskin-custom #header.sm-rgt-mn #menu-icon span.mn-ext2,.colorskin-custom #header.sm-rgt-mn #menu-icon span.mn-ext3, .colorskin-custom .icon-box1 i, .colorskin-custom .icon-box1 img, .colorskin-custom .latestposts-four .latest-b2 h6.latest-b2-cat, .colorskin-custom .latestposts-one .latest-b-cat, .colorskin-custom .single .woo-template span.onsale, .woocommerce .colorskin-custom ul.products li.product .onsale,
.colorskin-custom .jcarousel-next:hover, .colorskin-custom .jcarousel-next:active, .colorskin-custom .jcarousel-prev:hover, .colorskin-custom .jcarousel-prev:active, .colorskin-custom .tagcloud a:hover
{background-color: }


/* == BorderColors
------------------ */
.colorskin-custom nav.primary .portfolioFilters a.selected, .colorskin-custom nav.primary ul li a:active, .colorskin-custom nav.primary .portfolioFilters a:hover, .colorskin-custom .zoomex2 a:hover i, .colorskin-custom .widget h4.subtitle:after, .colorskin-custom a.readmore:hover, .colorskin-custom .tagcloud a:hover, .colorskin-custom #footer.litex .tagcloud a:hover, .colorskin-custom .icon-box8:hover i, .colorskin-custom .icon-box11:hover i,  .colorskin-custom .jcarousel-next:hover, .colorskin-custom .jcarousel-next:active, .colorskin-custom .jcarousel-prev:hover, .colorskin-custom .jcarousel-prev:active, .colorskin-custom .our-process-item:hover i, .colorskin-custom .woocommerce-info,
.colorskin-custom #nav li.current > a, .colorskin-custom #nav a:hover, .colorskin-custom #nav li:hover > a, .colorskin-custom #nav ul
{border-color:}


