/*----------------------------------

	Theme Name: Mexin
	----------------------
		
	/* #Eelements + (Bootstrap elements)
	================================================== */

	
	/* Max Sliders */
	.max-hero .slides-control {margin: 0px; padding: 0px; list-style: none; position: relative; height: 100%; display: block; background-color:#222;}
	.max-hero .slides-control .slides-container {display: none;}
	.max-hero .slides-control .sparallax .slide-image {background-attachment: fixed;background-size: cover; background-position: center center; background-repeat: no-repeat;}
	@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .max-hero .slides-control .sparallax .slide-image {background-attachment: scroll;}
	 }
	.max-hero .slides-control .spattern .slide-image:after, .spattern.max-video:after, .video-sec .spattern:after{ background: url(../images/spattern.png); width:100%; height:100%; bottom:0; left:0; position:absolute; z-index: 1; content: "";}
	.max-hero .mejs-controls {display:none !important;}
	/* Max Sliders Navigation */
	.max-hero .slides-navigation {margin: 0 auto;position: absolute;z-index: 3;top: 46%;width: 100%;}
	.max-hero .slides-navigation a {position: absolute;display: block;width:74px;height:74px;background:url(../images/arrows2.png);opacity:0;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;}
	.max-hero .slides-navigation a.prev {left: 1%;background-position:bottom center;}
	.max-hero .slides-navigation a.next {right: 1%;background-position:top center;}
	.max-hero .slides-navigation a:hover{opacity:1 !important;}
	.max-hero:hover .slides-navigation a{opacity:0.3;}
	/* Max Sliders Content */
	.slides-content {color:#fff; position: absolute; width: 100%; top: 38% ; margin: 0 auto; z-index: 2;background: transparent; height: 300px; min-height: 300px; text-align: center;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);transform: translateY(-50%);}
	.tagline-slider.flexslider{background: transparent; text-align:center; margin-bottom:20px;}
	.tagline-slider.flexslider .slides {height:auto; padding:0;margin:0 auto;position:relative; overflow:initial;}
	.tagline-slider.flexslider .slides li{word-break: break-word; color:#fff; list-style:none; font-size:49px;}
	.tagline-slider.flexslider .slides li span{color:#1bbc9b;}
	.tagline-slider .flex-direction-nav {display:none;}
	.tagline-slider .flex-control-nav {position: static;}
	.tagline-slider .flex-control-paging li a { background:none; width:12px; height:12px; border:2px solid rgba(255,255,255,0.6); text-shadow:1px 1px 2px rgba(0,0,0,5);}
	.tagline-slider .flex-control-paging li a.flex-active { border-color:#fff; background:none;}
	
	.slides-content p {line-height: 26px; width: 100%; max-width: 670px; /*margin: 35px auto;*/ /* mexin */ position: relative; /*text-align: center;*/ /* mexin */ color: #fff; font-size:16px; font-weight: 400; letter-spacing:0;}
	.slides-content .button.small { margin-top:50px; font-size: 12px; font-weight:bold; color: #fff; letter-spacing: 2px; text-transform: uppercase;text-shadow:1px 1px 1px rgba(0,0,0,0.3); padding:10px 25px; border-radius:25px;}
	.slides-content .button.small:after { display:none;}
	.slides-content .button.small.gray { background:none;  border: 2px solid rgba(255,255,255,0.77); box-shadow:0px 1px 5px rgba(0,0,0,0.14) inset;}
	.slides-content .button.small:hover { background:rgba(0, 0, 0, 0.4);}
	
	.max-hero h1, .max-hero h2, .max-hero h3, .max-hero h4, .max-hero h5, .max-hero h6 { color:#fff; line-height:1.2; margin-bottom:10px; text-shadow:1px 1px 2px rgba(0,0,0,0.2);}
	/*.max-hero h1, .max-hero h2 { font-weight:300;}*/ /* mexin */
	.max-hero h1 strong, .max-hero h2 strong, .max-hero h3 strong { font-weight:bold;}
	/*.max-hero h1, .max-hero h1 strong { font-size:110px; letter-spacing:-0.06em;}*/ /* mexin */
	
	.max-hero h2 { font-size:75px;}	
	.max-hero h3 { font-size:59px; padding:7px 12px; margin:20px 0; border:5px solid #fff; line-height:1; text-transform:uppercase; display:inline-block; font-weight:900; position:relative; letter-spacing:-0.06em; opacity:0.91;}
	/*.max-hero h3:after, .max-hero h3:before, .max-hero h5:before { content:""; display:block; width:80px; height:5px; margin-left:-40px; background:#fff; position:absolute; left:50%; top:-10px;}*/ /* mexin */
	/*.max-hero h3:after, .max-hero h5:after { top:auto; bottom:-10px;}*/ /* mexin */
	/*.max-hero h5:before { height:3px; opacity:0.71; background:#f6465f; width:50px; margin-left:-25px;}*/ /* mexin */
	.max-hero h5 { position:relative; /*margin-bottom:20px;*/ /* mexin */}
	.max-hero h4 { font-size:30px; letter-spacing:-0.04em; font-weight:300;}
	.max-hero h6 { font-size:17px; padding:12px 18px; margin:20px 0 30px; background:rgba(0, 0, 0, 0.3); display:inline-block; line-height:1.8;} 
	
	@media (max-width: 767px) {
	.max-hero h1, .max-hero h1 strong { font-size:48px; letter-spacing:-0.03em;}
	.max-hero h2 { font-size:40px;}	
	.max-hero h3 { font-size:35px; letter-spacing:-0.03em; line-height:1; margin-bottom:10px; padding:6px 11px;}
	.slides-content p, .video-play-btn-wrap { margin:16px auto;}
	}
	
	/* Video Play Button */
	.video-play-btn-wrap { display:block; text-align:center;}
	.video-play-btn i { background:none; font-size:32px; border-radius:50%; color:#41474d; padding: 18px 18px 16px 23px; border: 4px solid;
	 -webkit-transition: 0.3s;-moz-transition: 0.3s;-ms-transition: 0.3s;-o-transition: 0.3s;}
	.blox.dark .video-play-btn i { color:#fff;}
	.video-play-btn i:hover { color:#41474d !important; background-color:#fff !important; border:5px solid #fff !important; box-shadow:0px 1px 15px rgba(0,0,0,0.19);}
	
	
	/* Max Titles */	
	.sec-divider{ background:url(../images/dividerline1.png) center center repeat-x; margin: 25px auto 30px; display: block; position: relative; height:1px}
	.sec-divider .cir{margin: auto; width: 50px; height: 50px; border: 1px solid #d7d7d7; padding: 11px 0;text-align: center;position: relative;top: -26px; border-radius: 100px; font-size:16px; line-height:26px; color:#b5b9bc}
	.blox.dark .sec-divider {  background:url(../images/dividerline2.png) center center repeat-x;}
	.blox.dark .sec-divider .cir{border: 2px solid rgba(255, 255, 255, 0.7); color:#fff}

	.max-title, .max-title2,.max-title3, .max-title4, .max-title5{text-align: center; margin:45px auto 40px; font-weight: 400; letter-spacing: 1.6px;}
	.max-title { margin-bottom: 5px; display: inline-block; text-align:left; margin-top:40px;}
	.vc_span6 .max-title, .vc_span3 .max-title, .vc_span4 .max-title { margin-top:14px;}
	.max-title *{ font-weight: 400;position: relative;display: inline-block; color: #3b454d; font-size:21px; line-height:1.3; margin-bottom:0; letter-spacing:-0.6px; text-transform:none;}
	.max-title:after{ content: ""; margin: 6px 0 15px; width: 35px; height: 0; display: block; position: relative; border-bottom: 3px solid #494949;}
	.max-title .max-line { display:none;}

	.max-title3 { margin-bottom:35px; position:relative;}
	.max-title3 h2 { font-size: 36px; font-weight: 800; letter-spacing: -2.3px; line-height:1.24; position:relative; padding-bottom:22px;}
	.max-title3:before, .max-title3:after{ content: "";  width: 160px; height: 0; display: block; position:absolute; left:50%; margin-left:-80px; bottom:10px; border-bottom: 1px solid #d7d7d7;}
	.max-title3:after { width:70px; bottom:0; margin-left:-35px;}
	.blox.dark .max-title3:before, .blox.dark .max-title3:after { border-color:rgba(255, 255, 255, 0.76);}
	.max-title3 span, .blox .max-title3 span{color:#27ae60}
	
	
	.max-title5 *, .max-title2 *, .max-title4 *{ font-weight: bold;position: relative;display: inline-block; color: #3b454d; margin-top:20px; font-size:13px; line-height:1.3; margin-bottom:0; letter-spacing:1.6px; text-transform:uppercase;}
	.max-title5 , .max-title2 { margin-top:25px; margin-bottom:20px;} 
	.max-title2 *, .max-title4 *{ font-weight:600; font-size:19px; color:#373e44;}
	.max-title5:after, .max-title2:after, .max-title4:after, .max-title5:before{ content: ""; margin: 8px auto 20px; width: 50px; height: 0; display: block; position: relative; border-bottom: 1px solid #ff5d5e;}
	.max-title2:after, .max-title4:after { width:36px; border-bottom:1px solid #ff5d5e; margin-bottom:35px;}
	.blox.dark .max-title5 *, .blox.dark .max-title4 *{ color:#fff; border-color:#fff;}	
	.blox.dark .max-title2:after, .blox.dark .max-title4:after, .blox.dark .max-title5:before { border-color:#fff;}
	.max-title4 { text-align:left; margin-top:8px; margin-bottom:14px;}
	.max-title4 * { text-align:left; font-size:17px; letter-spacing:1px;}
	.max-title4:after { width:40px; border-bottom: 2px solid #ff5d5e; margin:0; margin-top:8px;}
	.max-title5 * { font-size:29px; font-weight:400; letter-spacing:-0.2px; text-transform:none; margin-bottom:45px; font-family:"Arapey", serif;}
	.max-title5 h2 { line-height:37px;}
	.max-title5:after, .max-title5:before { position:absolute; margin-left:-3px; left:50%; top:auto; margin-top:-24px;}
	.max-title5:before { margin-top:80px; width:100px; margin-left:-50px; border-color:#d9d9d9;}
	.max-title5:after { width:5px; height:5px; border-radius:3px; background:#ff5d5e; border:none;}
	.blox.dark .max-title5:before { border-color:rgba(255,255,255,0.48);}
	
	/* Subtitle */
	.sub-title {padding: 12px 0 14px; margin: 16px 0 20px 1px; border-bottom: 2px solid #27ae60; text-transform: uppercase; font-size: 14px; color: #777; letter-spacing: 1.2px; font-weight: bold;}
	
	/* Max Paragraph */
	.max-p {max-width: 660px; margin: 0 auto 40px; font-size: 19px; line-height: 1.7; color: #a2a5a7; font-weight: 300; text-align:center}
	.blox.blackbox .max-p {color:#808080}
	#wrap .bg-white { background:#fff;}
	
		
	
	/* Max Counter */
	.max-counter { text-align:center; color: #393A3A; font-size: 36px;}
	.max-counter.s-counter .icon-counter { color: rgba(0,0,0,0.4);margin-right: 15px; font-size:64px;}
	.blox.dark .max-counter.s-counter .icon-counter { color: rgba(15,15,16,0.25);}
	.max-counter.s-counter .max-count { font-size:78px; font-weight:300; color: rgba(0,0,0,0.64);}
	.blox.dark .max-counter.s-counter .max-count {color: rgba(255,255,255,0.92);}
	.max-counter h5 { margin-top: 15px;font-size: 13px; font-weight:600; letter-spacing:1px; text-transform:uppercase; position:relative;}
	.max-counter.s-counter h5 { text-transform:none; font-size:16px; font-weight:400; margin-top:20px;}
	.max-counter h5:after { content: ""; margin: 8px auto 20px; width: 24px; height: 0; display: block; position: relative; border-bottom: 2px solid rgba(0,0,0,0.27);}
	.max-counter.s-counter h5:after { border:none;}
	.blox.dark .max-counter.m-counter .max-count, .dark-content .max-counter.m-counter .max-count { border: 2px solid #fff;}
	.max-counter.m-counter { margin: 0 auto; padding: 20px; position:relative;}
	.max-counter.m-counter .max-count{ border: 2px solid #777; border-radius: 100%; position:relative; height: 190px;width: 190px; padding-top:82px; margin: 0 auto;display: block;vertical-align: middle;font-size: 57px; font-weight:300; -webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
	.max-counter.m-counter:hover .max-count,.blox.dark .max-counter.m-counter:hover .max-count,.dark-content .max-counter.m-counter:hover .max-count { background-color:#f08484; border-color:#f08484; color:#fff;}
	.m-counter .icon-counter, .m-counter .suf-counter, .m-counter .pre-counter { display:none}
	.max-counter.s-counter { margin-bottom:10%}
	@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.max-counter.s-counter .icon-counter { font-size:24px;}
	.max-counter.s-counter .max-count { font-size:31px;}
	}
	
	/* Max  Quote */
	.max-quote {text-align: center; padding:10px;}
	.max-quote cite{font-size: 18px; font-style:normal;}
	.max-quote small{font-size: 14px;}
	.max-quote:before { content: ''; content: none;}
	.max-quote h2{font-family:"Cardo",serif; font-size: 24px;}
	.max-quote h2:before { content: '\201C';}
	.max-quote h2:after { content: '\201D';}
	.max-quote h2:before, .max-quote h2:after {color: #FF4748;font-family: Times, serif; font-size: 30px; margin: 0 10px; font-weight: bold;}
	.blox.dark .max-quote cite{color:#aaa}
	.blox .max-quote h2{color:#32373b}
	.blox.dark .max-quote h2{color:#fff}
	
		/* Social Media */
	.blox .social-media {text-align: center}
	.blox .social-media a {text-align: center; padding: 0 10px; margin-bottom: 20px; display: inline-block;}
	.blox .social-media a i {border:2px transparent solid;font-size:4em;padding: 30px;border-radius: 50%;color: #fff;margin-bottom: 20px;display: block; -webkit-transition: all .3s ease-in-out;-moz-transition: all .8s ease-in-out;-ms-transition: all .8s ease-in-out;-o-transition: all .8s ease-in-out;transition: all .8s ease-in-out;background:rgba(15, 15, 15, 0.6)}
	.blox .social-media a:hover i {color: #fff;border:2px #fff solid;}
	.blox .social-media a span{-webkit-transition: all .8s ease-in-out; -moz-transition: all .8s ease-in-out; -ms-transition: all .8s ease-in-out; -o-transition: all .8s ease-in-out; transition: all .8s ease-in-out; color:transparent;text-transform: uppercase; font-size:16px; font-weight:600; text-shadow: 0 0 5px rgba(33, 65, 83, 1) }
	.blox .social-media a:hover span{color:#fff;}
	#social-media.active.facebook{ background: #3b5996 !important;}
	#social-media.active.twitter { background: #00acee !important;}
	#social-media.active.vimeo { background: #0dadd6 !important;}
	#social-media.active.dribble { background: #d53e68 !important;}
	#social-media.active.youtube{ background: #cb322c !important;}
	#social-media.active.pinterest{background: #cb2027 !important;}
	#social-media.active.google{background: #c3391c !important;}
	#social-media.active.linkedin { background: #0073b2 !important;}
	#social-media.active.rss{ background: #f29a1d !important;}
	#social-media.active.instagram{ background: #457399 !important;}
	#social-media.active.skype{ background: #00aaf3 !important;}
	#social-media.active.other-social { background: #ff5d5e !important;}
	#social-media.blox .social-media a span{display:none;}
	#social-media.blox .social-media a i{background:none; font-size:2em;border: 1px transparent solid; margin:0; padding:20px;}
	#social-media{transition: background-color .8s ease-in-out;-webkit-transition: background-color .8s ease-in-out;-moz-transition: background-color .8s ease-in-out;-ms-transition: background-color .8s ease-in-out;-o-transition: background-color .8s ease-in-out;}
	#social-media.blox .social-media a{margin: 20px 0;}
	#social-media.blox .social-media a:hover i {border: 1px #fff solid;}
	
	
	/* TEAM */
	.social-team { padding-bottom:14px; text-align:left; padding-left:8px;}
	.social-team i { margin: 0px 4px; background: #fff; font-size: 21px; border-radius: 50%; padding: 11px; height: 41px; width: 41px; display: inline-block; text-align: center; color: #979797; webkit-transition: all 0.25s ease;  -moz-transition: all 0.25s ease;  -ms-transition: all 0.125s ease;  -o-transition: all 0.25s ease;  transition: all 0.25s ease;}
	.our-team .social-team { border-top:1px solid #e5e5e5; padding-bottom: 6px;}
	.our-team i.fa-twitter:hover { color: #00acee;}
	.our-team i.fa-vimeo-square:hover, .our-team i.fa-vimeo:hover { color: #0dadd6;}
	.our-team i.fa-dribbble:hover { color: #d53e68;}
	.our-team i.fa-youtube:hover { color: #cb322c;}
	.our-team i.fa-pinterest:hover { color: #cb2027;}
	.our-team i.fa-linkedin:hover { color: #0073b2;}
	.our-team i.fa-rss:hover { color: #f29a1d;}
	.our-team i.fa-google-plus:hover { color: #c3391c;}
	.our-team i.fa-instagram:hover { color: #457399;}

	.our-team { position:relative; text-align: left; border-bottom: 4px solid #e5e5e5;  margin-bottom: 20px;  overflow:hidden;}
	.our-team figure { margin: 0 auto; overflow: hidden; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
	.our-team figure img { width: 100%; height: auto; border-bottom: 5px solid #e5e5e5;  min-height: 120px;  background: #e8e8e8;  min-width: 180px;  display: block;}
	.our-team h2 { font-size: 21px; line-height: 30px; margin-bottom: 12px; font-weight: 500;}
	.our-team h5 { font-size: 15px; color: #6b6b6b; line-height: 1.3; font-weight: 400; }
	.our-team p { color: #797979; font-size: 14px;}
	.our-team .social-team i { width: 30px; }
	@media only screen and (min-width: 768px) and (max-width: 960px) {
	.our-team h2 { font-size:18px; margin-top:-37px; padding:8px 12px; letter-spacing:-1px;}
	}
	
	
	/* TESTIMONIALS */

	.b-author { float: right; display: block; text-align: right;}
	.b-author img { width: 90px; height: 90px; margin-left: 5px; border-radius: 45px; float: right;}
	.b-author p { margin: 0; float: left; font-size: 17px; color: #393939; margin-top: 22px; margin-right: 10px; font-weight: 400;}
	.b-author span { color: #797979; letter-spacing: 0; font-size: 14px; font-weight: 300;}
	

	.testimonial-content p { margin: 12px; color: #444; line-height: 1.7; font-family: "Roboto Slab", Times; font-size: 21px; padding: 10px 0;}
	.testimonial { margin-bottom:20px; clear:both; min-width:220px;}
	.testimonial-content { padding: 12px; position: relative; border: 1px solid #f6f6f6; background: #f4f4f4; margin: 10px 0;}
	.container .testimonial-content p { margin:6px;}
	.testimonial-content h4 { padding:13px; line-height:1.7; color:#595959; margin-top:7px;}
	.testimonial-content h4 q { font-size: 21px; font-family: "Roboto Slab", Times; font-weight:300; color: #444; line-height: 1.7;}
	.testimonial-arrow { position:absolute; width:127px; height:14px; left: 47px; bottom: -12px;}
	.testimonial-arrow:after, .testimonial-arrow:before {content: '';display: block;position: absolute;width: 0; right:58px;height: 0; border-top: 15px solid; border-right: 18px solid transparent; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
	.testimonial-arrow:after {top: -1px; border-color: #f4f4f4 transparent transparent transparent;}
	.testimonial-arrow:before {top: 2px; border-color: #eee transparent transparent transparent;}
	.testimonial-brand { position:relative; margin:12px 16px 8px 0px;}
	.testimonial-brand img { width:90px; height:90px; border-radius:45px; float: left; margin-left: 5px; color:transparent; background:#c5c5c5 url(../images/avatr1.png) no-repeat center;}
	.testimonial-brand h5 { float: left; clear: right; margin:20px; margin-right: 10px; font-size: 17px;  color: #393939;}
	.testimonial-brand h5 strong { font-weight: 600;}
	.testimonial-brand h5 em {  font-size: 14px; font-style: normal;  font-family: Arial, Helvetica, sans-serif;}
	
	.blox.dark .testimonial-content { background:rgba(0,0,0,0.15); border:none;}
	.blox.dark .testimonial-brand img { border:none;}	
	.blox.dark .testimonial-arrow:before { top:0; border-color: rgba(0,0,0,0.15) transparent transparent transparent;}
	.blox.dark .testimonial-arrow:after { border:none;}​
	
	
	/* TESTIMONIALS Slider */

	.testimonials-slider-w .testimonial { margin-top:10px; margin-bottom:10px; text-align:center;}
	.testimonials-slider-w .testimonial-content { background:none; border:none;}
	@media only screen and (min-width: 961px) {
	.testimonials-slider-w .testimonial-content { margin-left:140px; margin-right:140px;}
	}
	.testimonials-slider-w .testimonial-content h4 { padding-bottom:55px;}
	.testimonials-slider-w .testimonial-content h4 q { font-size:22px; line-height:1.3; font-family: 'Arapey', serif; font-weight:300; font-style:italic;}
	.testimonials-slider-w .testimonial-content h4 q:before, .testimonials-slider-w .testimonial-content h4 q:after { position:absolute; font-family: Times, serif; font-size: 30px; margin: 0 7px; font-weight: bold; opacity:0.7;}
	.testimonials-slider-w .testimonial-content h4 q:before { content: '\201C'; margin-left:-26px; padding-right:3px;}
	.testimonials-slider-w .testimonial-content h4 q:after { content: '\201D'; padding-right:7px;}	
	.testimonials-slider-w .testimonial-brand h5 { margin:5px 0 0; line-height:1.5; font-size:14px;}
	.testimonials-slider-w .testimonial-arrow { display:none;}
	.testimonials-slider-w .testimonial-brand h5, .testimonials-slider-w .testimonial-brand img { float:none;}
	.blox.dark .testimonials-slider-w .testimonial-content { background:none; border:none;}

	.testimonials-slider-w.flexslider { background: transparent; text-align:center; margin-bottom:20px; max-width:960px; margin-left:auto; margin-right:auto;}
	.testimonials-slider-w.flexslider .slides { height:auto; padding:0;margin:0 auto;position:relative; overflow:initial;}
	.testimonials-slider-w.flexslider .slides li { word-break: break-word; color:#fff; list-style:none; font-size:49px;}
	.testimonials-slider-w.flexslider .slides li span{ color:#1bbc9b;}
	.testimonials-slider-w.flexslider .flex-direction-nav { display:block;}
	.testimonials-slider-w.flexslider .flex-direction-nav a { width:60px; height:60px; padding:20px; background: none; opacity: 0.65; border:2px solid rgba(0,0,0,0.6); border-radius:50%; transition: all .19s ease;}
	@media only screen and (max-width: 960px) {
	.testimonials-slider-w.flexslider .flex-direction-nav a { top:auto; bottom:-30px; right:auto; left:50%; width:40px; height:40px; padding:10px;}
	.testimonials-slider-w.flexslider .flex-direction-nav .flex-prev { margin-left:-42px;}
	.testimonials-slider-w.flexslider .flex-direction-nav .flex-next { margin-left:2px;}
	}
	.testimonials-slider-w.flexslider .flex-direction-nav a i { color:rgba(0,0,0,0.6); font-size:11px;}
	.testimonials-slider-w.flexslider .flex-direction-nav a:hover { opacity:1; background: none;}
	.testimonials-slider-w.flexslider .flex-control-nav { display:none;}
	.testimonials-slider-w.flexslider .flex-control-paging li a { display:none;}
	.blox.dark .testimonials-slider-w.flexslider .flex-direction-nav a { border:2px solid rgba(255,255,255,0.9);}
	.blox.dark .testimonials-slider-w.flexslider .flex-direction-nav a i { color:rgba(255,255,255,0.9);}
	.testimonials-slider-w.flexslider .testimonial-brand { position:relative; margin-left:auto; width:100%; margin-right:auto; text-align:center; margin-top:-68px;}
	.testimonials-slider-w.flexslider .testimonial-brand img { width:76px; height:76px; border-radius:50%; background:#fff; padding:3px; float:none; display:inline; border:1px solid #ddd; margin-top:10px;}
	.blox.dark .testimonials-slider-w.flexslider .testimonial-brand img { padding:0; border:none;}
	
	
	/*	jCarousel */
	
	.jcarousel-container { max-width: 100%; padding: 0; display: block; position: relative;}
	.jcarousel-clip { position: relative; overflow: hidden; width: 100%;}
	ul.jcarousel-list { overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px;}
	ul.jcarousel-list li { float: left; list-style: none;}
	ul.jcarousel-list li img { max-width: 100%;}
	.jcarousel-item { display: block;}
	.jcarousel-next:after, .jcarousel-prev:after { position: absolute; top: 6px; right: 6px; font-family: 'FontAwesome'; font-size: 10px; color: #fff; content: "\f054"; speak: none; font-style: normal; font-weight: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased;}
	.jcarousel-prev:after { content: "\f053";}
	.jcarousel-next:hover, .jcarousel-next:active, .jcarousel-prev:hover, .jcarousel-prev:active { background-color: #da131e;}
	.jcarousel-next-disabled, .jcarousel-next-disabled:hover, .jcarousel-prev-disabled, .jcarousel-prev-disabled:hover { background-color: #e5e8ea; cursor: auto; border-bottom-color: #e0e0e0;}
	
	/*--- our client ---*/
	.client-block { width: 100%; display: block; margin-bottom: 60px;}
	.our-clients-wrap { float: none; margin-top: 10px; position: relative;}
	.our-clients-wrap.crsl { margin-top:0; margin-left:auto; margin-right:auto; max-width:1100px;}
	.jcarousel-next, .jcarousel-prev { background-color:#818c90;   width: 22px; height: 22px; text-align: center; padding:5px; border-radius: 0 2px 2px 0;	position: absolute;	right: 0;	top: -49px;	cursor: pointer;  -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition:all 0.2s ease; }
	.jcarousel-prev { right: 23px;  border-radius: 2px 0 0 2px; }
	.jcarousel-next:after, .jcarousel-prev:after { position:absolute; width: 17px; right: 2px; font-family: 'FontAwesome'; font-size:10px; color:#fff; speak: none; font-style: normal; font-weight: normal; text-transform: none; line-height: 1;	-webkit-font-smoothing: antialiased; }
	.jcarousel-next:hover, .jcarousel-next:active,
	.jcarousel-prev:hover, .jcarousel-prev:active { background-color: #ff9900; }
	.jcarousel-next-disabled, .jcarousel-next-disabled:hover,
	.jcarousel-prev-disabled, .jcarousel-prev-disabled:hover {	background-color: #e5e8ea;	cursor: auto;  border-bottom-color:#e0e0e0; }
	.related-works .jcarousel-next,.related-works .jcarousel-prev { margin-right:10px;}
	.our-clients-wrap.crsl ul.our-clients img { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); filter: grayscale(100%); filter: gray; -webkit-filter: grayscale(1);}
	.our-clients-wrap.crsl ul.our-clients img:hover { filter: grayscale(0%); -webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); filter: grayscale(0%); filter: none; -webkit-filter: grayscale(0);}
	
	ul.our-clients { display: block; padding-left: 3px; margin: 10px 0 20px; box-shadow: 0px 2px 4px -3px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.1);}
	ul.our-clients li { list-style:none; width:20%; padding:25px 15px; text-align:center; float: left; height:130px; margin:0; vertical-align: middle; border-bottom:1px solid #e9e9e9; border-right:1px solid #e9e9e9;}
	ul.our-clients li:nth-child(5n) { border-right:none;}
	ul.our-clients li:nth-child(n+6) { border-bottom:none;}
	ul.our-clients li:nth-child(n+11) { border-top:1px solid #e9e9e9;}
	
	@media only screen and (max-width: 767px) {
	.our-clients-wrap { padding-top: 30px;}
	ul.our-clients li { width:49.979%;}
	ul.our-clients li:nth-child(5n) { border-right:1px solid #e9e9e9;}
	ul.our-clients li:nth-child(2n) { border-right:none;}
	ul.our-clients li:nth-child(n+6) { border-bottom:1px solid #e9e9e9;}
	ul.our-clients li:nth-child(n+3) { border-bottom:none;}
	ul.our-clients li:nth-child(n+5) { border-top:1px solid #e9e9e9;}
	}
		
	ul.our-clients li img { height:auto; width:auto; max-width:100%; max-height:80px; margin:0;}
	#our-clients.crsl.our-clients li { padding:0; margin-left: 20px; text-align: center; width: 168px; border:none; padding-top:35px;}
	ul.our-clients li:first-child { margin-left: 0;}
	ul.our-clients:after { clear: both;}

	

	/* Plans & Pricing */
	#wrap .ptp-pricing-table { display: block; width:auto; margin: 0 auto;}
	#wrap .ptp-pricing-table .ptp-item-container { text-align: center; margin: 12px 0; -webkit-transition: all .03s ease; -moz-transition: all .03s ease; -ms-transition: all .03s ease; -o-transition: all .03s ease; transition: all .03s ease; border: 1px solid transparent; border-radius: 6px;}
	#wrap .ptp-pricing-table .ptp-plan { background-color: #e7e7e7; font-weight: normal; font-size: 20px; margin: 0;padding: 16px;border-radius: 4px 4px 0 0; color:#425b71;}
	#wrap .ptp-pricing-table .ptp-price { padding: 8px 0; color: #fff; font-weight: bold; background: #27ae60; font-size: 12px; letter-spacing:1.2px; text-transform:uppercase;}
	#wrap .ptp-pricing-table .ptp-bullet-item { background-color:#fbfbfb; color:#979797; text-align:center; padding: 16px 0; margin: 0; font-size: 13px; font-weight: 400; border-bottom: 1px dotted #e3e3e3;}
	#wrap .ptp-pricing-table .ptp-bullet-item span{color:#425b71; font-weight:700}
	#wrap .ptp-pricing-table .ptp-item-container .ptp-cta {border-radius: 0 0 4px 4px; background-color: #f7f7f7; border-top:3px solid #f0f0f0;}
	#wrap .ptp-pricing-table .ptp-item-container .ptp-button {padding: 12px 0; border: none; background-color: transparent; color: #4f667a; font-size:12px; font-weight:bold; text-transform:uppercase;}

	#wrap .ptp-pricing-table .ptp-item-container:hover {background-color:#fff;}
	#wrap .ptp-pricing-table .ptp-item-container:hover .ptp-plan{background: #e4644b; color: #fff;}
	#wrap .ptp-pricing-table .ptp-item-container:hover .ptp-price{background: #de5440;}
	#wrap .ptp-pricing-table .ptp-item-container:hover .ptp-button { box-shadow: none; background-color:#e4644b; color:#fff}
	#wrap .ptp-pricing-table .ptp-three-col {width: 33.33333333333333%;}
	#wrap .ptp-pricing-table .ptp-four-col  {width: 25%;}
	
	
	/* OUR PROCESS SECTION */
	.our-process-wrap { min-height: 260px; margin-bottom: 40px;}
	.our-process { border-bottom: 1px dashed #e0e0e0; position: relative; height: 160px;}
	.our-process:before, .our-process:after, .our-process-item:after { content: "\f192"; position: absolute; left: -8px; bottom: -4px; font-family: 'FontAwesome'; font-size: 16px; color: #ccc;}
	.our-process:after { left: auto; bottom: -11px; right: -8px; content: "\f140";}
	.our-process.proc4level .our-process-item { width: 25%;}
	.our-process.proc5level .our-process-item { width: 20%;}
	.our-process.proc3level .our-process-item { width: 33.33%;}
	.our-process-item { height: 160px; float: left; position: relative;}
	.our-process-item:before { width: 1px; background: #e5e5e5; height: 82px; float: left; position: absolute; bottom: 0; left: 39px; content: "";}
	.our-process-item:after { bottom: -12px; left: 60%; content: "\f054"; font-size: 10px; background: none;}
	.our-process-item .our-process-content { position: absolute; left: 85px; overflow: hidden;}
	.our-process-item i { width: 78px; height: 78px; color: #7d7d86; text-align: center; font-size: 32px; float: left; padding: 20px; border-radius: 39px; border: 3px solid #e5e5e5; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}
	.our-process-item:hover i { background: #e84a52; color: #fff; border-color: #f28d93;}
	.our-process-item h5 { font-weight: 400; font-size: 17px; margin: 16px 10px 8px 0;}
	
	@media only screen and (max-width: 767px) {
	.our-process.proc4level { height: 640px;}
	.our-process.proc5level { height: 800px;}
	.our-process.proc3level { height: 480px;}
	.our-process { border: none }
	.our-process:before { display: none;}
	.our-process:after { left: 48px;}
	.our-process.proc4level .our-process-item, .our-process.proc5level .our-process-item, .our-process.proc3level .our-process-item { width: 100%;}
	.our-process-item:after { content: "\f0d7"; left: 35px; bottom: 30px; font-size: 16px;}
	.our-clients-wrap { padding-top: 110px;}
	}
	
	
	
	 /* Teaser Box */
    .teaser-box1 .image-wrapper { position: relative; overflow: hidden;}
    .teaser-box1 .image-wrapper .iconbg-w { position: absolute; top: auto; bottom:0; left: 0; width: 100%; height: 60px; text-align: center; background-color: #8ade77; color: #fff; z-index: 2; opacity:0.8;}
    .teaser-box1 .image-wrapper .iconbg-w i { color: #fff; display: block; width: 100%; height: 60px; line-height: 60px; font-size: 32px; vertical-align: middle;}
    .teaser-box1 .image-wrapper img { position: relative; display: block; height: auto; z-index: 1;}
    .teaser-box1 .content-wrapper { text-align: center; padding: 20px 25px 15px; border: 7px solid #eee; border-top: none; background: #fbfbfb;}
    .teaser-box1 a { display: block; color: #485159; overflow: hidden;}
    .teaser-box1 .content-wrapper h5, .teaser-box2 .content-wrapper h5 { margin-bottom: 0; font-size:18px; color:#888; font-weight:400; font-style:italic; font-family:"Arapey", serif;}
    .teaser-box1 .content-wrapper h5.subtitle-bg { padding: 0px 6px; display: inline-block; color: #fff;}
    .teaser-box1 .content-wrapper h4, .teaser-box2 .content-wrapper h2 { font-size: 25px; line-height: 1.1; font-weight: bold; letter-spacing:-1px;}
	.teaser-box1 .content-wrapper p, .teaser-box2 .content-wrapper p { color: #62666b; font-size:14px;}
	.teaser-box2 { text-align: left; overflow: hidden; position: relative;}
	.teaser-box2 img { max-width: 100%; height: auto;}
	.teaser-box2 .content-wrapper { padding-bottom:20px; border-bottom: 7px solid #eee;  background: #fbfbfb; z-index: 2;}
	.teaser-box2 .content-wrapper .iconbg-w { position: relative; bottom: 0; display: block; width: 50px; height: 50px; line-height: 50px; position: relative; text-align: center; margin: 0 auto 15px; border-radius: 15px;}
	.teaser-box2 .content-wrapper .iconbg-w i { font-size: 40px; line-height: 50px; color: #fff;}
	.teaser-box2 .content-wrapper h5 { background-color: #48d228; color: #fff; display: block; line-height: normal; letter-spacing: 1px; padding: 4px 20px; margin-bottom: 15px;}
	.teaser-box2 .content-wrapper h2 { padding: 2px 20px; color: #444; font-size: 24px; font-weight: bold; line-height: 26px;  margin: 0;}
	.teaser-box2 .content-wrapper p { padding: 1px 20px; color: #777; line-height: normal;  margin: 0; margin-top: 10px;}

	
	
	/* Latest from blog */
	.latest-b2 { margin:30px 0;}
	.latest-b2 a:hover { text-decoration:underline;}
	.latest-b2-img { float:left; width:140px; margin-right:15px; min-height:140px;}
	.latest-b2-cont { min-height:140px; padding-right:10px;}
	/*h3.latest-b2-title { font-size:17px; margin-bottom:9px; font-weight:700; margin-top:12px; text-transform:uppercase; line-height:1;}*/
	h3.latest-b2-title a { color:#2a2a2a;}	
	h6.latest-b2-cat, h5.latest-b2-date {font-size:12px; margin-bottom:10px; font-weight:400; margin-top:2px; letter-spacing:1px; line-height:1; text-transform:uppercase;}
	h6.latest-b2-cat a { color:#616161;}
	h5.latest-b2-date { color:#999; font-size:13px; font-weight:300; font-style:normal;}
	@media only screen and (min-width: 961px) {
	.vc_col-md-8 .col-md-6.col-lg-4, .vc_col-md-6 .col-md-6.col-lg-4, .vc_col-md-10 .col-md-6.col-lg-4,
	.vc_col-sm-8 .col-md-6.col-lg-4, .vc_col-sm-6 .col-md-6.col-lg-4, .vc_col-sm-10 .col-md-6.col-lg-4,
	.vertical-header-enabled .col-md-6.col-lg-4 { width:50%; padding-left:0;}
	}
	@media only screen and (max-width: 479px) {
	.latest-b2-img { width:100%; float:none; margin-bottom:7px;}
	}
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	h3.latest-b2-title { font-size:16px; letter-spacing:2px;}
	}
	
	/* Twitter */
	.twitter-box{ width: 100%; background: #00a0d1; text-align: center; padding: 50px 0;}
	.twitter-box i { display: inline-block; font-size: 60px; color: #fff; padding: 15px; margin: 10px 0; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
	.twitter-box h3 { font-size: 20px; color: #fff; width:80%; margin: 0 auto 30px; line-height: 1.5;}
	.twitter-box a { color:#111;}
	.twitter-box a:hover { text-decoration:underline;}
	.twitter-box a.follow-twitter { color:#fff; background: #058dc1;  border-radius: 50px; padding: 10px 30px; font-weight:400; vertical-align:middle; text-decoration:none}
	.twitter-box a.follow-twitter:hover {border: 2px solid #fff;}
	
	/* CONTACT */
	.contact-form { border: 5px solid #e9e9e9; text-align: center; padding: 20px; padding-bottom: 0; border-radius: 9px;} 
	.contact-form form {  padding: 20px 0; }
	.contact-form .field-group { text-align: left; padding: 0 20px;}
	.contact-form .input-group.first { padding-top: 20px;}
	.contact-form h5 { text-align: left; padding-left: 11px; display: inline-block;}
	.contact-form p { color: #555;}
	.contact-form input { width: auto; display: block; height: 45px; padding-left: 15px; background: #f7f7f7;}
	.contact-form textarea { display: block; width: 100%; height: 110px; padding: 5px 15px; background: #f7f7f7;}
	.contact-form .col-md-6 textarea { margin-top: 0;}
	.contact-form textarea:focus, .contact-form input:focus { background: #fff; -moz-box-shadow: 0 0 3px rgba(0,0,0,.2); -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2); box-shadow: 0 0 3px rgba(0,0,0,.2); border: 1px solid #aaa;}
	.contact-form input, .contact-form textarea { border: none; color: #555; width: 100%; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
	.blox .contact-form input, .blox .contact-form textarea { background:#fff;}
	.blox.dark .contact-form input, .blox.dark .contact-form textarea { background:rgba(0,0,0,0.8);}
	.contact-form .btnSend {  color: #444; background:none; border:3px solid #444; text-transform:uppercase; letter-spacing:0.6px; font-size: 13px; height: 48px;font-weight:500; box-shadow: none;}
	.contact-form .btnSend:hover { background: #27ae60; border-color:#27ae60; color:#fff;}
	.contact-info h5 { margin-bottom: 15px;}
	.contact-info p { margin:0; font-size: 13px; padding: 7px 0; font-weight:400; color: #555;}
	.contact-info i { font-size: 17px; margin-right: 10px; color: #e84c3d;}
	.our-map:before { content: ''; background: url(../images/map.png) repeat-x 0 0;height: 4px; overflow: hidden; width: 100%; margin: 0; display:block;}
	#nav .btnSend { background:none; padding:8px 14px; font-size:11px; font-weight:600; color:#797979; border:2px solid #e9e9e9; box-shadow:none; text-transform:uppercase;}

	.contact-form .txbx { width: 96%; height: 54px; border: 3px solid #e5e5e5; border-radius: 4px; float: none; padding-left: 14px; font-size: 16px; margin-left: 8px;}
	.contact-form .txbx:focus { border-width: 2px; border-radius: 2px;}
	.contact-form .era { min-height: 190px; max-height: 300px; width: 96%;}
	.contact-form .erabox { width: 100%; height: 100%; margin-top: 12px; padding: 20px 0; background: #fff; border-top: 5px solid #e9e9e9;}
	.contact-form .sendbtn { padding: 10px 18px; font-size: 14px; display: block; margin: auto; }
	.blox.dark .contact-form .btnSend { color:#fff; }

	.contact-form span.bad-field { font-size: 13px; margin-left: 9px; color: #edc1c1;}
	.contact-form span.bad-field.captcha { display: inherit;}
	input[type="text"].bad-field, input[type="password"].bad-field, input[type="email"].bad-field, #wrap textarea.bad-field { border: 3px solid #edc1c1;}
	input[type="text"].good-field, input[type="password"].good-field, input[type="email"].good-field, #wrap textarea.good-field { border: 3px solid #c1edc5;}
	.contact-form .g-recaptcha { display: inline-block; margin-bottom: 35px;}
	
	#contact-map { box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1) inset; border: 1px solid #d6dbdc; border-left: none; border-right: none; padding: 0; margin: 0 }
	#contact-map iframe { width: 100%; padding: 0; margin: 0; margin-bottom: -7px;}
	.contact-inf { background: url(../images/world-map2.png) no-repeat center 20px; }
	#wrap .blox .contact-inf i { margin-bottom: 10px; margin-top: 10px;}
	.widget .contact-inf { background: url(../images/world-map.png) no-repeat center center;}
	
	.row.magic { padding-left: 40px;}
	.columns.magic { padding-left: 20px;}
	.magic-link { clear: both;}
	.magic-link a { display: inline-block; font-size: 13px; width: auto; color: #fff; text-shadow: 1px 1px 0 #eb8710; border-radius: 15px; padding: 3px 22px 3px 16px; text-transform: capitalize; background: #ffa02f url(../images/rowp3.png) no-repeat right; background-position: 97% 52%; -webkit-transition: padding 0.2s ease, background 0.16s ease; -moz-transition: background 0.16s ease; -ms-transition: background 0.16s ease; -o-transition: background 0.16s ease; transition: background 0.16s ease; text-align: center;}
	.magic-link a.get { padding: 7px 26px 7px 20px; background-color: #7ebd22; border-radius: 5px; text-shadow: 1px 1px 0 #649b19; text-transform: uppercase;}
	.magic-link a.get.shadow1 { box-shadow: 0px 0px 5px #fff inset, 0 2px 3px -1px #74ad20; -webkit-box-shadow: 0px 0px 7px #fff inset, 0 2px 5px -1px #74ad20;}
	.magic-link a:hover { background-color: #4c4665; background-position: center right; text-shadow: 1px 1px 0 #666;}
	#wrap .rc-anchor.rc-anchor-standard { border:none !important; box-shadow:none; background:none;}
	
	
	/* Pie Chart */
	.easyPieChart { position: relative; text-align: center;}
	.easyPieChart canvas { position: absolute; top: 0; left: 0;}
	.pie { text-align:center; font-size:49px; position:relative; margin:0 auto 20px;}
	.pie p { font-size:16px; color:#888; font-weight:400; position:absolute; bottom:-52px; width:100%; padding-top:10px; border-top:2px solid #f9f9f9;}
	.container .pie p { margin-bottom:0;}
	

	/* Callout (Promo Box) */
	.callout { padding:34px 0; min-height:60px; margin: 8px 0 30px; position:relative; clear:both; border-width:1px 0; border-style:solid; border-color:#e5e5e5;  }
	.callout h1, .callout h2, .callout h3 {  font-weight:500; }
	.callout a { text-decoration:underline;}
	.callout a.callurl { display:block; padding:10px 30px; background:#0093d0; text-decoration:none; color:#fff; margin:4px 0 10px 15px; position:relative; float:right; border-radius:2px; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition:all 0.2s ease;}
	.callout a.callurl:hover { background:#363f46; color:#fff;}
	.container .callout p { margin:0;}
	
	
	.dpromo p { max-width:480px;}
	.dpromo img { float:right; margin-left:3px;}
	.double-btn { text-align:center;}
	.double-btn .button { margin-left:15px; margin-right:15px;}

	
	/* Distance (Vertical Spaces) */
	.vertical-space, .vertical-space1, .vertical-space2, .vertical-space3, .vertical-space4, .vertical-space5 { display: block; width: 100%; margin: 0; clear: both; border: 0 none; height: 20px;}
	.vertical-space2 { height: 40px;}
	.vertical-space3 { height: 60px;}
	.vertical-space4 { height: 80px;}
	.vertical-space5 { height: 100px;}
	*+html hr.vertical-space, *+html hr.vertical-space1, *+html hr .vertical-space2, *+html hr.vertical-space3, *+html hr.vertical-space4, *+html hr.vertical-space5 { height: 0px; margin: 10px 0; background: #fff; border: 1px solid #fff;}
	*+html hr.vertical-space2 { margin: 20px 0;}
	*+html hr.vertical-space3 { margin: 30px 0;}
	*+html hr.vertical-space4 { margin: 40px 0;}
	*+html hr.vertical-space5 { margin: 50px 0;}
		
	/* TITLE */
	h4.subtitle, .icon-top-title h2.subtitle { border-bottom: 1px solid #e5e5e5; letter-spacing:0em; font-weight:bold; text-transform:uppercase; margin:35px 0 21px 0; line-height:2; font-size:16px; padding-bottom:5px; clear:both; }
	.icon-top-title h2.subtitle.boldbrdr { border-bottom-width: 4px; }
	h4.subtitle img { float: left; margin-right: 5px; vertical-align: baseline }
	h4.subtitle.r1dd { margin-top: 20px;}
	.title { background: #fff url(../images/title-left1.png) repeat-x 0 6px; overflow: hidden; margin-bottom: 21px; clear: both;}
	.title h4, .title h3 { background: #fff; display: inline; margin-left: 18px; padding: 0 3px; font-weight: 400;  font-size: 18px;}
	h6.h-sub-content { display: inline-block; letter-spacing: 0.2px; font-size: 18px; font-weight: 400; text-transform: capitalize; border-bottom: 2px solid #e12121; line-height: 47px; margin-bottom: -2px; width: auto; max-width: 100%;}
	.sub-content span { display: inline-block; font-size: 10px; font-weight: bold; letter-spacing: 2px;}
	.sub-content { border-bottom: 2px solid #e9e9e9; position: relative; margin-bottom: 30px;}
	.mex-title { line-height: 43px; display: inline-block; padding-bottom: 20px; margin-bottom: 20px; font-weight: 100;}

	
	/*	ACCORDION */
	.acc-trigger {	border-top: 1px solid #e4e4e4; cursor: pointer; display: block; margin: 0;}
	.acc-trigger:last-of-type, .acc-container:last-of-type { border-bottom: 3px solid #f3f2f2; margin-bottom: 20px;}
	.no-js .acc-trigger:last-of-type { border-bottom: none;}
	.acc-trigger a { background: url(../images/accordion-ico.png) no-repeat 6px 18px;	display: block;	color:#656f78;	padding: 19px 14px 16px 40px; text-decoration: none; text-shadow: none; font-weight:bold; font-size:16px;}
	.acc-trigger a:hover { background-color: #fbfbfb;}
	.acc-trigger a:hover, .acc-trigger.active a, .acc-trigger.active a:hover { color: #0ab1f0;}
	.acc-trigger.active a:hover { background-color: transparent;}
	.acc-trigger.active { cursor: default;  border-top-color:#b0afaf; background-color:#fff;}
	.acc-trigger.active:last-of-type { border-bottom: none; margin-bottom: 0;}
	.acc-trigger.active a { background-position: 6px -54px; cursor: default;}
	.acc-container .content {  padding: 0 14px 21px 40px;}
	
	/* Quote of the Week */
	.qot-week { clear: both; margin: 10px 0; margin-top: 36px; padding-bottom: 18px; position: relative; text-align: center; border-top: 1px solid #e5e5e5;}
	.qot-week .qot-pic { position: relative; margin: 0 auto; margin-top: 7px; height: 40px; width: 74px;}
	.qot-week .qot-pic:before { content: '\201C'; border-top: 2px solid #c4c4c4; border-radius: 50%; font-size: 62px; color: #555; font-weight: bold; background: #fff; padding: 3px 20px; margin-top: 20px; font-family: Georgia, Times, serif }
	.qot-week h6.qot-title { text-transform: uppercase; margin: 8px 0; color: #999; display: block; clear: both; font-size: 10px; font-weight: bold;}
	.qot-week blockquote, .qot-week blockquote cite, .qot-week blockquote cite small { padding: 0; margin: 0; font-style: normal;}
	.qot-week blockquote:before { content: ''; content: none;}
	.qot-week h3 { font-family:"Roboto Slab",serif; font-size: 24px;}
	.qot-week h3:before { content: '\201C';}
	.qot-week h3:after { content: '\201D';}
	.qot-week h3:before, .qot-week h3:after { font-family: Times, serif; font-size: 30px; margin: 0 10px; font-weight: bold;}
	.qot-week cite { display: block; font-weight: 400; margin-top: 20px; font-size: 17px; color: #494949; margin-bottom: 8px;}
	.qot-week cite:before { content: '\2014\0020';}
	.column .qot-week, .columns .qot-week { margin-left: 0; margin-right: 0;}
		
	/* Prgress Bar */
	.progress-barBg { position: relative; z-index: 3; width: 100%; height: 45px; box-shadow: inset 0px 1px 3px rgba(40, 40, 40, 0.1); margin-bottom: 25.5px; background: #fff; background-image: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,.02))); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%); background-image: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%); background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000', GradientType=0 );}
	.progress-bar-box h5 { margin-bottom: 11px;}
	.progress-bar { position: absolute; top: 0; left: 0; z-index: 2; height: 45px; -webkit-animation: fillup 5s ease; -moz-animation: fillup 5s ease; -ms-animation: fillup 5s ease; -o-animation: fillup 5s ease; animation: fillup 5s ease;}
	.progress-barFill { width: 100%; height: 45px; -webkit-animation: progress 1s linear infinite; -moz-animation: progress 1s linear infinite; animation: progress 1s linear infinite; background-repeat: repeat-x; background-size: 45px 45px; background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);}
	.progress-percent { position: absolute; top: -30px; left: 100%; z-index: 1; width: 38px; margin-left: -19px; text-align: center; background: #000; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; opacity: 0; -webkit-animation: percent-show 1.7s ease 5s forwards; -moz-animation: percent-show 1.7s ease 5s forwards; -o-animation: percent-show 1.7s ease 5s forwards; animation: percent-show 1.7s ease 5s forwards;}
	.progress-percent:after { width: 8px; height: 8px; content: ' '; position: absolute; z-index: 2; top: 100%; left: 50%; margin: -4px 0 0 -4px; background: #000; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
	.progress-percent p { display: inline-block; margin: 0; color: #fff; font-size: 12px; line-height: 1;}

	.white-space { clear: both; width: 100%; height: 40px;}
	.flrdbtnshow a.button { margin-right:5px;}



	/* # PRICING-TABLE
	================================================== */
	.w-pricing-table { text-align: center; border-radius: 5px; margin-bottom: 21px; border:1px solid #e5e5e5;}
	.w-pricing-table .price-header,.w-pricing-table .price-footer {	background: #fbfbfb ; border-radius: 5px 5px 0 0;}
	.w-pricing-table .price-footer { padding-top:20px; padding-bottom:20px;  border-top: 1px solid #e5e5e5; border-radius: 0 0 5px 5px;}
	.w-pricing-table .price-footer a { margin-bottom:0px;}
	.w-pricing-table .price-header { border-bottom: 1px solid #e5e5e5;}
	.w-pricing-table ul.features { padding: 11px 16px;}
	.w-pricing-table ul.features li { list-style: none; border-top: 1px dashed #e3e3e3; padding-top:12px; font-family:Arial, sans-serif;}
	.w-pricing-table ul.features li:nth-child(1) { border: none;}
	.w-pricing-table .plan-title { text-transform:capitalize; font-family:"Open Sans"; font-weight:600; font-size: 14px; line-height: 36px; background-color: #465155; border-radius: 5px 5px 0 0;  padding: 9px 15px; margin: 0 -1px; color:#fff;}
	.w-pricing-table .plan-price {line-height: normal;  background: #fafafa;	padding: 12px 15px;	margin: 0;	border-top: 1px solid rgba(255,255,255,0.4);}
	.w-pricing-table .plan-price span {	font-weight: 700; font-size: 34px; 	color: #465155; text-shadow: 0 1px 1px rgba(255,255,255,0.3);}
	.w-pricing-table.featured .plan-title,.w-pricing-table.featured .plan-price span, .w-pricing-table.featured .plan-price small { color: #fff;}
	.plan-price small { font-size:14px; font-weight:400;}
	.w-pricing-table.featured .plan-title { line-height: 46px; background-color:#e53f51; font-size: 14px;}
	.w-pricing-table.featured .plan-price {	border-top: 1px solid #d63243;  background:#f45365; padding:15px;}
	.w-pricing-table.featured .plan-price span { font-size: 42px; text-shadow: 0 1px 1px rgba(0,0,0,0.4);}
	



	/* # Layer Slider Custom Styles
	================================================== */
	.ls-slide h1 { text-transform:uppercase; font-size:49px; font-weight: bold; }
	.ls-slide h4 { font-weight: 400; }


	
	/* # Mono Countdown
	================================================== */
	.countdown-w { text-align:center; color: #393A3A;font-size: 36px; margin: 0 auto; padding: 24px 0 20px; position:relative;}
	.countdown-w .icon-w{font-size: 24px;}
	.countdown-w .label-w{font-size: 14px; font-weight:600; letter-spacing:1px; text-transform:uppercase; position:relative;}
	.blox.dark .countdown-w .block-w {border-color:#fff;}
	.countdown-w .block-w{display: inline-block; padding-top: 30px; margin: 0 20px 20px; border: 2px solid #777; border-radius: 100%; position:relative; height: 190px;width: 190px;font-size: 49px; font-weight:bold; -webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
	.countdown-w  .block-w.done-w{border:0 none;}
	.countdown-w .count-w{padding: 24px 0 20px;}
	
	/* # Mono Testimonial slider
	================================================== */
	.testimonials-slider-w .testimonial-content h4 q { font-size:25px; font-style:italic;}
	
	
	
	/* # Di Countdown
	================================================== */	
	.countdown-w.ctd-di .block-w { border: none; width: auto; padding: 25px 0; margin-left: 20px; margin-right: 20px;}
	@media only screen and (min-width: 961px){
	.countdown-w.ctd-di span.seconds-w.block-w { width:24%;}
	}
	.countdown-w.ctd-di .icon-w { font-size: 60px; float: left;}
	.countdown-w.ctd-di .icon-w.li_calendar { color: #e49e96;}
	.countdown-w.ctd-di .icon-w.fa-clock-o { color: #c2da9f;}
	.countdown-w.ctd-di .icon-w.li_clock { color: #8dd4f0;}
	.countdown-w.ctd-di .icon-w.li_heart { color: #f690c1;}
	.countdown-w.ctd-di .count-w { padding: 0; float: left; font-size: 78px; line-height: 59px; font-weight: 100; color: #4d433a; margin-left: 6px; margin-right: 10px;}
	.countdown-w.ctd-di .minutes-w .count-w { margin-left: 0;}
	.countdown-w.ctd-di .label-w { float: left; padding-top: 20px; color: #4d433a; font-size: 15px; letter-spacing: 8px;}
	.widget .countdown-w.ctd-di { padding:0;}
	.widget .countdown-w.ctd-di .block-w { margin: 0; border-right: 1px solid rgb(77, 77, 77); border-radius: 0; padding:0 24px; height:auto;}
	.widget .countdown-w.ctd-di .block-w.seconds-w {border-right:0;}
	.widget .countdown-w.ctd-di .icon-w { font-size:36px;}
	.widget .countdown-w.ctd-di .count-w { color: #fff; font-size:48px; line-height: 36px; width: 56px;}
	.widget .countdown-w.ctd-di .days-w .count-w { width: auto;}
	.widget .countdown-w.ctd-di .label-w { color: #fff; letter-spacing: 0px; padding-top: 8px;}
	
	
	/* # Di Testimonial Slider
	================================================== */
	.ts-di.testimonials-slider-w.flexslider .flex-control-nav, .testimonials-slider-w.flexslider .flex-control-paging li a { display: block;}
	.ts-di.testimonials-slider-w .testimonial-content h4 { padding-bottom:70px;}
	.ts-di.testimonials-slider-w .testimonial-content h4 q { font-size:25px; font-style:normal;}
	.ts-di.testimonials-slider-w.flexslider .flex-control-nav { position: relative; margin-top: 30px; width: 100%; right: 0px;}
	.ts-di.testimonials-slider-w.flexslider .flex-control-paging li a.flex-active { background-color: #585858; cursor: pointer;}
	.blox.dark .ts-di.testimonials-slider-w.flexslider .flex-control-paging li a.flex-active { background-color: #fff;}
	.ts-di.testimonials-slider-w.flexslider .flex-control-paging li a { width: 10px; height: 10px; background-color: transparent; border-radius: 0 !important; border: 2px solid #585858; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
	.blox.dark .ts-di.testimonials-slider-w.flexslider .flex-control-paging li a { border-color:#fff;}
	.ts-di.testimonials-slider-w.flexslider .testimonial-brand img { padding: 0; border: none;}
	.ts-di.testimonials-slider-w.flexslider .flex-direction-nav a, .blox.dark .ts-di.testimonials-slider-w.flexslider .flex-direction-nav a { border:none;}
	.ts-di.testimonials-slider-w.flexslider .flex-direction-nav a i { font-size:32px;}
	.testimonials-slider-w .testimonial-brand h5 { font-family:'Domine', sans-serif; font-size:15px;}
	

	
	/* # Di Twitter Feed
	================================================== */
	.w-twitterfeed-di { background-color: rgb(251, 250, 250); padding: 30px 40px 30px 90px; border-radius: 5px;} 
	.w-twitterfeed-di img { width: 108px; height: 108px; border-radius: 50%; float: left; margin-right: 20px;} 
	.w-twitterfeed-di .tweets { clear: both; padding-top: 30px; list-style: none;} 
	.w-twitterfeed-di figcaption { padding-top: 41px;} 
	.w-twitterfeed-di h3 { font-size: 24px; font-weight: 700; color: #000; line-height: 24px; margin-bottom: 0;}
	.w-twitterfeed-di h4 ,.w-twitterfeed-di .tweets li { font-size: 15px; font-weight: 300; color: #000; margin-bottom: 29px; line-height: 24px;}
	.w-twitterfeed-di .tweets li.tw-item { margin-bottom: 4px;}
	.w-twitterfeed-di .tweets li.tw-timestamp { color: #999; font-size: 13px; text-transform: uppercase;}

	@media only screen and (min-width: 768px) and (max-width: 960px) {
	.w-twitterfeed-di { padding-left: 30px;}
	}
	@media only screen and (max-width: 767px) {
	.w-twitterfeed-di { padding-left: 15px;}
	}
	

	 /* # Tri Testimonial Slider
	================================================== */
	.ts-tri.testimonials-slider-w .testimonial-content h4 { padding: 20px 25px; border: 2px solid #fff; border-radius: 0; background: rgba(255,255,255,0.18);}
	.ts-tri.testimonials-slider-w .testimonial-content h4 q { padding-left:25px; padding-right:15px;}
	.ts-tri.testimonials-slider-w.flexslider .testimonial-brand { margin-top:0;}
	.ts-tri.testimonials-slider-w.flexslider .testimonial-brand img { width:110px;}
	.blox.dark .ts-tri.testimonials-slider-w.flexslider .testimonial-brand img { border:5px solid #fff;}
	.ts-tri.testimonials-slider-w .testimonial-brand h5 { font-size:18px; font-family:'Lora',serif; letter-spacing:1px;}
	.ts-tri.testimonials-slider-w.flexslider .flex-direction-nav a { width:30px; height:52px; border:none; border-radius:2px; padding: 17px 20px 17px 10px; background:#ddd; top:auto; bottom:85px; left:50%;}
	.blox.dark .ts-tri.testimonials-slider-w.flexslider .flex-direction-nav a { background:#000;  border:none;}
	.ts-tri.testimonials-slider-w.flexslider .flex-direction-nav a:hover, .blox.dark .ts-tri.testimonials-slider-w.flexslider .flex-direction-nav a:hover { background:#ef0f38;}
	.ts-tri.testimonials-slider-w.flexslider .flex-direction-nav .flex-prev { margin-left:-96px;}
	.ts-tri.testimonials-slider-w.flexslider .flex-direction-nav .flex-next { margin-left:65px; right:auto;}
	@media only screen and (min-width: 961px) {
	.ts-tri.testimonials-slider-w .testimonial-content {	margin-left: 100px;	margin-right: 100px; padding:8px 15px;} 
	}
	
	/* # Tri Countdown
	================================================== */	
	.countdown-w.ctd-tri .block-w { border:none; border-radius:0;}
	.countdown-w.ctd-tri .block-w .count-w { margin:auto; border:none; font-weight:300; border-radius:0; padding: 30px; padding-top:35px; background: rgba(255,255,255,0.14); line-height: 90px; border-radius: 67px; width: 158px; box-shadow: 0px 0px 7px rgba(0,0,0,0.028), 0px 1px 1px rgba(255,255,255,0.24) inset;}
	.countdown-w.ctd-tri .block-w i { display:none;}
	.countdown-w.ctd-tri .label-w { font-size: 29px; font-weight: 400; margin-top: 20px; text-transform:capitalize;}
	.countdown-w.ctd-tri { font-family:'Cinzel',serif;}


	
	/* # Tri Twitter Feed
	================================================== */	
	.w-twitterfeed-tri { background-color: #f9f4ed; padding: 30px 20px 40px;  box-shadow:0 0 0 4px #ddd, 0 0 0 1px #ddd inset;  border:7px solid #fff;} 
	.w-twitterfeed-tri .tw-fig img { width: 110px; height: 110px; border-radius: 50%; float: left; margin-right: 20px; border:4px solid #ee7755;} 
	.w-twitterfeed-tri .tweets { clear: both; padding-top: 30px; list-style: none;} 
	.w-twitterfeed-tri figcaption { padding-top: 41px;} 
	.w-twitterfeed-tri h3 { font-size: 24px; font-weight: 700; font-family:'Lora', serif; color: #ee7755; line-height: 24px; margin-bottom: 0;}
	.w-twitterfeed-tri a { color:#f26c47;}
	.w-twitterfeed-tri h4 a,.w-twitterfeed-tri .tweets li { font-size: 15px; font-weight: 300; color: #000; margin-bottom: 29px; line-height: 24px;}
	.w-twitterfeed-tri .tweets li.tw-item { margin-bottom: 4px;}
	.w-twitterfeed-tri .tweets li.tw-timestamp { color: #bd9699; font-size: 13px;}
	.w-twitterfeed-tri a.follow-text { margin-top: 15px; padding: 10px 25px; background-color: #fff; display: inline-block; font-family:'Lora', serif; font-size: 16px; font-weight: 400; color: #555; border-radius: 33px; text-align: center; width:100%; box-shadow:0 0 0 3px #fff, 0 0 0 1px #f0a893 inset;  border:3px solid #fdcdbf;}
	.w-twitterfeed-tri a.follow-text:hover { border-color: #ee7755;}
	.w-twitterfeed-tri.w-mirror figure.tw-fig img { float: right; margin-left: 20px; margin-right: 0;}
	.w-twitterfeed-tri.w-mirror figcaption { float: right; text-align:right;}
	.w-twitterfeed-tri.w-mirror .tweets li { text-align:right;}
	

	/* # Tetra Testimonial Slider
	================================================== */
	.ts-tetra.testimonials-slider-w .testimonial-content h4 { padding-bottom:0;}
	.ts-tetra.testimonials-slider-w .testimonial-content h4 q { font-size:25px; font-style:normal; color:#202020;}
	.ts-tetra.testimonials-slider-w.flexslider .testimonial-brand { margin-top:0;}
	.ts-tetra.testimonials-slider-w.flexslider .testimonial-brand img { width:76px; border-radius:0; border:4px solid #dfa948; padding:0; margin-bottom:14px;}
	.blox.dark .ts-tetra.testimonials-slider-w.flexslider .testimonial-brand img { border:5px solid #fff;}
	.ts-tetra.testimonials-slider-w .testimonial-brand h5 { font-size:18px; font-family:'Lora',serif; letter-spacing:1px;}
	.ts-tetra.testimonials-slider-w.flexslider .flex-direction-nav a { border-width:3px; border-radius:0; padding: 13px; width: 50px; height: 50px;}
	.ts-tetra.testimonials-slider-w.flexslider .flex-direction-nav a i { font-size:13px;}
	.ts-tetra.testimonials-slider-w.flexslider .flex-control-nav { display:inline-block; position: static;}
	.ts-tetra.testimonials-slider-w.flexslider .flex-control-paging li { margin:0 2px; line-height:10px;}
	.ts-tetra.testimonials-slider-w.flexslider .flex-control-paging li a { display:inline-block; width:25px; height:4px; background:#d6d6d6; border:none; border-radius:0;}
	.ts-tetra.testimonials-slider-w.flexslider .flex-control-paging li a.flex-active { background:#dfa948;}

	@media only screen and (min-width: 961px) {
	.ts-tetra.testimonials-slider-w .testimonial-content { margin-left: 100px; margin-right: 100px; padding:8px 15px;} 
	}
	@media only screen and (max-width: 960px) {
	.ts-tetra.testimonials-slider-w.flexslider .flex-direction-nav a { padding: 7px; width: 36px; height: 36px; bottom:-40px;}
	 }
	
	
 
	/* # Latest From Blog (ExtentBase)
	================================================== */
	.latest-b2 { margin:30px 0;}
	.latest-b2 a:hover { text-decoration:underline;}
	.latest-b2-img { float:left; width:140px; margin-right:15px; min-height:140px;}
	.latest-b2-cont { min-height:140px; padding-right:10px;}
	h3.latest-b2-title { font-size:17px; margin-bottom:9px; font-weight:700; margin-top:12px; text-transform:uppercase; line-height:1;}
	h3.latest-b2-title a { color:#2a2a2a;}	
	h6.latest-b2-cat, h5.latest-b2-date {font-size:12px; margin-bottom:10px; font-weight:400; margin-top:2px; letter-spacing:1px; line-height:1; text-transform:uppercase;}
	h6.latest-b2-cat a { color:#616161;}
	h5.latest-b2-date { color:#999; font-size:13px; font-weight:300; font-style:normal;}
	@media only screen and (min-width: 961px) {
	.vc_col-md-8 .col-md-6.col-lg-4, .vc_col-md-6 .col-md-6.col-lg-4, .vc_col-md-10 .col-md-6.col-lg-4,
	.vc_col-sm-8 .col-md-6.col-lg-4, .vc_col-sm-6 .col-md-6.col-lg-4, .vc_col-sm-10 .col-md-6.col-lg-4,
	.vertical-header-enabled .col-md-6.col-lg-4 { width:50%; padding-left:0;}
	}
	@media only screen and (max-width: 479px) {
	.latest-b2-img { width:100%; float:none; margin-bottom:7px;}
	}
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	h3.latest-b2-title { font-size:16px; letter-spacing:2px;}
	}
	
	/* # Latest from blog - Type=One
	================================================== */
	.container.latestposts-one { margin:0 -10px;}
	@media only screen and (min-width: 1200px) {
	.container.latestposts-one { margin:0 -15px;}
	}
	.latestposts-one .latest-b {margin-bottom:5px; position:relative;}
	.latestposts-one .latest-content {background: #fff; padding: 15px 0 5px;}
	.latestposts-one .latest-b-cat { position: absolute; top: 0; background: #ff6c6d; padding: 5px 15px; color:#fff }
	.latestposts-one .latest-b-cat a { font-style:normal; font-size:13px; font-weight:600; color:#fff;}
	.latestposts-one .latest-b-cat a:hover { text-decoration:underline;}
	.latestposts-one .latest-date {padding-bottom: 5px;margin-bottom: 0;color: #737478;}
	.latestposts-ros  .latest-content p.latest-icons {position: absolute; top: 0px; right: 11px; background: #333; color: #fff; padding: 4px 8px;  visibility:hidden; opacity:0; transition:opacity 0.2s linear;}
	.latestposts-one .latest-b:hover .latest-content p.latest-icons { visibility:visible; opacity:1;}
	.latestposts-one .latest-content p.latest-icons span{padding: 5px;}
	.latestposts-one .latest-content p.latest-icons span i{padding-right: 4px; font-size:12px;}
	.latestposts-one .latest-title {font-size: 21px; font-weight: 700; line-height: 1.3; letter-spacing:-1px;}
	.latestposts-one .latest-title a {color: #3b454d;}
	.latestposts-one .latest-title a:hover {color: #ff6c6d;}
	.latestposts-one .latest-img img{width:100%; height:auto !important;}
	.latestposts-one p { font-family:'lora', 'Open Sans', sans-serif; font-size:15px; line-height:1.55;}
	.latestposts-one .latest-author, .latestposts-one .latest-author a { font-size:13px; margin-bottom: 5px; font-style: italic; color: #a1a1a1;}
	
	/* # Latest from blog - Type=Two
	================================================== */
	.container.latestposts-two { margin:0 -10px;}
	@media only screen and (min-width: 1200px) {
	.container.latestposts-two { margin:0 -15px;}
	}
	.latestposts-two .blog-post img, .blog-post iframe, .blog-single-post img, .blog-single-post iframe { border-bottom: none;}
	.latestposts-two .entry-meta, .entry-content { float: left; margin-bottom: 8px;}
	.latestposts-two .blog-post { border:none; margin-bottom:10px;}
	.latestposts-two .blog-date-sec { border-right: none; padding-right: 0;}
	.latestposts-two .blog-post .blog-date-sec img { width: 50px; height: 50px; border-radius: 50%; margin-top:3px;}
	.latestposts-two .blog-date-sec { border-right: none; padding-right: 15px; float: left; min-width:80px;}
	.latestposts-two .blog-post p.blog-author { padding-top: 5px; margin-bottom: 15px; font-size: 13px; font-weight: 400; color: #a1a1a1; font-family:'Open Sans', sans-serif; letter-spacing:0; text-transform:none;}
	.latestposts-two .blog-post p.blog-author a { font-size:13px; color:#a1a1a1; text-transform:capitalize; letter-spacing:0;}
	.latestposts-two .blog-post .tline-date.lfb2 { color:#a1a1a1;}
	.latestposts-two .blog-post p.blog-author a:hover { color:#ff6c6d;}
	.latestposts-two .blog-post p strong { font-weight:bold;}
	.latestposts-two .blog-post h4 { font-size: 26px; font-weight: bold; margin-bottom: 12px;}
	.latestposts-two .blog-line p.blog-cat a { color: #ff6c6d;}
	.latestposts-two .blog-post .entry-content p.blog-detail { color: #444; font-weight:400; font-size:15px; line-height:1.6; padding-right:14%;}
	.latestposts-two .blog-line p.blog-cat a { font-weight: 600; font-size:13px; letter-spacing:0; text-transform:capitalize;}
	.latestposts-two .blog-line h4 { font-weight: bold; letter-spacing:-1px; font-size:18px; line-height:1.3;}
	.latestposts-two .blog-line p { font-size: 12px;}
	.latestposts-two .blog-line:hover h4 a { color: #ff6c6d;}
	.latestposts-two .blog-line:hover .img-hover:before { -webkit-box-shadow: inset 0 0 0 5px ; -moz-box-shadow: inset 0 0 0 5px ; box-shadow: inset 0 0 0 5px ; color:#ff6c6d;}
	.latestposts-two .blog-line p strong { font-size:12px; font-weight:300;}
	.latestposts-two .blog-post img { margin:0; padding:0;} 
	.latestposts-two .blog-post .pad-r20 a { position:relative; display:inline-block;}
	.latestposts-two .col-md-5:last-child .blog-line { border-bottom:none;}
	
	/* # Latest from blog - Type=Three & Seven
	================================================== */
	.container.latestposts-three, .container.latestposts-seven { margin:0 -10px;}
	@media only screen and (min-width: 1200px) {
	.container.latestposts-three, .container.latestposts-seven { margin:0 -15px;}
	}
	.latestposts-three .latest-b2 { margin:0 0 15px; border:1px solid #e1e1e1;}
	.latestposts-three .latest-b2-img, .latestposts-seven .latest-b2-img { float:none; width:auto; margin:-1px; min-height:1px;}
	.latestposts-three .latest-b2-cont { min-height:1px; padding:20px;}
	.latestposts-three .latest-b2-metad2 { border-top:1px solid #e1e1e1; margin:-20px; padding:20px; color:#a1a1a1; letter-spacing:0; font-weight:400; font-size:13px;}
	.latestposts-three .latest-b2-metad2 i { margin-right:3px;}
	.latestposts-three .latest-b2-cont a.readmore { display:none;}
	.latestposts-three .latest-b2-cont p { color:#999; line-height:1.5; font-size:15px; font-weight:400; font-family:'Lora', Sans-serif;}
	.latestposts-three h3.latest-b2-title { font-size:21px; margin-top:2px; text-transform:none; letter-spacing:-1px; font-weight:bold; line-height:1.3;}
	.latestposts-three h3.latest-b2-title a { color:#292929; text-decoration:none;}
	.latestposts-three h3.latest-b2-title a:hover { color: #ff6c6d;}
	.latestposts-three h6.latest-b2-cat, h5.latest-b2-date { font-size: 13px; font-weight: 600; text-transform: none; letter-spacing: 0;} 
	.latestposts-three h6.latest-b2-cat a { color: #ff6c6d;}
	.latestposts-three .latest-b2-metad2 span { padding:0 4px;}

	.latestposts-seven .latest-b2-img img { border-bottom: 2px solid #e5e5e5; }
	.latestposts-seven h3.latest-b2-title { font-weight:400; line-height:1.3; font-family:"Roboto Slab"; font-size: 17px; line-height: 24px; text-transform: none; } 
	.latestposts-seven h3.latest-b2-title a { color: #444; }
	.latestposts-seven .latest-b2-cont { min-height: 60px; }
	
	/* # Latest from blog - Type=Four
	================================================== */
	.container.latestposts-four { margin:0 -10px;}
	@media only screen and (min-width: 1200px) {
	.container.latestposts-four { margin:0 -15px;}
	}
	.latestposts-four .latest-b2 { margin:10px 0 0;}
	@media only screen and (min-width: 961px) {
	.latestposts-four .col-md-6 { padding-left:35px;}
	.latestposts-four .col-md-6:first-of-type { border-right:1px solid #e7e7e7; padding-left:0; padding-right:45px;}
	}
	.latestposts-four .col-md-9 { padding:0;}
	.latestposts-four .latest-b2-img { float:none; width:100%; margin:0; min-height:auto;}
	.latestposts-four .latest-b2-cont { min-height:20px; position:relative;}
	.latestposts-four .latest-b2 .au-avatar img { width:75px; height:75px; border:3px solid #eee; margin-bottom:12px;}
	.latestposts-four .latest-b2 h6.blog-date { margin-bottom:12px;}
	.latestposts-four .latest-b2 h6.blog-author { margin-bottom:45px; letter-spacing:0; line-height:1.5; font-size:17px; color:#222;}	
	.latestposts-four .latest-b2 h6.blog-author strong { color:#a1a1a1; font-size: 13px; font-weight: 400;}
	.latestposts-four .latest-b2 h6.latest-b2-cat { display:inline-block; padding:12px 16px 10px; background:#ff6c6d; color:#fff;}
	.latestposts-four .latest-b2 h6.latest-b2-cat a { color:#fff;}
	.latestposts-four .latest-b2-img { padding-left:15px;}
	.latestposts-four .latest-b2-img img { margin-bottom:14px; border-top: 5px solid #e1e1e1;}
	.latestposts-four h3.latest-b2-title { font-size: 21px; padding: 5px 15px; line-height: 1.25; margin-top: -37px; text-transform: none; font-weight: 700; letter-spacing: -1px; background: #fff; margin-left: 40px; margin-right: 20px; border-top: 5px solid #e1e1e1;}
	.latestposts-four h3.latest-b2-title a { color:#292929;}
	.latestposts-four h3.latest-b2-title a:hover { color:#ff6c6d; text-decoration:none;}
	.latestposts-four h6.latest-b2-cat, .latestposts-four h5.latest-b2-date { font-size:10px;}
	.latestposts-four .latest-b2 .vertical-space { height:2px;}
	@media only screen and (max-width: 960px) {
	.latestposts-four .latest-b2 .au-avatar { float:left; margin-right:20px;}
	.latestposts-four .latest-b2 h6.blog-author { margin-bottom:5px; font-size:15px; font-weight:600;}
	.latestposts-four .latest-b2 h6.latest-b2-cat { display:inline-block; padding:6px 12px 5px;}
	.latestposts-four .latest-b2-img { padding-left:0; clear:both;}
	.latestposts-four .latest-b2-img img { width:100%;}
	.latestposts-four .col-md-6:first-of-type { border-bottom:1px solid #e7e7e7;}	
	}	
	@media only screen and (max-width: 767px) {
	.latestposts-four h3.latest-b2-title { margin-left:16px; margin-right:16px; padding-left:10px; padding-right:10px;}
	}
	
	/* # Latest from blog - Type=Five
	================================================== */
	.container.latestposts-five { margin:0 -10px;}
	@media only screen and (min-width: 1200px) {
	.container.latestposts-five { margin:0 -15px;}
	}
	.latestposts-five .latest-b2 { margin:30px 0;}
	.latestposts-five h3.latest-b2-title { font-size:18px; text-transform:none; letter-spacing:-1px; line-height:1.2;} 
	.latestposts-five h6.latest-b2-cat { font-size:13px; text-transform:none; letter-spacing:0; font-weight:600;}
	.latestposts-five h6.latest-b2-cat a { color:#ff6c6d;}
	.latestposts-five h6.latest-b2-cat a:hover { text-decoration:underline;}
	.latestposts-five h5.latest-b2-date { font-size:11px; text-transform:uppercase;}
	
	/* # Latest from blog - Type=Six
	================================================== */
	.container.latestposts-six { margin:0 -10px;}
	@media only screen and (min-width: 1200px) {
	.container.latestposts-six { margin:0 -15px;}
	}
	.latestposts-six .latest-b {margin-bottom:15px; border:1px solid #e1e1e1;}
	.latestposts-six .latest-img { margin:-1px; width:auto;}
	.latestposts-six .latest-content {background: #fff; padding: 15px; padding-bottom:10px;}
	.latestposts-six .latest-content p.latest-date { margin-bottom: 5px; color: #ff6c6d; font-size:13px; font-weight:600;}
	.latestposts-six .latest-title {font-size: 18px;font-weight: 700;line-height: 1.2; letter-spacing:-1px;}
	.latestposts-six .latest-title a {color: #3b454d;}
	.latestposts-six .latest-title a:hover {color: #ff6c6d;}
	.latestposts-six .latest-img img{width:100%; height:auto !important;}
	.latestposts-six .latest-author {margin-bottom:10px; font-size:13px; color: #a1a1a1;}
	.latestposts-six .latest-author a {color: #a1a1a1;}
	.latestposts-six .latest-author a:hover {color: #ff6c6d; text-decoration:underline;}
	
	
    /* # PostBox
	================================================== */
	.a-post-box { position:relative; overflow:hidden;}
	.a-post-box .latest-txt { position: absolute; bottom: 0; padding: 24px; transition: all .5s ease-in-out;}
	.a-post-box .latest-title { font-size: 21px; margin-bottom: 16px; font-weight: 700; letter-spacing: -1px; line-height: 1.2;}
	.a-post-box .latest-title a { color:#fff;}
	.a-post-box .latest-title a:hover { color:#ff6c6d}
	.a-post-box .latest-cat { background: #ff6c6d; padding:3px 5px 5px; color: #fff; border: none; letter-spacing: 0; transition: all .5s ease-in-out;}
	.a-post-box .latest-cat a { padding: 0 5px; color: #fff; font-size: 13px; font-weight: 600;}
	.a-post-box .latest-meta {  font-size: 13px; color: #fff; margin:20px 0 0 15px;}
	.a-post-box .latest-meta span { margin-right: 10px;}
	.a-post-box .latest-meta .latest-date { font-size:13px; font-weight:600; color:#b7b7b7;}
	.a-post-box .latest-content { color: #fff; margin-top: 30px;}
	.a-post-box .latest-img img { width:100%;}
	.a-post-box .latest-overlay  { height: 100%; background-color: rgba(36, 36, 36, 0.4); position: absolute; width: 100%; bottom: 0;}
	.container.a-post-box { margin: 0 -10px;}
	.vc_col-sm-4 .a-post-box .latest-author, .vc_col-sm-4 .a-post-box .latest-views, .vc_col-sm-4 .a-post-box .latest-comments { display:none;}
	.vc_col-sm-4 .a-post-box .latest-title, .wpb_column .wpb_column .a-post-box .latest-title  { font-size: 18px;}
	.vc_col-sm-3 .a-post-box .latest-title { font-size: 15px; letter-spacing:-0.5px;}
	.vc_col-sm-3 .a-post-box .latest-txt { padding:20px;}
	.vc_col-sm-3 .a-post-box .a-post-box .latest-meta { margin-left:10px;}
	.vc_col-sm-6 .a-post-box .latest-img, .vc_col-lg-6 .a-post-box .latest-img { border-bottom:1px solid #575757;}
	.vc_col-sm-6 .wpb_row.vc_row-fluid .wpb_column .a-post-box .latest-img, .vc_col-lg-6 .wpb_row.vc_row-fluid .wpb_column .a-post-box .latest-img { border-bottom:none;}
	@media only screen and (max-width: 479px) {
	.a-post-box .latest-txt { padding:10px;}
	.a-post-box .latest-title { font-size: 16px;}
	.a-post-box .latest-meta { display:block;}
	}
	

	

	/* #Bootstrap elements
	================================================== */
	.dropup, .dropdown { position: relative;}
	.dropdown-toggle { *margin-bottom: -3px;}
	.dropdown-toggle:active, .open .dropdown-toggle { outline: 0;}
	.caret { display: inline-block; width: 0; height: 0; vertical-align: top; border-top: 4px solid #000000; border-right: 4px solid transparent; border-left: 4px solid transparent; content: ""; opacity: 0.3; filter: alpha(opacity=30);}
	.dropdown .caret { margin-top: 8px; margin-left: 2px;}
	.dropdown:hover .caret, .open .caret { opacity: 1; filter: alpha(opacity=100);}
	.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 4px 0; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px; *border-bottom-width: 2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box;}
	.dropdown-menu.pull-right { right: 0; left: auto;}
	.dropdown-menu .divider { *width: 100%; height: 1px; margin: 8px 1px; *margin: -5px 0 5px; overflow: hidden; background-color: #e5e5e5; border-bottom: 1px solid #ffffff;}
	.dropdown-menu a { display: block; padding: 3px 15px; clear: both; font-weight: normal; line-height: 18px; color: #7a7f83; white-space: nowrap;}
	.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover { color: #ffffff; text-decoration: none; background-color: #1eb1e4;}
	.open { *z-index: 1000;}
	.open > .dropdown-menu { display: block;}
	.pull-right > .dropdown-menu { right: 0; left: auto;}
	 .well, .promobox { min-height: 20px; padding: 19px; margin-bottom: 20px; background-color: #f9f9f9; border: 1px solid #e1e7ec; border: 1px solid rgba(0, 0, 0, 0.05); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);}
	.well blockquote { border-color: #e5e5e5; border-color: rgba(0, 0, 0, 0.15);}
	.well blockquote:before, blockquote.well:before { content:""; content:none;}
	.well-large { padding: 24px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
	.well-small { padding: 9px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
	.promobox { background: #fdfdfd; padding-bottom: 11px;} .promobox button, .promobox .button { float:right;}
	.collapse { position: relative; height: 0; overflow: hidden; -webkit-transition: height 0.35s ease; -moz-transition: height 0.35s ease; -ms-transition: height 0.35s ease; -o-transition: height 0.35s ease; transition: height 0.35s ease;}
	.collapse.in { height: auto;}
	.close { float: right; font-size: 20px; font-weight: bold; line-height: 18px; color: #000000; text-shadow: 0 1px 0 #ffffff; opacity: 0.2; filter: alpha(opacity=20);}
	.close:hover { color: #000000; text-decoration: none; cursor: pointer; opacity: 0.4; filter: alpha(opacity=40);}
	.nav { margin-bottom: 18px; margin-left: 0; list-style: none;}
	.nav > li > a { display: block;}
	.nav > li > a:hover { text-decoration: none; background-color: #e1e7ec;}
	.nav > .pull-right { float: right;}
	.nav .nav-header { display: block; padding: 3px 15px; font-size: 11px; font-weight: bold; line-height: 18px; color: #999999; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); text-transform: uppercase;}
	.nav li + .nav-header { margin-top: 9px;}
	.nav-list { padding-right: 15px; padding-left: 15px; margin-bottom: 0;}
	.nav-list > li > a, .nav-list .nav-header { margin-right: -15px; margin-left: -15px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
	.nav-list > li > a { padding: 3px 15px;}
	.nav-list > .active > a, .nav-list > .active > a:hover { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); background-color: #0088cc;}
	.nav-list [class^="icon-"] { margin-right: 2px;}
	.nav-list .divider { *width: 100%; height: 1px; margin: 8px 1px; *margin: -5px 0 5px; overflow: hidden; background-color: #e5e5e5; border-bottom: 1px solid #ffffff;} .nav-tabs, .nav-pills { *zoom: 1;}
	.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after { display: table; content: "";}
	.nav-tabs:after, .nav-pills:after { clear: both;}
	.nav-tabs > li, .nav-pills > li { float: left;}
	.nav-tabs > li > a, .nav-pills > li > a { padding-right: 18px; padding-left: 18px;line-height: 14px;}
	.nav-tabs { border-bottom: 1px solid #e5e5e5;}
	.nav-tabs > li { margin-bottom: -1px;}
	.nav-tabs > li > a { padding-top: 12px; background:#f7f7f7; padding-bottom: 12px; color:#555; line-height: 18px; border: 1px solid #e5e5e5; border-right:0 none; font-family:Arial, Helvetica, sans-serif; font-size:13px;}
	.nav-tabs > li > a:hover { background:#fbfbfb;}
	.nav-tabs > .active > a, .nav-tabs > .active > a:hover { cursor: default; background-color: #ffffff; border: 1px solid #e5e5e5; border-bottom: 0 none; padding-top:20px; margin-top:-7px;}
	.nav-pills > li > a { padding-top: 8px; padding-bottom: 8px; margin-top: 2px; margin-bottom: 2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
	.nav-pills > .active > a, .nav-pills > .active > a:hover { color: #ffffff; background-color: #0088cc;}
	.nav-stacked > li { float: none;}
	.nav-stacked > li > a { margin-right: 0;}
	.nav-tabs.nav-stacked { border-bottom: 0;}
	.nav-tabs.nav-stacked > li > a { border: 1px solid #e5e5e5; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
	.nav-tabs.nav-stacked > li:first-child > a { -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;}
	.nav-tabs.nav-stacked > li:last-child > a { -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;}
	.nav-tabs.nav-stacked > li > a:hover { z-index: 2; border-color: #e5e5e5;}
	.nav-pills.nav-stacked > li > a { margin-bottom: 3px;}
	.nav-pills.nav-stacked > li:last-child > a { margin-bottom: 1px;}
	.nav-tabs .dropdown-menu { -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;}
	.nav-pills .dropdown-menu { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
	.nav-tabs .dropdown-toggle .caret, .nav-pills .dropdown-toggle .caret { margin-top: 6px; border-top-color: #0088cc; border-bottom-color: #0088cc;}
	.nav-tabs .dropdown-toggle:hover .caret, .nav-pills .dropdown-toggle:hover .caret { border-top-color: #005580; border-bottom-color: #005580;}
	.nav-tabs .active .dropdown-toggle .caret, .nav-pills .active .dropdown-toggle .caret { border-top-color: #333333; border-bottom-color: #333333;}
	.nav > .dropdown.active > a:hover { color: #000000; cursor: pointer;}
	.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover { color: #ffffff; background-color: #999999; border-color: #999999;}
	.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret { border-top-color: #ffffff; border-bottom-color: #ffffff; opacity: 1; filter: alpha(opacity=100);}
	.tabs-stacked .open > a:hover { border-color: #999999;}
	.tabbable { *zoom: 1;}
	.tabbable:before, .tabbable:after { display: table; content: "";}
	.tabbable:after { clear: both;}
	.tab-content { overflow: auto; border:1px solid #e5e5e5; border-top:0 none; padding-top:18px; margin-top:-18px;}
	.tab-content .columns { max-width:100%;}
	.tab-content .columns p { padding:0;}
	.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs { border-bottom: 0;}
	.tab-content > .tab-pane, .pill-content > .pill-pane { display: none; padding:15px 25px;}
	.tab-content > .active, .pill-content > .active { display: block;}
	.tabs-below > .nav-tabs { border-top: 1px solid #e5e5e5;}
	.tabs-below > .nav-tabs > li { margin-top: -1px; margin-bottom: 0;}
	.tabs-below > .nav-tabs > li > a { -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;}
	.tabs-below > .nav-tabs > li > a:hover { border-top-color: #e5e5e5; border-bottom-color: transparent;}
	.tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover { border-color: transparent #e5e5e5 #e5e5e5 #e5e5e5;}
	.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li { float: none;}
	.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a { min-width: 190px; margin-right: 0; margin-bottom: 3px; text-transform:uppercase; font-size:12px; font-weight:bold; border-left:0 none; background:#fdfdfd; color:#838383;}
	.tabs-left > .nav-tabs { float: left; margin-right:-1px; padding-top:40px;}
	.tabs-left > .nav-tabs > li > a { margin-right: -1px; border: 1px solid #e5e5e5; padding:10px; margin:0; border-left:0 none;}
	.tabs-left > .nav-tabs > li > a:hover { border-bottom:1px solid #e5e5e5; color:#444;}
	.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover { border-bottom:1px solid #e5e5e5; border-right-color: #ffffff; padding:10px; border-left:0 none; margin:0; color:#333; background:#fff;}
	.tabs-right > .nav-tabs { float: right; border-left: 1px solid #e5e5e5;}
	.tabs-right > .nav-tabs > li > a { margin-left: -1px; border: 1px solid #e5e5e5;}
	.tabs-right > .nav-tabs > li > a:hover { border-color: #e5e5e5 #e5e5e5 #e5e5e5 #e5e5e5; border-width:1px;}
	.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover { border-color: #e5e5e5 #e5e5e5 #e5e5e5 transparent; *border-left-color: #ffffff;} .tabs-right > .tab-content, .tabs-left > .tab-content, .tabs-below > .tab-content { margin:0; padding:4px; padding-top:10px; display:block; border:0 none; border-left:1px solid #e5e5e5; box-shadow : 0 0 0 0;}
	.tabs-below > .tab-content { border:1px solid #e5e5e5; border-bottom:0 none;}
	 .tooltip { position: absolute; z-index: 1020; display: block; padding: 5px; font-size: 11px; opacity: 0; filter: alpha(opacity=0); visibility: visible;}
	.tooltip.in { opacity: 0.8; filter: alpha(opacity=80);}
	.tooltip.top { margin-top: -2px;}
	.tooltip.right { margin-left: 2px;}
	.tooltip.bottom { margin-top: 2px;}
	.tooltip.left { margin-left: -2px;}
	.tooltip.top .tooltip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top: 5px solid #000000; border-right: 5px solid transparent; border-left: 5px solid transparent;}
	.tooltip.left .tooltip-arrow { top: 50%; right: 0; margin-top: -5px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid #000000;}
	.tooltip.bottom .tooltip-arrow { top: 0; left: 50%; margin-left: -5px; border-right: 5px solid transparent; border-bottom: 5px solid #000000; border-left: 5px solid transparent;}
	.tooltip.right .tooltip-arrow { top: 50%; left: 0; margin-top: -5px; border-top: 5px solid transparent; border-right: 5px solid #000000; border-bottom: 5px solid transparent;}
	.tooltip-inner { max-width: 200px; padding: 3px 8px; color: #ffffff; text-align: center; text-decoration: none; background-color: #000000; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
	.tooltip-arrow { position: absolute; width: 0; height: 0;}
	.pull-right { float: right;}
	.pull-left { float: left;}
	.hide { display: none;}
	.show { display: block;}
	.invisible { visibility: hidden;}
	.pagination2 { height: 36px; margin: 18px 0;}
	.pagination2 ul { display: inline-block; *display: inline; margin-bottom: 0; margin-left: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; *zoom: 1; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);}
	.pagination2 li { display: inline;}
	.pagination2 a { float: left; padding: 0 14px; line-height: 34px; text-decoration: none; border: 1px solid #e5e5e5; border-left-width: 0;}
	.pagination2 a:hover, .pagination2 .active a { background-color: #f5f5f5;}
	.pagination2 .active a { color: #999999; cursor: default;}
	.pagination2 .disabled span, .pagination2 .disabled a, .pagination2 .disabled a:hover { color: #999999; cursor: default; background-color: transparent;}
	.pagination2 li:first-child a { border-left-width: 1px; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px;}
	.pagination2 li:last-child a { -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0;}
	.pagination2-centered { text-align: center;}
	.pagination2-right { text-align: right;}
	 .alert { padding: 8px 35px 8px 36px; background:url(../images/alert-notice-ico.png) no-repeat; background-position: 9px 50%; margin-bottom: 18px; color: #c09853; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #fcf8e3; border: 2px solid #f3d9a6; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
	.alert img { float: left; margin:-2px 6px 4px -4px;}
	.alert-heading { color: inherit;}
	.alert .close { position: relative; top: -2px; right: -21px; line-height: 18px;}
	.alert-success { width: 96%; margin-left: 8px; color: #699801; background:url(../images/alert-success-ico.png) no-repeat; background-position: 8px 50%; background-color: #e0f0bd; border-color: #afd65f;}
	.alert-danger, .alert-error { color: #b94a48; background:url(../images/alert-error-ico.png) no-repeat; background-position: 9px 50%; background-color: #fce6e9; border-color: #ed9aa3;}
	.alert-info { color: #3a87ad; background:url(../images/alert-info-ico.png) no-repeat; background-position: 9px 50%; background-color: #d9edf7; border-color: #98cdd8;}
	.alert-block { padding-top: 14px; padding-bottom: 14px;}
	.alert-block > p, .alert-block > ul { margin-bottom: 0;}
	.alert-block p + p { margin-top: 5px;}
	button.close { padding:0; margin:0; border:0; background:none; box-shadow:none !important;}
	table { max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0;}
	.table { width: 100%; margin-bottom: 18px;}
	.table th, .table td { padding: 8px; line-height: 18px; text-align: left; vertical-align: top; border-top: 1px dotted #e5e5e5;}
	.table th { font-weight: bold;}
	.table thead th { vertical-align: bottom; border-top:0 none; background:#f7f7f7;}
	 .table tbody + tbody { border-top: 2px solid #e5e5e5;}
	.table-condensed th, .table-condensed td { padding: 4px 5px;}
	.table-bordered { border: 1px solid #e5e5e5; border-collapse: separate; *border-collapse: collapsed; border-left: 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
	.table-bordered th, .table-bordered td { border-left: 1px solid #e5e5e5;}
	 .table tbody tr:hover td, .table tbody tr:hover th { background-color: #fcfcfc;}
	@-webkit-keyframes progress-bar-stripes { from { background-position: 40px 0;} to { background-position: 0 0;} }
	@-moz-keyframes progress-bar-stripes { from { background-position: 40px 0;} to { background-position: 0 0;} }
	@-ms-keyframes progress-bar-stripes { from { background-position: 40px 0;} to { background-position: 0 0;} }
	@-o-keyframes progress-bar-stripes { from { background-position: 0 0;} to { background-position: 40px 0;} }
	@keyframes progress-bar-stripes { from { background-position: 40px 0;} to { background-position: 0 0;} }
	.progress { height: 32px; margin-bottom: 18px; overflow: hidden; background-color: #f7f7f7; background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9); background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9)); background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9); background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9); background-image: linear-gradient(top, #f5f5f5, #f9f9f9); background-repeat: repeat-x; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);}
	.progress .bar { width: 0; height: 34px; font-size: 15px; line-height:33px; color: #ffffff; text-align: left; padding-left:12px; background-color: #0e90d2; background-repeat: repeat-x; -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; -webkit-transition: width 0.6s ease; -moz-transition: width 0.6s ease; -ms-transition: width 0.6s ease; -o-transition: width 0.6s ease; transition: width 0.6s ease;}
	 .progress .bar small { color:#fafafa; font-size:12px;}
	.progress-striped .bar { background-color: #149bdf;}
	.progress.active .bar { -webkit-animation: progress-bar-stripes 2s linear infinite; -moz-animation: progress-bar-stripes 2s linear infinite; -ms-animation: progress-bar-stripes 2s linear infinite; -o-animation: progress-bar-stripes 2s linear infinite; animation: progress-bar-stripes 2s linear infinite;}
	.progress-danger .bar, .progress-red .bar { background-color: #e53f51;}
	.progress-success .bar, .progress-green .bar { background-color: #8fbe32;}
	.progress-info .bar, .progress-blue .bar { background-color: #03acdc;}
	.progress-warning .bar, .progress-orange .bar { background-color: #f98805;}


/* End 
------------- */