/*----------------------------------

	Theme Name: Mexin
	----------------------
	
	/* #Icon Boxes
========================================= */

	
	/* #Icon Box 0
	=========================== */
	
	.icon-box, .icon-box1, .icon-box2, .icon-box3, .icon-box4, .icon-box5, .icon-box6, .icon-box7, .icon-box8, .icon-box9, .icon-box10, .icon-box11, .icon-box12, .icon-box13, .icon-box14, .icon-box15, .icon-box16 { clear:both;}
	.icon-box { vertical-align: baseline; margin-bottom: 30px; clear:both; }
	.icon-box img, .icon-box i { float: left; display: block; vertical-align: text-top; margin: -1px 20px 95px 0; }
	.icon-box a, .icon-box a:hover { color: #484b4d; }
	.icon-box i { font-size: 32px; color: #484b4d; cursor: default; margin-right: 20px; }
	.icon-box h4 { letter-spacing:0; font-weight:400;}
	.icon-box p { overflow: hidden; margin-bottom: 12px; }
	

	/* #Icon Box 1
	=========================== */
	
	.icon-box1 { text-align: center; color: #a9a9a9; margin-bottom:20px; }
	.icon-box1 i, .icon-box1 img { display: inline-block; font-size: 64px; width: 194px; height: 194px; text-align: center; min-width:64px; padding: 50px; margin-bottom: 26px; color: #FDFDFD; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; border: 15px solid #f0f0f0; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -ms-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out; transition: all .15s ease-in-out; background: #e84a52; background: #e84a52 -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 25%, rgba(0,0,0,0.15) 100%); background: #e84a52 -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(25%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.15))); background: #e84a52 -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 25%, rgba(0,0,0,0.15) 100%); background: #e84a52 -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 25%, rgba(0,0,0,0.15) 100%); background: #e84a52 -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 25%, rgba(0,0,0,0.15) 100%); background: #e84a52 radial-gradient(ellipse at center, rgba(0,0,0,0) 25%, rgba(0,0,0,0.15) 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000', GradientType=1 ); }
	.icon-box1:hover i, .icon-box1:hover img { background: #89bf42; border-color: #daf3b9; background: #89bf42 -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 25%, rgba(0,0,0,0.15) 100%); background: #89bf42 -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(25%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.15))); background: #89bf42 -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 25%, rgba(0,0,0,0.15) 100%); background: #89bf42 -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 25%, rgba(0,0,0,0.15) 100%); background: #89bf42 -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 25%, rgba(0,0,0,0.15) 100%); background: #89bf42 radial-gradient(ellipse at center, rgba(0,0,0,0) 25%, rgba(0,0,0,0.15) 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000', GradientType=1 ); }
	.icon-box1 h4 { margin-bottom: 16px; font-size: 22px; font-weight: 500; letter-spacing: -0.2px; color: #555; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -ms-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out; transition: all .15s ease-in-out; }
	.icon-box1:hover h4 { color: #89bf42 }
	.icon-box1 p { padding: 0 10px 20px;  }
	@media only screen and (min-width: 768px) and (max-width: 958px) {
	.icon-box1 i { padding:40px; font-size:42px; width: 142px; height: 142px; text-align: center; border-width:10px;}
	}
	

	/* #Icon Box 2
	=========================== */
	
	.icon-box2 { background-color:#fff; vertical-align:baseline; text-align:center; border-radius:5px; padding:20px 0; 	-webkit-transition:background .3s ease-in-out;	-moz-transition:background .3s ease-in-out;	-ms-transition:background .3s ease-in-out;	-o-transition:background .3s ease-in-out;	transition:background .3s ease-in-out;}
	.icon-box2 i { display:block; margin:16px 0 20px; font-size:64px; color: #404040; text-align: center; }
	.icon-box2 p { padding:0 12px;}
	.icon-box2 h4 { font-weight: 400; }
	.icon-box2:hover { background-color:#fafafa; cursor:default;}

	/* #Icon Box 3
	=========================== */
	
	.icon-box3 i { font-size: 48px; text-align: left; color: #666e74; margin-bottom: 10px; display: inline-block; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
	.icon-box3:hover i { color: #0093d0; cursor: default; }
	.icon-box3 h4 { margin-bottom: 4px; color: #666e74; font-size: 16px; letter-spacing: 0.25px; font-weight: bold; }
	.icon-box3 p { line-height: 21px; margin-right: 10px; }


	/* #Icon Box 4
	=========================== */
	
	.icon-box4 { text-align: center; margin-bottom: 20px; }
	.icon-box4 i { font-size: 48px; width: 92px; height: 92px; text-align: center; color: #2e373d;  display: inline-block;  padding: 30px; font-size: 32px; background: #f2f2f2; border-radius: 50%; margin-bottom: 24px; cursor: default; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
	.icon-box4:hover i { color: #fff; background: #0093d0; }
	.icon-box4 h4 { margin-bottom: 4px; color: #2e373d; font-size: 16px; letter-spacing: 0.25px; font-weight: 700; }
	.container .icon-box4 p { margin: 0 10px 30px; }


	/* #Icon Box 5
	=========================== */

	.icon-box5 img { margin: 0 12px 0 0; }
	.icon-box5 i { margin-right: 10px; cursor: default; display: inline-block; font-size: 28px; width: 48px; height: 48px; text-align: center; float: left; color: #F3F3F3; padding: 10px; background: #4a4d4f; margin-right: 10px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.2); -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.2); box-shadow: inset 0 0 10px rgba(0,0,0,.2); -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -ms-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out; transition: all .15s ease-in-out; }
	.icon-box5:hover i { background: #de513f; }
	.icon-box5 h4 { font-size: 14px; line-height: 48px; font-weight:700; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -ms-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out; transition: all .15s ease-in-out; }
	.icon-box5:hover h4 { color: #de513f; }
	.icon-box5 p { margin-top: 4px; margin-right: 20px; margin-bottom: 10px; display: block; padding-top: 5px; }


	/* #Icon Box 6
	=========================== */

	.icon-box6 { position: relative; text-align:center; background-color: rgba(255,255,255,0.81); background-color:#fff\9; border: 1px solid #e5e5e5; border-radius: 3px; padding: 36px 20px 28px; text-shadow: 0 0 0 0; margin: 40px 0 20px; }
	.icon-box6 * { text-shadow: none; }
	.icon-box6 i { font-size: 24px; width: 56px; height: 56px; text-align: center; padding: 15px 16px 17px; background: #e53f51; color: #fff; position: absolute; top: -30px; left: 50%; margin-left: -27px; border-radius: 30px; cursor: default; }
	.icon-box6 h4, .blox .icon-box6 h4, .blox.dark .icon-box6 h4 { color: #363636; font-weight: 400; }
	.container .icon-box6 p, .container .blox .icon-box6 p, .container .blox.dark .icon-box6 p { color: #818181; margin-bottom: 12px; }


	/* #Icon Box 7
	=========================== */

	.icon-box7 { padding: 0px 0 10px 0; }
	.icon-box7 i { display: block; text-align: center; padding: 40px 0; border-radius: 2px; background: #f7f7f7; color: #404040; font-size: 64px; line-height: 1; margin-bottom: 20px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
	.icon-box7:hover i { background: #e53f51; color: #fff; cursor: default; }
	.icon-box7 h4 { font-weight: 400; }


	/* #Icon Box 8
	=========================== */
	
	.icon-box8 {text-align: left; overflow: hidden; margin-bottom: 20px; padding-bottom:5px;}
	.icon-box8 i {display:inline-block; font-size: 32px; color: #01b6f9; background: #fff; float: left; padding: 24px; border:1px solid #e9e9e9; -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px; margin: 8px 20px 85px 0;
	-webkit-transition: all 0.28s ease; -moz-transition: all 0.28s ease; -ms-transition: all 0.28s ease; -o-transition: all 0.28s ease; transition: all 0.28s ease;}
	.icon-box8:hover i {color: #fff !important; background: #01b6f9; border-color: #01b6f9; transform: rotateY(180deg); -webkit-transform: rotateY(180deg);}
	.icon-box8 h4 { font-size: 18px; font-weight:bold; color: #2a2a2a; margin-bottom: 5px; margin-top:8px; overflow: hidden; letter-spacing:1px;}
	.icon-box8 h4 strong { font-weight:600;}
	.icon-box8 p {font-weight: 400; font-size: 15px; line-height:1.5; color: #6d6f71; margin-bottom: 16px; max-width:398px;}
	.icon-box8 a.magicmore { background:#fafafa; color: #898f9e; padding:5px 8px 4px 14px; border-radius:20px; border:1px solid #e9e9e9; font-size:9px; text-transform:uppercase; font-weight:400; margin:14px 0; letter-spacing:2px;}
	.icon-box8 a.magicmore:after { border:none;}
	.icon-box8 a:hover { color: #01b6f9;}
	@media only screen and (min-width: 1200px) {
	.icon-box8 p, .icon-box8 h4 { padding-right:20px;}
	}

	
	/* #Icon Box 9
	=========================== */
	
	.icon-box9 { text-align: left; overflow: hidden; margin-bottom: 30px;}
	.icon-box9 i {display:inline-block; font-size: 32px; color: #444; background: none; float: left; padding: 15px; border:2px solid #444; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; margin: 8px 24px 80px 0; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -ms-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease;}
	.icon-box9 h4, .icon-box9 h4 strong { font-weight: 600; font-size: 21px; color: #444; margin-bottom: 4px;overflow: hidden; letter-spacing:0.5px;}
	.icon-box9 p {font-weight: 400; font-size: 16px; color: #747474; line-height:1.5; margin-bottom: 10px !important;}
	.blox.dark .icon-box9 i { border-color:#fff;}
	
	
	/* #Icon Box 10
	=========================== */
	
	.icon-box10 { text-align:center;}
	.icon-box10 i { font-size: 32px; color: #484f54; margin-bottom: 23px; display: inline-block; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
	.icon-box10 h4, .icon-box10 h4 { margin-bottom: 18px; color: #2e373d; font-size: 19px; letter-spacing: 1px; line-height: 1.3; font-weight:400;}
	.icon-box10 h4 strong, .icon-box10 h4 strong { font-weight:400; }
	.icon-box10 p { line-height: 21px; margin-right: 10px; font-size:13px; color: #6d6f71; letter-spacing:0.25px; }
	
	
	/* #Icon Box 11
	=========================== */
	
	.icon-box11 { text-align: center; margin-bottom: 20px; }
	.icon-box11 i { padding: 30px; border:1px solid #e3e3e3; border-radius: 50%; margin-bottom: 28px; cursor: default; font-size: 36px; color: #4e575d; display: inline-block; -webkit-transition: all .39s ease-in-out; -moz-transition: all .39s ease-in-out; -ms-transition: all .39s ease-in-out; -o-transition: all .39s ease-in-out; transition: all .39s ease-in-out; }	
	.icon-box11 img { max-width:220px !important; margin-bottom:18px; -webkit-transition: all .21s ease-out; -moz-transition: all .21s ease-out; -ms-transition: all .21s ease-out; -o-transition: all .21s ease-out; transition: all .21s ease-out; }
	.icon-box11 h4, .icon-box11 h4 { margin-bottom: 16px; font-size: 17px; font-weight:600; color:#373e44; letter-spacing: 1.25px; text-transform:uppercase; font-family:'Source Sans Pro',  Helvetica, Arial, sans-serif; }
	.icon-box11 h4 strong { font-weight:600;}
	.icon-box11 p { font-weight: 400; font-size: 15px; color: #72757c; margin-bottom: 40px; padding: 0 15px;}
	.icon-box11:hover i { color: #fff !important; background:#8ade77; border-color:#8ade77;}
	
	@media only screen and (min-width: 961px) {
	.icon-box11:hover i { transform: rotateY(180deg); -webkit-transform: rotateY(180deg);}
	.icon-box11:hover img { padding:15px;}
	.vc_row-fluid [class*="vc_span"] .icon-box11 img { max-width:220px;}
	}	
	@media only screen and (min-width: 1281px) {
	.icon-box11 p { padding: 0 5%;}
	}
	@media only screen and (min-width: 1441px) {
	.icon-box11 p { padding: 0 8%;}
	}
	@media only screen and (max-width: 767px) {
	.icon-box11 i { margin-bottom:20px;}
	.icon-box11 h4, .icon-box11 h4 { margin-bottom:7px;}
	.icon-box11 p { margin-bottom:45px;}
	}
	
	
	/* #Icon Box 12
	=========================== */
	
	.icon-box12 p { text-align: left; margin-top: 4px; color: #797979; font-size:14px; line-height:1.6; padding-bottom:10px; margin-bottom:5px;}
	.icon-box12 i { cursor: default;display: inline;font-size: 24px;float: left;color: #2e373d;padding: 0;margin-right: 10px;margin-top: 3px;}
	.icon-box12 h4 { color: #2e373d; font-size: 20px; line-height: 26px; font-weight: 600; letter-spacing:0; text-align:left; }
	.icon-box12 img { float: left; display: block; vertical-align: text-top; margin: 0 12px 0 0; }
	@media only screen and (min-width: 768px) {
	.alignright .icon-box12, .alignright .icon-box12 * { text-align:right; padding-right:0; margin-right:0;}
	.alignright .icon-box12 i, .alignright .icon-box12 img { float:right; margin-left:10px; margin-right:0;}
	}
	@media only screen and (min-width: 1500px) {
	.icon-box12 p { padding-right: 10%;}
	}
	
	
	
	/* #Icon Box 13
	=========================== */
	
	.icon-box13 { padding: 10px 20px; text-align:center;  }
	.icon-box13 h4, .icon-box13 h4 strong{ font-weight: 300; font-size:29px;  color: #4e575d; margin-bottom: 15px; padding:0 9px; line-height:1.6; }
	.icon-box13 p { font-size:14px; letter-spacing:0.3px; font-weight:400; color:#72757c; line-height:1.5; padding:0 12px;}
	.icon-box13 i { display: inline-block; text-align: center; background:none; color:#6b6c77; font-size: 48px; line-height: 1; margin-bottom: 35px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
	.icon-box13 a.magicmore { display:inline-block; margin:25px 0 10px; padding:12px 32px 12px 44px; color:#fff; font-size:11px; font-weight:600; text-transform:uppercase; border-radius:40px; letter-spacing:1px; background:#01b6f9; }
	.icon-box13 a.magicmore:hover { background:#e87777;}
	.icon-box13 a.magicmore:after { content: "\f061"; position:absolute; color: inherit; top: 18px; right: auto; left:24px; font-size: 12px; padding:0; border:none; }
	.icon-box13 a.magicmore:hover:after { -webkit-animation: magicmore-anim .2s ease .062s both; animation: magicmore-anim .2s ease .062s both;}
	.icon-box13 img { max-width:220px; margin-bottom:15px;}
	.blox.dark .icon-box13 a.magicmore { color:#fff;}
	@media only screen and (min-width: 1500px) {
	.icon-box13 p { padding:0 8%;}
	}
	
	@-webkit-keyframes magicmore-anim {
	from {left: -14px; opacity:0;}
	to {left: 24px; opacity:1;}
	}
	@keyframes magicmore-anim{
	from {left: -14px; opacity:0;}
	to {left: 24px; opacity:1;}
	}
	
	
	/* #Icon Box 14
	=========================== */
	
	.icon-box14 { border: 1px solid rgba(15, 15, 15, 0.07); background-color:rgba(15, 15, 15, 0.01); vertical-align:baseline; text-align:center; padding:20px; -webkit-transition: all 0.2s ease-in-out;	transition: all 0.2s ease-in-out; margin-bottom: 10px}
	.icon-box14:hover {cursor:default; background-color:rgba(240, 240, 240, 0.6);}	
	.blox.dark .icon-box14:hover {background-color:rgba(15, 15, 15, 0.6);}	
	.icon-box14 h4 {border-bottom: 1px solid rgba(15, 15, 15, 0.07);font-size: 18px; font-weight: 700; line-height: 20px; padding: 17px 0 20px; text-align: center;}	
	.icon-box14 p {font-weight: 400;text-align: center;	letter-spacing: 0px;padding: 5px 10px;font-size: 15px}
	.icon-box14 i {display:block;margin:16px 0;font-size:72px; color:#0ab1f0}
	.icon-box14 a.magicmore {position:relative; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -ms-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease; border: none; display: inline-block; padding: 6px 16px 6px 28px; cursor: pointer;	border: 1px solid transparent; border-radius: 2px; white-space: nowrap; margin-bottom: 20px; color: rgba(15, 15, 15, 0.35); background: rgba(15, 15, 15, 0.07); text-shadow: 0 0 0; text-transform:uppercase; font-size:11px; letter-spacing:2px;}
	.blox.dark .icon-box14 i {color:#0ab1f0}
	.blox.dark .icon-box14 a.magicmore{color: rgba(224, 224, 224, 0.1);}
	.icon-box14:hover a.magicmore{text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);}
	.blox.dark .icon-box14:hover a.magicmore{color: #fff; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);}
	.icon-box14 a.magicmore:hover {background: rgba(0, 0, 0, 0.5); color: rgba(240, 240, 240, 0.85)}
	.icon-box14 a.magicmore:before {position:absolute; font-family: 'FontAwesome'; speak: none; font-style: normal; font-weight: normal; content: "\f054"; color:inherit; top:13px; left:14px; font-size:8px; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased;}
	.icon-box14 a.magicmore:after {display:none}
	
	
		
	/* #Icon Box 15
	=========================== */
	
	.icon-box15 i { font-size: 48px; color: #f9a827; margin-bottom: 10px; display: inline-block; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
	.icon-box15 h4, .icon-box15 h4 { margin-bottom: 11px; font-weight:700; color: #f9a827; font-size: 27px; letter-spacing: -1.25px; line-height: 1.1;}
	.icon-box15 h4 strong, .icon-box15 h4 strong { font-weight:700; }
	.icon-box15 p { font-size:21px; line-height: 1.2; margin-right: 10px; padding-right:10px; border-right:1px solid #e5e5e5; letter-spacing:0; font-family: 'Source Sans Pro',  Helvetica, Arial, sans-serif; font-weight:300; }
	.icon-box15 a.magicmore { font-size:13px; font-weight:700; text-transform:uppercase; color: #f9a827;}
	.icon-box15 a.magicmore:after { border:none; top:0; margin-top:-1px;}
	.blox.dark .icon-box15 i, .blox.dark .icon-box15 h4, .blox.dark .icon-box15 a.magicmore { color: #f9a827;}
	.blox.dark .icon-box15 p, .max-hero .icon-box15 p { color:rgba(255,255,255,0.9);  border-color:rgba(255,255,255,0.4); text-align:left; margin:0 10px 25px 0;}
	.blox .icon-box15 p { margin:0 10px 25px 0;}
	.max-hero .icon-box15 h4 { text-shadow:none;}
	.max-hero .icon-box15 { text-align:left;}
	@media only screen and (max-width: 767px) {
	.max-hero .icon-box15 h4 { font-size:21px;}
	.max-hero .slides-content .icon-box15 p { font-size:16px}
	.max-hero .icon-box15 a.magicmore { font-size:12px;}
	}

		
	/* #Icon Box 16
	=========================== */
	
	.icon-box16 p { text-align: left; margin-top: 3px; color: #888; font-size:13px; line-height:1.54; padding-bottom:10px;}
	.icon-box16 i { cursor: default;display: inline;font-size: 16px;float: left;color: #26a4e5;padding: 0;margin-right: 10px;margin-top: 3px;}
	.icon-box16 h4 { color: #353739; font-size: 15px; line-height: 21px; font-weight: 400; letter-spacing:0; text-align:left; }
	.icon-box16 h4 strong { font-weight:400;}
	.icon-box16 img { float: left; display: block; vertical-align: text-top; margin: 0 12px 0 0; }
	.icon-box16 a.magicmore, .blox.dark .icon-box16 a.magicmore { color: #f9a827;}
	.icon-box16 a.magicmore:after, .blox.dark .icon-box16 a.magicmore:after { border-color: #f9a827;}

	@media only screen and (min-width: 768px) {
	.alignright .icon-box16, .alignright .icon-box16 * { text-align:right; padding-right:0; margin-right:0;}
	.alignright .icon-box16 i, .alignright .icon-box16 img { float:right; margin-left:10px; margin-right:0;}
	}
	@media only screen and (min-width: 1500px) {
	.icon-box16 p { padding-right: 10%;}
	}


	.icon-colorx i, i.icon-colorx { color: #e53f51; }
	
/* -------- end ----------- */
