/*----------------------------------

	Theme Name: Mexin
	----------------------
			
	/* #Site Styles
	================================================== */
	body { background: #f4f7f8 url(../images/bdbg1.png); }
	
	/* WRAPPER */ 
	#wrap { display: block; margin: 0 auto; position: relative; padding: 0; background: #fff; visibility:visible; clear:both; overflow:hidden; }
	#wrap.boxed-wrap { display:block; margin: 0 auto; background: #fff; overflow:hidden; width: 1000px; -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.4); -moz-box-shadow: 0 0 9px rgba(0,0,0,0.4); box-shadow: 0 0 9px rgba(0,0,0,0.4); border: 1px solid #d6dbdc\9; border-bottom: none; visibility:visible; }
	#wrap.boxed-wrap .container { width:100%;}
	#wrap p img { height:auto;}
	#wrap.boxed-wrap #header {top:inherit; left:inherit; width: 1000px;}

    #site-title { margin-top:25px; padding-bottom:10px; line-height:1.4; font-size: 17px; }
	#site-title a { color:#3B454D; font-weight: bold; }
	#site-title .site-slog a { font-weight: normal; }
	#site-title small { display:block; margin-top:5px;}
	#main-content.container { padding-top:35px;}

	
	/* HEADLINE */
	#headline, #headline2 { width: 100%; height: 82px; padding: 20px 0 20px; background: #fff; display: table; }
	#headline h3, #headline2 h3 { color:#424748; font-size:46px; margin:20px 10px; position:relative; text-transform:uppercase; font-weight:900; letter-spacing: -0.03em; }
	#headline h3 small, #headline2 small { font-size: 56%; color: rgba(255,255,255,0.8); font-weight: 300; margin-left: 10px; letter-spacing: -0.07em; text-transform: capitalize; }
	#headline h3 small { color: #808080; font-weight: 100; }
	#headline2 { padding: 25px 0 12px; background: #0093d0; }
	#headline2 h3 { color: #fff; border: 0 none; }	
	
	/* TOP-BAR  */ 
	.top-bar { background: #fff; min-height:26px; padding: 6px 0;  border-bottom: 1px solid #f3f3f3;} 
	.top-bar h6 { font-size:12px; font-weight:400; margin:0 10px 0 0; color:#999; letter-spacing:0.6px;} 
	.top-links { float:left; color:#d7d7d7; font-size:11px; padding:7px 0 0 4px; display:table; }
	.top-links.rgtflot { float:right; padding-right:10px;}
	.top-links img, .container .top-links p { float:left; margin:4px 3px 0 0;}
	.container .top-links p { color:#d9d9d9; font-weight:bold; font-size:12px; line-height:1; margin:5px 9px 0 0;}
	.top-links a, .top-links span { color: #9aa6af; font-size:10px; display:inline; margin:0 6px; text-transform:uppercase; font-weight:bold;}
	.top-links a:hover { color:#ff932a}
	.top-links a:after {content: "|"; padding-left: 10px; color:#ccc; }
	.top-co-inf .top-links { float:right; margin-top:8px;}
	.top-co-inf .top-links p { color:#6d6e71; }
	
	
	/* HEADER  */
	#header { z-index: 10000; width: 100%; background: #fff; border-bottom: 3px solid #f3f3f3; margin: 0; }
	#header h6, .top-bar h6, .top-inf h6  { font-size: 16px; margin:18px 14px; font-weight: 400; color:#797979; display:inline-block;}
	#header h6 i, .top-bar h6 i, .top-inf h6 i { background: #f1f1f1; font-size:16px; width: 31px; text-align: center; color:#6a6c75; display: inline-block; margin:7px 4px; padding:8px; border-radius:50%; vertical-align:middle; height: 31px;}
	.top-bar h6 i { padding:0; border:none;}
	.top-bar .lftflot h6 i { width: 21px; height: 21px; padding: 3px; text-align: center;}
	.top-links.lftflot h6 { font-size: 14px; }
	.top-bar h6 { margin:0 10px 0 0;}

	#header { border-bottom: 3px solid #f3f3f3; margin:0; }
	#header.transed { position: fixed; background: rgba(255,255,255,0.8); width: 100%; z-index: 9100; }
	#header.super-fixed { background:#fff; border:none; box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3); width:100%; height:90px; z-index: 9100;}
	.logo { height:100%; line-height:90px; }
	.logo img { max-width: 100%; height:auto; max-height:100%; }
	#header.super-fixed .logo img, header.super-fixed .logo { max-height:90px; width:auto;}
	
	.logo { height: auto; float: left; margin-top: 9px;}
	.logo img { max-width: 100%; max-height: 100%; }
	.nav-wrap1 .container { width:auto;}
	
	#header .img-logo-w1 { display:block;}
	#header .img-logo-w2, #header .img-logo-w3 { display:none}
	.transparent-header-w #header .img-logo-w1, .transparent-header-w #header .img-logo-w3 { display:none}
	.transparent-header-w #header .img-logo-w2 { display:block;}
	#header.sticky .img-logo-w2 { display:none;}
	.logo-sticky { display:none;}
	.transparent-header-w #header.vertical-w .img-logo-w1 { display:inline;}
	.postshow1-hd.transparent-header-w #header #nav > li > a, .postshow1-hd.transparent-header-w .woo-cart-header .header-cart span, .postshow1-hd.transparent-header-w a.search-form-icon { color: #fff; text-shadow: none; }
	
	#search-form { float:right; margin:30px 20px auto 0; position:relative; padding-left: 14px; height: 24px;}
	#header.sticky #search-form { margin-top: 21px; }
	#search-form .search-text-box, #search-form2 .search-text-box2 { background-color: #f5f5f5;  background-image: url(../images/search-icon.png); background-position: 12px 50%; background-repeat: no-repeat; border: 0 none; border-radius: 18px; box-shadow: none; color: transparent; cursor: text; font-size: 13px; color:#444; min-height:35px; height:35px; line-height: 18px; padding: 7px 5px 8px 30px; transition: all 0.3s ease-in-out 0s; width:1px; min-width: 210px;}	
	#search-form2 { display:none; position:relative; }
	#search-form2 .search-text-box2 { width:220px; margin:auto; position:relative; }
	.search-form-box { position:absolute; right:-24px; margin-top:27px; background:#fff; padding:14px 18px; height:63px; border:1px solid #e2e2e2; border-radius:4px; -moz-box-shadow:0 2px 12px rgba(0,0,0,0.082); -webkit-box-shadow:0 2px 12px rgba(0,0,0,0.082); box-shadow:0 2px 12px rgba(0,0,0,0.082);  display:none;}
	.search-form-box.show-sbox { display:block; -webkit-animation: fade-anim .3s ease .037s both; animation: fade-anim .3s ease .037s both; z-index:91120; }
	.search-form-box:after, .search-form-box:before { content: '';display: block;position: absolute; right:9px;width: 0;height: 0;border-style: solid; border-width: 10px;}
	.search-form-box:after { top: -18px; border-color: transparent transparent #ffffff transparent ;}
	.search-form-box:before { top: -19px; border-color: transparent transparent #e2e2e2 transparent ;}
	a.search-form-icon, a.search-form-icon:visited { display:block; width:16px; height:16px; color:#888;}
	a.search-form-icon:hover { color:#555;}
	a.search-form-icon i { color:#aaa; padding: 11px; padding-left: 12px; font-size: 14px; border-radius:50%; background-color: #f3f3f3; }
	
	@media only screen and (min-width: 961px) {
	#header.sticky #site-title { display:none;}	
	#header.sticky #nav-wrap, #header.sticky.hi-header #nav-wrap { width:100%; border-bottom: 3px solid #f3f3f3; z-index:800000000; background:rgba(255,255,255,0.97); display:block; position:fixed; height:64px; padding:0; left:0; top:0; -webkit-animation: header-anim .2s ease .027s both; animation: header-anim .2s ease .027s both; transition: background 0.3s ease-in-out 0s, border-bottom 0.3s ease-in-out 0s; }
	#header.sticky #nav-wrap:hover { background:#fff;}
	#header.sticky #nav-wrap .container { width:1152px; float:none; padding:0 30px 0 150px; position:relative; margin-left:auto; margin-right:auto; }
	#header.sticky .logo-sticky { display:block; position:fixed; top:0; max-width:280px; z-index:900000000;  -webkit-animation: fade-anim .3s ease .044s both; animation: fade-anim .3s ease .044s both;}
	#header.sticky .logo-sticky img.img-logo-w3 { max-height: 48px; width: auto; max-width:280px; display:block; }
	#header.hi-header, #header.hi-header .logo .img-logo-w1  { position:fixed; height:0; padding:0; background:none; border:none; display:none;}
	#header.sticky.hi-header, #header.hi-header .logo-sticky, #header.hi-header .logo-sticky img.img-logo-w3 { display:block; -webkit-animation: fade-anim .3s ease .044s both; animation: fade-anim .3s ease .044s both; }

	
	.transparent-header-w #header { position:absolute; top:0; background:none; border:none; border-bottom: 3px solid rgba(255, 255, 0255, 0.09); }
	.transparent-header-w .top-bar, .transparent-header-w #headline { display:none; }
	.transparent-header-w #header.sticky { position:fixed; left:auto; top:auto;}
	.transparent-header-w #header.sticky .img-logo-w2  { display: none;}
	.transparent-header-w #header #nav > li > a, .transparent-header-w .woo-cart-header .header-cart span, 
	.transparent-header-w a.search-form-icon { color:#000; text-shadow:1px 1px 0 rgba(255,255,255,0.25), 0 0 3px #fff;}
	.transparent-header-w a.search-form-icon i { color:#000; border-color:#000;}
	.transparent-header-w .woo-cart-header .header-cart { background-image: url('../images/woobag@2xb.png');}
	
	.transparent-header-w.t-dark-w #header #nav > li > a, .transparent-header-w.t-dark-w .woo-cart-header .header-cart span, 
	.transparent-header-w.t-dark-w a.search-form-icon { color: #fff; text-shadow: 1px 1px 0 rgba(0,0,0,0.25); }
	.transparent-header-w.t-dark-w #header #nav > li.current > a, .transparent-header-w.t-dark-w #header #nav > li:hover > a { color: #0093d0; }
	.transparent-header-w.t-dark-w a.search-form-icon i { color:#aaa; }
	.transparent-header-w.t-dark-w .woo-cart-header .header-cart { background-image: url('../images/woobag@2x.png');}
	
	.transparent-header-w #header.sticky #nav > li > a { color:#666; text-shadow:none;}
	.transparent-header-w #header.sticky .woo-cart-header .header-cart span { color:#9d9d9d; text-shadow:none;}
	.transparent-header-w #header.sticky a.search-form-icon	{ color:#aaa; text-shadow:none;}
	.transparent-header-w #header.sticky a.search-form-icon i { color:#aaa; border-color:#aaa;}
	.transparent-header-w #header.sticky .woo-cart-header .header-cart { background-image: url('../images/woobag@2x.png');}
	
	}

	
	
	/* Header animations */
	@-webkit-keyframes header-anim {
	from {opacity: 0.5;
    -webkit-transform: translateY(-60px);

    transform: translateY(-20px);}
	to {opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);}
	}
	@keyframes header-anim {
	from {opacity: 0.5;
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);}
	to {opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);}
	}
	
	@-webkit-keyframes header-anima {
	from {height:0;}
	to {height:60px; padding:0;}
	}
	@keyframes header-anima {
	from {height:0;	}
	to {height:60px; padding:0;}
	}
	
	@-webkit-keyframes fade-anim {
	from {opacity: 0; }
	to {opacity: 1;}
	}
	@keyframes fade-anim{
	from {opacity: 0; }
	to {opacity: 1;}
	}
	

	

	/* # 404 Styles
	================================================== */	
	.Error404Section{ background: #f8f8f8}
	.Error404Section h1{font-size: 84px;text-transform: uppercase;line-height: 1.4;font-weight: 900; margin-bottom: 10px}	
	.Error404Section h2{color: #1bbc9b;font-size: 36px;font-weight: 400;margin-bottom: 30px;}

	/* --------------------- */
	
	
	/* FOOTER */
	
	
	#footer { width: 100%; padding: 10px 0 0 0; background: #202020; border-top: 5px solid #e5e5e5; }
	#footer.litex { background: #fafafa;  border-top: 6px solid #e9e9e9; }
	.footer-in { margin: 0 auto; padding-bottom: 50px; color: #ccc; position: relative; }
	.footer-in .columns { margin-top: 20px; }
	.footer-in h5.subtitle, .footer-in h4.subtitle { color:#c4c6c8; border-bottom:4px solid #252627; padding-bottom:6px; margin:39px 0 21px 0; font-size:13px; text-align:center; }
	h5.subtitle, h4.subtitle { border-bottom: 1px solid #e5e5e5; letter-spacing:0em; font-weight:bold; text-transform:uppercase; margin:35px 0 21px 0; line-height:2; font-size:16px; padding-bottom:5px; clear:both;}
	.toggle-top-area h5.subtitle { color: #ddd; display: block; border-bottom: 2px solid #131415; padding-bottom: 6px; margin: 0; margin:0 0 25px 0; -webkit-box-shadow: 0 1px #232628; -moz-box-shadow: 0 1px #232628; box-shadow: 0 1px #232628; position: relative;  font-size:12px; letter-spacing:1px; text-transform:uppercase; line-height:1.5; font-weight:bold; text-shadow:0 1px 0 #000; }
	#footer.litex .footer-in h5.subtitle { color:#414141;}
	#footer h5.subtitle span, .toggle-top-area h5.subtitle span { position: absolute; right: 0; text-align: right; }
	#footer h5.subtitle span a, .toggle-top-area h5.subtitle span a { color: #787878; font-size: 10px; font-weight: 400; }
	#footer .footer-in .widget ul.menu li:hover { background:none;}
	.footer-in hr { border-color: #373737; }
	.footer-in .copyright-txt { font-size: 12px; }
	.footer-in p { line-height: 19px; }
	.contact2 div { line-height: 21px; }
	.footer-in a { text-decoration: none; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease; }
	.footer-sbc { position: relative; text-align: center; margin: 0 auto; }
	.footer-sbc input[type="text"], .footer-sbc input[type="submit"] { float: left; margin: 4px 7px; }
	
	.lts-news { height: 64px; overflow: hidden; margin-bottom: 15px; }
	.lts-news .img-hover { float:left; margin:0 10px 0 0;}
	.lts-news img { height: 64px; }
	.lts-news h5 { font-size: 16px; font-weight: 500; border: none; margin: 0; padding: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; white-space:nowrap;}
	.lts-news a { color: #ddd; }
	.footer-in .lts-news p { font-size: 11px; line-height: 17px; color: #9c9b9b; margin-bottom:5px; letter-spacing:0; }
	.lts-news .img-hover:before { -webkit-box-shadow: inset 0 0 0 3px #fff; -moz-box-shadow: inset 0 0 0 3px #fff; box-shadow: inset 0 0 0 3px #fff; opacity: .5; }
	.lts-news:hover .img-hover:before { opacity: 1; -webkit-box-shadow: inset 0 0 0 3px #e84a52; -moz-box-shadow: inset 0 0 0 3px #e84a52; box-shadow: inset 0 0 0 3px #e84a52; }
	.lts-news:hover h5 a { color: #e84a52; }

	/* Social Icons */
	.social-icons a { border: 0; float: left; margin: 1px 7px 0 12px; opacity: 0.5; text-decoration: none; -webkit-transition: opacity 0.5s ease; -moz-transition: opacity 0.5s ease; -ms-transition: opacity 0.5s ease; -o-transition: opacity 0.5s ease; transition: opacity 0.5s ease; }
	.social-icons a:hover { opacity: 1; }
	.social-icons.members { clear: both; text-align: center; margin-bottom: 10px; }
	.social-icons.members a { text-align: center; float: none; }
	
	.footer-in a img { float: left; }
	.contact-inf span { display: block; color: #9b9b9b; font-family: Arial; font-size: 14px; }
	.contact-inf i { margin-right: 5px; color: #474747; font-size: 15px; }
	.contact-inf form { margin-top: 20px; }
	.footer-in .contact-inf input, .footer-in .contact-inf textarea { display: block; min-width: 97%; margin: 10px 0; background: #2b2928; color: #ccc; border: none; font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 9px 0px 9px 12px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 0 3px 1px #222, 1px 1px #424242; -moz-box-shadow: inset 0 0 3px 1px #222, 1px 1px #424242; box-shadow: inset 0 0 3px 1px #222, 1px 1px #424242; }
	.footer-in .contact-inf button { padding: 10px 20px; font-size: 12px; font-weight: 400; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; background: #373737; background: -moz-linear-gradient(top, #373737, #252525); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373737), color-stop(100%, #252525)); background: -webkit-linear-gradient(top, #373737, #252525); background: -ms-linear-gradient(top, #373737, #252525); background: -o-linear-gradient(top, #373737, #252525); background: linear-gradient(top, #373737, #252525); border: none; float: right; }
	.footer-in a:hover { color: #85b940; }
	#footer.litex .footer-in a { color: #0093d0; }
	.footer-in a.terms { color: #578f1a; }
	.footer-navi.floatright { float:right;}
	.footer-in .col-md-12 .widget {text-align:center;}
	
	/* twitter widget */
	#footer .lts-tweets .tweets{margin-top:-20px;}
	#footer .lts-tweets .tw-item {padding:12px;}
	#footer .lts-tweets .tw-item .tw-icon{color:#00acee;margin-right: 10px;font-size: 16px; float: left;}
	#footer .lts-tweets .tw-item .tw-content{overflow: hidden; color:#b5b5b5;}
	#footer .lts-tweets .lts-tweets .tw-item:hover {background:none;}
	#footer .lts-tweets .tw-item span{display: inline-block; font-size: smaller;}

	.partner-website h5 { margin: 20px 0; }
	.partner-website a { display: block; color: #808080; font-family: Arial, Helvetica, sans-serif; font-size: 12px; -webkit-transition: all .08s ease; -moz-transition: all .08s ease; -ms-transition: all .08s ease; -o-transition: all .08s ease; transition: all .08s ease; }
	.partner-website a:hover { color: #fff; }
	.partner-website a i { margin: 0 5px; -webkit-transition: all .18s ease; -moz-transition: all .18s ease; -ms-transition: all .18s ease; -o-transition: all .18s ease; transition: all .18s ease; }
	.partner-website a:hover i { margin-left: 10px; }
	.footbot { margin: 0 auto; position: relative; padding: 26px 0 18px; text-align: right; border-top-right-radius: 2px; border-top-left-radius: 1px; border-top: 5px solid #252627;}
	#footer.litex .footbot { background:#e9e9e9}
	#footer.litex .footbot, #footer.litex .footer-in h4, #footer.litex .footer-in hr { border-color: #e0e0e0; color: #5b5b5b; }
	.footbot img { position: relative; margin: 6px 40px 0 0; opacity: 0.93; }
	.footer-navi { float: left; line-height: 38px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #9B9B9B; text-transform: capitalize; }
	.footer-navi ul { margin-left: 40px; }
	.footer-navi a { color: #a9b2b4; margin: 0 4px; }
	.footer-navi a:hover, .custom-footer-menu a:hover { color: #ccc; text-decoration: underline; }
	.custom-footer-menu a, .blox.dark .custom-footer-menu a { display:block; color:#fff; padding:4px 0;}
	
	
	/* Social Icons */
	.socialfollow { float: right; }
	.socialfollow a { width: 35px; height: 35px; margin-right: 5px; text-align: center; padding: 8px; float: left; text-decoration: none; display: block; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease; }
	.socialfollow a:first-of-type { margin-left: 0; }
	.footer-in .socialfollow a:hover { text-decoration: none; }
	.socialfollow a.facebook:hover { background: #3b5996; }
	.top-bar .socialfollow a.facebook:hover i, .our-team .socialfollow a.facebook:hover i { color: #3b5996; }
	.socialfollow a.twitter:hover { background: #00acee; }
	.top-bar .socialfollow a.twitter:hover i, .our-team .socialfollow a.twitter:hover i { color: #00acee; }
	.socialfollow a.vimeo:hover { background: #0dadd6; }
	.top-bar .socialfollow a.vimeo:hover i, .our-team .socialfollow a.vimeo:hover i { color: #0dadd6; }
	.socialfollow a.dribble:hover { background: #d53e68; }
	.top-bar .socialfollow a.dribble:hover i, .our-team .socialfollow a.dribble:hover i { color: #d53e68; }
	.socialfollow a.youtube:hover { background: #cb322c; }
	.top-bar .socialfollow a.youtube:hover i, .our-team .socialfollow a.youtube:hover i { color: #cb322c; }
	.socialfollow a.pinterest:hover { background: #cb2027; }
	.top-bar .socialfollow a.pinterest:hover i, .our-team .socialfollow a.pinterest:hover i { color: #cb2027; }
	.socialfollow a.google:hover { background: #c3391c; }
	.top-bar .socialfollow a.google:hover i, .our-team .socialfollow a.google:hover i { color: #c3391c; }
	.socialfollow a.linkedin:hover { background: #0073b2; }
	.top-bar .socialfollow a.linkedin:hover i, .our-team .socialfollow a.linkedin:hover i { color: #0073b2; }
	.socialfollow a.rss:hover { background: #f29a1d; }
	.top-bar .socialfollow a.rss:hover i, .our-team .socialfollow a.rss:hover i { color: #f29a1d; }
	.socialfollow a.instagram:hover { background: #457399; }
	.top-bar .socialfollow a.instagram:hover i, .our-team .socialfollow a.instagram:hover i { color: #457399; }
	.socialfollow a.other-social:hover { background: #ff5d5e; }
	.top-bar .socialfollow a.other-social:hover i, .our-team .socialfollow a.other-social:hover i { color: #ff5d5e; }
	.socialfollow img { opacity: 0.79; }
	.socialfollow i { font-size: 19px; color: #fff; opacity: 0.95; }
	#footer.litex .socialfollow i { color: #343434; }
	#footer.litex .socialfollow a:hover i { color: #fff; }
	
	.top-bar .socialfollow { float: right; margin-right: 10px; }
	.top-bar .socialfollow.lftflot { float: left; }
	.top-bar .socialfollow img { opacity: 0.97; }
	.top-bar .socialfollow a, .our-team .socialfollow a { margin: 1px 4px; }
	.top-bar .socialfollow i, .our-team .socialfollow i { color: #979797; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -ms-transition: all 0.125s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }
	.top-bar .socialfollow a:hover, .our-team .socialfollow a:hover { background: none; }	
	

/* --------------------- */
	
	/* Side Nav */
	
	#side-content { float:right;}
	#side-nav { float:left; z-index:979;}
	#side-nav ul { padding:10px 20px; background:#fff;  border:3px solid #f3f3f3; list-style:none;}
	#side-nav ul li { border-bottom:1px solid #eaeaea; padding:0; margin:0;}
	#side-nav ul li:last-of-type { border-bottom:0 none;}
	#side-nav ul li ul { border: none; padding:0; padding-left:20px; margin:0; background:#fdfdfd; display:none;}
	#side-nav a { display:block; color:#575757; padding:14px 0; text-transform:capitalize; font-size:13px; font-weight:400; letter-spacing:0.2px;  }
	#side-nav a:after { float:right;  font-family: 'FontAwesome'; font-size:10px; color:#878787; content: "\f054"; speak: none; font-style: normal; font-weight: normal; text-transform: none; line-height: 1;	-webkit-font-smoothing: antialiased;}
	#side-nav a:hover, #side-nav a:hover:after { color:#ff9900;}
	#side-nav li.current a, #side-nav li.current a:after { color:#0093d0;}
	#side-nav ul li ul li a { padding:10px 0; font-size:12px;}
	#side-nav ul li:hover > ul { display:block;}
	
	
	/* Image Gallery */
	
	.image-gallery { display:block; margin:10px 0;}
	.image-gallery ul li { float:left; width:215px; height:215px; margin:1px; overflow:hidden;}
	.image-gallery ul li img { max-width:420px; width:auto; height:215px; border-radius:1px; text-align:center}
	.image-gallery .zoomex { bottom:0;}
	

	/* Social Media */
	.blox .social-media {text-align: center}
	.blox .social-media a {text-align: center; padding: 0 10px; margin-bottom: 20px; display: inline-block;}
	.blox .social-media a i {border:2px transparent solid;font-size:4em;padding: 30px;border-radius: 50%;color: #fff;margin-bottom: 20px;display: block; -webkit-transition: all .3s ease-in-out;-moz-transition: all .8s ease-in-out;-ms-transition: all .8s ease-in-out;-o-transition: all .8s ease-in-out;transition: all .8s ease-in-out;background:rgba(15, 15, 15, 0.6)}
	.blox .social-media a:hover i {color: #fff;border:2px #fff solid;}
	.blox .social-media a span{-webkit-transition: all .8s ease-in-out; -moz-transition: all .8s ease-in-out; -ms-transition: all .8s ease-in-out; -o-transition: all .8s ease-in-out; transition: all .8s ease-in-out; color:transparent;text-transform: uppercase; font-size:16px; font-weight:600; text-shadow: 0 0 5px rgba(33, 65, 83, 1) }
	.blox .social-media a:hover span{color:#fff;}
	#social-media.active.facebook{ background: #3b5996 !important; }
	#social-media.active.twitter { background: #00acee !important; }
	#social-media.active.vimeo { background: #0dadd6 !important; }
	#social-media.active.dribble { background: #d53e68 !important; }
	#social-media.active.youtube{ background: #cb322c !important; }
	#social-media.active.pinterest{background: #cb2027 !important; }
	#social-media.active.google{background: #c3391c !important; }
	#social-media.active.linkedin { background: #0073b2 !important; }
	#social-media.active.rss{ background: #f29a1d !important; }
	#social-media.active.instagram{ background: #457399 !important; }
	#social-media.active.skype{ background: #00aaf3 !important; }
	#social-media.active.other-social { background: #ff5d5e !important; }
	#social-media.blox .social-media a span{display:none;}
	#social-media.blox .social-media a i{background:none; font-size:2em;border: 1px transparent solid; margin:0; padding:20px;}
	#social-media{transition: background-color .8s ease-in-out;-webkit-transition: background-color .8s ease-in-out;-moz-transition: background-color .8s ease-in-out;-ms-transition: background-color .8s ease-in-out;-o-transition: background-color .8s ease-in-out;}
	#social-media.blox .social-media a{margin: 20px 0;}
	#social-media.blox .social-media a:hover i {border: 1px #fff solid}
	
	
	/* #Misc
	================================================== */
	
	/* EXTRAS */
	
	.brdr-r1, .brdr-r2 { border-right: 1px solid #e5e5e5; }
	.brdr-l1, .brdr-l2 { border-left: 1px solid #e5e5e5; }
	.brdr-r2 { padding-right: 27px; }
	.brdr-l2 { padding-left: 27px; }
	.pad-r27 { padding-right: 27px; }
	.pad-l27 { padding-left: 27px; }
	.blox.dark .brdr-r1, .blox.dark .brdr-r2, .blox.dark .brdr-l1, .blox.dark .brdr-l2 { border-color:rgba(255,255,255,0.5);}
	.alignright { text-align: right; }
	img.alignright { float: right; margin-left:10px; }
	.alignleft { text-align: left; }
	img.alignleft { float: left; margin-right:10px; }
	.aligncenter { text-align: center; }
	.wp-caption { display: block; color: #444; }
	.wp-caption-text { font-size: 15px; }
	.gallery-caption { display: inline; }
	.bypostauthor { font-size: 13px; }
	.moonicons-box1 { font-size: 14px; line-height:22px; display: inline-block; width:23.33%; padding: 6px; background: #fff; margin: 6px; margin-bottom: 12px; border: 1px solid #e8e8e8; }
	.moonicons-box1 span { font-size:20px; float:left; margin-right:3px;}
	.tmpl-ex { margin-bottom:40px; padding:10px; text-align:center;}
	.tmpl-ex h4 { margin-top: 30px; font-weight: 500; font-size: 17px; letter-spacing: 1.4px;}
	.tmpl-ex a { color: #222; border-top: 10px solid #d2d2d2; display: inline-block; border-radius: 3px; max-width:420px;}
	.tmpl-ex img { width:100%; webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
	.tmpl-ex img:hover { opacity:0.66;}
	.alignright { text-align: right; }
	img.alignright { float: right; }
	.alignleft { text-align: left; }
	img.alignleft { float: left; }
	.aligncenter { text-align: center; }
	.wp-caption { display: block; color: #444; }
	.wp-caption-text { font-size: 15px; }
	.gallery-caption { display: inline; }
	.bypostauthor { font-size: 13px; }
	
	
	/* Scroll to top */
	#scroll-top a { padding: 4px 8px 6px; border-radius: 4px; background: #818c90; position: fixed; bottom: 48px; right: 32px; display: none; opacity: 0.89; filter: alpha(opacity=89); z-index: 499841; }
	#scroll-top a i { font-size: 16px; color: #fff; }
	#scroll-top a:hover { background-color: #ffcc00; cursor: pointer; }
	
	h1.pnf404 { font-size: 176px; line-height: 1.1; font-weight:900;}
	h2.pnf404 { font-size: 42px; line-height: 1.2; font-weight:700; }
	input.txbx404 { float:left; margin-top:2px; margin-right:4px; padding:7px 4px; min-height:inherit; border-radius:3px; }
	input.btn404 { float:left; margin:1px; padding:8px 12px 9px; }
	body.error404 input.search-side { max-width:292px; min-height:40px; height:40px; border-radius:2px;}
	body.error404 .blox.dark { padding-bottom:120px; padding-top:60px;}
	
	.v-shadow-l { background:url(../images/v-shadow-left.png) no-repeat right center; }
	.v-shadow-r { background:url(../images/v-shadow-right.png) no-repeat left center; }

	.v-shadow-r, .v-shadow-l {  min-height:320px; }
	.pad-r10 { padding-right:10px; }
	.pad-r20 { padding-right:20px; }
	.pad-r30 { padding-right:30px; }
	.pad-r40 { padding-right:40px; }
	.pad-l10 { padding-left:10px; }
	.pad-l20 { padding-left:20px; }
	.pad-l30 { padding-left:30px; }
	.pad-l40 { padding-left:40px; }
	
	/* #Column Shortcodes
	----------- */
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth { margin-right: 4%; float: left; margin-bottom:20px; }
	.one_half { 	width: 48%; }
	.one_third { width: 30.6666%; }
	.two_third { width: 65.3332%; }
	.one_fourth { width: 22%; }
	.three_fourth { width: 74%; }
	.one_fifth { width: 16.8%; }
	.two_fifth  { width: 37.6%; }
	.column-last { margin-right: 0 !important; clear: right; }
	
	
	.easyPieChart { position: relative; text-align: center; }
	.easyPieChart canvas { position: absolute; top: 0; left: 0; }
	.pie { text-align:center; font-size:49px; position:relative; margin:0 auto 20px; }
	.pie p { font-size:16px; color:#888; font-weight:400; position:absolute; bottom:-52px; width:100%; padding-top:10px; border-top:2px solid #f9f9f9;}
	.container .pie p { margin-bottom:0;}	

	
	/* Breadcrumbs 
	--------------- */
	.breadcrumbs-w { background:#f9f9f9; padding:7px 0; font-size:11px; color:#6c7279; letter-spacing:2px; text-transform:uppercase; font-weight:600;}
	.breadcrumbs-w a { color:#5c646d;}
	.breadcrumbs-w a:hover { text-decoration:underline;}
	.breadcrumbs-w .container { padding-left:20px;}
	
	

	
	/*# Row fixes
	--------------
	-------------- */
	
	
	.blox.page-title-x, .parallax-sec.page-title-x, .video-sec.page-title-x { margin-top:-35px;}
	.row-wrapper-x { padding:0 10px;}
	@media only screen and (min-width: 1200px){
	.row-wrapper-x { padding:0 15px;}
	}
	.col-md-8.omega .row-wrapper-x { padding-left:0;}
	#wrap .wpb_row.full-row, #wrap.boxed-wrap .wpb_row.full-row { margin-top:0; margin-left:0; margin-right:0; margin-bottom:0; clear:both;}
	#wrap .blox .wpb_row.full-row, #wrap .parallax-sec .wpb_row.full-row, #wrap .video-sec .wpb_row.full-row,
	#wrap.boxed-wrap .blox .wpb_row.full-row, #wrap.boxed-wrap .parallax-sec .wpb_row.full-row, #wrap.boxed-wrap .video-sec .wpb_row.full-row { margin:0;}
	#wrap .wpb_row.full-row.vc_row-fluid .vc_span12 .vc_row-fluid { margin-left:0; margin-right:0;}
	.wpb_revslider_element, .wpb_layerslider_element, .max-hero { margin-top:-35px;}
	.page-title-x .wpb_revslider_element, .page-title-x .wpb_layerslider_element, .page-title-x .max-hero { margin-top:0;}
	.blox.wpb_row, #wrap.boxed-wrap .blox.wpb_row, #wrap .blox.wpb_row, .blox .wpb_row, #wrap.boxed-wrap .blox .wpb_row, #wrap .blox .wpb_row{ margin-bottom:0;}
	.wpb_row.vc_row-fluid .wpb_row.vc_row-fluid { margin-bottom:0;}
	.wpb_row.blox, .wpb_row.parallax-sec, .wpb_row.video-sec, .wpb_row.full-row { margin-right:0; margin-left:0; margin-bottom:0;}
	/*.blox .wbp_row, .blox .wpb_row.vc_row-fluid  { margin-right:0!important; margin-left:0!important;}*/
	#wrap .blox .wpb_content_element, #wrap .parallax-sec .wpb_content_element, #wrap .video-sec .wpb_content_element { margin-bottom:0;}
	.wpb_single_image.wpb_content_element { margin-bottom:0;}
	.wpb_layerslider_element.wpb_content_element, .wpb_revslider_element.wpb_content_element, .wpb_gmaps_widget.wpb_content_element, .wpb_gallery.wpb_content_element, 
	.wpb_layerslider_element .wpb_single_image.wpb_content_element, .wpb_revslider_element .wpb_single_image.wpb_content_element { margin-bottom:0px;}
	#wrap .wpb_single_image .vc_single_image-wrapper { display:block;}
	
	.row-wrapper-x p img, div img, li img,
	#wrap p img, .wpb_single_image.wpb_content_element img { height: auto; max-width:100%;}


	.our-map .wpb_wrapper .wpb_map_wraper, .wpb_gmaps_widget .wpb_wrapper {padding:0; }
	.wpb_gmaps_widget { border:5px solid #eee;}
	.no-mb{margin-bottom:0 !important; }
	.ne-mb{margin-bottom:-30px !important; }
	#lang_sel { z-index:9999;}
	
	@media only screen and (min-width: 1200px){
	.wpb_column.nopad-all { padding:0;}
	.wpb_column.nopad-left { padding-left:0;}
	.wpb_column.nopad-right { padding-right:0;}
	.wpb_column.nopad-bottom { padding-bottom:0;}
	.wpb_column.nopad-top { padding-top:0;}
	}
	
	@media only screen and (max-width: 960px){
	.wpb_row.vc_row-fluid .wpb_column .wpb_row.vc_row-fluid .wpb_column { padding-left:10px; padding-right:10px;}
	.wpb_row.vc_row-fluid .wpb_column.full-at-max960 { width:100%;}
	}
	@media (max-width: 767px) {
	  .wpb_row.vc_row-fluid .wpb_column {
		margin-bottom: 0; /* webnus */
	  }
	}
	
	
	
	/* WP pagenavi 

	----------- */
	.wp-pagenavi { clear: both; font-size: 12px; text-align:center; }
	.wp-pagenavi span.pages { color:#999; }
	.wp-pagenavi a, .wp-pagenavi span { font-weight:bold; text-decoration: none; display:inline-block; background:#fff; border: 1px solid #d1d7dc; line-height:1; padding: 10px 14px; margin: 3px 4px;
	 -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	*zoom: 1;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.04);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.04);
	box-shadow:0 1px 3px rgba(0,0,0,0.04);
	 }
	.wp-pagenavi a:hover, .wp-pagenavi span.current { border-color: #efefef; background:#fdfdfd;}
	.wp-pagenavi a:hover {border-color: #d2d2d2;}
	.wp-pagenavi span.current {	font-weight: bold;}
	
	.search-results .blog-post { padding-bottom: 7px; border-bottom: 4px solid #efefef; margin-bottom: 40px; }
	
	
	/* Contact form7 
	--------------- */	
	.wpcf7 input[type="text"],
	.wpcf7 input[type="password"],
	.wpcf7 input[type="email"],
	.wpcf7 textarea { width:100%; box-sizing:border-box;}
	
	.wpcf7 .wpcf7-form p{color: #72757f; font-size:15px;}
	.wpcf7 .wpcf7-form input[type="text"], .wpcf7 .wpcf7-form input[type="password"], .wpcf7 .wpcf7-form input[type="email"], .wpcf7 .wpcf7-form textarea, .wpcf7 .wpcf7-form select, .wpcf7-form input[type="number"]{border: 1px solid #ccc; padding: 12px 6px; font-size: 14px;}
	.wpcf7 .wpcf7-form input[type="text"]:hover, .wpcf7 .wpcf7-form input[type="password"]:hover,.wpcf7 .wpcf7-form input[type="email"]:hover, .wpcf7 .wpcf7-form textarea:hover{border: 1px solid #5a8dd6;}
	.wpcf7 .wpcf7-form input[type="submit"], .wpcf7 .wpcf7-form input[type="reset"], .wpcf7 .wpcf7-form input[type="button"]{background-color:#82ca0e; padding: 16px 56px; padding: 16px 56px}
	.wpcf7 .wpcf7-form input[type="submit"]:hover, .wpcf7 .wpcf7-form input[type="reset"]:hover, .wpcf7 .wpcf7-form input[type="button"]:hover{background-color:#74b609;}
	.wpcf7 .wpcf7-form input[type="text"],.wpcf7 .wpcf7-form  input[type="password"],.wpcf7 .wpcf7-form input[type="number"],.wpcf7 .wpcf7-form  input[type="email"], .wpcf7 .wpcf7-form textarea,.wpcf7 .wpcf7-form  select,.wpcf7 .wpcf7-form  option{ margin:0 auto; width:100%; padding: 10px;}
	.wpcf7 .wpcf7-form h6{margin-top:25px; color:#df506e; font-size:20px; font-weight:bold; text-transform:lowercase;}
	
	.wpcf7 .wpcf7-form .radio-w {padding: 24px 0 0;}
	.wpcf7 .wpcf7-form .radio-w .wpcf7-list-item {margin-right: 100px;}
	.wpcf7 .wpcf7-form .one_half input[type="submit"] {width: 100%;margin-top: 16px;}
	.wpcf7 .wpcf7-form .one_half{margin-bottom:80px;}
	
	.dark.blox .wpcf7 .wpcf7-form input[type="text"],.dark.blox .wpcf7 .wpcf7-form  input[type="password"],.dark.blox .wpcf7 .wpcf7-form input[type="number"],.dark.blox .wpcf7 .wpcf7-form  input[type="email"],.dark.blox .wpcf7 .wpcf7-form textarea,.dark.blox  .wpcf7 .wpcf7-form  select,.dark.blox  .wpcf7 .wpcf7-form  option{color:rgba(102, 102, 102, 1); margin:0 auto; width:100%; padding: 10px; border-radius: 4px; background-color: rgba(255, 255, 255, 0.85);}
	.dark.blox .wpcf7 .wpcf7-form  input[type="text"]:focus,.dark.blox  .wpcf7 .wpcf7-form .rsvp-w1 input[type="password"]:focus,.dark.blox .wpcf7 .wpcf7-form input[type="number"]:focus,.dark.blox  .wpcf7 .wpcf7-form  input[type="email"]:focus,.dark.blox  .wpcf7 .wpcf7-form textarea:focus ,.dark.blox  .wpcf7 .wpcf7-form  select:focus ,.dark.blox  .wpcf7 .wpcf7-form  option:focus {background-color:#fff;}
	.dark.blox .wpcf7 .wpcf7-form  input[type="submit"]{border-radius: 30px; color: #fff; border: 1px solid #fff; background: transparent; padding: 14px 35px; margin-top: 10px;}
	.dark.blox .wpcf7 .wpcf7-form  input[type="submit"]:hover{background: #3498db;border: 1px solid #3498db;}


	/* ----------- */
	
	
	

	
	/* #Media Queries
	===============================================================================
	===============================================================================  */

	
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 960px) {
	
	#header { padding:10px 0;}
	#search-form, .woo-cart-header { display:none;}
	
	.plan-wrap { width: 100%; }
	.sub-h h5 { padding: 0; }
	.blog-content .post-img { margin-bottom: 20px; }
	.blog-expression { width: 100%; }
	.img-team { margin-top:40px }
	
	.sidebar, .rgt-cntt, .sidebar.leftside { padding-right:0; background:none; padding-top:40px; margin-top:40px; border-top:5px solid #e5e5e5;}
	.rgt-cntt, .sidebar.leftside { padding-top:0px; margin-top:0px; border-top:0 none; margin-right:0;}
	.sidebar.leftside { margin-bottom:40px; border-bottom:5px solid #e5e5e5;}

    .img-box { width: 256px; height: 188px; }
	.last-project .img-box { background: #EA3C3C; }
	.last-project .img-box:nth-child(even) { background: #F66060; }
	.ab-box { height: 235px; }
	.author-detail { width: 218px; }
	.contact input { width: 330px; float: none; }
	.contact textarea { width: 486px; }
	.row.magic, .s-qoute-man { padding: 0; margin-bottom: 10px; }
	a.get { margin-bottom: 14px; }
	.pad-r10, .pad-r20, .pad-r30, .pad-r40 { padding-right: 5px; }
	.pad-l10, .pad-l20, .pad-l30, .pad-l40 { padding-left: 5px; }
	
	.dpromo2 { margin-top:35px; border-top:1px solid #e5e5e5; padding-top:30px; }
	.dpromo2 .brdr-l1, .dpromo2 .pad-l40 { border-left:none; padding:0;}
	
	.vertical-space, .vertical-space1 { height: 12px; }
	.vertical-space2 { height: 18px; }
	.vertical-space3 { height: 36px; }
	.vertical-space4 { height: 50px; }
	.vertical-space5 { height: 80px; }
	
	.icon-box1 { text-align:center;}
	.icon-box1 i { display:inline-block; float:none; margin:20px 0; }
	.icon-box2 h4 { font-size:19px;}
	.icon-box2 p { font-size:17px;}
	
	
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select { min-width:90px; max-width:100%; }
	
	}


	/* iPad in portrait & landscape */
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
	
	.sparallax .slide-image{background-attachment: local !important; background-size: auto!important;}
	.blox {background-attachment: local!important; background-size: auto!important; }
	}
	
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 960px) {
	
	.blox {background-attachment: local!important; background-size: auto!important;}
	.pad { padding-top: 8%; }
	.blog-line img { float: none; }
	#wrap.boxed-wrap, #wrap.boxed-wrap #header { width: 828px; }
	#tline-content { width: 800px; }
	.tline-box { width: 335px; }
	#testimonials-slider li { width:750px;}
	.plan-wrap { width: auto; }
	
	.social-icons a { margin: 1px 4px 0 4px; }
	.row.magic { padding-left: 20px; margin-bottom: 10px; }	
	.blog-date-sec { width: 42px; height: 42px; }
	
	.max-counter.m-counter { width:130px; }
	.max-counter.m-counter .max-count { width:90px; height:90px; font-size:23px; padding-top:33px;}
	
	.social-team i { font-size:16px; padding:5px;}
	h1.respo-tagline, h2.respo-tagline, h3.respo-tagline, h4.respo-tagline { line-height:1.33; letter-spacing:0; margin-bottom:14px; }
	h1.respo-tagline { font-size:21px;}
	h2.respo-tagline { font-size:18px;}
	h3.respo-tagline { font-size:16px; font-weight:400;}
	h4.respo-tagline { font-size:13px; font-weight:400;}
	h1.tagline-bold { font-size:31px; line-height:33px;}	
	
	}
	
	
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#wrap.boxed-wrap, #wrap.boxed-wrap #header { width: 460px; }
	/*.pin-box { width: 166px; width: 164px\9; }*/
	#tline-content { width: 460px; }
	.tline-box { width: 420px; }
	#testimonials-slider li { width:400px;}	
	.page-subtitle { left: 0; padding: 10px 0 0 20px; bottom: 0; border-bottom: 1px solid #e8edee; margin-bottom: 20px; height: auto; width: auto; clear: both; background: #fdfdfd; border-radius: 0; }
	.pricing-table .plans-f-list.respo { display: inline; visibility: visible; }
	.jcarousel-item, .last-project .portfolio-item { max-width: 210px; height: 157px; float: left; }

	}
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	#header.dark #nav {background: #000; border-color:#181818}
	#header.dark.sm-rgt-mn #menu-icon i {color:rgb(228, 228, 228)}
	#header.dark.sm-rgt-mn #menu-icon:hover i, #header.dark.sm-rgt-mn #menu-icon.active i {color:#27ae60;}
	.blox {background-attachment: local !important; background-size: cover !important;}
	.max-hero .slides-navigation {display:none}
	.max-hero .slides-content .slides li{font-size: 48px;}
	.max-hero .slides-content p{ font-size: 14px}
	.max-hero .slides-content .button {font-size: 12px}
	#headline { height:auto; border-bottom:3px solid #f3f3f3; padding:14px 0; }
	#headline h3 { border-top-color: #f6f6f6; font-size:37px; text-align:center;}
	#headline h3 small { display:block; margin-top:14px; margin-bottom:0; font-size:16px; letter-spacing:0; font-weight:400; }
	
	.top-bar { height:78px; padding:5px 0 6px; background:#fcfcfc url(../images/topsobg1.png) repeat-x center center;}
	.top-bar h6 { font-size:11px; letter-spacing:0; margin:0 10px 0 0;}
	.top-bar h6 i { font-size:12px; padding:3px; margin-right:3px;}
	.top-bar .socialfollow, .top-links, .top-links.rgtflot, .top-bar .socialfollow.lftflot { float:none; text-align:center; clear:both; min-height:22px;}
	.top-bar .socialfollow, .top-bar .socialfollow.lftflot  {  padding-top:8px;}
	.top-bar .socialfollow a, .top-bar .socialfollow.lftflot a, .top-links p, .top-links img { float:none; display:inline; padding-top:10px; background:none;}
	.top-links, .top-links.rgtflot { margin:0 0 8px 0; padding-top:4px; }
	.top-links.rgtflot { margin-top:12px; margin-bottom:6px;}
	#lang_sel_click { text-align:left; float:right;}
	#lang_sel_click img.iclflag { padding:0;}
	
	.container hr { margin-left:0; margin-right:0;}
	.blog-date-sec { width: auto; display:block; margin:-24px 0 10px; text-align:left; background:none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: none; border-bottom: 1px solid #e5e5e5; }
	.blog-date-sec span, .blog-date-sec h3 { display: inline; margin: 0 1px; line-height: 25px; font-size:11px; font-weight:400; color:#444;}
	.blog-post { border-bottom-width:3px;}
	.blog-post h3, .blog-single-post h1 { font-size: 33px; margin-bottom:20px; line-height:31px; }
	.blog-post p { font-size:16px;}
	
	.nav-search { float: none; margin: 0; }
	.img-box { width: 420px; height: 308px; }
	.contact textarea { width: 398px; }
	.max-counter { display:block; padding-bottom:20px;}

	.logo { text-align: center; float:none; margin-bottom:15px; width:100%; }
	#nav { display: none; }
	.portfolio article { width: 100%; height: 300px; }
	.plan-wrap article { width: 50%; }
	.twitter h3 { padding: 0; }
	.project-view .img-item-big img { border:none; margin-bottom:-14px;}
	.proj-title-x h2 { font-size:28px;}
	#wrap .ptp-pricing-table .ptp-four-col {width: 100%;}
	
	.zoomex2 h6 { font-size:18px; font-weight:600;}
	
	input[type="text"].header-saerch, input[type="text"].header-saerch:focus { width: 261px; margin-top: 10px; }
	/*.pin-box { width: 236px; }*/
	
	.tline-box  iframe, .tline-box  img { height:auto;}
	.tline-row-l, .tline-row-r { display: none }
	.tline-box.rgtline { float: left; left: 0; }
	#tline-content:before { background:#eff3f4;}
	
	.tabs-left > .nav-tabs, .tabs-left > .nav-tabs > li > a, .nav-tabs > li, .nav-tabs > li.active, .tabs-left > .nav-tabs > li.active > a, .tabs-left > .nav-tabs .active > a:hover { width:100%; display:block; padding-left:0; padding-right:0; }
	.tabs-left > .nav-tabs > li > a { border-right:0 none;}
	.tabs-left > .tab-content { border: none;}
	.tab-content .columns, .tab-content .column { margin:0 10px; max-width:90%; }
	
	.container hr { margin-left:0; margin-right:0;}
	.blog-post { border-bottom-width:3px;}
	.author-detail { margin: 20px 0; }
	
	.pad-r10, .pad-r20, .pad-r30, .pad-r40, .pad-l10, .pad-l20, .pad-l30, .pad-l40 { padding: 0; }
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth { width: 100%; float: none; margin-right: 0; }
	
	
	.twitter-box h3 { font-size:17px;}

	.date-sp-wrap { margin: 0; float: right; margin-bottom: 7px; }
	.blog-line .blog-date-sec { height: auto; }
	.v-shadow-r, .v-shadow-l { min-height: inherit; background: none; }
	.pad-r10, .pad-r20, .pad-r30, .pad-r40, .pad-l10, .pad-l20, .pad-l30, .pad-l40 { padding: 0; }
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth { width: 100%; float: none; margin-right: 0; }
	.latest-f-blog, .qot-week { margin:0;}
	.callout { margin:10px 0px 20px; }
	.brdr-l1, .brdr-r1, .brdr-l2, .brdr-r2 { padding:0; border: none; }
	.brdr-l1 { margin-top:30px;}
	.brdr-r1 { margin-bottom:30px;}
	.resp-center { text-align:center !important;}
	.tab-content p, .tab-content li { font-size: 12px; }
	#side-nav { float:noe;}
	
	input[type="text"].header-saerch, input[type="text"].header-saerch:focus { float: none; display: inline; position: relative; z-index: 10000; }	
	#wrap .ls-inner a.button { padding:4px 8px !important; font-size:11px; text-transform:uppercase; letter-spacing:0; font-weight:bold;}
	#wrap .ls-inner a.button.sm19 { margin-left:-12px;}
	
	#wrap .ls-inner h1 { font-size:17px;}
	#wrap .ls-inner h2 { font-size:16px;}
	#wrap .ls-inner h3 { font-size:15px;}	
	#wrap .ls-inner h4 { font-size:14px;}
	#wrap .ls-inner h5 { font-size:13px;}
	#wrap .ls-inner h6, #wrap .ls-inner p { font-size:12px;}
	
	.footer-navi.floatright, .footer-navi { float:none; text-align:center;}
	.fix-btn-mrg .button.skyblue.large { margin-top:30px; margin-bottom:55px;} 
	
	.transparent-header-w #header .img-logo-w2 { display:none;}
	.transparent-header-w #header .img-logo-w1 { display:inline;}
	
	#header .img-logo-w1 { display:inline;}
	.logo a:active { opacity:1;}
	.moonicons-box1 { width:100%;}
	
	.max-title, .max-title2,.max-title3, .max-title4, .max-title5 { margin-top:14px; margin-bottom:12px;}
		
	}
	

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
	.max-hero .slides-content p{font-size: 13px}
	#wrap.boxed-wrap, #wrap.boxed-wrap #header { width: 340px; }
	.footbot { min-height: 38px; height: auto; }
	.nav-wrap2.mn4 #nav a { padding: 15px 4px; }
	#menu a { padding: 15px 4px; }
	.img-box { width: 300px; height: 220px; }
	
	.pad { padding-top: 2%; }
	.post-img { margin-bottom: 20px; }
	.plan-wrap article { width: 100%; }
	.author-detail { width: 254px; }
	.contact input { width: 288px; margin-right: 0; }
	.contact textarea { width: 278px; }
	
	.commentin { width: 92%; }	
	#tline-content { width: 300px; }
	.tline-box { width: 250px; }
	
	#testimonials-slider li { width:280px;}
	.quote-slider .testimonial-content h4 q { font-size:19px;}
	#wrap .ls-inner .ls-l { display:none;}
	#wrap .ls-inner .ls-bg { display:block;}
	
	.vertical-space, .vertical-space1 { height: 8px; }
	.vertical-space2 { height: 14px; }
	.vertical-space3 { height: 28px; }
	.vertical-space4 { height: 40px; }
	.vertical-space5 { height: 60px; }
	
	}	
	
	@media only screen and (min-width: 1200px) {	
	
	 #wrap.boxed-wrap, #wrap.boxed-wrap #header { width:1180px;}
	 .white-space { height:110px;}
	  h4.subtitle { margin:39px 0 21px 0; }
	 .blog-date-sec h3 { font-size:36px;}
	 #testimonials-slider li { width:1100px; }
	 .breadcrumbs-w .container { padding-left:30px;}
	.pin-box { width: 344px; margin:15px;}
	 } 
	 
	 @media only screen and (min-width: 769px) and (max-width: 960px) {
	 
	 #testimonials-slider li { width:860px;}
	 .latest-works .portfolio-item { width:33.3%;}
	 
	 }
	
	
	/* ---------------------