/* start webnus edit */

.text-left, .vc_align_left {
  text-align: left;
}
.text-right, .vc_align_right {
  text-align: right;
}
.text-center, .vc_align_center {
  text-align: center;
}

.vc_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
.vc_container:before,
.vc_container:after {
  content: " ";
  display: table;
}
.vc_container:after {
  clear: both;
}
.vc_container:before,
.vc_container:after {
  content: " ";
  display: table;
}
.vc_container:after {
  clear: both;
}

.wpb_row,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li,
.last_toggle_el_margin,
.wpb_button {
  margin-bottom: 35px;
}



.wpb_row {
  margin-left: -10px; /* webnus */
  margin-right: -10px; /* webnus */
}

@media (min-width: 1200px) {
.wpb_row {
  margin-left: -15px; /* webnus */
  margin-right: -15px; /* webnus */
}

}
.wpb_row:before,
.wpb_row:after {
  content: " ";
  display: table;
}
.wpb_row:after {
  clear: both;
}
.wpb_row:before,
.wpb_row:after {
  content: " ";
  display: table;
}
.wpb_row:after {
  clear: both;
}
.wpb_row .vc_span1,
.wpb_row .vc_span2,
.wpb_row .vc_span3,
.wpb_row .vc_span4,
.wpb_row .vc_span5,
.wpb_row .vc_span6,
.wpb_row .vc_span7,
.wpb_row .vc_span8,
.wpb_row .vc_span9,
.wpb_row .vc_span10,
.wpb_row .vc_span11,
.wpb_row .vc_span12 {
  margin-left: 0;
  -webkit-box-sizing: border-box; /* webnus */
  -moz-box-sizing: border-box; /* webnus */
  -ms-box-sizing: border-box; /* webnus */
  box-sizing: border-box; /* webnus */
}
@media (max-width: 767px) {
  .wpb_row .wpb_column {
    margin-bottom: 20px; /* webnus */
  }
}
@media (max-width: 767px) {
  .wpb_row > :last-child,
  .wpb_row > :last-child > .wpb_column {
    margin-bottom: 0;
  }
}
.vc_non_responsive .wpb_row .vc_span1 {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
.vc_non_responsive .wpb_row .vc_span2 {
  position: relative;
  float: left;
  width: 16.66666667%;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
.vc_non_responsive .wpb_row .vc_span3 {
  position: relative;
  float: left;
  width: 25%;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
.vc_non_responsive .wpb_row .vc_span4 {
  position: relative;
  float: left;
  width: 33.33333333%;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
.vc_non_responsive .wpb_row .vc_span5 {
  position: relative;
  float: left;
  width: 41.66666667%; 
   min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
.vc_non_responsive .wpb_row .vc_span6 {
  position: relative;
  float: left;
  width: 50%;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
.vc_non_responsive .wpb_row .vc_span7 {
  position: relative;
  float: left;
  width: 58.33333333%;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
.vc_non_responsive .wpb_row .vc_span8 {
  position: relative;
  float: left;
  width: 66.66666667%;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
.vc_non_responsive .wpb_row .vc_span9 {
  position: relative;
  float: left;
  width: 75%;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
.vc_non_responsive .wpb_row .vc_span10 {
  position: relative;
  float: left;
  width: 83.33333333%;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
.vc_non_responsive .wpb_row .vc_span11 {
  position: relative;
  float: left;
  width: 91.66666667%;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
.vc_non_responsive .wpb_row .vc_span12 {
  position: relative;
  float: left;
  width: 100%;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
.vc_responsive .wpb_row .vc_span1 {
  position: relative;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
@media (min-width: 768px) {
  .vc_responsive .wpb_row .vc_span1 {
    float: left;
    width: 8.33333333%;
  }
}
.vc_responsive .wpb_row .vc_span2 {
  position: relative;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
@media (min-width: 768px) {
  .vc_responsive .wpb_row .vc_span2 {
    float: left;
    width: 16.66666667%;
  }
}
.vc_responsive .wpb_row .vc_span3 {
  position: relative; 
   min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
@media (min-width: 768px) {
  .vc_responsive .wpb_row .vc_span3 {
    float: left;
    width: 25%;
  }
}
.vc_responsive .wpb_row .vc_span4 {
  position: relative;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
@media (min-width: 768px) {
  .vc_responsive .wpb_row .vc_span4 {
    float: left;
    width: 33.33333333%;
  }
}
.vc_responsive .wpb_row .vc_span5 {
  position: relative;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
@media (min-width: 768px) {
  .vc_responsive .wpb_row .vc_span5 {
    float: left;
    width: 41.66666667%;
  }
}
.vc_responsive .wpb_row .vc_span6 {
  position: relative;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
@media (min-width: 768px) {
  .vc_responsive .wpb_row .vc_span6 {
    float: left;
    width: 50%;
  }
}
.vc_responsive .wpb_row .vc_span7 {
  position: relative;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
@media (min-width: 768px) {
  .vc_responsive .wpb_row .vc_span7 {
    float: left;
    width: 58.33333333%;
  }
}
.vc_responsive .wpb_row .vc_span8 {
  position: relative;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
@media (min-width: 768px) {
  .vc_responsive .wpb_row .vc_span8 {
    float: left;
    width: 66.6665%;
  }
}
.vc_responsive .wpb_row .vc_span9 {
  position: relative;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
@media (min-width: 768px) {
  .vc_responsive .wpb_row .vc_span9 {
    float: left;
    width: 75%;
  }
}
.vc_responsive .wpb_row .vc_span10 {
  position: relative;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
@media (min-width: 768px) {
  .vc_responsive .wpb_row .vc_span10 {
    float: left;
    width: 83.33333333%;
  }
}
.vc_responsive .wpb_row .vc_span11 {
  position: relative;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
@media (min-width: 768px) {
  .vc_responsive .wpb_row .vc_span11 {
    float: left;
    width: 91.66666667%;
  }
}
.vc_responsive .wpb_row .vc_span12 {
  position: relative;  
  min-height: 1px;
  padding-left: 10px; /* webnus */
  padding-right: 10px; /* webnus */
}
@media (min-width: 768px) {
  .vc_responsive .wpb_row .vc_span12 {
    float: left;
    width: 100%;
  }
}


/* webnus columns fix start */
.vc_row-fluid [class*="vc_span"] img {
max-width:100%;
}

.vc_row-fluid.full-row .vc_span12,
.vc_row-fluid.full-row .vc_col-sm-12,
.vc_row-fluid.full-row .vc_col-md-12,
.vc_row-fluid.full-row .vc_col-lg-12 { padding:0;}

.vc_row-fluid.full-row .container .vc_span12,
.vc_row-fluid.full-row .container .vc_col-sm-12,
.vc_row-fluid.full-row .container .vc_col-md-12,
.vc_row-fluid.full-row .container .vc_col-lg-12 { padding-left: 10px; padding-right: 10px;}

.vc_row-fluid .vc_span12 .vc_row-fluid,
.vc_row-fluid .vc_col-sm-12 .vc_row-fluid,
.vc_row-fluid .vc_col-md-12 .vc_row-fluid,
.vc_row-fluid .vc_col-lg-12 .vc_row-fluid
 {
 margin-left:-10px;  margin-right:-10px; width:auto;
 }
 
 @media only screen and (min-width: 1200px) {
 .vc_row-fluid .vc_span12 .vc_row-fluid,
.vc_row-fluid .vc_col-sm-12 .vc_row-fluid,
.vc_row-fluid .vc_col-md-12 .vc_row-fluid,
.vc_row-fluid .vc_col-lg-12 .vc_row-fluid
 {
 margin-left:-15px;  margin-right:-15px; width:auto;
 }
.vc_row-fluid.full-row .vc_span12,
.vc_row-fluid.full-row .vc_col-sm-12,
.vc_row-fluid.full-row .vc_col-md-12,
.vc_row-fluid.full-row .vc_col-lg-12 { padding:0;}

.vc_row-fluid.full-row .container .vc_span12,
.vc_row-fluid.full-row .container .vc_col-sm-12,
.vc_row-fluid.full-row .container .vc_col-md-12,
.vc_row-fluid.full-row .container .vc_col-lg-12 { padding-left: 15px; padding-right: 15px;}

 }
 
 @media only screen and (max-width: 767px) {
 
 .vc_row-fluid .vc_span12 .vc_row-fluid,
.vc_row-fluid .vc_col-sm-12 .vc_row-fluid,
.vc_row-fluid .vc_col-md-12 .vc_row-fluid
 {
 margin-left:0;  margin-right:0; width:100%;
 }
 }
 
 .vc_row-fluid [class*="vc_span"] .vc_row-fluid .container,
  .vc_row-fluid [class*="vc_col"] .vc_row-fluid .container,
 .container .container, .columns .container, .container.wrapping, .wpb_column .container { width:auto; margin:0; padding:0;}


.vc_row-fluid .vc_span12,
.wpb_teaser_grid.wpb_carousel .vc_span12 {
  width: 100%;
}

 @media only screen and (min-width: 1200px) {
.vc_responsive .wpb_row .vc_span1,
.vc_responsive .wpb_row .vc_span2,
.vc_responsive .wpb_row .vc_span3,
.vc_responsive .wpb_row .vc_span4,
.vc_responsive .wpb_row .vc_span5,
.vc_responsive .wpb_row .vc_span6,
.vc_responsive .wpb_row .vc_span7,
.vc_responsive .wpb_row .vc_span8,
.vc_responsive .wpb_row .vc_span9,
.vc_responsive .wpb_row .vc_span10,
.vc_responsive .wpb_row .vc_span11,
.vc_responsive .wpb_row .vc_span12 {
  padding-left: 15px; /* webnus */
  padding-right: 15px; /* webnus */
}
.vc_row-fluid .vc_span12 .vc_row-fluid
 {
 margin-left:-15px;  margin-right:-15px; width:auto;
 }
 
.vc_responsive .vc_row-fluid.full-row .vc_span12,
.vc_responsive .vc_row-fluid.full-row .vc_col-sm-12 { padding:0;}
.vc_responsive .vc_row-fluid.full-row .container .vc_span12,
.vc_responsive .vc_row-fluid.full-row .container .vc_col-sm-12  {   padding-left: 15px; padding-right: 15px;}

 }

/* webnus columns fix enD */


/* ====== start webnus edit ====== */

/* Webnus Teaser grid */

.wpb_teaser_grid { margin-top:20px;}
.wpb_teaser_grid p, .wpb_teaser_grid .entry-content { font-size:13px; font-weight:400; color:#818181; clear:right; line-height:1.8 !important; padding:6px 0 18px;}
.wpb_teaser_grid img { width: 100%; border-bottom: 3px solid #eee; margin-bottom:8px; height:auto !important;}
.wpb_teaser_grid h2.post-title { font-size:18px; margin-bottom:5px; font-weight:400; line-height:1.3;}
.wpb_teaser_grid.wpb_teaser_grid_post h2.post-title {font-size: 23px; font-weight:bold; margin:10px 0;}
.wpb_teaser_grid h2.post-title a { color: #2e373d;}
.wpb_teaser_grid h2.post-title a:hover { color: #e84a52;}
.wpb_teaser_grid ul.wpb_thumbnails-fluid li { padding:0 10px; }
@media only screen and (min-width: 1200px) {
.wpb_teaser_grid ul.wpb_thumbnails-fluid li { padding:0 15px; }
}
.wpb_teaser_grid .categories_filter { display:block; margin:14px 10px 24px !important; text-align: center; clear: both; list-style: none outside none;}
#main-content .wpb_teaser_grid .categories_filter li a { border-radius: 0; padding: 6px 12px; font-size: 13px; line-height: 1.2; color: #333; font-weight: normal; margin-top: 0; text-align: center; width: auto; border: 2px solid #f0eeed;}
#main-content .wpb_teaser_grid .categories_filter li a:hover { border-color: #e84a52; }
#main-content .wpb_teaser_grid .categories_filter li.active a, .wpb_teaser_grid .categories_filter li a:active { border: 2px solid #e84a52; color: #e84a52; }
.wpb_carousel .wpb_thumbnails-fluid > [class*="vc_span"] { padding-bottom:10px;}
.wpb_teaser_grid ul.wpb_thumbnails-fluid li { /*margin-left:0 !important;*/}
.teaser-metadata { display:inline-block; color:#888; font-size:12px; /* extent */ font-weight:400; /* extent */ text-transform:lowercase; /* extent */ padding:6px 0px 7px 0; }
.teaser-metadata span { padding-right:8px;}
.teaser-metadata strong { font-weight:400; color:#a8b1b4;}
.wpb_teaser_grid .entry-content {clear:left;}
#wrap .wpb_gallery_slides { position:relative;}
.wpb_gallery_slides .flex-caption { position:absolute; width:100%; background:none;
 background-image: -moz-linear-gradient(top, rgba(0,0,0,0.03), rgba(0,0,0,0.9));
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.03), rgba(0,0,0,0.9));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.03)), torgba(0,0,0,0.9));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.03), rgba(0,0,0,0.9));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.03), rgba(0,0,0,0.9));
    background-image: linear-gradient(top, rgba(0,0,0,0.03), rgba(0,0,0,0.9));
     -moz-box-sizing: border-box !important; box-sizing: border-box !important; left:0; bottom:0; padding:35px 50px 30px 60px; text-align:left;}
.wpb_gallery_slides .flex-caption h2.post-title { font-size: 27px; font-weight:800; font-family: 'Roboto Salb',  Helvetica, Arial, sans-serif; line-height:1.3; letter-spacing: -0.03em; margin-bottom:6px;}
.wpb_gallery_slides .flex-caption h2.post-title a { color:#fff; text-shadow:0 1px 4px rgba(0,0,0,0.8);}
.wpb_gallery_slides .flex-caption p  { font-size:14px; color:#d9d9d9; text-shadow:0 1px 0 #000; font-weight:400; margin-bottom:10px;}
.wpb_gallery_slides .flex-caption a.readmore { font-size:10px; padding:6px 12px; text-transform:uppercase; letter-spacing:1.5px; border-radius: 0; font-weight:600; color:#fff; margin-top:10px; margin-bottom:0; float:none; border:2px solid #fff; text-shadow:0 1px 3px rgba(0,0,0,0.6); box-shadow:0 1px 3px rgba(0,0,0,0.4);  display:none;}
.wpb_gallery_slides .flex-caption a.readmore:after { content:""; display:none;}
.wpb_gallery_slides .flex-caption h6, .wpb_gallery_slides .flex-caption h6 a { font-size:17px; font-weight:400; color:#fff; text-shadow:0 1px 3px rgba(0,0,0,0.7);}
.wpb_gallery_slides .flex-caption h6 a:hover { color:#ff6c6d; text-decoration:underline;}
.wpb_gallery_slides .flex-control-nav { display:none;}
.wpb_gallery_slides .flex-direction-nav a { opacity: 0.28; padding:30px 5px;}
.wpb_gallery_slides:hover .flex-direction-nav a { opacity: 0.65; }
.wpb_gallery_slides .flex-direction-nav a:hover { opacity: 1; }
.wpb_gallery_slides .flex-direction-nav .flex-next, .wpb_gallery_slides .flex-direction-nav .flex-prev { border-radius: 0; background:none; border:none; }
.wpb_gallery_slides .flex-direction-nav .flex-next { margin-right:5px;}
.wpb_gallery_slides .flex-direction-nav .flex-prev { margin-left:3px;}
.wpb_gallery_slides .flex-direction-nav a i { font-size:16px; padding:10px 13px; text-shadow:0 1px 3px rgba(0,0,0,0.1); border:3px solid rgba(255,255,255,0.78); border-radius:33px;}
.wpb_gallery_slides.flexslider:hover .flex-next:hover, .wpb_gallery_slides.flexslider:hover .flex-prev:hover { background:none; }
.col-md-4 .wpb_gallery_slides .flex-direction-nav a i { border:none; padding:0;}
@media only screen and (max-width: 960px) {
.wpb_gallery_slides .flex-caption p { display:none;}
}
@media only screen and (max-width: 767px) {
.wpb_gallery_slides .flex-caption h2.post-title { font-size:19px;}
.wpb_gallery_slides .flex-caption h6, .wpb_gallery_slides .flex-caption h6 a { font-size:12px;}
.wpb_gallery_slides .flex-caption a.readmore { display:none;}
.wpb_teaser_grid .categories_filter li, .wpb_categories_filter li { margin-bottom:23px;}
}
@media only screen and (max-width: 479px) {
.wpb_gallery_slides .flex-caption { top:12%;}
.wpb_gallery_slides .flex-caption h2.post-title { font-size:15px;}
}

/* webnus vc carousel */

.vc-carousel-indicators {  position: absolute;  bottom: -36px;  left: 50%;  z-index: 15;  width: 60%;  margin-left: -30%;  padding-left: 0;  list-style: none;  text-align: center;}
.vc-carousel-indicators li {  display: inline-block;  width: 10px;  height: 10px;  margin: 1px;  text-indent: -999px;  border-radius: 10px;  cursor: pointer;  border: 1px solid #888;  background-color: #888;}
.vc-carousel-indicators .vc-active {  background-color: transparent;  border: 1px solid #666;}
.vc-carousel-indicators .vc-partial {  opacity: 0.5;}
.vc-carousel {  position: relative; padding-top:22px;}
.vc-carousel .vc-carousel-inner {  position: relative;  overflow: hidden;  width: 100%;}
.vc-carousel .vc-carousel-inner .vc-carousel-slideline {  position: relative;  overflow: hidden;}
.vc-carousel .vc-carousel-inner .vc-carousel-slideline .vc-carousel-slideline-inner {  left: 0;  position: relative;  width: 100%;}
.vc-carousel .vc-carousel-inner .vc-carousel-slideline .vc-carousel-slideline-inner.vc-transition {  -webkit-transition: 0.5s ease left;  transition: 0.5s ease left;}
.vc-carousel .vc-carousel-inner .vc-carousel-slideline .vc-carousel-slideline-inner.vc-transition.vc-swipe-transition {  -webkit-transition-duration: 0.2s;  transition-duration: 0.2s;}
.vc-carousel .vc-carousel-inner .vc-carousel-slideline .vc-carousel-slideline-inner > .vc-item {  float: left;  visibility: hidden;}
.vc-carousel .vc-carousel-inner .vc-carousel-slideline .vc-carousel-slideline-inner > .vc-item > img,
.vc-carousel .vc-carousel-inner .vc-carousel-slideline .vc-carousel-slideline-inner > .vc-item > a > img {  display: block;  max-width: 100%;  height: auto;  line-height: 1;}
.vc-carousel.vc-per-view-more .vc-carousel-slideline .vc-carousel-slideline-inner > .vc-item > .vc-inner {  margin-right:18px; margin-left:2px;}
.vc-carousel.vc_carousel_vertical .vc-carousel-slideline {  overflow: hidden;}
.vc-carousel.vc_carousel_vertical .vc-carousel-slideline .vc-carousel-slideline-inner {  width: 100%;}
.vc-carousel.vc_carousel_vertical .vc-carousel-slideline .vc-carousel-slideline-inner.vc-transition {  -webkit-transition-property: top;  transition-property: top;}
.vc-carousel.vc_carousel_vertical .vc-carousel-slideline .vc-carousel-slideline-inner .vc-item {  float: none;}
.vc-carousel.vc_carousel_vertical .vc-carousel-indicators {  position: absolute;  top: 2%;  right: 3%;  left: auto;  width: 10px;}
.vc-carousel.vc_carousel_vertical .vc-carousel-indicators li {  display: block;  margin: 0 auto 3px;  width: 6px;  height: 6px;}
.vc-carousel.vc_carousel_vertical .vc-carousel-indicators li.vc-active {  width: 8px;  height: 8px;  margin: 0 auto 1px;}
.vc-carousel.vc-build .vc-carousel-slideline .vc-carousel-slideline-inner > .vc-item {  visibility: visible;}
.vc-carousel-control {  position: absolute;  padding: 0;  top: 0;  left: 50%;  bottom: 0;  margin-top: -32px;  font-size: 22px;  text-align: center;}

#wrap .vc-carousel .vc-carousel-indicators { display:none;}

#wrap .vc-carousel-control { opacity:1; }
#wrap .vc-carousel-control.vc-left {margin-left: -71px; left:50%;}
#wrap .vc-carousel-control.vc-right {right: auto; left: 50%; margin-left: -35px;}
.vc-carousel-control .icon-prev,
.vc-carousel-control .icon-next,
.vc-carousel-control .glyphicon-chevron-left,
.vc-carousel-control .glyphicon-chevron-right {  position: absolute;  z-index: 5;  display: inline-block;}

/* main */
.vc-carousel-caption { position: absolute;  left: 15%;  right: 15%;  bottom: 20px;  z-index: 10;  padding-top: 20px;  padding-bottom: 20px;  color: #ffffff;  text-align: center;  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);}
.vc-carousel-caption .btn { text-shadow: none;}

#wrap .vc_carousel .wpb_wrapper { border-top:1px solid #e9e9e9; padding-top:10px; margin-top:17px; padding-bottom:10px;}
#wrap .vc_carousel .vc-carousel-control { top:15px;}
#wrap .vc_carousel .vc-carousel-control .icon-prev, #wrap .vc_carousel .vc-carousel-control .icon-next  { opacity:1; background-color: #fff; width:36px; height:36px; padding: 10px; border-radius: 50%; right: auto; margin-left: 5px; top: -14px;/* border: 1px solid #acb0b2;*/ border:none; color: #acb0b2;}
#wrap .vc_carousel .vc-carousel-control .icon-prev:hover, #wrap .vc_carousel .vc-carousel-control .icon-next:hover { border-color: #e84a52; color: #e84a52; background:#fff;}
#wrap .vc_carousel .vc-carousel-control .icon-next:before, #wrap .vc_carousel .vc-carousel-control .icon-prev:before { top:0px; opacity:1; position: absolute; top: 7px; right: 9px; font-family: 'FontAwesome'; font-size: 16px; color: inherit;  content: "\f054"; speak: none; font-style: normal; }
#wrap .vc_carousel .vc-carousel-control .icon-prev:before { right:11px; content: "\f053"; }


#wrap .vc_carousel p { font-size:13px; font-weight:400; color:#666; clear:right; line-height:1.6 !important;}
#wrap .vc_carousel img { width: 100%; border-bottom: 3px solid #e2e2e2; margin-bottom:8px; height:auto;}
#wrap .vc_carousel h2.post-title { font-size:17px; margin-bottom:7px; margin-top:7px; font-weight:400; line-height:1.3; font-family: 'Roboto Slab', serif;}
#wrap .vc_carousel h2.post-title a { color: #2e373d;}
#wrap .vc_carousel h2.post-title a:hover { color: #e84a52;}

@media screen and (min-width: 768px) {
  .vc-carousel-caption {  left: 20%;  right: 20%;  padding-bottom: 30px; }
}
@media screen and (max-width: 767px) {
#wrap .vc_carousel .vc-carousel-control { top:9px;}
}
.clearfix:before, .clearfix:after {  content: " ";  /* 1 */  display: table;  /* 2 */}
.clearfix:after {  clear: both;}
.pull-right {  float: right !important;}
.pull-left {  float: left !important;}
.hide {  display: none !important;}
.show {  display: block !important;}
.invisible {  visibility: hidden;}
.text-hide {  font: 0/0 a;  color: transparent;  text-shadow: none;  background-color: transparent;  border: 0;}
/* Wordpress fix. */
.entry-content ol.vc-carousel-indicators {  margin: 0 0 0 -30%;}
.entry-content .vc_carousel_vertical ol.vc-carousel-indicators {  margin: 1px 0 0 0;  bottom: auto;}
.wpb_images_carousel.carousel .vc-carousel-inner .vc-carousel-slideline .vc-carousel-slideline-inner > .item > a {  display: block;}
.wpb_images_carousel.carousel .vc-carousel-inner .vc-carousel-slideline .vc-carousel-slideline-inner > .item > a > img {  margin: auto;}

/* start webnus edit vc common elements */

/** Tabs/Tour Common 
---------------------------------------------------------- */
#wrap .wpb_content_element .wpb_tour_tabs_wrapper,
#wrap .wpb_content_element .wpb_tabs_nav {
  padding: 0;
}
#wrap .wpb_content_element .wpb_tabs_nav {
  margin: 0;
  padding-left: 0 !important;
  text-indent: inherit !important;
  border-bottom: 1px solid #e5e5e5;

}
#wrap #content .wpb_content_element .wpb_tabs_nav {
  margin: 0;
}
#wrap .wpb_content_element .wpb_tabs_nav li {
  background:#f7f7f7;
  display:block;
  margin-bottom:-1px !important;
  margin-right:-1px !important;
  line-height: 18px;
  border: 1px solid #e5e5e5;  
  white-space: nowrap;  
  background-image: none;
  list-style: none !important;
}

#wrap .wpb_content_element .wpb_tabs_nav li:after,
#wrap .wpb_content_element .wpb_tabs_nav li:before {
  display: none !important;
}

#wrap .wpb_content_element .wpb_tabs_nav li:hover {
  background-color: #fbfbfb;
}
#wrap .wpb_content_element .wpb_tabs_nav .ui-state-active, #wrap .wpb_content_element .wpb_tabs_nav .ui-state-focus,
#wrap .wpb_content_element .wpb_tabs_nav .ui-state-active:hover , #wrap .wpb_content_element .wpb_tabs_nav .ui-state-focus:hover  { 
border-bottom-color:#fff; background:#fff; padding-top:6px; margin-top:-6px;}

#wrap .wpb_content_element .wpb_tabs_nav li.ui-tabs-active a {
  cursor: default;
}
#wrap .wpb_content_element .wpb_tour_tabs_wrapper .wpb_ui-tabs-hide {
  display: none;
}
/** Tabs/Tour/Accordion Common **/
#wrap .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,
#wrap .wpb_content_element .wpb_accordion_header a {
  border-bottom: none;
  text-decoration: none;
  display: block;
  padding:12px 18px;
  font-size:13px; 
  color:#555;
}

#wrap .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header,
#wrap .wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
  background-color: #fff;
    border:1px solid #e5e5e5;
  border-top:none;
}

#wrap .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab,
#wrap .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
  padding: 20px;
}
#wrap .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab > .wpb_content_element:last-child,
#wrap .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content > .wpb_content_element:last-child,
#wrap .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab .wpb_row:last-child > div > div.wpb_wrapper .wpb_content_element:last-child,
#wrap .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content .wpb_row:last-child > div > div.wpb_wrapper .wpb_content_element:last-child {
  margin-bottom: 0;
}
/** Tabs **/
#wrap .wpb_tabs .wpb_tabs_nav li {
  float: left;
  margin: 0 1px 0 0;
}
/** Tour **/

#wrap .wpb_tour .wpb_tabs_nav {
  float: left;
  display:block;
  border:none;
  border-right:1px solid #e5e5e5;
  padding:40px 0;
  width: 20%;
  min-width:98px;
}
#wrap .wpb_tour .wpb_tabs_nav li {
  margin: 0 0 1px 0;
  padding:0;
  background:#f9f9f9;
  border:1px solid #e5e5e5;
  border-left:none;
}
#wrap .wpb_tour .wpb_tabs_nav .ui-state-active, #wrap .wpb_tour .wpb_tabs_nav .ui-state-focus,
#wrap .wpb_tour .wpb_tabs_nav .ui-state-active:hover , #wrap .wpb_tour .wpb_tabs_nav .ui-state-focus:hover  { 
border-bottom-color:#e5e5e5; border-right-color:#fff; background:#fff; padding-top:0; margin-top:0; margin-right:-1px;}

#wrap .wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav a {
    text-transform:uppercase;
    font-size:12px;
    font-weight:bold;
    color:#838383;
    padding:10px;
    font-family: 'Roboto',  Helvetica, Arial, sans-serif;
}

#wrap .wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  height:100%;
  float:left;
  width:79%;
  min-width:196px;
  min-height:160px;
  display:block;
  padding: 30px 0 0 21.739130434782606px;
}

#wrap .wpb_tour_next_prev_nav {
width:0px; height:0px; display:none; visibility:hidden;
}
#wrap .wpb_tour_next_prev_nav a {
  border-bottom: 1px dotted;
  text-decoration: none;
}
#wrap .wpb_tour_next_prev_nav a:hover {
  text-decoration: none;
  border-bottom: none;
}
#wrap .wpb_tour_next_prev_nav span {
  width: 48%;
  display: inline-block;
  padding-top: 1em;
  float: left;
}
#wrap .wpb_tour_next_prev_nav span.wpb_next_slide {
  text-align: right;
  float: right;
}
/** Accordion **/
#wrap .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
  margin: 0 0 1px 0;
  padding-top: 0;
  position: relative;
  text-transform: none;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  border:none;
  cursor: pointer; display: block; margin: 0;
}
#wrap .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a {
  display: block; color:#656f78;  padding: 36px 14px 16px 38px; letter-spacing:2px; text-transform:uppercase; text-decoration: none; text-shadow: none; font-weight:bold; font-size:17px;
  font-family: 'Lora', serif; min-height:82px; line-height:1.5; margin-left:37px;
}
#wrap .wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon,
#wrap .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 7px;
  top:19px;
  border:2px solid #eee;
  border-radius:50%;
}


#wrap .wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon:before,
#wrap .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon:before { content:"+"; display:block; float:left; font-size:23px; margin-left:22px; margin-top:14px; color:#999; font-family: 'Lora', serif;}
#wrap .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon:before { content:"-"; margin-left:24px; margin-top:16px; }

#wrap .wpb_accordion .wpb_accordion_wrapper:last-of-type {  margin-bottom: 20px; }
#wrap .wpb_accordion .wpb_accordion_wrapper .ui-state-active a, #wrap .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:hover { color: #0093d0; }
#wrap .wpb_accordion .wpb_accordion_wrapper .ui-state-active a { background-color: #fff; }  

#wrap .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content  {
  padding:0 20px 30px 74px; 
}
#wrap .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content p {font-size:14px; font-weight:400;}

/* tabs_tour_accordion responsive rules */
@media (max-width: 960px) {
  #wrap .vc_responsive .wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav,
  #wrap .vc_responsive .wpb_tour .wpb_tab,
  #wrap .vc_responsive .wpb_tour_next_prev_nav {
    width: 100%;
    float: none;
    margin-left: 0;
  }

  #wrap .wpb_tabs .wpb_tabs_nav li, #wrap .wpb_content_element .wpb_tabs_nav li, .wpb_tour .wpb_tabs_nav  {
  float:none;
  margin:0 !important;
  }
  
#wrap .wpb_content_element .wpb_tabs_nav .ui-state-active, #wrap .wpb_content_element .wpb_tabs_nav .ui-state-focus,
#wrap .wpb_content_element .wpb_tabs_nav .ui-state-active:hover , #wrap .wpb_content_element .wpb_tabs_nav .ui-state-focus:hover, #wrap .wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {
  float:none;
  margin:0 !important;
  padding-top:0 !important;
  border-left-color:#ff9900;
  }
#wrap .wpb_tour .wpb_tabs_nav {
  width:auto;
  border:none;
  max-width:100%;
}
#wrap .wpb_tour .wpb_tabs_nav li {
  border:1px solid #e5e5e5;
}

#wrap .wpb_tour .wpb_tabs_nav .ui-state-active, #wrap .wpb_tour .wpb_tabs_nav .ui-state-focus,
#wrap .wpb_tour .wpb_tabs_nav .ui-state-active:hover , #wrap .wpb_tour .wpb_tabs_nav .ui-state-focus:hover {
  border-left:1px solid #ff9900; border-right:1px solid #e5e5e5;
}


}


/* Progress bar
---------------------------------------------------------- */
.vc_progress_bar .vc_single_bar {

  background: #f7f7f7;
  position: relative;
  margin-bottom: 12px;
  height:11px;
  margin-top: 50px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;

}
.vc_progress_bar .vc_single_bar:last-child {
  margin-bottom: 0;
}
.vc_progress_bar .vc_single_bar .vc_label {
  position: relative;
  display: inline;
  padding: 0;
  text-shadow: none !important;
  z-index: 1;
  top:-28px;
  color:#797d84; /* webnus*/
  font-size:15px; /* webnus*/
  font-weight:300; /* webnus*/
}
.vc_progress_bar .vc_single_bar .vc_label .vc_label_units { float:right; margin-top:-24px;}
.vc_progress_bar .vc_single_bar.bar_blue .vc_bar {
  background-color: #0074CC;
}
.vc_progress_bar .vc_single_bar.bar_blue .vc_label {
  color:#797d84; /* webnus*/
}
.vc_progress_bar .vc_single_bar.bar_turquoise .vc_bar {
  background-color: #49afcd;
}
.vc_progress_bar .vc_single_bar.bar_turquoise .vc_label {
  color:#797d84; /* webnus*/
}
.vc_progress_bar .vc_single_bar.bar_green .vc_bar {
  background-color: #5bb75b;
}
.vc_progress_bar .vc_single_bar.bar_green .vc_label {
  color:#797d84; /* webnus*/
}
.vc_progress_bar .vc_single_bar.bar_orange .vc_bar {
  background-color: #faa732;
}
.vc_progress_bar .vc_single_bar.bar_orange .vc_label {
  color:#797d84; /* webnus*/
}
.vc_progress_bar .vc_single_bar.bar_red .vc_bar {
  background-color: #da4f49;
}
.vc_progress_bar .vc_single_bar.bar_red .vc_label {
  color:#797d84; /* webnus*/
}
.vc_progress_bar .vc_single_bar.bar_black .vc_bar {
  background-color: #414141;
}
.vc_progress_bar .vc_single_bar.bar_black .vc_label {
  color:#797d84; /* webnus*/
}
.vc_progress_bar .vc_single_bar .vc_bar {
  display: block;
  position: absolute;
  height: 100%;
  background-color: #e0e0e0;
  width: 0%;
  top: 0;
  left: 0;
  transition: width 1s linear;
  -moz-transition: width 1s linear;
  -webkit-transition: width 1s linear;
  -o-transition: width 1s linear;
}
.vc_progress_bar .vc_single_bar .vc_bar.striped {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  -o-background-size: 20px 20px;
  background-size: 20px 20px;
}
.vc_progress_bar .vc_single_bar .vc_bar.animated {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 20px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 20px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 20px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 20px 0;
  }
  to {
    background-position: 0 0;
  }
}

/* ====== end webnus edit ====== */