/*----------------------------------

	Theme Name: Mexin
	----------------------
	
/* #Widgets Styles
================================================== */

	/* Sidebar Lists  */
	
	.widget { height: auto; padding: 0px; text-align: left; font-size:13px; font-weight:normal; clear:both; }
	.sidebar .widget, .wpb_column .widget { margin-bottom:50px; margin-left: 45px;}
	.sidebar.leftside .widget { margin-left: 0; margin-right: 45px; }
	.widget ul, .widget ul li { margin: 0; padding: 0; list-style: none; letter-spacing:0; }
	.widget li, .widget p, .widget div { word-wrap:break-word;}
	.widget ul { margin-bottom: 10px; }
	.widget ul.children { margin-bottom:0; padding-left:16px;}
	.widget ul li, #footer.litex .widget ul li { color:#91979d; border-bottom: 1px dotted #e3e3e3; padding: 5px 4px 5px 0; }
	.widget ul.children li:last-child { border:none;}
	.widget ul li a, #footer.litex .footer-in .widget ul li a { text-decoration: none; color: #95a3a6; padding: 8px 5px 8px 0;
	-webkit-transition: all .07s ease; -moz-transition: all .07s ease; -ms-transition: all .07s ease; -o-transition: all .07s ease; transition: all .07s ease; }
	.widget ul li a:hover, #footer.litex .footer-in .widget ul li a:hover { color: #515151; }
	.widget ul li:hover, #footer.litex .footer-in .widget ul li:hover  { background:#fafafa; }
	.toggle-top-area .widget ul li:hover, #footer .footer-in .widget ul li:hover  { background:#0c0c0d;}
	.toggle-top-area .widget ul li:last-child, #footer .footer-in .widget ul li:last-child  { border-bottom:none;}
	#footer.litex .footer-in .widget ul li a { background:none; color:#666; padding:0;}
	#footer.litex .footer-in .widget ul li a:hover { padding:0;}
	#footer.litex .footer-in .widget ul li:hover { background:#fff; color:#555;}
	.widget ul li.menu-item-has-children:after { content:""; display:none;} 
	.widget ul li span { color:#91979d; }
	.toggle-top-area .widget ul li , #footer .widget ul li { border-color:#23232a;}
	.toggle-top-area .widget ul li a,#footer .widget ul li a { background:none;}
	.toggle-top-area .widget ul li a:hover , #footer .widget ul li a:hover { color:#d9d9d9;}
	.sidebar h4.subtitle, .widget h4.subtitle { margin-top:0; font-weight:700; font-size:16px; letter-spacing:0;}
	.widget .postslider li, .widget .postslider ul li:hover, .widget .instagram-feed li, .widget .minislideshow li, .widget .minislideshow ul li:hover,
	#footer.litex .widget .postslider li, #footer.litex .widget .postslider ul li:hover, #footer.litex .widget .instagram-feed li, #footer.litex .widget .minislideshow li, #footer.litex .widget .minislideshow ul li:hover { border:none; padding:0; background:none;}
	.widget .postslider li a, .widget .instagram-feed li a, #footer .widget .postslider li a, .widget .minislideshow li a { padding:0; background:none; color:#484848;}
	.widget .postslider li a:hover, .widget .instagram-feed a:hover, #footer .widget .postslider a:hover, .widget .minislideshow li a:hover { padding-left:0; background:none;}
	.widget .postslider li:after, .widget .side-list li:after, .widget .instagram-feed li:after, .widget .minislideshow li:after,
	#footer.litex .widget .postslider li:after, #footer.litex .widget .side-list li:after, #footer.litex .widget .instagram-feed li:after, #footer.litex .widget .minislideshow li:after {display:none;}
	.widget .postslider p, #footer .footer-in .widget .postslider p { font-size:18px; font-weight:700; letter-spacing:-1px; text-align:center; margin-top:10px; color:#393939; padding:7px 15px 4px;}
	.toggle-top-area .widget .postslider p, #footer .footer-in .widget .postslider p { color:#e9e9e9;}
	#footer.litext .footer-in .widget .postslider p { color:#404040;}
	.toggle-top-area .widget .flexslider, #footer .widget .flexslider { background: none;}
	.toggle-top-area .widget .flexslider img, #footer .widget .flexslider img { margin-bottom:12px;}
	.widget .flexslider img { border-bottom:3px solid rgba(0,0,0,0.18);}
	.widget .flex-control-nav { display:none;}
	.widget .flex-direction-nav a { padding:14px 7px 10px !important; top:46%;}
	.widget .b-author img { width:70px; height:70px; border-radius:35px;}
	.widget .testimonial-content p, .footer-in .widget .testimonial-content p { margin:0 5px; font-size:13px; font-weight:normal;}
	.widget .flexslider:hover .flex-next, .widget .flexslider:hover .flex-prev {opacity: 1; background-color: rgba(0,0,0,0.8) !important;}
	.widget .flickr-feed { margin-bottom:14px;}
	.widget .flickr-feed a, .widget .instagram-feed a  { float:left; background:none; padding: 0; margin:0 1px 1px 0; opacity: 0.6; filter: alpha(opacity=60);  -webkit-transition: opacity 0.31s ease; -moz-transition: opacity 0.31s ease; -ms-transition: opacity 0.31s ease; -o-transition: opacity 0.31s ease; transition: opacity 0.31s ease;}
	#footer.litex .widget .flickr-feed a, #footer.litex .widget .instagram-feed a, .sidebar .widget .flickr-feed a, .sidebar .widget .instagram-feed a  { opacity: 0.82; filter: alpha(opacity=82); }
	.widget .instagram-feed a img { width:90px; height:90px; box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.7);}
	.toggle-top-area .widget .instagram-feed a img, #footer .widget .instagram-feed a img { margin:0; width:98px; height:98px; box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.7);}
	.widget .flickr_badge_image { width:75px; height:auto; margin:0;}
	.widget .flickr-feed a:hover, #footer.litex .flickr-feed a:hover, 
	.widget .instagram-feed a:hover, #footer.litex .widget .instagram-feed a:hover, 
	.sidebar .widget .flickr-feed a:hover, .sidebar .widget .instagram-feed a:hover { opacity: 1; filter: alpha(opacity=100);}
	.widget .socialfollow { float:none; clear:both; margin:10px 0;}
	.widget .socialfollow a i { margin:1px; color:#555; font-size:21px;}
	#footer .widget .socialfollow a i, .widget .socialfollow a:hover i { color:#fff;}
	.sidebar .widget div.socialfollow i { color:#909090;}
	.sidebar .widget div.socialfollow a:hover i { color:#fff;}
	#footer.litex .footer-in .contact-inf input, #footer.litex .footer-in .contact-inf textarea { background:#eee; -webkit-box-shadow: inset 0 0 3px 1px #e9e9e9, 1px 1px #fff; -moz-box-shadow: inset 0 0 3px 1px #e9e9e9, 1px 1px #fff; box-shadow: inset 0 0 3px 1px #e9e9e9, 1px 1px #fff;}
	#footer.litex .footer-in h5.subtitle { text-shadow:0 1px 0 #fff; border-bottom:1px solid #888; box-shadow:none;}
	
	h2.widgettitle { font-size:13px; line-height:20px; letter-spacing:2px; font-weight:bold; text-transform:uppercase; color:#54606b; margin:20px 0 16px; padding-bottom:10px; border-bottom:2px solid #e5e5e5;}
	.widget .textwidget ul li:after { display:none;}
	
	.sidebar .widget .socialfollow a { padding:30px; width:90px; height:90px; border:1px solid #e1e1e1; margin:2px;}
	.sidebar .widget .socialfollow a i { line-height:1; height:auto; font-size:32px;}
	
	
	.toggle-top-area { z-index: 99999; background: rgba(16, 16, 18, 0.99); position: absolute; width: 100%; }
	.toggle-top-area .col-md-3 { margin-bottom:35px;}
	.toggle-top-area .col-md-3 .widget { padding:0 10px;}
	.w_toparea { color: #fff; overflow: hidden; display:none; padding: 30px 0;}
	.w_toggle {position: absolute; right: 0; border-top: 35px solid rgba(16, 16, 18, 0.99); border-left: 35px solid transparent; }
	.w_toggle:after {font-size: 8px; font-family: 'FontAwesome'; content: "\f067"; position: absolute; left: -16px; top: -35px; color: #fff;}
	.w_toggle.open:after {content: '\f068';}
	.toggle-top-area .textwidget, .toggle-top-area .textwidget p, .footer-in .textwidget { color:#b5b5b5;}
	@media only screen and (max-width: 767px) {	
	.toggle-top-area { display:none;}
	}
	
	
	/* Sidebar Image Lists */
	
	.side-list ul, ul.side-list { list-style:none; margin-left:0; margin-bottom:30px; border-top: none;}
	.side-list li, #footer.litex .side-list li, .widget .side-list li { border-bottom:1px solid #e1e1e1; padding:15px 0 5px; margin:0; min-height:90px;}
	.side-list li:hover { background:#fdfdfd;}
	.side-list img { float:left; width:62px; height:62px; padding:3px; background:#e5e5e5; margin-right:10px;
	-webkit-transition: all .14s ease; -moz-transition: all .14s ease; -ms-transition: all .14s ease; -o-transition: all .14s ease; transition: all .14s ease;}
	.side-list li:hover img { background:#0093D0;}
	.side-list h5 { font-size:15px; font-weight:400; margin:0 0 10px; line-height:1.4; letter-spacing:0;}
	.widget .side-list h5 a { color:#494949; }
	.side-list p { font-size:10px; line-height:1.4; color:#aaa; font-weight:400; text-transform:uppercase;}
	.widget .side-list a, .widget .side-list a:hover { background:none; padding:0;}
	#footer .side-list ul, #footer ul.side-list, .toggle-top-area .side-list ul, .toggle-top-area ul.side-list { border:none;}
	#footer .side-list li, .toggle-top-area .side-list li { background:none; border-color:#393939;}
	#footer .side-list li:hover, .toggle-top-area .side-list li:hover { border-color:#444;}
	#footer .side-list h5 a, .toggle-top-area .side-list h5 a { color:#b9b9b9;}
	#footer .side-list img, .toggle-top-area .side-list img  { background:#454545;}
	#footer .side-list li:hover img, .toggle-top-area .side-list li:hover img { background:#0093D0;}
	#footer.litex .footer-in .side-list h5 a { color:#5e5e5e;}
	#footer.litex .side-list img { background:#c9c9c9;}
	
	/* Shop Sidebar */
	
	.side-cart { padding:0 0 10px 0; margin-bottom:30px; position:relative;}
	.side-cart h4.subtitle { margin-top:0px; color:#ff6c6d; margin-bottom:2px; margin-left:0;}
	.side-cart i { float:left; display:inline-block; font-size:18px; color:inherit; margin-right:5px; margin-top:4px;}
	.side-cart .side-list { border-top:3px solid #ff6c6d;  margin-bottom:2px; }
	.side-cart .total { border-top:2px solid #dfdfdf; padding-top:12px;}
	.side-cart .button { float:left; margin-right:10px; background:#ff6c6d;}
	
	/* Tag Cloud */
	
	.tagcloud a, #footer.litex .tagcloud a { line-height:16px; padding:4px 10px; font-size:12px; margin:0 4px 4px 0; float:left; min-width:18px; border-radius:2px; width:auto; background:#f2f2f2; color:#797979; display:block; text-decoration:none; }
	.tagcloud a:hover, #footer.litex .tagcloud a:hover { color:#333; background-color:#ffcc00; }
	#footer .tagcloud a, .toggle-top-area .tagcloud a { padding: 7px 14px; background: #212121; margin: 3px; display: inline-block; color: #808080; border:none; }
	#footer .tagcloud a:hover, .toggle-top-area .tagcloud a:hover { color: #fff; background: #171717; }
	#footer.litex .footer-in .tagcloud a { color: #898989;}
	#footer.litex .footer-in .tagcloud a:hover { color: #333; background: #fff; }
	
	/* Advertisement */
	
	#header .webnus-ad { position:absolute; top:0; right:0; width:728px; height:90px; z-index:91;}
	#header .alignright { min-height:85px;}
	@media only screen and (max-width: 767px) {
	#header .webnus-ad  { display:none;}
	.widget .flex-direction-nav a { top:41%;}	
	}
	
	
	/* Tabbed widget */
	.widget-tabs .tabs {margin: 0; width: 100%; display: table; border-collapse: separate; border-spacing: 1px 0;}
	.widget-tabs .tabs li {display: table-cell; background: #f5f5f5; border: 1px solid #e1e1e1; padding: 0; text-align: center; }
	.widget-tabs .tabs li.active {background: #fff; border-bottom: 1px solid #fff;}
	.widget-tabs .tabs li a {display: block; color: #555;}
	.widget-tabs .tabs-container {background-color: #fff; border: 1px solid #e1e1e1; border-top: none; margin:0 1px;}
	.widget-tabs .tab_content .tab-list li{padding:15px 15px 20px; border-bottom: 1px solid #f1f1f1;}
	.widget-tabs .tab_content .tab-list li:hover{background:#fff;}
	.widget-tabs .tab_content .tab-list li:last-child {border-bottom: 0;}	
	.widget-tabs .tab_content .tab-list .image {float: left; margin-right: 13px; height: 50px; width: 52px; line-height:1.26;}
	.widget-tabs .tab_content .tab-list .content {overflow: hidden; line-height:1.6;}
	.widget-tabs .tab_content .tab-list .content p {margin-bottom:0;}
	.widget-tabs .tab_content .tab-date { font-size:11px; color:#aaa; padding-top:4px;}
	.widget .widget-tabs .tab_content ul li a { color:#494949; font-weight:600;}
	.widget .widget-tabs .tab_content ul li a:hover { text-decoration:underline;}
	
	
	/* Calendar widget */
	
	.widget_calendar {float: left;}
	#calendar_wrap { margin:10px 0 20px;}
	#wp-calendar { width: 100%; border:none;}
	#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
	#wp-calendar thead { font-size: 10px; border:none;}
	#wp-calendar thead th { padding-bottom: 10px; border:none; background:none; text-align:center;}
	#wp-calendar tbody { color: #aaa; border:none;  }
	#wp-calendar tbody td { background: #fff; border: 1px solid #f1f4f5; text-align: center; padding:8px; }
	#wp-calendar tbody td#today { background:#aaa; color:#fff;}
	#wp-calendar tbody td#today:hover { background:#f90;}
	#wp-calendar tbody td#today a { display:block;}
	#wp-calendar tbody td:hover { background: #fff; }
	#wp-calendar tbody .pad { background: none;}
	#wp-calendar tfoot td { border:none;}
	#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
	#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
	
	
	/** Header Woo Cart **/
	
	.woo-cart-header {display: inline-block;width: 43px;float: right;position: relative;top:22px; margin-left:20px; padding-bottom:6px;}
	.woo-cart-header .header-cart{padding:0px 9px 0 0px;display: inline-block;border-radius: 2px 2px 0px 0px;-webkit-border-radius: 2px 2px 0px 0px;-moz-border-radius: 2px 2px 0px 0px;-o-border-radius: 2px 2px 0px 0px;-ms-border-radius: 2px 2px 0px 0px;position:relative;	background-image: url('../images/woobag@2x.png');background-repeat: no-repeat;background-position: 0 0;width: 34px;height: 38px; background-size:34px 38px;}
	
	.woo-cart-header .header-cart i{margin: 0px;color: #8e8e8e;font-size: 14px;line-height: 28px;-webkit-transition: color 0.3s ease;-moz-transition: color 0.3s ease;-o-transition: color 0.3s ease;-ms-transition: color 0.3s ease;}
	.woo-cart-header .header-cart:hover i{color: #1abc9c;}
	.woo-cart-header .header-cart span{font-size:12px; position: absolute;width: 33px;height: 42px;top: 0;left: 0;text-align: center;line-height: 41px;font-weight: bold;color:#9d9d9d;}
	.woo-cart-dropdown {background-color: #fff; display: block; left: auto; position: absolute; right: -1px; top: 100%; z-index: 1000; padding: 15px; width: 280px; visibility: hidden; -webkit-transition:opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -ms-transition: opacity 0.2s ease-in-out; color: #9d9d9d; border: 3px solid #a2a7b1; box-shadow:0 2px 12px rgba(0,0,0,0.082); z-index:91000;}
	
	.woo-cart-dropdown:before { content: '';display: block;position: absolute; right:16px;width: 0;height: 0;border-style: solid; border-width: 9px; top: -18px; border-color: transparent transparent #a2a7b1 transparent;}
	
	.woo-cart-dropdown.drop-down-start{visibility: visible;overflow: visible;opacity: 1;}
	.woo-cart-header:hover .woo-cart-dropdown{display: block;visibility: visible;text-align: left;}
	.woo-cart-dropdown ul li{display: inline-block;width: 100%;float: none;padding: 7px 0 ;border-bottom: 1px solid #f3f3f3 ;line-height: 20px;color:#939393;letter-spacing: 0;font-weight: 400;font-size: 11px;text-transform: none;}
	.woo-cart-dropdown .cart-list.product-list-widget{margin-bottom: 15px;}
	.woo-cart-dropdown ul li a{color:#9d9d9d;display: block;font-size: 13px;line-height: 26px;}
	.woo-cart-dropdown .amount{font-size:13px}
	.woo-cart-dropdown ul li a:hover{color: #0ab1f0;}
	.woo-cart-dropdown span.total{padding: 0 0 0 8px;float: right;color:#9d9d9d;letter-spacing: 1px;font-weight: 600;font-size: 11px;text-transform: uppercase;}
	.woo-cart-dropdown span.total span{font-family: inherit;font-size: 13px;color: #666;padding: 0 0 0 2px;}
	.woo-cart-dropdown .qbutton{height: 28px;line-height: 30px;font-size: 11px; font-weight:600; text-transform:uppercase;padding: 6px 13px;color: #494949;background: #f5f5f5;border-radius: 4px;}
	.woo-cart-dropdown .qbutton:hover{background: #494949; color:#fff}
	.woo-cart-dropdown .qbutton i{font-size: 14px;padding: 0 0 0 4px;margin: 0;}
	.woo-cart-dropdown .cart-list a>img {float: left;padding: 0 10px 0 0;display: block;background: none repeat scroll 0 0 #E5E5E5;float: left;height: 62px;margin-right: 10px;padding: 2px;width: 62px;}
	.widget-container { margin-bottom:64px;}
	
	/* Subscribe Widget */
	.widget-subscribe-form button.footer-subscribe-submit { font-size: 10px; width: 80px; float: left; height: 40px; padding: 10px; background: #f5f5f5; color: #292929; font-weight:bold; border: 2px solid #e1e1e1; margin-left: -2px;}
	.widget-subscribe-form input[type="text"].footer-subscribe-email { min-width: 20px; width: 210px;  float: left; margin: 0;}	
	
	
	/* Youtube box fix */
	#___ytsubscribe_0 .fluid-width-video-wrapper {padding:0 !important}
		
		
/* -------- end ----------- */