/*
 Theme Name:     Mexin Child
 Theme URI:      http://webnus.biz/themes/mexin-wp/
 Description:    mexin Child Theme
 Author:         WEBNUS
 Author URI:     http://themeforest.net/user/WEBNUS
 Template:       mexin-wp
 Version:        5.2.0
*/

/* =Theme customization starts here
-------------------------------------------------------------- */
a:link, 
a:visited {
    color: #0069b3;
}
a:hover, 
a:active, 
a:focus, 
.blog-post a:hover, 
.blog-post a:active, 
.blog-post a:focus {
    color: #000;
}


/* - header - */
#header {
    border-bottom: 3px solid #fff;
}


/* - logo - */
.logo {
    margin-top: 0;
}


/* - pre-header : contact - */
.header-contact h3 {
    padding: 8px 0;
    line-height: 20px;
}
.header-contact ul {
    margin: 0;
    padding: 0;
}
.header-contact ul li {
    font-size: 14px;
}
.header-contact ul li i {
    width: 20px;
    text-align: center;
}
.header-contact ul li a.bouton-contact:link, 
.header-contact ul li a.bouton-contact:visited, 
.widget a.bouton-contact:link, 
.widget a.bouton-contact:visited {
    display: block;
    padding: 5px 20px;
    background: #0069b3;
    color: #fff;
    text-align: center;
    width: 165px;
    margin-top: 20px;
    border: 1px solid #0069b3;
    font-size: 14px;
}
.widget a.bouton-contact:link, 
.widget a.bouton-contact:visited {
    margin: 0 auto;
    margin-top: 20px;
}
.header-contact ul li a.bouton-contact:hover, 
.header-contact ul li a.bouton-contact:active, 
.header-contact ul li a.bouton-contact:focus, 
.widget a.bouton-contact:hover, 
.widget a.bouton-contact:active, 
.widget a.bouton-contact:focus {
    color: #0069b3;
    background: #fff;
}


/* - pre-header : espace client - */
.header-contact h4 {
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid #f1f1f1;
}
.header-contact h5 {
    font-size: 14px;
    font-weight: 400;
    color: #505050;
}
.onglet-vertical {
    margin-top: 3px;
}
.onglet-vertical ul, 
.onglet-vertical li {
    margin: 0;
    padding: 0;
    background: #0069b3;
}
.onglet-vertical li a:link, 
.onglet-vertical li a:visited {
    display: block;
    color: #fff;
    padding: 10px 5px;
    border-left: 4px solid #0069b3;
}
.onglet-vertical li a:hover, 
.onglet-vertical li a:active, 
.onglet-vertical li a:focus {
    background: #fff;
    color: #000;
    border-left: 4px solid #0069b3;
}
.onglet-vertical li a.current {
    background: #fff;
    color: #000;
    margin: 2px 0;
}
    @media only screen and (max-width:960px) {
        .list-form-connexion {
            margin-top: 15px;
        }
    }
.form-connexion {
    display: none;
}
.form-connexion div, 
.form-connexion p {
    font-size: 15px;
}
.form-connexion.current {
    display: block;
}
.form-connexion input {
    width: 100%;
    font-size: 15px;
}
.form-connexion input.bouton-connexion {
    background: #0069b3;
    width: 100%;
    text-transform: none;
}
.form-connexion input.bouton-connexion:hover {
    background: #0069b3;
    width: 100%;
}
.form-connexion a:link, 
.form-connexion a:visited {
    color: #505050;
}
.form-connexion a:hover, 
.form-connexion a:active, 
.form-connexion a:focus {
    color: #0069b3;
}
.form-connexion .connexion-liens-misc a {
    font-size: 13px;
}
.form-connexion .connexion-liens-misc a:first-child {
    text-align: right;
    padding-right: 10px;
    display: block;
    float: left;
    width: 50%;
}
.form-connexion .connexion-liens-misc a:last-child {
    border-left: 1px solid #0069b3;
    text-align: left;
    padding-left: 10px;
    display: block;
    float: left;
    width: 50%;
}
.erreur {
    color: #c00;
    text-align: center;
}

/* - pre-header : recherche - */
.form-recherche form input {
    float: left;
    font-size: 15px;
    width: 90%;
    height: 35px;
}
    @media only screen and (max-width:960px) {
        .form-recherche form input {
            width: 80%;
        }
    }
.form-recherche form a {
    display: block;
    float: left;
    background: #0069b3;
    color: #fff;
    padding: 10px;
}
.form-recherche form a i {
    font-size: 1.0em;
}
.form-recherche {
    font-size: 15px;
}
.form-recherche ul, 
.form-recherche li {
    padding: 0;
    margin: 0;
}
.form-recherche ul {
    margin-top: 10px;
}
.form-recherche li {
    display: inline;
}
.form-recherche li+li:before {
    content: "|";
}
.form-recherche li a:link, 
.form-recherche li a:visited {
    color: #0069b3;
    padding: 0 15px;
    font-size: 15px;
}
.form-recherche li a:hover, 
.form-recherche li a:active, 
.form-recherche li a:focus {
    color: #0066a5;
}
.form-recherche li:first-child a {
    padding-left: 0;
}
    @media only screen and (max-width:960px) {
        .form-recherche form a {
            padding: 9px;
        }
        .form-recherche form a i {
            font-size: 1.0em;
        }
        .form-recherche li+li:before {
            content: "";
        }
        .form-recherche li a {
            display: block;
            margin-bottom: 10px;
        }
        .form-recherche li:first-child a {
            padding-left: 15px;
        }
    }

.form-recherche-rapport {
    overflow: auto;
}
.form-recherche-rapport form input {
    float: left;
    font-size: 14px;
    width: 85%;
    margin: 0;
    height: 33px;
}
.form-recherche-rapport form a {
    display: block;
    float: left;
    background: #0069b3;
    color: #fff;
    padding: 5px 10px;
}
.form-recherche-rapport form a i {
    font-size: 1.0em;
}
.widget ul.archives-link li {
    display: inline-block;
    margin-left: 10px;
}

/* - menu principal - */
.nav-wrap2.darknavi {
    border-bottom: 0;
}
.nav-wrap2.mn4, .nav-wrap2 {
    height: auto;
}
#menu-icon {
    display: none;
}
i.ubermenu-icon.fa.fa-home {
    font-size: 1.45em;
}


/* - uber menu - à copier dans le custom style d'uber menu - */
/*
#ubermenu-topubermenu-6 {
    z-index: 100;
}
.ubermenu-topubermenu .ubermenu-submenu.ubermenu-submenu-drop {
    font-size: 12px;
}
#ubermenu-topubermenu-6 h3 {
    font-size: 16px;
    font-weight: 500;
    border-bottom: 3px solid #0069b3;
    padding: 8px 0;
    color: #000;
    width: auto;
}
.ubermenu-main {
    background: rgba(45, 45, 45, 0.8);
}
#ubermenu-main-4-header-menu {
    z-index: 90;
    position: absolute;
    width: 100%;
}
.ubermenu-item.ubermenu-item-type-post_type.ubermenu-item-object-page.ubermenu-current-menu-ancestor > .ubermenu-target {
    background: none;
}
.ubermenu-item.ubermenu-item-type-post_type.ubermenu-item-object-page.ubermenu-current-menu-ancestor > .ubermenu-target:hover {
    background: #0069b3;
}
.ubermenu.ubermenu-main .ubermenu-current_page_item > .ubermenu-target,
.ubermenu-item.ubermenu-item-type-post_type.ubermenu-item-object-page.ubermenu-current-page-ancestor > .ubermenu-target {
    background: #0069b3;
}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop {
    border-bottom: 4px solid #0069b3;
    max-width: 1024px;
    margin-left: 50%;
    left: -512px;
}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block {
    font-size: 14px;
    line-height: 26px;
}
#ubermenu-nav-main-4-header-menu > li:first-child {
    text-align: right;
    width: 15.2941176470588%;
}
#ubermenu-nav-main-4-header-menu > li:nth-child(2) {
    text-align: center;
    width: 14.9019607843137%;
}
#ubermenu-nav-main-4-header-menu > li:nth-child(3) {
    text-align: center;
    width: 14.9019607843137%;
}
#ubermenu-nav-main-4-header-menu > li:nth-child(4) {
    text-align: center;
    width: 14.9019607843137%;
}
#ubermenu-nav-main-4-header-menu > li:nth-child(5) {
    text-align: center;
    width: 14.9019607843137%;
}
#ubermenu-nav-main-4-header-menu > li:last-child {
    width: 25.0980392156863%;
}
#ubermenu-nav-main-4-header-menu > li:last-child > .ubermenu-target {
    padding-left: 30px;
}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block h5 {
    margin: 5px 0 0 0;
}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block h5 a {
    font-size: 18px;
}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block h5 a:link,
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block h5 a:visited {
    color: #000;
}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block h5 a:hover,
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block h5 a:active,
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block h5 a:focus {
    color: #fff;
}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block ul,
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block li {
    margin: 0;
    padding: 0;
}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block a {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block a:link,
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block a:visited {
    color: #505050;
}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block a:hover,
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block a:active,
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop .ubermenu-content-block a:focus {
    background: #0069b3;
    color: #fff;
}
.ubermenu .ubermenu-item-layout-image_left>.ubermenu-image {
    float: right;
}
*/


/* - accueil : carousel - accueil - */
.carousel-accueil .tp-caption {
    background: rgba(255, 255, 255, 0.8);
    width: 240px;
    height: 255px;
    max-width: 240px;
    max-height: 255px;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    padding: 15px;
    color: #505050;
}
.carousel-accueil .tp-button {
    position: absolute;
    bottom: 45px;
    display: block;
    text-shadow: none !important;
    background: none;
    height: auto;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding: 0 35px;
    margin-left: 32px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
    @media only screen and (max-width:960px) {
        .carousel-accueil .tp-button {
            bottom: 25px;
            padding: 0;
        }
    }
.carousel-accueil .tp-button.blue, 
.carousel-accueil .tp-button:hover.blue {
    background: #0069b3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.carousel-accueil .tp-button:hover.blue {
    background: rgba(0, 105, 179, 0.8);
}
.carousel-accueil div.tp-bullets.simplebullets.preview2 {
    z-index: 85;
}
.carousel-accueil .tp-bullets.preview2 .bullet {
    border: 4px solid rgba(0, 0, 0, 0) !important;
    margin: 0 7px;
}
.carousel-accueil .tp-bullets.preview2 .bullet:hover, 
.carousel-accueil .tp-bullets.preview2 .bullet.selected {
    border: 4px solid #0069b3 !important;
    background: #0069b3 !important
}


/* - accueil : carousel - expertises multiples - */
.carousel-expertises-multiples {
    margin-top: 20px;
    border-bottom: 4px solid #0069b3;
}
.carousel-expertises-multiples .tp-caption {
    background: rgba(0, 105, 179, 0.8);
    width: 250px;
    height: 100px;
    font-size: 19px;
    font-weight: 300;
    line-height: 20px;
    text-align: right;
    padding: 15px;
    max-width: 250px;
    max-height: 100px;
}
.carousel-expertises-multiples .tp-caption.black {
    color: #fff;
}
.carousel-expertises-multiples .tp-bullets.preview2 .bullet {
    border: 2px solid rgba(0, 0, 0, 0) !important;
    background: rgba(255, 255, 255, 0.5) !important;
    margin-left: 7px; 
}
.carousel-expertises-multiples .tp-bullets.preview2 .bullet:hover, 
.carousel-expertises-multiples .tp-bullets.preview2 .bullet.selected {
    border: 2px solid #fff !important;
    background: rgba(255, 255, 255, 1) !important
}
    @media only screen and (max-width:960px) {
        .carousel-expertises-multiples div.tp-caption.black.tp-fade.tp-resizeme.start {
            max-width: 100% !important;
        }
    }


/* - accueil : second menu - */
#accueil-second-menu {
    position: absolute;
    z-index: 70;
    top: 164px;
    left: 66.40625%;
    width: 302px;
    height: 342px;
    background: rgba(0, 105, 179, 0.85);
    padding: 36px 15px;
}
    @media only screen and (max-width:960px) {
        #accueil-second-menu {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0 auto;
        }
    }
#accueil-second-menu h4 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    border-bottom: 4px solid #fff;
    padding-bottom: 4px;
}
#accueil-second-menu li {
    display: list-item;
    list-style: none;
    border-bottom: 0;
    padding: 0 12px;
}
#accueil-second-menu li a {
    display: block;
    color: #fff;
    padding: 7px 0;
}
#accueil-second-menu li a i {
    display: block;
    float: left;
    margin-right: 20px;
    font-size: 1.45em;
}
#accueil-second-menu li.icon-align-middle a i {
    padding-top: 6px;
}
#accueil-second-menu li:hover {
    background: #fff;
}
#accueil-second-menu li:hover a {
    color: #0069b3;
}


/* - interne : second menu - */
#interne-second-menu {
    position: absolute;
    z-index: 70;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
}
#interne-second-menu div {
    width: 256px;
    height: 256px;
    background: rgba(255, 255, 255, 0.8);
}
#interne-second-menu h4 {
    background: rgba(0, 105, 179, 0.85);
    margin: 0;
    width: 256px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 10px 18px;
}
    @media only screen and (max-width:960px) {
        #interne-second-menu div, #interne-second-menu h4 {
            display: none;
        }
    }
#interne-second-menu ul {
    padding-top: 4px;
    margin: 0;
}
#interne-second-menu li {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
    text-indent: -1em;
}
#interne-second-menu li a:link, #interne-second-menu li a:visited {
    display: block;
    color: #505050;
    padding: 3px 0 3px 3px;
    font-size: 16px;
}
#interne-second-menu li:hover {
    background: #fff;
}
#interne-second-menu li a:hover, #interne-second-menu li a:active, #interne-second-menu li a:focus {
    color: #0069b3;
}
/* evenement:50 - former:81 - rapport:83 */
#interne-second-menu li.current_page_item a, 
#interne-second-menu div.current li.page-item-50 a, 
#interne-second-menu div.current li.page-item-81 a, 
#interne-second-menu div.current li.page-item-83 a, 
#interne-second-menu div.current li.page-item-5329 a, 
#interne-second-menu div.current li.page-item-6447 a, 
#interne-second-menu li.current_page_ancestor a {
    color: #000;
}
/* evenement:50 - former:81 - rapport:83 */
#interne-second-menu li.current_page_item a:before, 
#interne-second-menu div.current li.page-item-50 a:before, 
#interne-second-menu div.current li.page-item-81 a:before, 
#interne-second-menu div.current li.page-item-83 a:before, 
#interne-second-menu div.current li.page-item-5329 a:before, 
#interne-second-menu div.current li.page-item-6447 a:before, 
#interne-second-menu li.current_page_ancestor a:before {
    content: "> ";
    visibility: visible;
    font-size: 1.2em;
    color: #000;
}
#interne-second-menu li a:before {
    content: "< ";
    visibility: hidden;
    font-size: 1.2em;
}
#interne-second-menu h3, 
#interne-second-menu h1 {
    position: absolute;
    background: rgba(0, 105, 179, 0.85);
    margin: 0;
    white-space: nowrap;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 10px 18px;
    z-index: 71;
    top: 50px;
    left: 256px;
}
#interne-second-menu h1 {
    letter-spacing: normal;
    line-height: 34px;
}
    @media only screen and (max-width:960px) {
        #interne-second-menu { 
            position: relative;
            left: 0;
            top: 0;
        }
        #interne-second-menu h3, 
        #interne-second-menu h1 {
            position: relative;
            left: -10px;
            top: 2px;
            width: 380px;
        }
    }
#interne-second-menu.prevenir h4, 
#interne-second-menu.prevenir h3, 
#interne-second-menu.prevenir h1,
#interne-second-menu.prevention h4, 
#interne-second-menu.prevention h3, 
#interne-second-menu.prevention h1,
#interne-second-menu.sante-securite h4, 
#interne-second-menu.sante-securite h3, 
#interne-second-menu.sante-securite h1,
#interne-second-menu.environnement h4, 
#interne-second-menu.environnement h3, 
#interne-second-menu.environnement h1,
#interne-second-menu.penibilite h4, 
#interne-second-menu.penibilite h3, 
#interne-second-menu.penibilite h1 {
    background: rgba(16, 178, 66, 0.85);
}
#interne-second-menu.evaluer h4, 
#interne-second-menu.evaluer h3, 
#interne-second-menu.evaluer h1, 
#interne-second-menu.appraisal h4, 
#interne-second-menu.appraisal h3, 
#interne-second-menu.appraisal h1, 
#interne-second-menu.certification h4, 
#interne-second-menu.certification h3, 
#interne-second-menu.certification h1, 
#interne-second-menu.marquage-ce h4, 
#interne-second-menu.marquage-ce h3, 
#interne-second-menu.marquage-ce h1, 
#interne-second-menu.metrologie h4, 
#interne-second-menu.metrologie h3, 
#interne-second-menu.metrologie h1, 
#interne-second-menu.essais h4, 
#interne-second-menu.essais h3, 
#interne-second-menu.essais h1, 
#interne-second-menu.evaluation-environnementale h4, 
#interne-second-menu.evaluation-environnementale h3, 
#interne-second-menu.evaluation-environnementale h1 {
    background: rgba(25, 74, 255, 0.85);
}
#interne-second-menu.modeliser h4, 
#interne-second-menu.modeliser h3, 
#interne-second-menu.modeliser h1, 
#interne-second-menu.modelling h4, 
#interne-second-menu.modelling h3, 
#interne-second-menu.modelling h1 {
    background: rgba(255, 144, 26, 0.85);
}
#interne-second-menu.accompagner h4, 
#interne-second-menu.accompagner h3, 
#interne-second-menu.accompagner h1, 
#interne-second-menu.supporting h4, 
#interne-second-menu.supporting h3, 
#interne-second-menu.supporting h1, 
#interne-second-menu.avis-expertise h4, 
#interne-second-menu.avis-expertise h3, 
#interne-second-menu.avis-expertise h1, 
#interne-second-menu.systemes-innovants h4, 
#interne-second-menu.systemes-innovants h3, 
#interne-second-menu.systemes-innovants h1 {
    background: rgba(209, 25, 255, 0.85);
}
#interne-second-menu.diagnostiquer h4, 
#interne-second-menu.diagnostiquer h3, 
#interne-second-menu.diagnostiquer h1, 
#interne-second-menu.diagnosing h4, 
#interne-second-menu.diagnosing h3, 
#interne-second-menu.diagnosing h1, 
#interne-second-menu.materiaux-process h4, 
#interne-second-menu.materiaux-process h3, 
#interne-second-menu.materiaux-process h1, 
#interne-second-menu.ouvrages h4, 
#interne-second-menu.ouvrages h3, 
#interne-second-menu.ouvrages h1 {
    background: rgba(209, 25, 255, 0.85);
}
#interne-second-menu.former h4, 
#interne-second-menu.former h3, 
#interne-second-menu.former h1, 
#interne-second-menu.training h4, 
#interne-second-menu.training h3, 
#interne-second-menu.training h1, 
#interne-second-menu.centre-de-formation h4, 
#interne-second-menu.centre-de-formation h3, 
#interne-second-menu.centre-de-formation h1, 
#interne-second-menu.pedagogie-active h4, 
#interne-second-menu.pedagogie-active h3, 
#interne-second-menu.pedagogie-active h1, 
#interne-second-menu.sessions h4, 
#interne-second-menu.sessions h3, 
#interne-second-menu.sessions h1, 
#interne-second-menu.temoignages h4, 
#interne-second-menu.temoignages h3, 
#interne-second-menu.temoignages h1 {
    background: rgba(26, 155, 255, 0.85);
}
#interne-second-menu.evenements-cerib h3, 
#interne-second-menu.evenements-cerib h1 {
    background: rgba(25, 209, 248, 0.85);
}
#interne-second-menu.evenements-cerib div, 
#interne-second-menu.formation div, 
#interne-second-menu.rapport div {
    height: 257px;
}


/* - accueil : bloc prestations - */
#wrap .blox .wpb_content_element {
    background-size: cover;
}
.bloc-prestations {
    text-shadow: none;
    background: #ebebeb;
}
.bloc-prestations table, 
.bloc-prestations tr, 
.bloc-prestations td {
    border: 0;
}
.bloc-diagnostiquer, .bloc-evaluer, .bloc-modeliser, .bloc-accompagner, .bloc-former {
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 5px 5px 5px;
}
.bloc-diagnostiquer div div, .bloc-evaluer div div, .bloc-modeliser div div, .bloc-accompagner div div, .bloc-former div div {
    height: 245px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.bloc-diagnostiquer h4, .bloc-evaluer h4, .bloc-modeliser h4, .bloc-accompagner h4, .bloc-former h4 {
    padding: 10px 20px;
    font-weight: normal;
    color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.bloc-diagnostiquer div div div p, .bloc-evaluer div div div p, .bloc-modeliser div div div p, .bloc-accompagner div div div p, .bloc-former div div div p {
    margin-bottom: 10px;
}
.bloc-diagnostiquer p, .bloc-diagnostiquer ul, 
.bloc-evaluer p, .bloc-evaluer ul, 
.bloc-modeliser p, .bloc-modeliser ul, 
.bloc-accompagner p, .bloc-accompagner ul, 
.bloc-former p, .bloc-former ul {
    padding: 0 20px;
    color: #fff;
    display: none;
    font-size: 12px;
    line-height: 15px;
}
.bloc-diagnostiquer:hover p, .bloc-diagnostiquer:hover ul, 
.bloc-evaluer:hover p, .bloc-evaluer:hover ul, 
.bloc-modeliser:hover p, .bloc-modeliser:hover ul, 
.bloc-accompagner:hover p, .bloc-accompagner:hover ul, 
.bloc-former:hover p, .bloc-former:hover ul {
    display: block;
}
.bloc-prestations li {
    margin-bottom: 5px;
}
.bloc-prestations a:before {
    content: "> ";
}
.bloc-prestations a:link, .bloc-prestations a:visited {
    display: block;
    color: #fff;
    font-size: 14px;
    padding: 3px 10px;
    font-weight: 600;
}
    .bloc-diagnostiquer a:active, .bloc-diagnostiquer a:hover, .bloc-diagnostiquer a:focus {
        color: #10b242;
        background: #fff;
    }
    .bloc-diagnostiquer h4, .bloc-diagnostiquer div div:hover {
        background-image: none !important;
        background: #10b242;
    }
    .bloc-evaluer a:active, .bloc-evaluer a:hover, .bloc-evaluer a:focus {
        color: #194aff;
        background: #fff;
    }
    .bloc-evaluer h4, .bloc-evaluer div div:hover {
        background-image: none !important;
        background: #194aff;
    }
    .bloc-modeliser a:active, .bloc-modeliser a:hover, .bloc-modeliser a:focus {
        color: #ff901a;
        background: #fff;
    }
    .bloc-modeliser h4, .bloc-modeliser div div:hover {
        background-image: none !important;
        background: #ff901a;
    }
    .bloc-accompagner a:active, .bloc-accompagner a:hover, .bloc-accompagner a:focus {
        color: #d119ff;
        background: #fff;
    }
    .bloc-accompagner h4, .bloc-accompagner div div:hover {
        background-image: none !important;
        background: #d119ff;
    }
    .bloc-former a:active, .bloc-former a:hover, .bloc-former a:focus {
        color: #1a9bff;
        background: #fff;
    }
    .bloc-former h4, .bloc-former div div:hover {
        background-image: none !important;
        background: #1a9bff;
    }


/* - accueil : bloc évènements, actualités, expertises multiples - */
.bloc-home-evenements h4, .bloc-home-actualites h4, .bloc-home-expertises h4 {
    font-size: 28px;
    font-weight: 300;
    text-transform: none;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 28px;
}
.bloc-home-evenements > div > h4 {
    border-bottom: 4px solid #19d1f8;
}
.bloc-home-actualites > div > h4 {
    border-bottom: 4px solid #0069b3;
}
.bloc-home-expertises > div > h4 {
    border-bottom: 4px solid #0069b3;
}
.bloc-home-evenements div > :last-child > p a:hover, 
.bloc-home-evenements div > :last-child > p a:active, 
.bloc-home-evenements div > :last-child > p a:focus,
.bloc-home-actualites div > :last-child > p a:hover, 
.bloc-home-actualites div > :last-child > p a:active, 
.bloc-home-actualites div > :last-child > p a:focus {
    color: #0066a5;
}
.blog-single-post h6.blog-date {
    
}


/* - accueil : bloc actualités - */
.blog-post.blgtyp2 {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.blog-post.blgtyp2 .blog-date-sec {
    border-bottom: 0px solid #0069b3;
    padding: 0;
    margin: 0;
    text-align: left;
}
.blog-post.blgtyp2 .blog-date-sec hr {
    float: right;
    width: 80%;
    border-color: #0069b3;
    margin-bottom: 0;
}
.blog-post.blgtyp2 .row-date-actualite {
    padding: 5px 0;
    clear: both;
}
.blog-post.blgtyp2 .row-image-actualite {
    float: left;
}
.blog-post.blgtyp2 .row-image-actualite img {
    margin-bottom: 0;
    margin-right: 5px;
    max-width: 75px;
}
.blog-post.blgtyp2 .row-titre-actualite h3 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
}
.blog-post.blgtyp2 .row-titre-actualite h3 a:hover, 
.blog-post.blgtyp2 .row-titre-actualite h3 a:active, 
.blog-post.blgtyp2 .row-titre-actualite h3 a:focus {
    color: #0069b3;
}
.bloc-home-actualites div > :nth-child(2) > .row-image-actualite {
    height: 115px;
    overflow: hidden;
    clear: both;
}
.bloc-home-actualites div > :nth-child(2) > .row-image-actualite img {
    max-width: 100%;
}
.bloc-home-actualites div > :nth-child(2) > .row-titre-actualite {
    background: #0069b3;
    clear: both;
    padding: 7px 10px;
}
.bloc-home-actualites div > :nth-child(2) > .row-titre-actualite h3 a:link, 
.bloc-home-actualites div > :nth-child(2) > .row-titre-actualite h3 a:visited {
    color: #fff;
}
.bloc-home-actualites div > :last-child > p {
    text-align: right;
    margin-top: 20px;
}
.bloc-home-actualites div div.wp-pagenavi {
    display: none;
}


/* - newsletter bar - */
#newsletter-bar {
    background: #ebebeb;
    padding: 20px 0;
    text-align: center;
}
#newsletter-bar label {
    color: #505050;
    font-size: 24px;
    font-weight: 300;
    float: left;
    margin: 9px 12px 0 0;
}
.widget_wysija.php_wysija, 
.widget_wysija.php_wysija p, 
.widget_wysija.php_wysija .wysija-submit.wysija-submit-field {
    float: left;
    margin: 0;
}
.widget_wysija.php_wysija input[type="text"] {
    font-size: 20px;
    font-weight: 300;
    width: 460px;
    height: 45px;
    margin-bottom: 0;
}
    @media only screen and (max-width:960px) {
        #newsletter-bar label {
            font-size: 0.9em;
        }
        .widget_wysija.php_wysija input[type="text"] {
            display: block;
            font-size: 0.9em;
        }
    }
.widget_wysija.php_wysija input[type="text"]:hover {
    border: 1px solid #0069b3;
}
.widget_wysija.php_wysija .wysija-submit.wysija-submit-field {
    background: #0069b3;
    font-size: 20px;
    font-weight: 300;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 12px 60px;
}
.widget_wysija.php_wysija .wysija-submit.wysija-submit-field:hover {
    background: rgba(0, 105, 179, 0.8);
}
.widget_wysija.php_wysija .formError .formErrorContent {
    top: -58px;
    left: -6px;
    width: 203px;
    border: 0;
    background: rgba(204, 0, 0, 0.8);
}
.widget_wysija_cont .updated {
    background: none;
    border: 0;
    color: #0069b3;
    font-size: 24px;
    font-weight: 300;
    margin-top: 9px;
}


/* - social bar - */
#social-bar {
    background: #505050;
    color: #fff;
    font-size: 18px;
    text-align: right;
    padding: 20px 0;
}
.social-info {
    margin-right: 20px;
}
.social-icon {
    max-width: 38px;
    max-height: 38px;
    vertical-align: middle;
    margin: 5px 5px 0 5px;
}
.social-icon-cti {
    max-height: 48px;
    background: #fff;
}
.bloc-logo-cti {
    text-align: left;
}
    @media only screen and (max-width:960px) {
        #social-bar {
            text-align: left;
        }
        #social-bar #social-bar-container div {
            margin-bottom: 10px;
        }
        #social-bar #social-bar-container div .social-info {
            display: block;
            margin-bottom: 10px;
        }
    }


/* - footer - */
#footer.litex .footer-in .widget ul li a:active, 
#footer.litex .footer-in .widget ul li a:hover, 
#footer.litex .footer-in .widget ul li a:focus {
    color: #0069b3;
}
#footer.litex {
    background: #fff;
    border-top: 0;
}
#footer.litex .footer-in h5.subtitle {
    border-bottom: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: none;
    text-align: left;
    font-weight: normal;
    font-size: 18px;
}
.widget li {
    font-size: 14px;
}
#footer.litex .widget ul li {
    border-bottom: 0;
}


/* - les autres sites - */
#menu-menu-top-les-sites > li, 
#menu-menu-top-en-les-sites > li, 
#menu-menu-footer-les-sites li, 
#menu-menu-footer-en-les-sites li {
    width: 46%;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    margin-bottom: 10px;
    line-height: 0.99em;
    padding: 8px 0;
    border-bottom: 0;
}
#menu-menu-top-les-sites > li:last-child, 
#menu-menu-top-en-les-sites > li:last-child {
    width: 100%;
    border-top: 2px solid #f1f1f1;
    padding-top: 15px;
}
#menu-menu-top-les-sites > li:last-child > ul > li, 
#menu-menu-top-en-les-sites > li:last-child > ul > li {
    width: 46%;
    display: inline-block;
    vertical-align: top;
}
    @media only screen and (max-width:960px) {
        #menu-menu-top-les-sites li, 
        #menu-menu-top-en-les-sites li, 
        #menu-menu-footer-les-sites li, 
        #menu-menu-footer-en-les-sites li {
            width: 100%;
            display: block;
        }
        #menu-menu-top-les-sites > li:last-child > ul > li, 
        #menu-menu-top-en-les-sites > li:last-child > ul > li {
            width: 100%;
        }
    }
#menu-menu-footer-les-sites li a, 
#menu-menu-footer-en-les-sites li a {
    font-size: 0.963em;
}
#menu-menu-top-les-sites > li > a, 
#menu-menu-top-en-les-sites > li > a {
    cursor: default;
    display: block;
    color: #000;
    text-transform: uppercase;
}
#menu-menu-top-les-sites > li > ul > li a:before, 
#menu-menu-top-en-les-sites > li > ul > li a:before {
    content: "\f054";
    font-family: FontAwesome;
    color: #0069b3;
    padding-left: 8px;
    padding-right: 4px;
}
#menu-menu-top-les-sites > li > ul > li a:link, 
#menu-menu-top-les-sites > li > ul > li a:visited, 
#menu-menu-top-en-les-sites > li > ul > li a:link, 
#menu-menu-top-en-les-sites > li > ul > li a:visited {
    display: block;
    color: #505050;
}
#menu-menu-top-les-sites > li > ul > li a:hover:before, 
#menu-menu-top-les-sites > li > ul > li a:active:before, 
#menu-menu-top-les-sites > li > ul > li a:focus:before, 
#menu-menu-top-en-les-sites > li > ul > li a:hover:before, 
#menu-menu-top-en-les-sites > li > ul > li a:active:before, 
#menu-menu-top-en-les-sites > li > ul > li a:focus:before {
    color: #fff;
}
#menu-menu-top-les-sites > li > ul > li a:hover, 
#menu-menu-top-les-sites > li > ul > li a:active, 
#menu-menu-top-les-sites > li > ul > li a:focus, 
#menu-menu-top-en-les-sites > li > ul > li a:hover, 
#menu-menu-top-en-les-sites > li > ul > li a:active, 
#menu-menu-top-en-les-sites > li > ul > li a:focus {
    background: #0069b3;
    color: #fff;
}
#menu-menu-top-les-sites li, 
#menu-menu-top-en-les-sites li {
    margin: 0;
    padding: 0;
}


/* - interne : breadcrumb - */
.breadcrumbs-w {
    position: absolute;
    z-index: 80;
    width: 100%;
    top: 164px;
    background: rgba(255, 255, 255, 0.8);
    text-transform: none;
    font-size: 12px;
}
    @media only screen and (max-width:960px) {
        .breadcrumbs-w {
            display: none;
        }
    }


/* - interne : widget - */
.bloc-sidebar-left {
    padding: 0;
}
.leftside {
    max-width: 255px;
}
    @media only screen and (max-width:960px) {
        .leftside {
            max-width: 100%;
        }
    }
.leftside.custom-bloc-wiget {
    max-width: 100%;
}
.col-md-3.sidebar.leftside {
    margin-left: 0;
    margin-right: 0;
    border-right: 0;
    padding: 0;
}
.sidebar.leftside .widget {
    background: #fff;
    padding: 15px;
    margin-right: 0;
    margin-bottom: 15px;
}
.sidebar h4.subtitle, .widget h4.subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-transform: none;
    border-bottom: 3px solid #0069b3;
    padding: 4px 0;
    margin-bottom: 15px;
}
.widget ul li {
    border: 0;
}
.blog-single-post .blog-social {
    max-width: 215px;
}
.blog-single-post .blog-social a {
    padding: 9px 11px;
}
.widget .docs-liens-hide {
    display: none;
}
.widget .bloc-docs-liens li {
    padding: 0;
    margin: 0;
}
.widget .bloc-docs-liens li:hover {
    background: none;
}
.widget .bloc-docs-liens li i {
    margin-right: 10px; 
}
.widget .bloc-docs-liens li a:link, 
.widget .bloc-docs-liens li a:visited {
    display: block;
    padding: 5px 0;
    margin: 0;
    color: #505050;
}
.widget .bloc-docs-liens li a:hover, 
.widget .bloc-docs-liens li a:active, 
.widget .bloc-docs-liens li a:focus {
    color: #0069b3;
}
.leftside .widget ul li a:link, 
.leftside .widget ul li a:visited {
    color: #505050;
}
.leftside .widget ul li a:hover, 
.leftside .widget ul li a:active, 
.leftside .widget ul li a:focus {
    color: #0069b3;
}
.leftside .widget ul li:hover {
    background: #fff;
}
ul.social-share-icons, 
ul.social-share-icons > li {
    margin: 0;
    padding: 0;
}
ul.social-share-icons > li {
    display: inline-block;
    line-height: 45px;
}
ul.social-share-icons > li > a:link, 
ul.social-share-icons > li > a:visited {
    margin: 0;
    border-radius: 50%;
}
ul.social-share-icons > li > a.facebook:link, 
ul.social-share-icons > li > a.facebook:visited {
    background: #3b5998;
    color: #fff;
    padding: 8px 13px;
}
ul.social-share-icons > li > a.facebook:hover, 
ul.social-share-icons > li > a.facebook:active, 
ul.social-share-icons > li > a.facebook:focus {
    background: rgba(59, 89, 152, 0.8);
}
ul.social-share-icons > li > a.google:link, 
ul.social-share-icons > li > a.google:visited {
    background: #dd4b39;
    color: #fff;
    padding: 8px 11px;
}
ul.social-share-icons > li > a.google:hover, 
ul.social-share-icons > li > a.google:active, 
ul.social-share-icons > li > a.google:focus {
    background: rgba(221, 75, 57, 0.8);
}
ul.social-share-icons > li > a.twitter:link, 
ul.social-share-icons > li > a.twitter:visited {
    background: #00aced;
    color: #fff;
    padding: 8px 10px;
}
ul.social-share-icons > li > a.twitter:hover, 
ul.social-share-icons > li > a.twitter:active, 
ul.social-share-icons > li > a.twitter:focus {
    background: rgba(0, 172, 237, 0.8);
}
ul.social-share-icons > li > a.linkedin:link, 
ul.social-share-icons > li > a.linkedin:visited {
    background: #007bb6;
    color: #fff;
    padding: 8px 10px 8px 11px;
}
ul.social-share-icons > li > a.linkedin:hover, 
ul.social-share-icons > li > a.linkedin:active, 
ul.social-share-icons > li > a.linkedin:focus {
    background: rgba(0, 123, 182, 0.8);
}
ul.social-share-icons > li > a.email:link, 
ul.social-share-icons > li > a.email:visited {
    background: #666;
    color: #fff;
    padding: 8px 10px 8px 11px;
}
ul.social-share-icons > li > a.email:hover, 
ul.social-share-icons > li > a.email:active, 
ul.social-share-icons > li > a.email:focus {
    background: rgba(102, 102, 102, 0.8);
}


/* - interne : carousel - */
#carousel-interne .wpb_content_element {
    margin-bottom: 0;
}
ol.vc_carousel-indicators {
    visibility: hidden;
}
.wpb_layerslider_element {
    margin-top: 0;
}
.ls-bottom-slidebuttons {
    visibility: hidden;
}


/* - interne - */
#main-content.interne {
    padding-top: 0;
}
.bloc-content {
    text-shadow: none;
    background: #ebebeb;
    padding-top: 25px;
}
.bloc-content-no-tab {
    background: #fff;
    padding: 20px;
    font-size: 14px;
    line-height: 22px;
}
.bloc-content-no-tab li {
    line-height: 22px;
}
.bloc-content-menu-tab li, 
.bloc-content-withmenu-tab li {
    line-height: 18px;
}
.bloc-content-full {
    margin-top: 90px;
    background: #fff;
    font-size: 14px;
    line-height: 22px;
    padding-left: 25px;
    padding-right: 25px;
}
.without-carousel {
    background: none;
}
.vc_row-fluid.full-row .vc_col-sm-12.bloc-content-full,
.vc_responsive .vc_row-fluid.full-row .container .vc_col-sm-12.bloc-content-full, 
.container.bloc-content-full.without-carousel {
    padding: 20px;
}
.bloc-content-full h1, .post-trait-w h1 {
    border-bottom: 4px solid #2078b8;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 300;
}
.bloc-content-full h2, .post-trait-w h2 {
    font-size: 30px;
}
.white-bg {
    background: #fff;
}
.post-content {
    padding: 20px 25px;
}
.clearfix, .tagcloud {
    overflow: auto;
}
.small {
    font-size: 0.8em;
}
#headline.custom-post {
    background: #ebebeb;
    margin-top: 82px;
}
#headline h3 {
    font-size: 40px;
    font-weight: 500;
    text-transform: none;
    padding-left: 18px;
}
.wpb_content_element {
    margin-bottom: 0;
}
.wpb_tab .wpb_text_column.wpb_content_element p, 
.wpb_tab .wpb_text_column.wpb_content_element ul, 
.bloc-content-no-tab .wpb_text_column.wpb_content_element ul, 
.bloc-content-menu-tab .wpb_text_column.wpb_content_element ul, 
.bloc-content-withmenu-tab .wpb_text_column.wpb_content_element ul {
    font-size: 14px;
    line-height: 22px;
}
.wpb_tab .wpb_text_column.wpb_content_element ul, 
.bloc-content-no-tab .wpb_text_column.wpb_content_element ul, 
.bloc-content-menu-tab .wpb_text_column.wpb_content_element ul, 
.bloc-content-withmenu-tab .wpb_text_column.wpb_content_element ul, 
.job_description ul,
.type-newsib ul {
    margin-left: 20px;
}
.testimonial-content p {
    font-size: 18px;
    line-height: 30px;
}
.testimonial-brand h5 em {
    font-family: 'Open Sans';
    color: #0069b3;
    font-weight: 500;
}
.next-prev-posts a:link, 
.next-prev-posts a:visited {
    border: 0;
    color: #505050;
}
.next-prev-posts a:hover, 
.next-prev-posts a:active, 
.next-prev-posts a:focus {
    color: #0069b3;
}
.testimonial-brand img {
    display: none;
}


/* - interne : rapports - */
#tab-rapports-er h1 {
    border-bottom: 2px solid #0069b3;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 24px;
}
.rapport-list {
    border-bottom: 2px solid #efefef;
    margin-bottom: 20px;
}
.rapport-list h4 {
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.rapport-list h4 a:link, 
.rapport-list h4 a:visited {
    
}
.rapport-list h4 a:hover, 
.rapport-list h4 a:active, 
.rapport-list h4 a:focus {
    color: #0069b3;
}
.row-rapport .post-trait-w {
    margin-bottom: 10px;
}
.row-rapport .post-trait-w h4 {
    font-size: 22px;
    border-bottom: 2px solid #0069b3;
    padding-bottom: 10px;
}
.rapport-list div p {
    margin-bottom: 0;
}
.mots-cles, .mots-cles strong {
    font-size: 12px;
}
.align-right, 
.lire-suite {
    text-align: right;
}
.lire-suite {
    margin-bottom: 0;
}
.lire-suite ul li {
    margin: 0;
    padding: 0;
}
.lire-suite ul li {
    display: inline-block;
    margin: 5px 5px 0 0;
}
.lire-suite ul li a:link, 
.lire-suite ul li a:visited {
    display: block;
    background: #0069b3;
    border: 1px solid #0069b3;
    color: #fff;
    padding: 5px 15px;
    font-size: 14px;
    width: 125px;
}
.lire-suite ul li a:hover, 
.lire-suite ul li a:active, 
.lire-suite ul li a:focus {
    color: #0069b3;
    background: #fff;
}
.searchandfilter {
    /*display: none;*/
    padding: 0 10px 15px 10px;
    margin: 0 0 10px 0;
    border-bottom: 2px solid #ebebeb;
}
.search-result {
    text-align: right;
}
.searchandfilter h4 {
    font-size: 14px;
    padding: 0;
    line-height: 16px;
    margin-top: 10px;
}
.sf-field-search h4, .sf-field-taxonomy-rapport_auteur h4, .sf-field-taxonomy-rapport_tag h4, .sf-field-taxonomy-rapport_numero h4 {
    margin-bottom: 5px;
}
.searchandfilter ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.sf-field-taxonomy-rapport_auteur, .sf-field-taxonomy-rapport_tag, .sf-field-taxonomy-rapport_numero {
    width: 45%;
}
.searchandfilter input {
    margin-bottom: 0;
    font-size: 13px;
}
.sf-field-submit input {
    background: #0069b3;
    border: 1px solid #0069b3;
    padding: 8px 40px;
    font-size: 13px;
}
.sf-field-submit input:hover {
    background: #fff;
    color: #0069b3;
    padding: 8px 40px;
    font-size: 13px;
}
.sf_date_field input, .sf-field-submit input, .sf-field-taxonomy-rapport_tag div {
    margin-left: 20px;
}
.sf_date_field input {
    width: 90px;
}
.sf-field-post_date h4, .sf-field-taxonomy-rapport_tag h4 {
    padding-left: 20px;
}
.rapport .postmetadata h6 {
    display: inline;
    margin-right: 6px;
}
.blog-single-post h6.blog-author {
    letter-spacing: normal;
}
.row-rapport h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
}


/* - interne : bouton - */
.button, .button.green {
    text-shadow: none;
    text-transform: none;
}
.button.large {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}
.button.cerib {
    background: #0069b3;
    border: 1px solid #0069b3;
    margin-bottom: 0;
    color: #fff;
}
.button.cerib:hover {
    background: #fff;
    color: #0069b3;
    box-shadow: none;
}
.button.blue {
    background: #194aff;
    border: 1px solid #194aff;
}
.button.blue:hover {
    background: #fff;
    color: #194aff;
    box-shadow: none;
}
.button.green {
    background: #10b242;
    border: 1px solid #10b242;
    margin-bottom: 0;
}
.button.green:hover {
    background: #fff;
    color: #10b242;
    box-shadow: none;
}
.button.orange {
    background: #ff901a;
    border: 1px solid #ff901a;
}
.button.orange:hover {
    background: #fff;
    color: #ff901a;
    box-shadow: none;
}
.button.skyblue {
    background: #1a9bff;
    border: 1px solid #1a9bff;
    color: #fff;
}
.button.skyblue:hover {
    background: #fff;
    color: #1a9bff;
    box-shadow: none;

}
.button.cherry {
    background: #d119ff;
    border: 1px solid #d119ff;
}
.button.cherry:hover {
    background: #fff;
    color: #d119ff;
    box-shadow: none;
}


/* - internet : onglet - */
#wrap .wpb_content_element .wpb_tabs_nav li, 
#wrap .wpb_content_element .wpb_tabs_nav li:hover {
    background-color: #ebebeb;
    margin: 0 0 -1px 0px !important;
}
#wrap .wpb_content_element .wpb_tabs_nav li.ui-state-active {
    border-top: 3px solid #2078b8;
}
#wrap .wpb_content_element .wpb_tabs_nav li.ui-state-active,
#wrap .wpb_content_element .wpb_tabs_nav li.ui-state-active:hover,
#wrap .wpb_content_element .wpb_tabs_nav li.ui-state-focus,
#wrap .wpb_content_element .wpb_tabs_nav li.ui-state-focus:hover {
    border-bottom-color: #fff;
    border-bottom: 0;
    background: #ebebeb;
    padding-top: 0;
    margin-top: 0;
    border-left-color: #ebebeb;
}
#wrap .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a:link, 
#wrap .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a:visited {
    display: table-cell;
    vertical-align: middle;
    background: #2078b8;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 60px;
    text-align: center;
    white-space: normal;
}
#wrap .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a:hover, 
#wrap .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a:active, 
#wrap .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a:focus {
    background: #fff;
    color: #2078b8;
}
#wrap .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-state-active a {
    background: #fff;
    color: #2078b8;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 60px;
}
    @media only screen and (max-width:960px) {
        #wrap .wpb_content_element .wpb_tabs_nav li.ui-state-active, 
        #wrap .wpb_content_element .wpb_tabs_nav li.ui-state-active:hover {
            border-top: 0;
            border-left: 3px solid #2078b8;
        }
    }
/* - pour 1 onglet - */
#wrap .wpb_content_element.onglet-nombre-1 .wpb_tabs_nav li, 
#wrap .wpb_content_element.onglet-nombre-1 .wpb_tabs_nav li:hover {
    width: 100%;
    border-right: 0;
    border-bottom: 3px solid #f1f1f1;
}
#wrap .wpb_content_element.onglet-nombre-1 .wpb_tour_tabs_wrapper .wpb_tabs_nav a, 
#wrap .wpb_content_element.onglet-nombre-1 .wpb_tabs_nav li.ui-tabs-active a {
    width: 760px;
    text-align: left;
}
/* - pour 2 onglets - */
#wrap .wpb_content_element.onglet-nombre-2 .wpb_tabs_nav li {
    width: 50%;
}
#wrap .wpb_content_element.onglet-nombre-2 .wpb_tour_tabs_wrapper .wpb_tabs_nav a, 
#wrap .wpb_content_element.onglet-nombre-2 .wpb_tabs_nav .ui-state-active a {
    display: block;
    padding-top: 22px;
}
/* - pour 3 onglets - */
#wrap .wpb_content_element.onglet-nombre-3 .wpb_tabs_nav li, 
#wrap .wpb_content_element.onglet-nombre-3 .wpb_tour_tabs_wrapper .wpb_tabs_nav a, 
#wrap .wpb_content_element.onglet-nombre-3 .wpb_tabs_nav li.ui-tabs-active a {
    width: 33.33333333333333%;
    min-width: 250px;
}
/* - pour 4 onglets - */
#wrap .wpb_content_element.onglet-nombre-4 .wpb_tabs_nav li, 
#wrap .wpb_content_element.onglet-nombre-4 .wpb_tour_tabs_wrapper .wpb_tabs_nav a, 
#wrap .wpb_content_element.onglet-nombre-4 .wpb_tabs_nav li.ui-tabs-active a {
    width: 25%;
}
/* - pour 5 onglets - */
#wrap .wpb_content_element.onglet-nombre-5 .wpb_tabs_nav li, 
#wrap .wpb_content_element.onglet-nombre-5 .wpb_tour_tabs_wrapper .wpb_tabs_nav a, 
#wrap .wpb_content_element.onglet-nombre-5 .wpb_tabs_nav li.ui-tabs-active a {
    width: 20%;
}
/* - pour 6 onglets - */
#wrap .wpb_content_element.onglet-nombre-6 .wpb_tabs_nav li, 
#wrap .wpb_content_element.onglet-nombre-6 .wpb_tour_tabs_wrapper .wpb_tabs_nav a, 
#wrap .wpb_content_element.onglet-nombre-6 .wpb_tabs_nav li.ui-tabs-active a {
    width: 16.66666666666667%;
}
    @media only screen and (min-width: 961px) and (max-width: 1200px) {
        #wrap .wpb_content_element.onglet-nombre-3 .wpb_tabs_nav li, 
        #wrap .wpb_content_element.onglet-nombre-3 .wpb_tour_tabs_wrapper .wpb_tabs_nav a, 
        #wrap .wpb_content_element.onglet-nombre-3 .wpb_tabs_nav li.ui-tabs-active a {
            min-width: 33.33333333333333%;
        }
    }
    @media only screen and (max-width: 960px) {
        #wrap .wpb_content_element.onglet-nombre-2 .wpb_tabs_nav li, 
        #wrap .wpb_content_element.onglet-nombre-2 .wpb_tour_tabs_wrapper .wpb_tabs_nav a, 
        #wrap .wpb_content_element.onglet-nombre-2 .wpb_tabs_nav .ui-state-active a, 
        #wrap .wpb_content_element.onglet-nombre-3 .wpb_tabs_nav li, 
        #wrap .wpb_content_element.onglet-nombre-3 .wpb_tour_tabs_wrapper .wpb_tabs_nav a, 
        #wrap .wpb_content_element.onglet-nombre-3 .wpb_tabs_nav li.ui-tabs-active a, 
        #wrap .wpb_content_element.onglet-nombre-4 .wpb_tabs_nav li, 
        #wrap .wpb_content_element.onglet-nombre-4 .wpb_tour_tabs_wrapper .wpb_tabs_nav a, 
        #wrap .wpb_content_element.onglet-nombre-4 .wpb_tabs_nav li.ui-tabs-active a, 
        #wrap .wpb_content_element.onglet-nombre-5 .wpb_tabs_nav li, 
        #wrap .wpb_content_element.onglet-nombre-5 .wpb_tour_tabs_wrapper .wpb_tabs_nav a, 
        #wrap .wpb_content_element.onglet-nombre-5 .wpb_tabs_nav li.ui-tabs-active a, 
        #wrap .wpb_content_element.onglet-nombre-6 .wpb_tabs_nav li, 
        #wrap .wpb_content_element.onglet-nombre-6 .wpb_tour_tabs_wrapper .wpb_tabs_nav a, 
        #wrap .wpb_content_element.onglet-nombre-6 .wpb_tabs_nav li.ui-tabs-active a {
            display: inline-block;
            width: 100%;
            font-size: 10px;
        }
    }


/* -- interne : navigation simulation onglet -- */
.vc_responsive .vc_row-fluid.full-row .container .vc_col-sm-12.bloc-onglet-sous-rubrique {
    padding-left: 0;
    padding-right: 15px;
}
.vc_responsive .vc_row-fluid.full-row .container .vc_col-sm-12.bloc-onglet-sous-rubrique .wpb_wrapper {
    padding: 0;
}
.bloc-content-menu-tab .bloc-onglet-sous-rubrique .wpb_text_column.wpb_content_element ul, 
.bloc-content-withmenu-tab .bloc-onglet-sous-rubrique .wpb_text_column.wpb_content_element ul {
    margin-left: 0;
}
.bloc-content-menu-tab, 
.bloc-content-withmenu-tab {
    padding: 0 20px 20px 20px;
    font-size: 14px;
    line-height: 22px;
}
.bloc-content-menu-tab .wpb_wrapper, 
.bloc-content-withmenu-tab .wpb_wrapper {
    padding: 0 10px 10px 10px;
}
.bloc-content-menu-tab section:nth-child(1), 
.bloc-content-withmenu-tab section:nth-child(2) {
    background: #fff;
    padding-top: 20px;
}
.bloc-content-menu-tab section:nth-child(1) .wpb_wrapper, 
.bloc-content-withmenu-tab section:nth-child(2) .wpb_wrapper {
    padding: 0 5px 10px 5px;
}
.bloc-onglet-sous-rubrique ul {
    background: #ebebeb;
}
.bloc-onglet-sous-rubrique ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-align: center;
}
.bloc-onglet-sous-rubrique ul li a {
    display: block;
    color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 3px solid #2078b8;
    background: #2078b8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.bloc-onglet-sous-rubrique ul li a:hover, 
.bloc-onglet-sous-rubrique ul li a:active, 
.bloc-onglet-sous-rubrique ul li a:focus {
    color: #2078b8;
    border: 3px solid #fff;
    background: #fff;
}
.bloc-onglet-sous-rubrique ul li a.actif {
    color: #2078b8;
    text-align: center;
    border-top: 3px solid #2078b8;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    background: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-bottom: 19px;
}
    @media only screen and (max-width:960px) {
        .vc_responsive .vc_row-fluid.full-row .container .vc_col-sm-12.bloc-onglet-sous-rubrique {
            padding-right: 5px;
        }
        .bloc-onglet-sous-rubrique ul li a.actif {
            border-top: 3px solid #fff;
            border-left: 3px solid #2078b8;
        }
    }
.bloc-onglet-sous-rubrique.onglet-nombre-3 ul li {
    width: 33%;
}
.bloc-onglet-sous-rubrique.onglet-nombre-2 ul li {
    width: 49.7%;
}
.bloc-onglet-sous-rubrique.onglet-nombre-4 ul li {
    width: 24.6%;
}
.bloc-onglet-sous-rubrique.onglet-nombre-5 ul li {
    width: 19.6%;
}
    @media only screen and (max-width: 960px) {
        .bloc-onglet-sous-rubrique.onglet-nombre-5 ul li, 
        .bloc-onglet-sous-rubrique.onglet-nombre-4 ul li, 
        .bloc-onglet-sous-rubrique.onglet-nombre-3 ul li, 
        .bloc-onglet-sous-rubrique.onglet-nombre-2 ul li {
            width: 100%;
            font-size: 10px;
        }
    }


/* - interne : article */
.blog-single-post p, 
.blog-single-post div {
    font-size: 14px;
}


/* interne : évènements-formation-équipe liste */
.vc_responsive .vc_row-fluid.full-row .container .vc_col-sm-12.evenements-content, 
.vc_responsive .vc_row-fluid.full-row .container .vc_col-sm-12.formation-content {
    padding-left: 0;
    padding-right: 0;
}
.evenement-list, 
.formation-list, 
.equipe-list {
    position: relative;
    border-top: 3px solid #19d1f8;
    border-right: 3px solid #f1f1f1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 125px;
    overflow: auto;
}
.formation-list {
    height: 106px;
    border-top: 3px solid #1a9bff;
}
.equipe-list {
    height: 140px;
    border: 3px solid #f1f1f1;
    border-top: 3px solid #0069b3;
}
.equipe-list p {
    font-size: 14px;
    line-height: 20px;
}
    @media only screen and (max-width:960px) {
        .equipe-list {
            height: auto;
        }
    }
.evenement-date, 
.formation-date {
    position: relative;
    background: url(http://www.cerib.com/wp-content/themes/Mexin_child_theme/images/date-evenement-bg.png) center center;
    background-size: cover;
    height: 120px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.formation-date {
    background: url(http://www.cerib.com/wp-content/themes/Mexin_child_theme/images/date-formation-bg.png) center center;
}
.formation-date-list {
    height: 81px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.evenement-date .jour, 
.formation-date .jour {
    position:absolute;
    top: 0;
    left: 0;
    padding: 18px;
    font-size: 32px;
    color: #fff;
}
.formation-date-list .jour {
    padding: 12px;
    font-size: 20px;
}
.evenement-date .mois, 
.formation-date .mois {
    position:absolute;
    bottom: 0;
    right: 0;
    padding: 18px;
    font-size: 32px;
    color: #000;
}
.formation-date-list .mois {
    padding: 12px;
    font-size: 20px;
}
.evenement-item h4, 
.formation-item h4 {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    margin-bottom: 7px;
    line-height: 20px;
}
.evenement-list-bloc .evenement-item h4, 
.formation-list-bloc .formation-item h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 5px;
}
.evenement-item p, 
.formation-item p {
    border-left: 2px solid #19d1f8;
    font-size: 14px;
    padding: 0 0 0 7px;
}
.formation-item p {
    border-left: 2px solid #1a9bff;
}
.evenement-item span, 
.formation-item span {
    display: block;
    float: left;
    width: 100px;
}
.evenement-item i, 
.formation-item i {
    width: 15px;
    text-align: center;
}
    @media only screen and (max-width:960px) {
        .evenement-item span, 
        .formation-item span {
            float: none;
        }
    }
.evenement-theme-label, .evenement-date-label, .evenement-lieu-label, .evenement-contact-label, 
.formation-theme-label, .formation-date-label, .formation-lieu-label, .formation-contact-label {
    text-transform: uppercase;
}
.evenement-list-bloc .evenement-theme-label, .evenement-list-bloc .evenement-date-label, .evenement-list-bloc .evenement-lieu-label, .evenement-list-bloc .evenement-contact-label, 
.formation-list-bloc .formation-theme-label, .formation-list-bloc .formation-date-label, .formation-list-bloc .formation-lieu-label, .formation-list-bloc .formation-contact-label {
    font-size: 14px;
}
.evenement-lien, 
.formation-lien {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
}
.formation-lien {
    width: 100%;
}
.evenement-lien a:link, 
.evenement-lien a:visited, 
.formation-lien a:link, 
.formation-lien a:visited {
    display: block;
    float: right;
    text-align: center;
    background: #f1f1f1;
    color: #505050;
    border-left: 1px solid #fff;
}
.evenement-lien a:hover, 
.evenement-lien a:active, 
.evenement-lien a:focus, 
.formation-lien a:hover, 
.formation-lien a:active, 
.formation-lien a:focus {
    background: #2078b8;
    color: #fff;
    border-left: 1px solid #fff;
}
.evenement-filtres, 
.formation-filtres, 
.equipe-filtres {
    position: relative;
    margin-bottom: 15px;
}
.evenement-filtres .ms-container .ms-selectable li.ms-elem-selectable, 
.formation-filtres .ms-container .ms-selectable li.ms-elem-selectable, 
.equipe-filtres .ms-container .ms-selectable li.ms-elem-selectable {
    border-bottom: 0;
}
.evenement-filtres .ms-container .ms-list, 
.formation-filtres .ms-container .ms-list, 
.equipe-filtres .ms-container .ms-list {
    height: auto;
    max-height: 200px;
}
.evenement-filtres > ul, 
.formation-filtres > ul, 
.equipe-filtres > ul {
    margin-bottom: 0;
}
.evenement-filtres > ul > li, 
.formation-filtres > ul > li, 
.equipe-filtres > ul > li {
    display: inline-block;
}
.evenement-filtres > ul > li > a.filtre-label, 
.formation-filtres > ul > li > a.filtre-label, 
.equipe-filtres > ul > li > a.filtre-label {
    display: block;
    color: #000;
    background: #f1f1f1;
    padding: 10px;
    width: 200px;
    margin: 0 15px;
    font-weight: 300;
}
.evenement-filtres > ul > li > a i, 
.formation-filtres > ul > li > a i, 
.equipe-filtres > ul > li > a i {
    float: right;
    background: #2078b8;
    color: #fff;
    padding: 11px;
    margin: -10px -10px 0 0;
}
.evenement-filtres > ul > li > div, 
.formation-filtres > ul > li > div, 
.equipe-filtres > ul > li > div {
    display: none;
    position: absolute;
    z-index: 65;
    margin-left: 15px;
    width: 200px;
}
.evenement-filtres > ul > li:hover div, 
.formation-filtres > ul > li:hover div, 
.equipe-filtres > ul > li:hover div {
    display: block;
}
.ms-container .ms-selectable {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ms-container .ms-selectable li.ms-elem-selectable.ms-selected {
    color: #2078b8;
}
.ms-container .ms-selectable li.ms-elem-selectable.ms-selected:hover {
    color: #fff;
}
.evenement-filtres > ul > li > a.filtre-tempo-label, 
.formation-filtres > ul > li > a.filtre-tempo-label, 
.equipe-filtres > ul > li > a.filtre-tempo-label {
    display: block;
    color: #000;
    background: #fff;
    padding: 10px;
    margin: 0 0px;
    font-weight: 300;
}
.evenement-filtres > ul > li > a.filtre-tempo-label.active, 
.formation-filtres > ul > li > a.filtre-tempo-label.active, 
.equipe-filtres > ul > li > a.filtre-tempo-label.active {
    border-right: 2px solid #f1f1f1;
    border-left: 2px solid #f1f1f1;
    border-top: 2px solid #2078b8;
    border-bottom: 4px solid #fff;
    padding-bottom: 24px;
    z-index: 55;
    position: relative;
    color: #2078b8;
}
.evenement-separateur, 
.formation-separateur, 
.equipe-separateur {
    position: absolute;
    top: 55px;
    border-top: 2px solid #f1f1f1;
    left: 0;
    width: 97%;
    margin: 0 15px;
    z-index: 50;
}
.evenement-passe, 
.formation-passe {
    display: none;
}
    @media only screen and (max-width:960px) {
        .evenement-separateur, 
        .formation-separateur,
        .equipe-separateur {
            display: none;
        }
        .evenement-filtres, 
        .formation-filtres, 
        .equipe-filtres {
            padding-bottom: 20px;
        }
        .evenement-filtres > ul > li, 
        .formation-filtres > ul > li, 
        .equipe-filtres > ul > li {
            display: inline;
        }
        .evenement-filtres > ul > li > a.filtre-label, 
        .evenement-filtres > ul > li > a.filtre-tempo-label, 
        .formation-filtres > ul > li > a.filtre-label, 
        .formation-filtres > ul > li > a.filtre-tempo-label, 
        .equipe-filtres > ul > li > a.filtre-label, 
        .equipe-filtres > ul > li > a.filtre-tempo-label {
            padding: 10px;
            margin: 5px 0;
            width: auto;
        }
        .evenement-filtres > ul > li > div, 
        .formation-filtres > ul > li > div, 
        .equipe-filtres > ul > li > div {
            width: 92%;;
            margin-left: 0;
        }
        .evenement-filtres > ul > li > a.filtre-tempo-label.active, 
        .formation-filtres > ul > li > a.filtre-tempo-label.active, 
        .equipe-filtres > ul > li > a.filtre-tempo-label.active {
            border-bottom: 2px solid #f1f1f1;
        }
    }
.equipe-list-bloc {
    display: none;
}
.equipe-photo {
    padding: 0;
}
.equipe-photo img {
    margin: 0;
}
.equipe-item h4, 
.equipe-photo h4 {
    font-size: 15px;
    padding-left: 4px;
    color: #000;
    line-height: 20px;
}
.equipe-item h4 {
    font-size: 15px;
    padding-left: 0;
    color: #505050;
    line-height: 20px;
    font-weight: 400;
}
.equipe-item h5 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
article div.equipe-item p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px;
}
.equipe-mail-phone, 
.equipe-mail-phone li {
    padding: 0;
    margin: 0 0 0 0;
    font-size: 13px;
}.equipe-mail-phone {
    margin: 0 0 15px 0;
}
.equipe-mail-phone li > i, 
.equipe-mail-phone li > a > i, 
.equipe-mail-phone li.ms-hover > i, 
.equipe-mail-phone li.ms-hover > a > i {
    width: 20px;
    text-align: center;
}
#contact > img {
    height: 200px;
}
    @media only screen and (max-width:960px) {
        .equipe-item h4, 
        .equipe-photo h4 {
            text-align: center;
        }
    }
div.bloc-content-full.without-carousel #contact-info li {
    font-size: 12px;
}


/* accueil : évènements liste */
#wrap .wpb_row.full-row.evenement-item-accueil {
    margin-bottom: 15px;
    padding-top: 15px;
}
.bloc-home-evenements article+article {
    border-top: 1px solid #19d1f8;
}
.evenement-item-accueil .evenement-date {
    height: 60px;
    max-width: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.evenement-item-accueil .evenement-date .jour {
    position:absolute;
    padding: 6px;
    font-size: 19px;
}
.evenement-item-accueil .evenement-date .mois {
    position:absolute;
    padding: 6px;
    font-size: 19px;
}
.evenement-item-accueil .evenement-item h4 {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.evenement-item-accueil .evenement-item h4 a strong {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}
.evenement-item-accueil .evenement-item a:link, 
.evenement-item-accueil .evenement-item a:visited {
    color: #000;
}
.evenement-item-accueil .evenement-item a:hover, 
.evenement-item-accueil .evenement-item a:active, 
.evenement-item-accueil .evenement-item a:focus {
    color: #19d1f8;
}
.bloc-home-evenements a:link, 
.bloc-home-evenements a:visited {
    color: #19d1f8;
}
.bloc-home-evenements div > :last-child > p {
    text-align: right;
    margin-top: 20px;
}


/* interne : évènements détail */
.custom-aside-widget {
    padding-left: 0;
    padding-right: 0;
}
#wrap .wpb_content_element .wpb_tour_tabs_wrapper #evenement-detail.wpb_tab, 
#wrap .wpb_content_element .wpb_tour_tabs_wrapper #formation-detail.wpb_tab {
    padding: 0;
}
.row-evenement, 
.row-formation {
    padding: 20px 20px 0 20px;
}
.row-evenement .evenement-date, 
.row-formation .formation-date {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.evenement-content, 
.formation-content {
    border-top: 2px solid #f1f1f1;
    padding: 20px 0 0 0;
    margin: 0;
}
.evenement-retour-liste, .evenement-reserver, 
.formation-retour-liste, .formation-reserver {
    padding: 15px 0 0 0;
}
.evenement-retour-liste a i, 
.formation-retour-liste a i {
    margin-right: 5px;
}
.evenement-retour-liste a:link, 
.evenement-retour-liste a:visited, 
.formation-retour-liste a:link, 
.formation-retour-liste a:visited, 
.rapport-retour-liste a:link, 
.rapport-retour-liste a:visited, 
.rapport-telecharger-liste a:link, 
.rapport-telecharger-liste a:visited {
    display: block;
    float: left;
    background: #0069b3;
    border: 1px solid #0069b3;
    color: #fff;
    padding: 5px 15px;
}
.rapport-telecharger-liste a:link, 
.rapport-telecharger-liste a:visited {
    float: right;
    margin-right: -35px;
}
.evenement-retour-liste a:hover, 
.evenement-retour-liste a:active, 
.evenement-retour-liste a:focus, 
.formation-retour-liste a:hover, 
.formation-retour-liste a:active, 
.formation-retour-liste a:focus, 
.rapport-retour-liste a:hover, 
.rapport-retour-liste a:active, 
.rapport-retour-liste a:focus, 
.rapport-telecharger-liste a:hover, 
.rapport-telecharger-liste a:active, 
.rapport-telecharger-liste a:focus {
    color: #0069b3;
    background: #fff;
    border-left: 1px solid #fff;
}
.rapport-telecharger-liste a:hover, 
.rapport-telecharger-liste a:active, 
.rapport-telecharger-liste a:focus {
    border-left: 1px solid #0069b3;
    border-right: 1px solid #fff;
}
.rapport-retour-liste a {
    margin-left: -35px;
}
.evenement-reserver a i, 
.formation-reserver a i {
    margin-right: 5px;
}
.evenement-reserver a:link, 
.evenement-reserver a:visited, 
.formation-reserver a:link, 
.formation-reserver a:visited {
    display: block;
    float: right;
    background: #19d1f8;
    color: #fff;
    padding: 10px 25px;
    margin-right: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #19d1f8;
}
.formation-reserver a:link, 
.formation-reserver a:visited {
    position: absolute;
    top: 15px;
    right: 5px;
    background: #1a9bff;
    border: 1px solid #1a9bff;
}
    @media only screen and (max-width:960px) {
        .formation-reserver a:link, 
        .formation-reserver a:visited {
            position: relative;
            top: 0;
            right: 0;
        }
    }
.evenement-reserver a:hover, 
.evenement-reserver a:active, 
.evenement-reserver a:focus, 
.formation-reserver a:hover, 
.formation-reserver a:active, 
.formation-reserver a:focus {
    color: #19d1f8;
    background: #fff;
}
.formation-reserver a:hover, 
.formation-reserver a:active, 
.formation-reserver a:focus {
    color: #1a9bff;
    background: #fff;
}
.evenement-content ul, 
.formation-content ul {
    margin-left: 20px;
}
.evenement-content table, 
.formation-content table {
    width: 100%;
    margin-left: -20px;
}
.evenement-content table, .evenement-content tr, .evenement-content td, 
.formation-content table, .formation-content tr, .formation-content td {
    border: 0;
}
.evenement-content table tr:first-child  td:first-child, 
.formation-content table tr:first-child  td:first-child {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
}
.evenement-content table tr:last-child  td:first-child, 
.formation-content table tr:last-child  td:first-child {
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
}
.evenement-content table tr td:first-child, 
.formation-content table tr td:first-child {
    background: #19d1f8;
    color: #fff;
    font-weight: 600;
    width: 70px;
    text-align: right;
    padding: 10px 10px;
}
.formation-content table tr td:first-child {
    background: #1a9bff;
}
.evenement-content table tr td:last-child, 
.formation-content table tr td:last-child {
    padding-left: 15px;
}
    @media only screen and (max-width:960px) {
        #evenement-detail-onglets, 
        #formation-detail-onglets {
            display: none;
        }
    }

#ajaxevenementform, 
#ajaxformationform {
    margin-bottom: 0;
}
#ajaxevenement-text, 
#ajaxformation-text {
    overflow: auto;
}
#ajaxevenement-text p, 
#ajaxevenement-text div, 
#ajaxevenement-text input, 
#ajaxevenement-text select, 
#ajaxevenement-text textarea, 
#ajaxformation-text p, 
#ajaxformation-text div, 
#ajaxformation-text input, 
#ajaxformation-text select, 
#ajaxformation-text textarea {
    font-size: 15px;
}
#ajaxevenement-text h3, 
#ajaxformation-text h3,
.form-text h3 {
    border-bottom: 3px solid #0069b3;
    padding-bottom: 10px;
}
#ajaxformation-text h5 {
    color: #0069b3;
    font-weight: 400;
}
#ajaxevenement-text ul, 
#ajaxformation-text ul {
    margin-bottom: 0;
}
#ajaxevenement-text .bloc-left li, 
#ajaxformation-text .bloc-left li, 
#ajaxformation-text .bloc-right li {
    display: inline-block;
    margin-bottom: 0;
}
#ajaxevenement-text .bloc-left li:first-child, 
#ajaxformation-text .bloc-right li:nth-child(3) {
    display: block;
}
#ajaxevenement-text label, 
#ajaxformation-text label {
    display: inline;
}
#ajaxevenement-text textarea, 
#ajaxformation-text textarea {
    width: 100%;
}
#ajaxevenement-response, 
#ajaxformation-response {
    padding: 10px 25px;
    margin-right: 15px;
    border: 2px solid #f7e700;
}
#ajaxevenement-text .submit-button, 
#ajaxformation-text .submit-button {
    display: block;
    background: #19d1f8;
    color: #fff;
    padding: 10px 25px;
    margin-right: 15px;
    font-weight: 500;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#ajaxformation-text .submit-button {
    background: #1a9bff;
}


/* - interne : formation - */
#aside-formation {
    display: none;
}
.wpcf7 p {
    display: inline-block;
    width: 45%;
}
.wpcf7 #form-sujet {
    position: absolute;
    visibility: hidden;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea,
.wpcf7 select {
    font-size: 15px;
}
.wpcf7 .wpcf7-form select {
    margin: 0;
    width: auto;
    padding: 5px;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
    width: 100%;
}
.wpcf7 {
    margin-bottom: 0;
}
#lbp-inline-href-3 h3, 
#lbp-inline-href-4 h3, 
#lbp-inline-href-5 h3 {
    border-bottom: 3px solid #0069b3;
    padding-bottom: 10px;
}
#lbp-inline-href-3 h5 {
    color: #0069b3;
    font-weight: 400;
}
.wpcf7 ul {
    margin: 0;
}
.wpcf7 .bloc-main li {
    display: inline-block;
    margin-bottom: 5px;
}
.nous-contacter-form .wpcf7 .bloc-main li {
    width: 100%;
}
.wpcf7 .bloc-main li:first-child, 
.nous-contacter-form .wpcf7 .bloc-main li:nth-child(2), 
.nous-contacter-form .wpcf7 .bloc-main li:last-child {
    display: block;
}
.wpcf7 .bloc-main li:first-child label, 
.wpcf7 .bloc-main li:nth-child(5) label, 
.nous-contacter-form .wpcf7 .bloc-main li:nth-child(2) label {
    float: left;
    font-size: 15px;
    font-weight: 400;
    padding-top: 7px;
    margin-right: 15px;
}
.nous-contacter-form .wpcf7 .bloc-main li:first-child label, 
.nous-contacter-form .wpcf7 .bloc-main li:nth-child(2) label {
    width: 110px;
}
.wpcf7 .wpcf7-form textarea {
    height: 120px;
}
.wpcf7 .wpcf7-form input[type="submit"], 
.wpcf7 .wpcf7-form input[type="submit"]:hover {
    display: block;
    float: right;
    background: #0069b3;
    color: #fff;
    padding: 10px 25px;
    margin-right: 15px;
    font-weight: 500;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-transform: none;
}
.nous-contacter-form .wpcf7 .wpcf7-form input[type="submit"], 
.nous-contacter-form .wpcf7 .wpcf7-form input[type="submit"]:hover {
    float: none;
    width: 100%;
    margin-bottom: 0;
}
.wpcf7 .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors, 
.wpcf7 .wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    padding: 10px 25px;
}
#fonction-autre, #eve-fonction-autre {
    display: none;
}

/* - nous conctacter - */
.nous-contacter-content .wpb_wrapper ul li i {
    display: block;
    float: left;
    width: 35px;
    text-align: center;
}
.nous-contacter-content .wpb_wrapper ul li:nth-child(2) {
    padding-left: 35px;
}
.nous-contacter-form .wpcf7 .bloc-main li:nth-child(2) {
    padding-left: 0;
}
#routeForm input[type="text"] {
    display: inline;
    font-size: 14px;
}
#routeForm input[type="submit"] {
    background: #0069b3;
    color: #fff;
    padding: 8px 25px;
    text-transform: none;
} 
#routeForm {
	width: 100%;
	text-align: center;
	margin-top: 20px;	
}
#directionsPanel {
	width: 100%;
	margin: 0 auto;
	font-size: 14px;
}
.adp-directions {
	width: 100%;	
}
.adp-placemark tr:first-child td:first-child {
    width: 35px;
}
.adp-directions td:first-child, 
.adp-directions td:nth-child(2) {
    width: 30px;
}.adp-directions td:last-child {
    width: 60px;
    white-space: nowrap
}
#map_canvas img { max-width: none; }
#map_canvas_footer img { max-width: none; }


/* - demander un accès - */
.demander-acces-form .wpcf7 .bloc-main li:nth-child(12) {
    display: block;
    float: none;
}
.demander-acces-form .wpcf7 .wpcf7-form input[type="submit"], 
.demander-acces-form .wpcf7 .wpcf7-form input[type="submit"]:hover {
    float: left;
    margin-bottom: 0;
}


/* - demander un accès APEGIB - */
.demander-acces-apegib-form .wpcf7 .bloc-main li:first-child {
    display: inline-block;
}
.demander-acces-apegib-form .wpcf7 .bloc-main label {
    display: inline;
}
.demander-acces-apegib-form .wpcf7 .bloc-main li:nth-child(13) {
    display: block;
}
.demander-acces-apegib-form .wpcf7 .bloc-main li:nth-child(15) {
    vertical-align: top;
    margin-left: 10px;
}


/* - résultats de recherche - */
.search-results h4 a:link, 
.search-results h4 a:visited {
    color: #000;
}
.search-results h4 a:hover, 
.search-results h4 a:active, 
.search-results h4 a:focus {
    color: #0069b3;
}
.search-results-main h4 a i, 
.search-results-ged h4 i {
    margin-right: 5px;
}
.wp-pagenavi a:hover, 
.wp-pagenavi a:active, 
.wp-pagenavi a:focus {
    color: #fff;
    background: #0069b3;
}
.search-results-ged {
    overflow: auto;
}
.search-results-ged h4 {
    border-bottom: 3px solid #efefef;
    padding-bottom: 5px;
}
.document-ged-liste, .document-ged-liste li {
    margin: 0;
    padding: 0;
}
.document-ged-liste li {
    margin: 10px 0;
}
.document-ged-liste li a:link, 
.document-ged-liste li a:visited {
    color: #505050;
}
.document-ged-liste li a:hover, 
.document-ged-liste li a:active, 
.document-ged-liste li a:focus {
    color: #0069b3;
}


/* - interne : actualité - */
.list-article article {
    border-bottom: 3px solid #efefef;
    margin-bottom: 20px;
}
.list-article article h3 {
    margin-bottom: 0;
    font-size: 22px;
}
.list-article article h3 a:link, 
.list-article article h3 a:visited {
    color: #505050;
}
.list-article article h3 a:hover, 
.list-article article h3 a:active, 
.list-article article h3 a:focus {
    color: #0069b3;
}
h6.blog-date, h6.blog-cat {
    color: #505050;
    font-size: 14px;
}


/* - Job - */
.vc_row-fluid.full-row .container .vc_col-md-12.offres-demploi {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
}
.job_application.application {
    display: none;
}
.emploi-postuler {
    position: absolute;
    right: 0;
    top: 80px;
}
.emploi-postuler a i {
    margin-right: 5px;
}
.emploi-postuler a:link, 
.emploi-postuler a:visited {
    display: block;
    float: right;
    background: #0069b3;
    color: #fff;
    padding: 10px 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #0069b3;
}
.emploi-postuler a:hover, 
.emploi-postuler a:active, 
.emploi-postuler a:focus {
    color: #0069b3;
    background: #fff;
}
.wpcf7 #form-poste, 
.wpcf7 #form-reference, 
.wpcf7 #form-recipient {
    position: absolute;
    visibility: hidden;
}
.wpcf7 ul.bloc-main-postuler, 
.bloc-main-postuler {
    width: 60%;
    margin: 0 auto;
}
.bloc-main-postuler li:first-child,
.wpcf7 .bloc-main-postuler li {
    display: block;
}


/* - plan du site - */
.wsp-pages-list > li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-bottom: 30px;
}
    @media only screen and (max-width:960px) {
        .wsp-pages-list > li {
            width: 100%;
        }
    }
.wsp-pages-list > li:first-child > a, 
.wsp-pages-list > li.page_item_has_children > a {
    text-transform: uppercase;
    color: #000;
}
.wsp-pages-list > li.page_item_has_children > a {
    cursor: default;
}
.wsp-pages-list > li:first-child > a:before {
    content: "\f015";
    font-family: FontAwesome;
    color: #0069b3;
    padding-right: 4px;
}
.wsp-pages-list > li > a:before {
    content: "\f054";
    font-family: FontAwesome;
    color: #0069b3;
    padding-right: 4px;
}
.wsp-pages-list > li.page_item_has_children > ul.children {
    margin-left: 15px;
    margin-top: 10px;
}


/* - sticky leftside - */
@media only screen and (min-width:961px) {
    aside.col-md-3.sidebar.leftside.sticky {
        position: fixed;
        top: 25px;
        left: 50%;
        margin-left: -525px;
        width: 255px;
        z-index: 110;
    }
    aside.col-md-3.sidebar.leftside.custom-bloc-wiget.sticky {
        position: fixed;
        top: 25px;
        left: 50%;
        margin-left: -500px;
        width: 213px;
        z-index: 110;
    }
    aside.col-md-3.sidebar.leftside.custom-bloc-wiget.evenement-widget.sticky, 
    aside.col-md-3.sidebar.leftside.custom-bloc-wiget.formation-widget.sticky {
        position: fixed;
        top: 25px;
        left: 50%;
        margin-left: -525px;
        width: 263px;
        z-index: 110;
    }
}


/* - tableau normalisation - */
.tableau-normalisation h3 {
    font-size: 20px;
    font-weight: 400;
    color: #0069b3;
}
.tableau-normalisation table tr:first-child td, 
.tableau-normalisation table tr td:first-child {
    border-color: #fff;
    color: #fff;
    font-weight: 500;
}
.tableau-normalisation table tr td strong {
    color: #fff;
}
.tableau-normalisation table tr td:first-child {
    background: rgba(0, 105, 179, 0.7);
}
.tableau-normalisation table tr:first-child td {
    background: #0069b3;
}
.tableau-normalisation table tr:first-child td {
    text-align: center;
}


/* - formulaire coupon réponse - */
.table-coupon, .table-coupon tr, .table-coupon td {
    border: 0;
    vertical-align: top;
}
.table-coupon tr td:first-child {
    width: 300px;
}
input[type="button"].valider-coupon {
    background: #0069b3;
    color: #fff;
    padding: 10px 25px;
    margin-right: 15px;
    font-weight: 500;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 210px;
}


/* -- sélecteur de langue -- */
div#selectLanguage {
    float: right;
    background: #737373;
}
div#selectLanguage #lang_sel ul ul, 
div#selectLanguage #lang_sel li {
    width: 100px;
    text-align: left;
    background: #737373;
}
div#selectLanguage #lang_sel ul ul {
    top: 43px;
}
div#selectLanguage #lang_sel a {
    border: 0;
    background: #737373;
    color: #fff;
    padding: 10px 10px 9px 10px;
    font-size: 12px;
}
div#selectLanguage #lang_sel a.lang_sel_sel {
    background: none;
}


/* - correction editeur wordpress - */
img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blox hr {
    border-color: #0069b3;
}


/* - responsive - */
@media only screen and (max-width:960px) {
    #nav-wrap {
        margin: 0;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 500px;
    }
}
@media only screen and (max-width: 479px) {
    .container {
        width: auto;
    }
}
