/* - CSS Certification - */
/* - DTA Custom 08/09/15 - */
#table-nf
{
	margin-top: 30px;
	font-size: 13px;
	border: none;
}

/*#table-nf th.small-5
{
	width: 42.5%;
}

#table-nf th.small-4
{
	width: 35%;
}

#table-nf th.small-2
{
	width: 15%;
}*/

.vc_col-sm-12
{
	width: 102%;
}

#title-certif
{
	/*margin-top: 45px;*/
	border: 1px solid white;
}

#title-certif .small-4
{
	width: 10%;
	border: 10px solid #ebebeb;
	vertical-align: middle;
	background-color: white;
}

#title-certif .small-4 img.nf-logo
{
	height: 50px;
    width: 50px;
    display: block;
    margin: auto;
}

#title-certif .small-4 img.ce-logo
{
	height: 50px;
    width: 70px;
    display: block;
    margin: auto;
}

#title-certif .small-8
{
	width: 90%;
	border: 10px solid #ebebeb;
	color: rgb(0, 105, 179);
	background-color: white;
	vertical-align: middle;
}

#table-nf td, #table-nf th
{
	border: none;
	vertical-align: middle;
}

#table-nf .headTable th, #table-nf .headTable td
{
	font-size: 15px;
	height: 50px;
	border: 1px solid grey;
	background-color: white;
}

#table-nf .headTable th
{
	color: rgb(0, 105, 179);
}

#table-nf .row.headTable td:nth-child(n+3)
{
	text-align: left;
}

#table-nf.nf-type .small-4
{
	width: 42.5%;
}

#table-nf.nf-type .small-2
{
	width: 15%;
}

#table-nf .small-4
{
	width: 35%;
}

#table-nf .small-3
{
	width: 20%;
}

#table-nf .small-2
{
	width: 15%;
}

#table-nf .small-1
{
	width: 10%;
}

#table-nf .row:nth-child(even)
{
	background-color: #B4C7E7;
}

#table-nf .row:nth-child(odd):not(:first-child)
{
	background-color: #DAE3F3;
}

#table-nf .row td:nth-child(n+3)
{
	text-align: center;
}

#table-nf .row td.certifname
{
	text-align: left;
}

.container.interne-cerfif
{
	margin-top: 50px;
}

#certif-title
{
	background-color: #0069b3;
}

#certif-title h3
{
	color: #ffffff;
	padding: 5px 0 5px 15px;
}

#nb-usines-liste li
{
	display: inline-block;
	margin: 0 10px 0 0;
}

#nb-usines-liste a
{
	display: block;
	padding: 10px;
	color: #ffffff;
	background-color: #505050;
	transition: 250ms background-color ease;
}

#nb-usines-liste a:hover
{
	background-color: #0069b3;
}

#nb-usines-liste a
{
	display: block;
	padding: 10px;
	color: #ffffff;
	background-color: #505050;
	transition: 250ms background-color ease;
}

#nb-usines-liste a:hover
{
	background-color: #0069b3;
}

.nb-usine, .nb-menu
{
	position: relative;
	padding-left: 30px;
}

.nb-usine .fa
{
	position: absolute;
	top: 3px;
	left: 0;
}

.nb-menu .fa
{
	position: absolute;
	top: -5px;
	left: 0;
}

/* - DTA Custom 09/09/15 - */

.filter-list li
{
	display: inline-block;
}

.filter-list select
{
	display: inline-block;
}

#usine-list
{
	/*overflow: scroll;
	height: 500px;*/
	margin-bottom: 100px;
}

#table-usine th.small-1
{
	width: 10%;
}

#table-usine th.small-5
{
	width: 40%;
}

/* - DTA Custom 10/09/15 - */

#table-usine-nf td.small-1
{
	width: 10%;
}

#table-usine-nf td.small-2
{
	width: 20%;
}

#table-usine-nf td.small-9
{
	min-width: 75%;
}

.usine-info .small-9
{
	border-right: none;
}

/*- DTA Custom 11/09/15 - */

.filter .small-6:first-of-type
{
	display: inline-block;
}

.filter .small-6
{
	width: 50%;
	display: inline;
}

.filter #dptFilterNF
{
	display: inline-block;
}

.no-criteria
{
	background-color: red;
	color: white;
	margin-bottom: 20px;
    padding: 10px;
}

/* - DTA Custom 14/09/15 - */

.nf-ib-image, .nf-nf-image, .nf-fdes-image
{
	float: right;
	margin: 0 5px;
}

.nf-ib-image:after, .nf-nf-image:after, .nf-ib-image:after
{
	content:'';
    display:block;
    clear: both;
}

.nf-ib-image.wpb_single_image img, .nf-nf-image.wpb_single_image img
{
	width: 50px;
	height: 50px;
}

.nf-fdes-image.wpb_single_image img
{
	width: 100px;
	height: 50px;
}

.bloc-content-no-tab-brochure
{
	background: #fff;
	padding: 0;
	width: 23%;
    margin-right: 2%;
}

.tab-brochure
{
	padding: 20px;
}

.tab-brochure hr
{
	border-top: 3px solid #0069b3;
}

#formCertif td, #formCertif th
{
	border: none;
}

#formCertif .normal
{
	margin-bottom: 0;
}

#tabCertif/*, #table-usine-nf*/
{
	table-layout: auto;
}

/* - DTA Custom 15/09/15 - */

.separate-bloc-brochure
{
	background-color: #ebebeb;
}

/* - DTA Custom 22/09/15 - */

.usine-name
{
	font-weight: bold;
}

#formCertif
{
	width: 80%;
}

#formDept
{
	width: 80%;
	border: none;
}

#formDept td
{
	border: none;
}

.fdesImg
{
	height: 40px;
}

/* - DTA Custom 09/10/15 - */
#contact  img
{
	display: block;
	margin: auto;
}

#contact h4
{
	font-size: 15px;
	color: #0069b3;
	font-weight: bold;
}

#contact #contact-info li  i
{
	min-width: 14px;
	margin-right: 5px;
}