/*
Visual Composer Webnus edit (4.3)

 ** Theme Name: Mexin-new **
--------------------------- */

#TB_overlay {
  z-index: 1055;
}
#TB_window {
  z-index: 100050!important;
  position: fixed!important;
}

.wpb_content_element > .wpb_element_wrapper { background-color:#fdfdfd !important;}

/* videoplay */
.wpb-content-layouts i.webnus_videoplay, .wpb_videoplay.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/video.png);
}

/* iconbox */
.wpb-content-layouts i.webnus_iconbox, .wpb_iconbox.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/iconbox.png);
}


/* recent works */

.wpb-content-layouts i.webnus_recentworks, .wpb_recentworks.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/recentworks.png);
}



/* latest from blog */

.wpb-content-layouts i.webnus_latestfromblog, .wpb_latestfromblog.wpb_content_element > .wpb_element_wrapper .vc_element-icon ,
.wpb_latestblog.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/latestfromblog.png);
}


/* faq */

.wpb-content-layouts i.webnus_faq, .wpb_faq.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/faq.png);
}


/* pricing table */

.wpb-content-layouts i.webnus_pricingtable, .wpb_css3_grid.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/pricingtable.png);
}

/* ourclients */

.wpb-content-layouts i.webnus_ourclients, .wpb_ourclients.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/ourclients.png);
}

/* distance */

.wpb-content-layouts i.webnus_distance, .wpb_distance.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/distance.png);
}


/* link */

.wpb-content-layouts i.webnus_link, .wpb_link.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/link.png);
}


/* boxlink */

.wpb-content-layouts i.webnus_boxlink, .wpb_boxlink.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/boxlink.png);
}


/* paragraph */

.wpb-content-layouts i.webnus_paragraph, .wpb_p.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/paragraph.png);
}

/* subtitle1 */

.wpb-content-layouts i.webnus_subtitle, .wpb_subtitle.wpb_content_element > .wpb_element_wrapper,
.wpb-content-layouts i.webnus_subtitle, .wpb_subtitle.wpb_content_element > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.webnus_subtitle1, .wpb_subtitle1.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/subtitle1.png);
}


/* subtitle2 */

.wpb-content-layouts i.webnus_subtitle2, .wpb_subtitle2.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/subtitle2.png);
}


/* subtitle3 */

.wpb-content-layouts i.webnus_subtitle3, .wpb_subtitle3.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/subtitle3.png);
}

/* big_title */

.wpb-content-layouts i.webnus_big_title, .wpb_big_title.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/bigtitle.png);
}



/* big_title2 */

.wpb-content-layouts i.webnus_big_title2, .wpb_big_title2.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/bigtitle2.png);
}



/* ourteam */

.wpb-content-layouts i.webnus_ourteam , .wpb_ourteam.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/ourteam.png);
}



/* callout */

.wpb-content-layouts i.webnus_callout, .wpb_callout.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/callout.png);
}



/* testimonial */

.wpb-content-layouts i.webnus_testimonial, .wpb_testimonial.wpb_content_element > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.webnus_testimonialitem, .wpb_testimonial_item.wpb_content_element > .wpb_element_wrapper span.webnus_testimonialitem {
	background-image: url(./images/testimonial.png);
}



/* quote */

.wpb-content-layouts i.webnus_quote, .wpb_quote.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/qoute.png);
}


/* doublepromo */

.wpb-content-layouts i.webnus_doublepromo, .wpb_doublepromo.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/doublepromo.png);
}


/* button */

.wpb-content-layouts i.webnus_button, .wpb_button.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/button.png);
}



/* icon */

.wpb-content-layouts i.webnus_icon, .wpb_icon.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/icon.png);
}



/* process */

.wpb-content-layouts i.webnus_process, .wpb_process.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/process.png);
}


/* employees */

.wpb-content-layouts i.webnus_employees, .wpb_employees.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/employees.png);
}


/* categorybox */

.wpb-content-layouts i.webnus_categorybox, .wpb_categorybox.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/categorybox.png);
}


/* alert */

.wpb-content-layouts i.webnus_alert, .wpb_alert.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/alert.png);
}


/* tooltip */

.wpb-content-layouts i.webnus_tooltip, .wpb_tooltip.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/tooltip.png);
}


/* highlight */

.wpb-content-layouts i.webnus_highlight, .wpb_highlight.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/highlight.png);
}


/* dropcap */

.wpb-content-layouts i.webnus_dropcap, .wpb_dropcap.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/dropcap.png);
}


/* list */

.wpb-content-layouts i.webnus_list, .wpb_ul.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/list.png);
}


/* clear */

.wpb-content-layouts i.webnus_clear, .wpb_clear.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/clear.png);
}


/* line */

.wpb-content-layouts i.webnus_line, .wpb_line.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/line.png);
}


/* contact form */

.wpb-content-layouts i.webnus_contactform, .wpb_contactform.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
	background-image: url(./images/contactform.png);
}


/* maxtitle */

.wpb-content-layouts i.icon-wpb-maxtitle, .wpb_maxtitle.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
    background-image: url(./images/maxtitle.png);
}

/* maxcounter */

.wpb-content-layouts i.icon-wpb-maxcounter, .wpb_maxcounter.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
    background-image: url(./images/maxcounter.png);
}

/* tagline Slider */
.wpb-content-layouts i.icon-wpb-taglineslider, .wpb_taglineslider.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
    background-image: url(./images/taglineslider.png);
}

/* icon divider */
.wpb-content-layouts i.icon-wpb-wicon, .wpb_icon-divider.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
    background-image: url(./images/icondivider.png);
}

/* webnus divider */
.wpb-content-layouts i.icon-wpb-wicon, .wpb_icon-divider.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
    background-image: url(./images/icondivider.png);
}


/* webnus countdown */
.wpb-content-layouts i.icon-wpb-countdown, .wpb_countdown.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
    background-image: url(./images/ico-maxcounter1.png);
}

/* webnus google map */
.wpb-content-layouts i.webnus_map, .wpb_gmap.wpb_content_element > .wpb_element_wrapper span.webnus_map {
    background-image: url(./images/googlemap.png);
}

/* teaser box */
.wpb-content-layouts i.webnus_teaserbox, .wpb_teaserbox.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
    background-image: url(./images/taeserbox.png);
}


/* infobox */
.wpb-content-layouts i.icon-wpb-infobox, .wpb_infobox.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
    background-image: url(./images/infobox.png);
}

/* twitter feed */
.wpb-content-layouts i.webnus_twitterfeed, .wpb_twitterfeed.wpb_content_element > .wpb_element_wrapper span.webnus_twitterfeed {
    background-image: url(./images/ico-twitter1.png);
}


/* webnus blog */
.wpb-content-layouts i.webnus_blog, .wpb_blog.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
    background-image: url(./images/news.png);
}


/* webnus masonry */
.wpb-content-layouts i.webnus_masonry, .wpb_masonry.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
    background-image: url(./images/postsgrid.png);
}


/* webnus post box */
.wpb-content-layouts i.webnus_postfromblog, .wpb_postblog.wpb_content_element > .wpb_element_wrapper .vc_element-icon {
    background-image: url(./images/textblock.png);
}

/* end */