/*----------------------------------

	Theme Name: Mexin
	----------------------
	
	/* #RTL Styles
================================================== */
	
	
	* { font-family:Tahoma, arial; letter-spacing:0 !important;}
	body { direction: rtl;
	unicode-bidi: embed;
	font-family:Tahoma, arial;}
	
	h1 , h2 , h3, h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;}
	
	p { text-align:right; font-size:14px; line-height:1.7;}
	.button,button, a.price-send,input[type="submit"],	input[type="reset"],input[type="button"] { font-family:Tahoma, arial;}
	
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float:right;}
	@media only screen and (max-width: 767px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float:none;}
	}
	
	.alignright { text-align: right; }
	img.alignright { float: right; margin-left:10px; }
	.alignleft { text-align: left; }
	img.alignleft { float: left; margin-right:10px; }
	.aligncenter { text-align: center; }
	
	.icon-box i, .icon-box5 i { float:right; margin-left:10px; margin-right:0;}
	.icon-box1 p, .icon-box2 h4, .icon-box2 p, .icon-box4 p, .icon-box6 h4, .icon-box6 p { text-align:center;}
	.icon-box3 p,
	.container .icon-box5 p {margin-right:0;}
	
	.our-team h2 {  letter-spacing:0; position:absolute; left:auto; right:0; border-top-left-radius:17px; text-align:right; }
	.vc_span2 .our-team h2 { font-size:18px; margin-top:-37px; }
	.our-team h5 { margin-left:0; margin-right:18px; margin-top:16px; }
	.our-team p { padding: 5px 17px 26px 17px; }
	
	.sidebar h4.subtitle { text-align:right; font-size:18px; font-weight:normal; font-family:inherit; }	
	.sidebar.col-md-offset-1 { margin-left: 0;  margin-right:8.333333333333332%; }
	.sidebar.leftside { margin-right:0; margin-left:8.333333333333332%; }
	
	@media only screen and (max-width: 767px) {	
	.sidebar, .rgt-cntt, .sidebar.leftside, .sidebar.col-md-offset-1 { padding-right:0; margin:0; margin-bottom:20px; margin-top:40px; }
	}
	.widget { direction:rtl; text-align:right;}
	.widget ul.children { margin-bottom:0; padding-right:16px; padding-left:0;}
	.widget ul li:after { float:left; content: "\f053"; padding-left:3px; padding-right:0;}
	.widget .flickr-feed a, .widget .instagram-feed a  { float:right; }
	.flexslider, .flexslider *, .vc-carousel, .vc-carousel * { direction:ltr; }
	
	input[type="text"].search-side, input[type="text"].header-saerch { background-position:left;}	
	
	.commentbox { text-align:right;}
	.commentlist li .comment-info, .commentlist li .comment-text { padding-left:0; padding-right:123px;}
	.commentlist li .comment-info img { float:right; margin: 3px -120px 3px 30px;}
	.commentlist li .comment-info cite .comment-data { float:left;}
	@media only screen and (max-width: 767px) {
	.commentlist li .comment-info { padding-right:50px; padding-left:0; }
	.commentlist li .comment-info img { width:40px; height:40px; border-radius:20px; margin-top:-2px; margin-left:10px; margin-right:-50px;}
	.commentlist li .comment-text { padding-left:0; padding-right:50px;}
	.commentlist li .comment-info cite .comment-data { position:relative; top:-44px; left:-8px; right:auto; display:inline;}
	.commentlist li .comment-text p { font-size:14px;}
	}
	
	.breadcrumbs-w { float:left;}
	
	.dropcap1, .dropcap2, .dropcap3 { float:right; margin-right:0; margin-left:8px;}
	
	.button i, button i, input[type="submit"] i, input[type="reset"] i, input[type="button"] i{ float:right; margin-right:0; margin-left:4px;}
	ul.check li, li.check, ul.plus li, li.plus, ul.minus li, li.minus, ul.star li, li.star,
	ul.arrow li, li.arrow, ul.arrow2 li, li.arrow2, ul.square li, li.square, ul.circle li,
	li.circle, ul.cross li, li.cross { background-position:right 7px; padding-left:0; padding-right:16px;}
	
	.alert {  padding: 8px 35px 8px 12px; background-position:99% 50%;}
	.alert .close { right:auto; left:-5px; float:left;}
	
	.callout a.callurl { float:left; margin-left:0; margin-right:15px;}
	
	.our-process-item, .our-process-item i { float:right;}
	.our-process-item .our-process-content { left:auto; right:85px;}
	.our-process-item:before { float:right; right:35px; left:auto;}
	.our-process-item:after { left:auto; right:60%; content: "\f0d9";}
	.our-process-item h5 { margin:16px 0px 8px 10px;}
	.our-process:before { content: "\f140"; bottom: -11px;}
	.our-process:after {content: "\f192"; bottom: -4px;}
	
	.blox.promoblox a.button { float:left; margin-left:0; margin-right:15px;}
	
	a.magicmore { padding-right:0; }
	a.magicmore:after { right:auto; left:1px; content: "\f053"; margin-left:-14px;}
	a.magicmore:hover:after { right:auto; left:0; }
	a.readmore:after { content: "\f053"; font-size:8px;}
	
	.blog-line p, .blog-line p a, .blog-post p.blog-author, .blog-post p.blog-author a { text-align:right;}
	.wpb_gallery_slides .flex-caption p { text-align:inherit;}
	
	.blog-date-sec { border-left:1px solid #e5e5e5; border-right:none; padding-right:0; padding-left:20px;}
	body.rtl .container [class*="col-"].omega { padding-right:10px; padding-left:0;}
	body.rtl .container [class*="col-"].alpha { padding-left:10px; padding-right:0;}
	.blog-single-post h1 { font-size:33px; line-height:1.5;}
	.blog-single-post .post .about-author-sec img { float:right; margin-left:30px; margin-right:0;}
	
	#header .alignright { text-align:left;}
	input.header-saerch[type="text"] { float:left;}
	
	/* Menu */
	#nav { float:left;}
	#nav li { float:right;}
	#nav > li > a i, #nav ul > li > a i { float:right; margin-right:0; margin-left:6px;}
	#nav ul { padding-left:0; padding-right:20px; }
	#nav ul li a, #nav ul li a:hover, #nav ul li:hover a { text-align:right; padding-right:0;}
	.nav-wrap2 #nav { float:right;}
	.nav-wrap2 #nav > li:first-child { margin-left:0; margin-right:7px;}
	.nav-wrap2 #nav > li:first-child > a { border-left:none; border-right:1px solid #eee;}
	.nav-wrap2 #nav > li:last-child > a { border-left:1px solid #eee;}
	
	@media only screen and (max-width: 767px) {
	#nav, #nav li, .nav-wrap2 #nav { float:none;}
	#menu-icon { padding: 11px 42px 3px 10px; text-align:right;}
	#menu-icon i { float:right; margin-left:0; margin-right:-28px; }
	#nav { padding-left:0; padding-right:18px;}
	#nav ul { padding-left:0; padding-right:20px; }
	#nav a, #nav ul li a, #nav ul li a:hover, #nav ul li:hover a { text-align:right; padding-right:0;}
	}
	
	body.rtl .vc_progress_bar .vc_single_bar .vc_bar { left:auto; right:0;}
	body.rtl .wpb_tabs .wpb_tabs_nav li { float:right;}
	body.rtl .wpb_content_element .wpb_tabs_nav li { margin-left:-1px; margin-right:0 !important;}
	body.rtl .wpb_tour .wpb_tabs_nav { float:right; border-right:none; border-left:1px solid #e5e5e5;}
	body.rtl .wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {float:right; padding: 30px 21.7391px 0px 0px;}
	
	/* -------- end ----------- */