/**
 * Vars
 */
$brand-color: #1d3f79;
$base-font: "Open Sans";

$large-screen: 1200px;
$medium-screen: 760px;
$small-screen: 620px;

/**
 * Mixins
 */
@mixin cf {
	&:after {
	content: "";
	display: table;
	clear: both;
	}
}

// Media queries
@mixin MQ($bp) {
	@if $bp == L {
		// Si > 1400px
		@media ( min-width: $large-screen ) { @content };
	}
	@else if $bp == M {
		// Si < 980px
		@media ( max-width: $medium-screen ) { @content };
	}
	@else if $bp == S {
		// Si < 720px
		@media ( max-width: $small-screen ) { @content };
	}
}


/**
 * Landing page
 */

.landing {

	.container {
		position: relative;
		@include cf;
	}

	// Header
	&-header {
		display: table;
		width: 100%;
		padding: 20px 0;

		@include MQ(M) {
			margin-bottom: 40px;
		}

		&__logo {
			display: table-cell;
			vertical-align: middle;
			width: 235px;

			@include MQ(M) {
				display: block;
				margin: 0 auto 20px;
			}
		}

		&__baseline {
			display: table-cell;
			vertical-align: middle;


			font-family: $base-font;
			font-size: 20px;
			color: $brand-color;
			line-height: 1;
			text-align: center;
			font-weight: 600;

			@include MQ(M) {
				display: block;
				margin: 0 auto;
			}

			span {
				display: block;
				font-family: $base-font;
				font-weight: 300;
			}
		}
	}

	// Form
	&-form {
		width: 345px;
		float: right;
		margin-top: -20px;
		padding: 20px;
		max-height: 460px;
		background-color: #006bb4;

		@include MQ(S) {
			width: auto;
			float: none;
			height: auto;
		}

		.wpcf7-validation-errors,
		.pcf7-response-output {
			display: none !important;
		}

		.wpcf7-not-valid-tip {
			color: #02253e !important;
			margin-bottom: -15px;
		}

		.ajax-loader {
			position: absolute;
			top: 10px;
			right: 10px;
		}

		&__title {
			font-size: 28px !important;
			font-family: $base-font !important;
			font-weight: 300;
			color: #FFF !important;
			text-align: center;
			margin: 0 0 30px !important;
			width: auto !important;
			display: block !important;
		}

		&__field {
			display: block;
			margin-bottom: 15px;

			&--button{
				position: relative;
				margin-bottom: 0;
				text-align: center;

				.landing-button {
					display: block !important;
					width: 100%;
					margin: 0 !important;
				}
			}

			label {
				color: #FFF;
				display: none;
			}

			input[type="text"],
			input[type="email"],
			input[type="tel"] {
				width: 100%;
				height: 35px;
				border: none;
				margin: 0;
				padding: 0 10px;

				&:focus {
					outline: none;
				}
			}

			select {
				width: 100% !important;
				height: 35px;
			}
		}
	}

	// Cover intro
	&-cover {
		position: relative;
		padding: 10px;
		height: 440px;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: transparent;
		background-size: cover;
	}

	// Bloc info
	&-info {
		margin: 40px 0;

		&__title {
			text-align: center;
			font-size: 20px;
			letter-spacing: 0;
			margin-bottom: 10px;
			line-height: 1;
		}

		&__bloc {
			@include cf;
			margin-left: -10px;
			margin-right: -10px;
			font-size: 0;
			text-align: center;

			&__item {
				width: 25%;
				position: relative;

				display: inline-block;
				padding: 10px;

				text-align: center;

				@include MQ(M) {
					width: 50%;
				}

				@include MQ(S) {
					width: 100%;
				}
			}

			&__inner {
				height: 145px;

				background-repeat: no-repeat;
				background-size: cover;

				&:hover {
					.landing-info__bloc__title {
						opacity: 0;
					}
					.landing-info__bloc__caption {
						opacity: 1;
					}
				}
			}

			&__title {
				font-size: 24px;
				text-transform: uppercase;
				font-weight: 700;
				font-family: $base-font;
				line-height: 145px;
				color: #FFF;

				transition: 400ms;
			}

			&__caption {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				opacity: 0;

				transition: 400ms;

				&__inner {
					display: table;
					width: 100%;
					height: 100%;
				}

				p {
					display: table-cell;
					padding: 20px;
					vertical-align: middle;
					font-size: 14px;
					font-family: $base-font;
					color: #FFF;
				}
			}
		}
	}

	// Bloc content
	&-content {
		&__table {
			display: table;
			width: 100%;

			&:nth-child(even) {
				direction: rtl;
			}

			&__cell {
				display: table-cell;
				padding: 20px;
				width: 50%;
				direction: ltr;
				vertical-align: middle;
				height: 330px;

				background-color: #f6f6f6;
				background-repeat: no-repeat;
				background-size: cover;

				@include MQ(M) {
					width: 100%;
					display: block;
					height: auto;
				}

				&.pic {
					min-height: 330px;
				}

				&.quotes {
					position: relative;
					text-align: center;
					font-size: 18px;

					@include MQ(M) {
						padding: 80px 20px;
					}

					&::before,
					&::after {
						content: "";
						width: 27px;
						height: 22px;
						position: absolute;

						opacity: .5;
						background:transparent url('../images/landing/landing-quotes.png') left top no-repeat;
					}

					&::before {
						top: 40px;
						left: 40px;
					}

					&::after {
						bottom: 40px;
						right: 40px;

						transform: rotate(-180deg);
					}
				}
			}
		}

		&__button {
			text-align: center;
		}
	}

	&-button {
		display: inline-block;
		border-radius: 5px !important;
		margin: 20px auto !important;
		text-align: center !important;
		padding: 10px 40px !important;
		float: none !important;

		color: #FFF !important;
		font-size: 20px !important;
		font-family: $base-font !important;
		font-weight: 800 !important;
		text-transform: uppercase !important;
		background-color: #10b242 !important;

		box-shadow: 0 2px 1px #737373 !important;
		cursor: pointer !important;

		&:hover {
			box-shadow: 0 1px 1px #737373 !important;
			background-color: darken(#10b242, 10%) !important;
		}
	}

	&-modal {

		&#bio_ep {
			height: auto;
			top: 40%;
		}

		#bio_ep_close {
			position: static;
			font-size: 35px;
			color: #000;
			float: right;
			margin: 5px;
			background: none;
			font-weight: normal;
			border-radius: none;
			width: auto;
			height: auto;
		}

		&__inner {
			background-color: #FFF;
			padding: 20px;
		}

		&__header {
			clear: both;
			text-align: right;
			padding: 0 10px;
			margin-bottom: 10px;
		}

		&__title {
			text-align: center;
			font-size: 22px;
			color: #000;
		}

		p {
			text-align: center;
			font-size: 14px;
			font-family: $base-font;
			font-weight: 300;
		}

		&__content {
			position: relative;
			padding: 0 20px;
			margin: 10px auto;

			text-align: center;

			.landing-button {
				position: absolute;
				top: 50%;
				left: 50%;
				min-width: 320px;

				transform: translate(-50%, -50%);

				background-image: url('../images/landing/landing-arrow-btn.png');
				background-position: 95% center;
				background-repeat: no-repeat;
			}
		}
	}
}
