/* Webnus WooCommerce v3.0
==================================================


/* mexin font */
.woo-template, .woo-template li, div.woocommerce, div.woocommerce li {font-family: "Source Sans Pro", "Open Sans", Helvetica, sans-serif; }


@font-face { font-family:'star'; src:url('fonts/star.eot'); src:url('fonts/star.eot?#iefix') format('embedded-opentype'),url('fonts/star.woff') format('woff'),url('fonts/star.ttf') format('truetype'),url('fonts/star.svg#star') format('svg'); font-weight:normal; font-style:normal; }

.woo-template { padding-left: 0 !important; padding-right: 0 !important; }
.woo-template, .widget-area .xoxo { padding-top:35px;}	
.widget-title { color: #54606b; margin-bottom: 2px; margin-left: 0;margin-top: 0; clear: both; font-size: 12px;font-weight: bold; letter-spacing: 2px; line-height: 2; text-transform: uppercase;}
#main-content.container .woocommerce { padding:60px 0 40px;}
.sidebar-line {background: #e5e5e5;margin-bottom: 25px; width: 100%;display: block;height: 3px;}
.widget_shopping_cart .sidebar-line {background: #0093D0;}
.sidebar-line span {width: none;color: inherit;background-color: inherit;}
.widget_shopping_cart_content ul.cart_list {margin-bottom: 2px;}
.widget_shopping_cart_content p.total span.amount {font-weight: bold; font-size: 16px;}
.widget_shopping_cart_content p.total strong{font-size: 15px; font-weight: normal !important;}
.widget_shopping_cart h3:before {content: "\f07a";cursor: default;font-family: FontAwesome; font-size: 21px; font-weight:normal;  margin-right: 5px;}
.widget_shopping_cart, .widget_product_tag_cloud ,.widget_best_sellers ,.widget_featured_products ,.widget_layered_nav_filters ,.widget_onsale ,.widget_price_filter ,.widget_product_categories ,.widget_random_products  ,.widget_recently_viewed_products ,.widget_recent_products ,.widget_top_rated_products , .widget_recently_viewed_products, .widget-container { margin-bottom:80px;}
.widget_shopping_cart h3, .widget_shopping_cart .sidebar-line { margin-bottom:0;}
.listbox1 { height:auto; padding:0px; text-align:left; }
#sidebar_right  ul.product-categories, #sidebar_right  ul.product-categories li { margin:0; padding:0; list-style:none; font-size:14px; }
#sidebar_right  ul.product-categories { margin-bottom:10px; }
#sidebar_right  ul.product-categories li { border-bottom:1px solid #eee; }
#sidebar_right  ul.product-categories li a { text-decoration: none;
color: #95a3a6;
background: #fff;
display: block;
padding: 7px 0 7px 4px; }
#sidebar_right  ul.product-categories li a:hover { background-color:#f9f9f9; color:#5d6f74; }
.product_list_widget del { color: #ccc; }
.product_list_widget ins { text-decoration: none; display: inline; }
.quantity .amount,.product_list_widget ins .amount{ color: #777; font-size: 13px;}
.woo-template div.summary div p.price ins span.amount {font-size: 34px !important;color: #3b454d; font-size: 18px; font-weight: 400;}
.price > ins {border: medium none;text-decoration: none;}
.single .woo-template span.onsale, .woocommerce ul.products li.product .onsale {background-color: #0093D0; color: #fff; font-size: 12px; font-weight: bold; font-family: sans-serif; text-transform: uppercase; line-height: 26px;margin: 0; height: 27px; width: 55px; padding: 0px;position: absolute;text-align: center; top: 17px; left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
.woocommerce div.product form.cart .button:before, .woocommerce #content div.product form.cart .button:before { content: "îƒŠ"; cursor: default;font-family: moon; font-size: 12px;font-style: normal;  font-weight: normal; line-height: 1; padding-right: 4px; position: relative; text-shadow: none;text-decoration: none;}
.woocommerce div.product form.cart .button, .woocommerce #content div.product form.cart .button { background: none repeat scroll 0 0 #fff; border-radius: 0; box-shadow: none;  color: inherit; font-weight: bold; text-shadow: none; text-transform: none;}
.woocommerce div.product form.cart .button:hover,.woocommerce #content div.product form.cart .button:hover { color: #85BC36;background: none repeat scroll 0 0 #fff; border-radius: 0; box-shadow: none;  font-weight: bold; text-shadow: none; cursor: pointer;}
h3 strong, h4 strong, h5 strong, h6 strong {font-weight: 500;}


/* General Style Fix */
.entry-content .woocommerce {min-height: 400px;}
.woo-template h1.page-title {display: none;}
.woocommerce .img-wrap {position: relative;}
.woo-template .images img {border: 6px solid #eee;}
.customer_details {margin-bottom: 10px;}
.woocommerce .cart_table_item .quantity {margin: 0;}
.woocommerce .screen-reader-text {display: none;}
.woocommerce input#s {width: 135px;height: 23px;vertical-align:top;}
.woocommerce button {border: none;}
.woocommerce .widget-area ul { list-style:none;}
.woocommerce .widget-area ul ul, .woocommerce .widget-area ul ul li { margin:0;}
.woocommerce .widget-area ul ul.children { padding-left:15px; }
#sidebar_right ul.product-categories ul.children { border-top:1px solid #eee;}
.woocommerce .widget-area ul ul li:last-child, #sidebar_right ul.product-categories li:last-child { border-bottom:none;}
.woocommerce .widget-area ul.xoxo li.widget-container ul li:before { display: none; }
.woocommerce .widget-area ul.xoxo li.widget-container.widget_product_categories ul li:before, .woocommerce .widget-area ul.xoxo li.widget-container.widget_layered_nav ul li:before { display: inline-block; }
.woocommerce .widget-container .star-rating { margin: 5px 0px; }
.woocommerce .variations .reset_variations { display: inline-block; padding:5px 0 0; float:right; }
.woocommerce .variations td.label { padding: 15px 0 0; }
.woocommerce .country_to_state, .woocommerce .state_select { border: 1px solid #e5e5e5; color: #666; font-size: 13px; padding: 9px 8px; }
.woocommerce .woocommerce-result-count { font-size: 13px; letter-spacing:0.1px; }
.woocommerce .product_meta { font-size: 13px; font-weight: 400; text-transform: uppercase; letter-spacing: 2px; border: 5px solid #eee; padding: 5px 10px; }
.woocommerce .related ul.products li.product,.woocommerce  .related ul li.product,.woocommerce  .upsells.products ul.products li.product,.woocommerce .upsells.products ul li.product { width: 30.6666%; }
.woocommerce ul.products li.product { float: left; padding: 0; width: 30.6666%; display: block; position: relative; margin: 18px 4% 60px 0; }
.woocommerce.columns-4 ul.products li.product { width: 21.997%; }
.woocommerce.columns-2 ul.products li.product { width: 47.997%; }
.woocommerce  ul.products li.last {margin-right: 0;}
.woocommerce .products .product-category .count {background:none;}
.woocommerce #searchsubmit { cursor:pointer;}
.woocommerce #order_comments_field .input-text {min-height:200px;}
.woocommerce #commentform span.required{display:none; width: 100%;}


/* Table Fix */
.woocommerce table { background-color: #fff; border-collapse: collapse; border-spacing: 0; padding: 0; margin-bottom: 18px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; width: 100%; }
.woocommerce th { color: #fff; background:#909396; font-weight: bold; padding: 10px 30px 10px 30px; text-align: left; text-transform: uppercase; font-size: 12px; text-shadow: none; }
.woocommerce tr { color: #696969; text-align: inherit; }
.woocommerce tr:nth-child(odd) td { background: #fff; }
.woocommerce td { padding: 10px; vertical-align: middle; }
.woocommerce .cart-subtotal th, .woocommerce .shipping th, .woocommerce .total th { -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
.woocommerce .shop_attributes th { color: #444; }
.woocommerce form .form-row input.input-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text { height: 35px; }
.woocommerce table.shop_table tfoot th { background: #f8f8f8; }
.woocommerce .cart-collaterals .cart_totals table .cart-subtotal th, .woocommerce .cart-collaterals .cart_totals table .shipping th, .woocommerce .cart-collaterals .cart_totals table .total th { color: #696969; }
.woocommerce .cart-collaterals .cart_totals table .shipping th { font-weight:normal; }
.woocommerce .cart-collaterals .cart_totals table { border: 1px solid rgba(0,0,0,0.1); }


/* Layouts */
#content_full.woo-template .images { width: 30%; }
#content_full.woo-template div.summary { width: 64%; }


/* Woocomerce Style (Edited) */
.clear { clear: both; }
.nobr { white-space: nowrap; }
.woocommerce-message,.woocommerce-error,.woocommerce-info { padding: 20px 14px; margin: 14px 0 40px; position: relative; background: #fff; border: 1px solid #e5e5e5; color: #5e5e5e; list-style: none outside; width: auto; }
.woocommerce-message .button,.woocommerce-error .button,.woocommerce-info .button { float: right; }
.woocommerce-message li,.woocommerce-error li,.woocommerce-info li { list-style: none outside; padding-left: 0; margin-left: 0; }
.woocommerce-message { border-top: 3px solid #85bc36; }
.woocommerce-info { border-top: 3px solid #7cbc20; }
.woocommerce-error { border-top: 3px solid #df2a3f; }
p.demo_store { position: fixed; top: 0; left: 0; right: 0; margin: 0; width: 100%; font-size: 1em; padding: .5em 0; text-align: center; background: #ad74a2; background: -webkit-gradient(linear,left top,left bottom,from(#ad74a2),to(#96588a)); background: -webkit-linear-gradient(#ad74a2,#96588a); background: -moz-linear-gradient(center top,#ad74a2 0%,#96588a 100%); background: -moz-gradient(center top,#ad74a2 0%,#96588a 100%); border: 1px solid #96588a; color: #ffffff; z-index: 99998; box-shadow: inset 0 0 0 3px rgba(255,255,255,0.2); -webkit-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.2); -moz-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.2); }
.admin-bar p.demo_store { top: 28px; }
.woocommerce small.note { display: block; color: #777777; font-size: 11px; line-height: 21px; margin-top: 10px; }
.woocommerce .woocommerce-breadcrumb { margin: 0 0 1em; padding: 0; font-size: 0.92em; color: #777777; }
.woocommerce .woocommerce-breadcrumb:after { content: ""; display: block; clear: both; }
.woocommerce .woocommerce-breadcrumb a { color: #777777; }
.woocommerce .col2-set { width: 100%; margin-bottom: 18px; }
.woocommerce .col2-set:after { content: "";  display: block; clear: both; }
.woocommerce .col2-set .col-1 { float: left; width: 48%; }
.woocommerce .col2-set .col-2 { float: right; width: 48%; }   
.woocommerce div.product { margin-bottom: 0; position: relative; }
.woocommerce div.product .product_title { clear: none; margin-top: 0; padding: 0; }
.woocommerce h1.product_title, .woocommerce .product_title { font-size:38px; line-height:1.1; margin-bottom:16px; font-weight:300; letter-spacing:2px; color: #3b454d;}
.woocommerce div.product span.price,.woocommerce div.product p.price,.woocommerce #content div.product span.price,.woocommerce #content div.product p.price { color: #3b454d; font-size: 35px; line-height:1.6; font-family:"Source Sans Pro", Arial; margin:10px 0; font-weight:300;  text-align: center; border: 11px solid #eee;}
.woocommerce div.product p.price ins .amount { font-size: 34px; font-weight:400; }
a.woocommerce-review-link { font-size:13px; color:#878a8c;}
.product .entry-summary p { font-size:13px; font-weight:normal; color:#96989a; line-height:1.6; margin-bottom:30px;}
.woocommerce div.product p.price .from { font-size:18px; color:#676767;}
.woocommerce div.product span.price ins,.woocommerce div.product p.price ins { background: inherit; }
.woocommerce div.product span.price del,.woocommerce div.product p.price del { color: #797979; font-size: 21px; margin-right: 10px; text-decoration: line-through; line-height: 1.3; font-weight: 200; }
.woocommerce div.product p.stock { font-size: 0.92em; }
.woocommerce div.product .stock { color: #85ad74; }
.woocommerce div.product .out-of-stock { color: red; }
.woocommerce div.product div.images { float: left; width: 48%; margin-bottom: 30px; }
.woocommerce div.product div.images img { display: block; width: 100%; height: auto; }
.woocommerce div.product div.images div.thumbnails { padding-top: 1em; }
.woocommerce div.product div.images div.thumbnails:after { content: ""; display: block; clear: both; }
.woocommerce div.product div.images div.thumbnails a { float: left; width: 30.75%; margin-right: 3.8%; }
.woocommerce div.product div.images div.thumbnails a.last { margin-right: 0; margin-bottom:10px; }
.woocommerce div.product div.images div.thumbnails a.first { clear: both; }
.woocommerce div.product div.summary { float: right; width: 48%; margin-bottom: 30px; }
.woocommerce div.product div.social { text-align: right; margin: 0 0 1em; }
.woocommerce div.product div.social span { margin: 0 0 0 2px; }
.woocommerce div.product div.social span span { margin: 0; }
.woocommerce div.product div.social span .stButton .chicklets { padding-left: 16px; width: 0; }
.woocommerce div.product div.social iframe { float: left; margin-top: 3px; }
.woocommerce div.product .woocommerce-tabs { clear: both; }
.woocommerce div.product .woocommerce-tabs ul.tabs { list-style: none; padding: 0; margin: 0; overflow: hidden; position: relative; }
.woocommerce div.product .woocommerce-tabs ul.tabs li { border: 1px solid #e7e7e7; border-top-width: 2px; background: #f7f6f7; display: inline-block; position: relative; z-index: 0; margin: 0; padding: 0 1em; }
.woocommerce div.product .woocommerce-tabs ul.tabs li a { display: inline-block; padding: .5em 0; font-weight: normal; color: #5e5e5e; text-shadow: 0 1px 0 rgba(255,255,255,0.8); text-decoration: none; }
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover { text-decoration: none; color: #777777; }
.woocommerce div.product .woocommerce-tabs ul.tabs li.active { background: #ffffff; z-index: 2; border-bottom-color: #ffffff; border-top-color: #8ade77; }
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a { color: inherit; text-shadow: inherit; }
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before { box-shadow: 2px 2px 0 #ffffff; }
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after { box-shadow: -2px 2px 0 #ffffff; }
.woocommerce-tabs h2 { font-size:19px; font-weight:normal;}
.woocommerce .related.products { margin-top:20px; padding-top:14px}
.woocommerce .related.products h2 { font-size:24px; font-weight:300;}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,.woocommerce div.product .woocommerce-tabs ul.tabs li:after { border: 1px solid #dfdbdf; position: absolute; bottom: -1px; width: 5px; height: 1px; content: " "; }
.woocommerce div.product .woocommerce-tabs ul.tabs li:before { left: -6px; border-width: 0 1px 1px 0; box-shadow: 2px 2px 0 #dfdbdf; }
.woocommerce div.product .woocommerce-tabs ul.tabs li:after { right: -6px; border-width: 0 0 1px 1px; box-shadow: -2px 2px 0 #dfdbdf; }
.woocommerce div.product .woocommerce-tabs ul.tabs:before { position: absolute; content: " "; width: 100%; bottom: 0; left: 0; border-bottom: 1px solid #dfdbdf; z-index: 1; }
.woocommerce div.product .woocommerce-tabs .panel { margin: -1px 0 2em; padding: 30px; border: 1px solid #e9e9e9; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);  box-shadow: 0 1px 1px rgba(0,0,0,0.05); }
.woocommerce div.product p.cart { margin-bottom: 2em; }
.woocommerce div.product p.cart:after { content: ""; display: block; clear: both; }
.woocommerce div.product form.cart { margin-bottom: 0; }
.woocommerce div.product .summary form.cart, .woocommerce div.product .summary form.cart table, .woocommerce div.product .summary form.cart table td { margin-bottom: 10px; padding: 0; }
.woocommerce div.product .summary form.cart { position:relative; }
.woocommerce div.product form.cart:after { content: ""; display: block; clear: both; }
.woocommerce div.product form.cart div.quantity { float: left; margin: 0 6px 0 0; }
.woocommerce div.product form.cart table { border-width: 0 0 1px 0; }
.woocommerce div.product form.cart table td { padding-left: 0; }
.woocommerce div.product form.cart table div.quantity { float: none; margin: 0; }
.woocommerce div.product form.cart table small.stock { display: block; float: none; }
.woocommerce div.product form.cart .variations { margin-bottom: 1em; }
.woocommerce div.product form.cart .variations label { font-weight: normal; padding: 7px 10px 0 0; display:block; text-transform:capitalize; letter-spacing:0.6px; }
.woocommerce div.product form.cart .variations select { width: 100%; float: left; position: relative;  display: block;  overflow: hidden;  padding: 0 0 0 8px;  height: 23px;  border: 1px solid #aaa;  border-radius: 5px;  background-color: #fff;  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));  background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);  background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);  background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);  background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);  background-clip: padding-box;  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);  color: #444;  text-decoration: none;  white-space: nowrap;  line-height: 24px; }
.woocommerce div.product form.cart .variations td.label { padding-right: 1em; }
.woocommerce div.product form.cart .variations td { vertical-align: top; }
.woocommerce div.product form.cart .button { vertical-align: middle; float: right; padding-top: 6px; }
.woocommerce div.product form.cart .group_table td.label { padding-right: 1em; padding-left: 1em; }
.woocommerce div.product form.cart .group_table td { vertical-align: top; }
.woocommerce div.product form.cart .group_table td .quantity { margin-bottom:7px; }
.woocommerce .products ul,.woocommerce ul.products { margin: 0 0 1em; padding: 0; list-style: none outside; clear: both; }
.woocommerce .products ul:after,.woocommerce ul.products:after { content: ""; display: block; clear: both; }
.woocommerce .products ul li,.woocommerce ul.products li { list-style: none outside; }
.woocommerce .related:after,.woocommerce .upsells.products:after { content: ""; display: block; clear: both; }
.woocommerce .related ul.products,.woocommerce .related ul,.woocommerce .upsells.products ul.products,.woocommerce .upsells.products ul { float: none; }
.woocommerce .related ul.products li.product img,.woocommerce .related ul li.product img,.woocommerce .upsells.products ul.products li.product img,.woocommerce .upsells.products ul li.product img { width: 100%; height: auto; }
.woocommerce ul.products li.product h3 { display: block; margin-top: 12px; margin-bottom: 10px; color: #111; font-weight: 400; font-size: 21px; line-height: 1.4em; }
.woocommerce ul.products li.product h3:hover { text-decoration:underline; color: #222; }
.woocommerce ul.products li.product a img { width: 100%; height: auto; display: block; margin: 0; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }
.webnus-has-gallery { position: relative; }
.webnus-has-gallery .onsale { z-index: 1000; }
.webnus-has-gallery .secondary-image { position: absolute; top:0; left:0; opacity:0; }
li.webnus-has-gallery:hover img { opacity: 1; }
.woocommerce ul.products li.product strong { display: block; }
.woocommerce ul.products li.product .price { display: block; margin-bottom: 15px; font-size: 15px; color: #111; font-weight: 500; }
.woocommerce ul.products li.product .price del { font-weight: 300; margin: 0px 3px; color: #999; font-size: 11px; }
.woocommerce ul.products li.product .price ins { font-size: 15px; color: #111; font-weight: 500; }
.woocommerce ul.products li.product .price .from { font-size: 0.67em; margin: -2px 0 0 0; color: #919191; }
.woocommerce ul.products li.first { clear: both; }
.woocommerce .product-col-3 ul.products li.last , .woocommerce .product-col-4 ul.products li.last { margin-right: 0; margin-bottom:60px; }
.woocommerce .woocommerce-result-count { display: inline-block; float: right; margin-right: 20px; padding: 9px 0 4px 7px; font-size:13px; margin-bottom:35px; color: #919191; letter-spacing:2px; text-transform:uppercase; }
.woocommerce .woocommerce-ordering { margin: 0 0 1em; float: left; }
.woocommerce .woocommerce-ordering select { min-height: 34px; -webkit-appearance: none; background: url(images/select-arrow.png) no-repeat 92% center; border-radius: 20px; border-color: #ccc; color: #333; padding: 7px 12px; font-size: 14px; cursor: pointer; -webkit-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.woocommerce .woocommerce-ordering select:hover { border-radius: 0; border-color: #adadad; }
@-moz-document url-prefix() { .woocommerce .woocommerce-ordering select { background: transparent; border-radius: 4px; } }
.woocommerce nav.woocommerce-pagination { text-align: center; margin-bottom:35px; }
.woocommerce nav.woocommerce-pagination ul { display: inline-block; white-space: nowrap; padding: 0; clear: both; border-right: 0; margin: 1px; }
.woocommerce nav.woocommerce-pagination ul li { border: 2px solid #ccc; border-radius: 50%; padding: 11px; margin: 0; float: left; display: inline; overflow: hidden; font-size: 14px; margin-right: 5px; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
.woocommerce nav.woocommerce-pagination ul li a,.woocommerce nav.woocommerce-pagination ul li span { margin: 0; text-decoration: none; padding: 0; line-height: 1em; font-size: 1em; font-weight: bold; min-width: 1em; display: block;}
.woocommerce nav.woocommerce-pagination ul li a { color:#aaa;}
.woocommerce nav.woocommerce-pagination ul li:hover {border-radius: 0;}
.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce #respond input#submit { margin: 0; cursor: pointer; position: relative; font-family: inherit; text-decoration: none; overflow: visible; text-decoration: none; background-color: #8ade77; color: #fff; -webkit-font-smoothing: antialiased; margin-right: 10px; padding: 10px 30px; }
.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover { background-color:#9ac93d; }
.widget_shopping_cart_content p.buttons a.button {	-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; -webkit-font-smoothing: antialiased; background-color: #0093D0; margin-right: 10px; font-size: 12px; padding: 10px 16px; float: left; color: #fff; margin-bottom: 10px; -webkit-transition: all .2s linear; -o-transition: all .2s linear; transition: all .2s linear; }
.widget_shopping_cart_content p.buttons a.button:after { display:none;}
.widget_shopping_cart_content p.buttons a.button:hover { border-radius: 0; }
.woocommerce-message a.button{ background-color:#8ade77 !important; padding:10px 25px; margin-top:-6px; margin-right:0; }
.woocommerce a.add_to_cart_button.button, .woocommerce a.product_type_variable.button, .woocommerce a.product_type_grouped.button, .woocommerce a.product_type_simple.button, .button.single_add_to_cart_button { color: #7f7f7f; font-weight: 400; text-shadow: none; text-transform: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; background:none; padding:4px 1px 2px 18px; margin:0; margin-top:10px; margin-right:-3px; font-size:12px; float:right; }
.woocommerce a.add_to_cart_button.button:before, .woocommerce a.product_type_variable.button:before, .woocommerce a.product_type_grouped.button:before, .woocommerce a.product_type_simple.button:before, .woocommerce div.product form.cart button.single_add_to_cart_button:before { content: "\f07a"; cursor: pointer; font-family: FontAwesome; font-size: 13px; font-style: normal; font-weight: normal; line-height: 1; padding-right: 4px; position: relative; text-shadow: none; -webkit-font-smoothing: antialiased; color:inherit; speak: none;  }
.woocommerce div.product form.cart button.single_add_to_cart_button { margin:0; padding:12px 25px; text-transform:uppercase; border: 4px solid #ddd; border-radius:25px; -webkit-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease; }
.woocommerce div.product form.cart button.single_add_to_cart_button:hover { color: #444; border-radius:0;}
.woocommerce a.product_type_variable.button:before { content: "\f1de"; }
.woocommerce a.button.loading,.woocommerce button.button.loading,.woocommerce input.button.loading,.woocommerce #respond input#submit.loading { color: #777777; }
.woocommerce a.button.loading:after,.woocommerce button.button.loading:after,.woocommerce input.button.loading:after,.woocommerce #respond input#submit.loading:after { content: ""; position: absolute; top: 0; right: 0; left: 0; bottom: 0; background: url(images/ajax-loader.gif) center no-repeat rgba(255,255,255,0.65); }
.woocommerce ul.products li.product a.add_to_cart_button { background:rgba(255,255,255,0.85); position: absolute; opacity:0; top: 50%; text-align: center; text-transform:uppercase; left: 50%; padding: 10px; margin: 0 35px -22px -80px; color: #222; width: 160px; border: 3px solid #333; border-radius: 25px; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }
.woocommerce ul.products li.product:hover a.add_to_cart_button { opacity:1 !important; }
.woocommerce ul.products li.product:hover a.add_to_cart_button:hover { border-radius: 0; }
.woocommerce a.button:active,.woocommerce button.button:active,.woocommerce input.button:active,.woocommerce #respond input#submit:active { top: 0px; }
.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce #respond input#submit.alt { background: #ad74a2; color: #ffffff; }
.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover,.woocommerce #respond input#submit.alt:hover { color: #ffffff; background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.23) 0%, rgba(255,255,255,0) 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.23)), color-stop(100%,rgba(255,255,255,0))); background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%); background-image: -o-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%); background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%); background-image: linear-gradient(to bottom,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bffffff', endColorstr='#00ffffff',GradientType=0 ); }
.woocommerce .cart .button,.woocommerce .cart input.button { float: none; }
.woocommerce a.added_to_cart { background: rgba(0, 0, 0, 0.35); color: #FFFFFF; display: none !important; padding: 14px 0px; position: absolute; text-align: center; top: 25%; white-space: nowrap; width: 100%; }
.quantity .plus, .quantity .minus, .quantity input { margin: 0; border: 0; padding: 4px 6px 3px; vertical-align:top; }
.quantity .plus, .quantity .minus { display: inline-block; font-family: Helvetica,Arial,sans-serif; font-size: 20px; margin-bottom: 21px; text-decoration: none; text-shadow: 0 -1px rgba(0, 0, 0, 0.29); text-transform: capitalize; background-color: #F8F8F8;  border: 1px solid #E1E1E1;  border-radius: 0;  color: #666;  cursor: pointer;  height: 45px;  line-height: 45px;  padding: 0;  width: 35px; }
.quantity input[type=button].plus:hover, .quantity input[type=button].minus:hover { background-color: #F8F8F8; }
.quantity .plus:hover, .quantity .minus:hover { background-position: top; }
.quantity .qty {  border: 1px solid #e2e2e2;    margin: 0;   padding: 0 0px;   text-align: center;   width: 53px;   height: 44px; }
/* hides the spin-button for firefox */
input[type=number].qty { opacity: 1; margin: 0; }
/* hides the spin-button for chrome*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button { opacity: 1; margin: 0; }
.woocommerce .entry-content { float: none; }

.woocommerce  #respond  #reply-title {font-size:12px; margin-bottom:20px;}
.woocommerce  #respond  #author {margin-bottom:0px;}
.woocommerce .pp_content_container #respond  #reply-title {margin-top:0px; font-size:18px; margin-bottom:10px;}
.woocommerce .pp_content {height:auto !important;}
.woocommerce #reviews h2 small { float: right; color: #777777; font-size: 15px; line-height: 21px; margin: 10px 0 0 0; }
.woocommerce #reviews h2 small a { text-decoration: none; color: #777777; }
.woocommerce #reviews h3 { margin: 0; }
.woocommerce #reviews #respond { margin: 0; border: 0; padding: 0; }
.woocommerce #reviews #comments { margin:0px; }
.woocommerce #reviews #comment { height: 75px; }
.woocommerce #reviews #comments .add_review { float:right; clear: both; }
.woocommerce #reviews #comments .add_review:after { content: ""; display: block; clear: both; }
.woocommerce #reviews #comments h2 { clear: none; }
.woocommerce #reviews #comments ol.commentlist { margin: 0; width: 100%; background: none; list-style: none; }
.woocommerce #reviews #comments ol.commentlist:after { content: ""; display: block; clear: both; }
.woocommerce #reviews #comments ol.commentlist li { padding: 00; margin: 0 0 20px; border: 0; position: relative; background: 0; border: 0; }
.woocommerce #reviews #comments ol.commentlist li .meta { color: #777777; font-size: 0.75em; }
.woocommerce #reviews #comments ol.commentlist li img.avatar { float: left; position: absolute; top: 0; left: 0; padding: 3px; width: 32px; height: auto; background: #f7f6f7; border: 1px solid #f0eef0; margin: 0; line-height: 1; }
.woocommerce #reviews #comments ol.commentlist li .comment-text { margin: 0 0 0 50px; border: 1px solid #f0eef0; padding: 1em 1em 0; }
.woocommerce #reviews #comments ol.commentlist li .comment-text p { margin: 0 0 1em; }
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta { font-size: 0.83em; }
.woocommerce #reviews #comments .commentlist>li:before { content: ""; }
.woocommerce .star-rating { float:left; overflow: hidden; position: relative; top: 4px; height: 1em; line-height: 1em; font-size: 1em; width: 5.4em; font-family: 'star'; margin-right: 25px; }
.woocommerce .star-rating:before { content: "\53\53\53\53\53"; color: #E5E5E5; float: left; top: 0; left: 0; position: absolute; }
.woocommerce .star-rating span { overflow: hidden; float: left; top: 0; left: 0; position: absolute; padding-top: 1.5em; text-shadow:none; }
.woocommerce .star-rating span:before { content: "\53\53\53\53\53"; top: 0; position: absolute; left: 0; color: #FFD800; }
.woocommerce .products .star-rating { display: inline-block; margin: 0; float: none; }
.woocommerce .product-inner { text-align:center;}
.woocommerce .hreview-aggregate .star-rating { margin: 10px 0 0 0; }
.woocommerce #review_form #respond { position: static; margin: 0; width: auto; padding: 0 0 0; background: transparent none; border: 0; }
.woocommerce #review_form #respond:after { content: ""; display: block; clear: both; }
.woocommerce #review_form #respond p { margin: 0 0 10px; }
.woocommerce #review_form #respond .form-submit input { left: auto; }
.woocommerce #review_form #respond textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; }
.woocommerce p.stars:after { content: ""; display: block; clear: both; }
.woocommerce p.stars span { width: 80px; height: 16px; position: relative; float: left; background: url(images/star.png) repeat-x left 0; }
.woocommerce p.stars span a { float: left; position: absolute; left: 0; top: 0; width: 16px; height: 0; padding-top: 16px; overflow: hidden; }
.woocommerce p.stars span a:hover,.woocommerce p.stars span a:focus { background: url(images/star.png) repeat-x left -16px; }
.woocommerce p.stars span a.active { background: url(images/star.png) repeat-x left -32px; }
.woocommerce p.stars span a.star-1 { width: 16px; z-index: 10; }
.woocommerce p.stars span a.star-2 { width: 32px; z-index: 9; }
.woocommerce p.stars span a.star-3 { width: 48px; z-index: 8; }
.woocommerce p.stars span a.star-4 { width: 64px; z-index: 7; }
.woocommerce p.stars span a.star-5 { width: 80px; z-index: 6; }
.woocommerce table.shop_attributes { border: 0; border-top: 1px dotted rgba(0,0,0,0.1); margin-bottom: 1.618em; width: 100%; }
.woocommerce table.shop_attributes th { width: 150px; font-weight: bold; padding: 8px; border-top: 0; border-bottom: 1px dotted rgba(0,0,0,0.1); margin: 0; line-height: 1.5em; }
.woocommerce table.shop_attributes td { font-style: italic; padding: 0; border-top: 0; border-bottom: 1px dotted rgba(0,0,0,0.1); margin: 0; line-height: 1.5em; }
.woocommerce table.shop_attributes td p { margin: 0; padding: 8px 0; }
.woocommerce table.shop_attributes .alt td,.woocommerce table.shop_attributes .alt th { background: rgba(0,0,0,0.025); }
.woocommerce table.shop_table { border: 1px solid rgba(0,0,0,0.1); margin: 0px -1px 24px 0px; text-align: left; width: 100%; }
.woocommerce table.shop_table thead { background:#a8a8a8; }
.woocommerce table.shop_table th { font-weight: bold; line-height: 18px; padding: 14px 12px; }
.woocommerce table.shop_table td { border-top: 1px solid rgba(0,0,0,0.1); border-left: 1px solid rgba(0, 0, 0, 0.1); padding: 10px 12px; vertical-align: middle; }
.woocommerce table.shop_table td small { font-weight: normal; }
.woocommerce table.shop_table tfoot td,.woocommerce table.shop_table tfoot th { font-weight: bold; border-top: 1px solid rgba(0,0,0,0.1); color: #767676; text-shadow: none; }
.woocommerce table.shop_table tfoot .shipping td,.woocommerce table.shop_table tfoot .shipping th { font-weight: normal; }
.woocommerce table.my_account_orders { font-size: 13px; }
.woocommerce table.my_account_orders th,.woocommerce table.my_account_orders td { vertical-align: middle; }
.woocommerce table.my_account_orders .button { white-space: nowrap; }
.woocommerce table.my_account_orders .order-actions { text-align: right; }
.woocommerce table.my_account_orders .order-actions .button { margin: .125em 0 .125em .25em; }
.woocommerce td.product-name dl.variation { margin: .25em 0 .5em; font-size: 0.8751em; }
.woocommerce td.product-name dl.variation dt { font-weight: bold; float: left; clear: left; margin: 0 .25em 0 0; padding: 0; }
.woocommerce td.product-name dl.variation dd { margin: 0 0 .25em 0; }
.woocommerce td.product-name p.backorder_notification { font-size: 0.83em; }
.woocommerce td.product-quantity { min-width: 80px; }
.woocommerce td.product-remove { width: 30px; text-align:center; }
.woocommerce table.cart .product-thumbnail,.woocommerce #content table.cart .product-thumbnail { min-width: 32px; }
.woocommerce table.cart img,.woocommerce #content table.cart img { width: 32px; height: auto; }
.woocommerce table.cart th,.woocommerce table.cart td { vertical-align: middle; }
.woocommerce table.cart a.remove { display: block; font-size: 1.5em; height: 1em; width: 1em; text-align: center; line-height: 1; color: red; text-decoration: none; font-weight: bold; }
.woocommerce table.cart a.remove:hover { background-color: red; color: #fff; }
.woocommerce table.cart td.actions { text-align: right; }
.woocommerce table.cart td.actions .coupon { float: left; }
.woocommerce table.cart td.actions .coupon label { display: none; }
.woocommerce table.cart td.actions .coupon .input-text { width: 150px; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1); -moz-box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1); border: 1px solid #dfdbdf; padding: 8px 6px; margin: 0 4px 0 0; outline: 0; line-height: 1em; height: 36px; }
.woocommerce table.cart td.actions .button.alt { float: right; margin-left: .25em; }
.woocommerce table.cart input { margin: 0; vertical-align: middle; line-height: 1em; }
.woocommerce ul.cart_list,.woocommerce ul.product_list_widget { list-style: none outside none; margin: 1px 0; }
.woocommerce ul.cart_list li,.woocommerce ul.product_list_widget li { margin: 0; list-style: none; border-bottom: 1px solid #e5e5e5; padding: 15px 0; position:relative; }
.woocommerce ul.cart_list li:hover,.woocommerce ul.product_list_widget li:hover { background:#fdfdfd; }
.woocommerce ul.cart_list li:after,.woocommerce ul.product_list_widget li:after { content: ""; display: block; clear: both; }
.woocommerce ul.cart_list li a,.woocommerce ul.product_list_widget li a { display: block;
	font-weight: normal;
	font-size: 15px;
	color: #494949;
	font-family:"Open Sans", Arial;
	line-height:30px;
	margin-bottom:7px; }
.woocommerce ul.cart_list li img,.woocommerce ul.product_list_widget li img { float: left; width: 57px; height: 72px; margin-right: 10px; padding: 2px; }
.woocommerce ul.cart_list li dl,.woocommerce ul.product_list_widget li dl { margin: 0; font-size: 11px; padding-left: 6px; border-left: 2px solid #e9e9e9; margin-top:-9px; font-style:italic; }
.woocommerce ul.cart_list li dl dt,.woocommerce ul.product_list_widget li dl dt { float: left; margin-right: 7px;	 }
.woocommerce ul.cart_list li dl dd,.woocommerce ul.product_list_widget li dl dd { margin-bottom: .5em; }
.woocommerce ul.cart_list li .star-rating,.woocommerce ul.product_list_widget li .star-rating { float: none; }
.woocommerce .widget_shopping_cart .total { border-top: 2px solid #DFDFDF; padding-top: 12px; margin-bottom: 20px; }
.woocommerce .widget_shopping_cart .total strong { min-width: 40px; display: inline-block; }
.woocommerce .widget_shopping_cart .buttons:after { content: ""; display: block; clear: both; }
.woocommerce .cart-collaterals { width: 100%; }
.woocommerce .cart-collaterals:after { content: ""; display: block; clear: both; }
.woocommerce .cart-collaterals .related { width: 30.75%; float: left; }
.woocommerce .cart-collaterals .cross-sells { width: 48%; float: left; }
.woocommerce .cart-collaterals .cross-sells ul.products { float: none; }
.woocommerce .cart-collaterals .cross-sells ul.products li { width: 48%; }
.woocommerce .cart-collaterals .shipping_calculator { width: 48%; text-align: right; margin: 20px 0 0 0; clear: right; float: right; }
.woocommerce .cart-collaterals .shipping_calculator:after { content: ""; display: block; clear: both; }
.woocommerce .cart-collaterals .shipping_calculator .button { float: none; display: inline-block; border: none; }
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1,.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2 { width: 47%; }
.woocommerce .cart-collaterals .cart_totals { float: right; width: 48%; text-align: right; }
.woocommerce .cart-collaterals .cart_totals p { margin: 0; }
.woocommerce .cart-collaterals .cart_totals p small { color: #777777; font-size: 0.83em; }
.woocommerce .cart-collaterals .cart_totals table { margin: 0 0 6px; padding: 0; }
.woocommerce .cart-collaterals .cart_totals table tr th,.woocommerce .cart-collaterals .cart_totals table tr td { border-top: 1px solid rgba(0,0,0,0.1); border-left: 1px solid rgba(0,0,0,0.1); }
.woocommerce .cart-collaterals .cart_totals table tr:first-child th,.woocommerce .cart-collaterals .cart_totals table tr:first-child td { border-top: 0; }
.woocommerce .cart-collaterals .cart_totals table td,.woocommerce .cart-collaterals .cart_totals table th { background: #fff; }
.woocommerce .cart-collaterals .cart_totals table small { display: block; color: #777777; }
.woocommerce .cart-collaterals .cart_totals table select { width: 100%; }
.woocommerce .cart-collaterals .cart_totals .discount td { color: #85ad74; }
.woocommerce .cart-collaterals .cart_totals tr td,.woocommerce .cart-collaterals .cart_totals tr th { padding: 6px 15px; text-shadow: none; }
.woocommerce .cart-collaterals .cart_totals a.button.alt { width: 193px; display: block; font-size: 0.92em; }
.woocommerce form .form-row { padding: 0px; margin: 0 0 6px; }
.woocommerce form .form-row:after { content: ""; display: block; clear: both; }
.woocommerce form .form-row [placeholder]:focus::-webkit-input-placeholder { -webkit-transition: opacity 0.5s 0.5s ease; -moz-transition: opacity 0.5s 0.5s ease; transition: opacity 0.5s 0.5s ease; opacity: 0; }
.woocommerce form .form-row label { display: block; }
.woocommerce form .form-row label.hidden { visibility: hidden; }
.woocommerce form .form-row select { width: 100%; cursor: pointer; margin: 0; }
.woocommerce form .form-row .required { color: red; font-weight: bold; border: 0; }
.woocommerce form .form-row .input-checkbox { display: inline; margin: -2px 8px 0 0; text-align: center; vertical-align: middle; }
.woocommerce form .form-row label.checkbox { display: inline; }
.woocommerce form .form-row input.input-text { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0 0 20px; outline: 0; line-height: 1em; }
.woocommerce form .form-row textarea { height: 3.5em; line-height: 1.5em; display: block; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.woocommerce form .form-row.validate-required.woocommerce-validated input.input-text { background-image: url(images/icons/valid.png); background-position: 95% center; background-repeat: no-repeat; }
.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text { background-image: url(images/icons/invalid.png); background-position: 95% center; background-repeat: no-repeat; }
.woocommerce form .form-row.validate-required.woocommerce-invalid .chzn-single,.woocommerce form .form-row.validate-required.woocommerce-invalid .chzn-drop,.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,.woocommerce form .form-row.validate-required.woocommerce-invalid select { border-color: #fb7f88; }
.woocommerce form .form-row::-webkit-input-placeholder { line-height: 1em; padding-top: 2px; }
.woocommerce form .form-row:-moz-placeholder { line-height: 1em; padding-top: 2px; }
.woocommerce form .form-row:-ms-input-placeholder { line-height: 1em; padding-top: 2px; }
.woocommerce form .form-row-first,.woocommerce form .form-row-last { float: left; width: 47%; overflow: visible; }
.woocommerce form .form-row-last { float: right; }
.woocommerce form .form-row-wide { clear: both; }
.woocommerce form.login,.woocommerce form.checkout_coupon,.woocommerce form.register { border: 1px solid #dfdbdf; padding: 20px; margin: 2em 0 2em 0px; text-align: left; }
.woocommerce ul#shipping_method { list-style: none outside; margin: 0; padding: 0; }
.woocommerce ul#shipping_method li { margin: 0; padding: .25em 0 .25em 22px; text-indent: -22px; list-style: none outside; }
.woocommerce ul#shipping_method .amount { font-weight: bold; }
.woocommerce .checkout .col-2 h3 { float: left; clear: none; }
.woocommerce .checkout .col-2 .notes { clear: left; }
.woocommerce .checkout .col-2 .form-row-first { clear: left; }
.woocommerce .checkout div.shipping-address { padding: 0; clear: left; width: 100%; }
.woocommerce .checkout #shiptobilling { float: right; line-height: 1.62em; margin: -6px 0 0 0; padding: 0; }
.woocommerce .checkout #shiptobilling label { font-size: 0.6875em; margin-left: -10px; }
.woocommerce .checkout #shiptobilling .input-checkbox { border:none; -webkit-box-shadow: none; -moz-box-shadow:none; box-shadow:none; }
.woocommerce .checkout .shipping_address { clear: both; }
.woocommerce #payment { background: #f7f6f7; }
.woocommerce #payment ul.payment_methods { text-align: left; padding: 1em; border-bottom: 1px solid #dfdbdf; margin: 0; list-style: none outside; }
.woocommerce #payment ul.payment_methods:after { content: ""; display: block; clear: both; }
.woocommerce #payment ul.payment_methods li { line-height: 2em; text-align: left; margin: 0; font-weight: normal; padding-bottom:12px; margin-bottom:14px; }
.woocommerce #payment ul.payment_methods li input { margin-right:5px; }
.woocommerce #payment ul.payment_methods li img { vertical-align: middle; margin: -2px 0 0 .5em; position: relative; }
.woocommerce #payment div.form-row { padding: 1em; border-top: 1px solid #ffffff; }
.woocommerce #payment #place_order { float: right; margin: 0; }
.woocommerce #payment .terms { padding: 0 1em 0; text-align: right; }
.woocommerce #payment div.payment_box { position: relative; width: 94%; padding: 8px 14px 12px; margin-bottom: 10px; font-size: 13px; line-height: 1.3; color: #606060; }
.woocommerce #payment div.payment_box p:last-child { margin-bottom: 0; }
.woocommerce #payment div.payment_box #cc-expire-month,.woocommerce #payment div.payment_box #cc-expire-year { width: 48%; float: left; }
.woocommerce #payment div.payment_box #cc-expire-year { float: right; }
.woocommerce #payment div.payment_box span.help { font-size: 11px; color: #777777; line-height: 13px; font-weight: normal; }
.woocommerce #payment div.payment_box .form-row { margin: 0 0 1em; }
.woocommerce #payment div.payment_box .form-row select { width: 48%; float: left; margin-right: 3.8%; }
.woocommerce #payment div.payment_box .form-row select:nth-child(3n) { margin-right: 0; }
.woocommerce #payment label { display:inline; }
.woocommerce #payment label:hover { cursor:pointer;}
.woocommerce .order_details { margin: 0 0 1.5em; list-style: none; }
.woocommerce .order_details:after { content: ""; display: block; clear: both; }
.woocommerce .order_details li { float: left; margin-right: 2em; text-transform: uppercase; font-size: 0.715em; line-height: 1em; border-right: 1px dashed #dfdbdf; padding-right: 2em; }
.woocommerce .order_details li strong { display: block; font-size: 1.4em; text-transform: none; line-height: 1.5em; }
.woocommerce .order_details li:last-of-type { border: none; }
.woocommerce .addresses .title:after { content: ""; display: block; clear: both; }
.woocommerce .addresses .title h3 { float: left; }
.woocommerce .addresses .title .edit { float: right; }
.woocommerce ol.commentlist.notes li.note p.meta { font-weight: bold; margin-bottom: 0; }
.woocommerce ol.commentlist.notes li.note .description p:last-child { margin-bottom: 0; }
.woocommerce ul.digital-downloads { margin-left: 0; padding-left: 0; }
.woocommerce ul.digital-downloads li { list-style: none; margin-left: 0; padding-left: 1.5em; background: url(data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQIHWP8//8/AwgwMjLWgxlQAijeCGIyIQtiYxNUwAjUhWI0uilMMLvQJUB8kBzYCmyKYGJwN8AEYDphJgIAPtccffZCsOoAAAAASUVORK5CYII=) left no-repeat; }
.woocommerce ul.digital-downloads li .count { float: right; }
.woocommerce .widget_layered_nav ul { margin: 0; padding: 0; border: 0; list-style: none outside; }
.woocommerce .widget_layered_nav ul li { padding: 0 0 1px; list-style: none; }
.woocommerce .widget_layered_nav ul li:after { content: ""; display: block; clear: both; }
.woocommerce .widget_layered_nav ul li a,.woocommerce .widget_layered_nav ul li span { padding: 1px 0; float: none; }
.woocommerce .widget_layered_nav ul li.chosen a { padding: 0 6px 0 18px; border: 1px solid #ad74a2; background: #ad74a2 url(images/cross_white.png) no-repeat 6px center; box-shadow: inset 0 1px 1px rgba(255,255,255,0.5) #888; -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5) #888; -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5) #888; color: #ffffff; }
.woocommerce .widget_layered_nav ul small.count { float: right; margin-left: 6px; font-size: 1em; padding: 1px 0; color: #777777; }
.woocommerce .widget_layered_nav_filters ul { margin: 0; padding: 0; border: 0; list-style: none outside; overflow: hidden; zoom: 1; }
.woocommerce .widget_layered_nav_filters ul li { float: left; padding: 0 1px 1px 0; list-style: none; }
.woocommerce .widget_layered_nav_filters ul li a { padding: 0 6px 0 18px; border: 1px solid #ad74a2; background: #ad74a2 url(images/cross_white.png) no-repeat 6px center; box-shadow: inset 0 1px 1px rgba(255,255,255,0.5) #888; -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5) #888; -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5) #888; color: #ffffff; float: left; }
.woocommerce .widget_price_filter .price_slider { margin-bottom: 1em; }
.woocommerce .widget_price_filter .price_slider_amount { text-align: right; line-height: 2.8em; font-size: 14px; color: #333; }
.woocommerce .widget_price_filter .price_slider_amount .button { float: left; font-weight:400; border-radius: 20px; background: transparent; color: #111; border: 3px solid #333; -webkit-transition: all .2s linear; -o-transition: all .2s linear; transition: all .2s linear; }
.woocommerce .widget_price_filter .price_slider_amount .button:hover { border-radius: 0; }
.woocommerce .widget_price_filter .ui-slider { position: relative; text-align: left; }
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 14px; height: 14px; cursor: pointer; background: #8ade77; outline: none; top: -0.2em; -webkit-border-radius: 21px; -moz-border-radius: 21px; border-radius: 21px; }
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child { margin-left: -1em; }
.woocommerce .widget_price_filter .ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background: #DEDEDE; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; }
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { background: #EEEEEE; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; }
.woocommerce .widget_price_filter .ui-slider-horizontal { height: 8px; }
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min { left: -1px; }
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max { right: -1px; }
.twentythirteen .entry-summary { padding: 0; }



/* # Media Query
================================================== */
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {

.woocommerce a.button.loading:before,.woocommerce button.button.loading:before,.woocommerce input.button.loading:before,.woocommerce #respond input#submit.loading:before { background-image: url(images/ajax-loader@2x.gif); background-size: 16px 16px; }
.woocommerce .woocommerce form .form-row.validate-required.woocommerce-validated input.input-text { background-image: url(images/icons/valid@2x.png); background-size: 12px 9px; }
.woocommerce .woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text { background-image: url(images/icons/invalid@2x.png); background-size: 12px 9px; }
.woocommerce p.stars span { background-image: url(images/star@2x.png); background-size: 16px 48px; }
.woocommerce p.stars span a:hover,.woocommerce p.stars span a:focus { background-image: url(images/star@2x.png); background-size: 16px 48px; }
.woocommerce p.stars span a.active { background-image: url(images/star@2x.png); background-size: 16px 48px; }

}

@media only screen and (max-width: 767px) {

.woocommerce ul.products li.product { width:100%; padding:0; margin:0; margin-bottom:40px; }
.woocommerce.columns-4 ul.products li.product,.woocommerce.columns-2 ul.products li.product { width:100%; }
.woocommerce .col2-set .col-1 , .woocommerce .col2-set .col-2 { width: 100%; margin-bottom:30px; }
.woocommerce div.product div.images { width:100%; float:none; }
.woocommerce div.product div.summary { width:100%; float:none; }
.quantity .qty { width:20px; padding:5px 3px; }
.quantity .plus, .quantity .minus { padding:4px 7px 5px; }
.woocommerce table.cart td.actions .button { float:right; clear:both; width:auto; display:block; margin:10px 0;}
.woocommerce .cart-collaterals .cart_totals { float:none; width:100%; text-align:left; }

}